body.blog {

  main {
    display: block;
    a {
      text-decoration: none;
    }
  }

  .header {
    position: relative;
    background: #ebf1f4;
    font-weight: 600;

    font-size: 17px;
    height: 50px;
    line-height: 50px;

    @include transition (all 0.2s ease-in-out);

    @include media($tablet) {
      font-size: 16px;
      height: 55px;
      line-height: 55px;
    }

    @include media($notebook) {
      font-size: 18px;
      height: 65px;
      line-height: 65px;
    }

    @include media($desktop) {
      font-size: 22px;
      height: 75px;
      line-height: 75px;
    }

    #blog-menu-toggle {
      background-image: url("../img/new/uni/hamburger-blog.png");
      width: 44px;
      height: 34px;
      position: absolute;
      top: 8px;
      left: 10px;
      cursor: pointer;
      border-radius: 3px;
      display: block;
      @include media($tablet) {
        display: none;
      }
    }

    .current {
      color: #307ae2;
      text-align: center;
      display: inline-block;
      width: 100%;
      @include media($tablet) {
        display: none;
      }
    }

    ul {
      display: block;
      z-index: 9;
      width: 100%;
      padding: 0 10px;
      &.open {
        position: absolute;
        li {
          &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          }
          &:not(.active) {
            display: block;
            @include media ($tablet) {
              display: inline-block;
            }
          }
        }
      }
    }
    li {
      display: inline-block;
      height: 100%;
      width: 100%;
      background: #307ae2;
      display: none;

      @include media($tablet) {
        display: inline-block;
        width:auto;
        background: transparent;
      }

      a {
        color: #ecf1f5;
        display: block;
        text-align: center;
        @include media($tablet) {
          color: #3c3c3c;
          padding: 0 10px;
          margin-top: -10px;
        }
      }
      &.active {
        border-radius: 4px 4px 0 0;
        background: transparent;
        display: none;
        @include media($tablet) {
          display: inline-block;
          background: white;
        }
        a {
          color: #307ae2;
        }
      }
    }
  }

  .entry .post {
    padding: 0 10px;
  }

  .post {
    @include media($tablet) {
      @include span-columns(4 of 5);
      padding: 0 10px;
    }
  }

  .info {
    height: 70px;
    clear: both;
    color: #727272;
    font-weight: 600;
    font-size: 14px;
    text-align: center;

    @include media($tablet) {
      height: 78px;
      text-align: left;
    }

    @include media($notebook) {
      font-size: 16px;
    }
    div {
      display: inline-block;
      vertical-align: middle;
    }
    div:not(.avatar) {
      line-height: 70px;
      @include media($tablet) {
        line-height: 78px;
    }
    }
    .avatar {
      border: 1px #bababa solid;
      border-radius: 15px;
      height: 30px;
      width: 30px;
      overflow: hidden;
      margin: 0px 10px 0 2px;
      img {
        float: right;
        width: auto;
      }
    }

    .date {
      .long {
        display: none;
        @include media($tablet) {
          display: inline;
        }
      }
      .short {
        @include media($tablet) {
          display: none;
        }
      }
    }

    .author {
      margin-left: 4px;
      span {
        color: #307ae2;
      }
    }

    &.tail {

      margin: 40px 0 50px;
      font-size: 13px;

      @include media($tablet) {
        margin: 60px 0 40px;
        font-size: 14px;
      }
      @include media($notebook) {
        font-size: 16px;
      }

      & div {
        line-height: 44px;
      }

      .share-buttons {

        @include media($tablet) {
          display: inline-block;
          float: left;
        }

        & * {
          display: inline-block;
          vertical-align: middle;
        }

        a:not(:first-child) {
          margin-left: 10px;
        }

        span {
          padding-top: 6px;
          margin-right: 10px;
          display: none;
          @include media($tablet) {
            display: inline-block;
          }
        }
      }
      .author {
        display: block;
        @include media($tablet) {
          display: inline-block;
          float: right;
        }
      }
    }
  }

  .sidebar {
    a {
      color: #307ae2;
    }
  }

  .image {
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }

  .overview {

    .striped {
      &:nth-child(even) {
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        background: #f4f4f4;
      }
    }

    .image {
      overflow: hidden;
      height: 240px;
      width: 100%;
      position: relative;
      img {
        position: absolute;
        margin: auto;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
      }
    }

    .summary {
      font-style: italic;
      color: #000000;
      display: none;
      line-height: 120%;
      margin-bottom: 30px;
      @include media($tablet) {
        display: block;
        font-size: 17px;
      }
      @include media($notebook) {
        font-size: 19px;
      }
      @include media($desktop) {
        font-size: 22px;
      }
    }

    .read-more {
      text-align: right;
      margin-top: 20px;
      font-weight: 600;
      display: none;
      margin-bottom: 50px;
      color: #307ae2;
      text-decoration: none;
      @include media($tablet) {
        display: block;
        font-size: 15px;
      }
      @include media($notebook) {
        font-size: 16px;
      }
      @include media($desktop) {
        font-size: 18px;
      }
    }
  }

  .pagination {

    text-align: center;
    padding: 60px 0 46px;
    min-height: 110px;

    li {
      display: inline-block;
      margin: 0 10px;
      color: #9f9f9f;
      font-weight: 600;
      font-size: 15px;
      min-width: 100px;

      @include media($tablet) {
        &.page-prev {
          text-align: right;
        }

        &.page-next {
          text-align: left;
        }
      }

      @include media($notebook) {
        font-size: 16px;
      }
      @include media($desktop) {
        font-size: 20px;
      }

      &.active {
        color: #307ae2;
      }

      a {
        color: inherit;
        &:hover {
          color: #307ae2;
        }
      }

      &.num {
        display: none;
        @include media($tablet) {
          min-width: 0;
          display: inline-block;
        }
      }
    }
  }

  .share-buttons {

    i.fa {
      width: 32px;
      height: 32px;
      background-position: top center;
      &.fa-facebook {
        background-image: url("../../img/new/xs/blogshare_fb_xs.png");
      }
      &.fa-google {
        background-image: url("../../img/new/xs/blogshare_google_xs.png");
      }
      &.fa-pinterest {
        background-image: url("../../img/new/xs/blogshare_pin_xs.png");
      }
      &.fa-twitter {
        background-image: url("../../img/new/xs/blogshare_twitter_xs.png");
      }

      @include media($tablet) {
        width: 38px;
        height: 38px;
        &.fa-facebook {
          background-image: url("../../img/new/sm/blogshare_fb_lg_md_sm.png");
        }
        &.fa-google {
          background-image: url("../../img/new/sm/blogshare_google_lg_md_sm.png");
        }
        &.fa-pinterest {
          background-image: url("../../img/new/sm/blogshare_pin_lg_md_sm.png");
        }
        &.fa-twitter {
          background-image: url("../../img/new/sm/blogshare_twitter_lg_md_sm.png");
        }
      }

      &:hover {
        background-position: bottom center;
      }
    }
  }
}
