body.blog {

  main {
    a {
      text-decoration: none;
      color: #307ae2;
    }
  }

  .header {
    background: #ebf1f4;
    font-weight: 600;

    font-size: 17px;
    height: 75px;
    line-height: 75px;

    @include media($tablet) {
      font-size: 16px;
      height: 55px;
      line-height: 55px;
    }

    @include media($notebook) {
      font-size: 18px;
      height: 65px;
      line-height: 65px;
    }

    @include media($desktop) {
      font-size: 22px;
      height: 75px;
      line-height: 75px;
    }

    ul {
      display: block;
    }
    li {
      display: inline-block;
      height: 100%;
      border-radius: 4px 4px 0 0;
      a {
        display: block;
        padding: 0 10px;
        color: #3c3c3c;
        margin-top: -10px;
      }
      &.active {
        background: white;
        a {
          color: #307ae2;
        }
      }
    }
  }

  .post {
    @include media($tablet) {
      @include span-columns(4 of 5);
      padding-left: 10px;
    }
  }

  .info {
    height: 78px;
    clear: both;
    color: #727272;
    font-weight: 600;
    font-size: 14px;
    text-align: center;

    @include media($tablet) {
      text-align: left;
    }

    @include media($notebook) {
      font-size: 16px;
    }
    div {
      display: inline-block;
      vertical-align: middle;
    }
    div:not(.avatar) {
      line-height: 78px;
    }
    .avatar {
      border: 1px #bababa solid;
      border-radius: 15px;
      height: 30px;
      width: 30px;
      overflow: hidden;
      margin: 0px 10px 0 2px;
      img {
        float: right;
      }
    }

    .date {
      .long {
        display: none;
        @include media($tablet) {
          display: inline;
        }
      }
      .short {
        @include media($tablet) {
          display: none;
        }
      }
    }

    .author {
      margin-left: 4px;
      span {
        color: #307ae2;
      }
    }

    &.tail {

      margin: 20px 0 40px;
      font-size: 13px;

      @include media($tablet) {
        margin-top: 40px 0 30px;
        font-size: 14px;
      }
      @include media($notebook) {
        font-size: 16px;
      }

      & div {
        line-height: 44px;
      }

      .share-buttons {

        @include media($tablet) {
          display: inline-block;
          float: left;
        }

        & * {
          display: inline-block;
          vertical-align: middle;
        }

        a:not(:first-child) {
          margin-left: 10px;
        }

        span {
          padding-top: 6px;
          margin-right: 10px;
          display: none;
          @include media($tablet) {
            display: inline-block;
          }
        }
      }
      .author {
        display: block;
        @include media($tablet) {
          display: inline-block;
          float: right;
        }
      }
    }
  }

  .image {
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 140%;
    margin-bottom: 30px;
    @include media($tablet) {
      text-align: left;
    }
    @include media($notebook) {
      font-size: 26px;
    }
    @include media($desktop) {
      font-size: 28px;
    }
    a {
      display: inline-block;
      color: #000000;
      text-decoration: none;
    }
  }

  .tag-posts {

    display: none;
    @include media($tablet) {
      display: block;
      @include span-columns(1 of 5);
      margin-right: 0;
    }

    right: 10px;
    position: absolute;
    z-index: 9;

    h2 {
      color: #307ae2;
      text-align: center;
      font-weight: 600;
      line-height: 140%;
      margin: 30px 0;
      font-size: 15px;
      @include media($notebook) {
        font-size: 17px;
      }
      @include media($desktop) {
        font-size: 20px;
      }
    }

    ul {
        margin: 0.75em 0;
        padding: 0 1em;
        list-style: none;
    }

    li {

      margin-bottom: 10px;
      font-style: italic;
      color: #787878;
      font-size: 12px;
      @include media($notebook) {
        font-size: 13px;
      }
      @include media($desktop) {
        font-size: 14px;
      }

      a {
        display: block;
        span {
          color: #787878;
        }
      }

      &:before {
        content: "";
        border-color: transparent inherit;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        height: 0;
        width: 0;
        left: -1em;
        top: 0.9em;
        position: relative;
        display: none;
        @include media($notebook) {
          display: block;
        }

      }

      &:hover {
        span, a {
          color: #307ae2;
          text-decoration: underline;
        }
        &:before {
          border-color: transparent #307ae2;
        }
      }
    }
  }

  .overview {

    .striped {
      &:nth-child(even) {
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        background: #f4f4f4;
      }
    }

    .image {
      overflow: hidden;
      height: 240px;
      width: 100%;
      position: relative;
      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .summary {
      font-style: italic;
      color: #000000;
      display: none;
      line-height: 120%;
      margin-bottom: 30px;
      @include media($tablet) {
        display: block;
        font-size: 17px;
      }
      @include media($notebook) {
        font-size: 19px;
      }
      @include media($desktop) {
        font-size: 22px;
      }
    }

    .read-more {
      text-align: right;
      margin-top: 20px;
      font-weight: 600;
      display: none;
      margin-bottom: 50px;
      @include media($tablet) {
        display: block;
        font-size: 15px;
      }
      @include media($notebook) {
        font-size: 16px;
      }
      @include media($desktop) {
        font-size: 18px;
      }
    }
  }

  .content {
    color: #444444;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      text-rendering: optimizeLegibility; // Fix the character spacing for headings
      font-weight: 600;
      margin: 1em 0 0.5em;
    }

    h1 {
      font-size: 200%;
    }

    h2 {
      font-size: 180%;
    }

    h3 {
      font-size: 150%;
    }

    h4 {
      font-size: 120%;
    }

    h5, h6 {
      font-size: 100%;
    }

    p {
      margin: 0.5em 0 1em;
      line-height: 1.4em;
      font-size: 13px;
      @include media($tablet) {
        font-size: 14px;
      }
      @include media($notebook) {
        font-size: 15px;
      }
      @include media($desktop) {
        font-size: 16px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
      &:active,
      &:focus {
        outline: none;
      }
    }

    hr {
      border-bottom: #bdbdbd;
      border-left: none;
      border-right: none;
      border-top: none;
      margin: 2em 0;
    }
  }

  .pagination {

    text-align: center;
    padding: 60px 0 46px;
    min-height: 110px;

    li {
      display: inline-block;
      margin: 0 10px;
      color: #9f9f9f;
      font-weight: 600;
      font-size: 15px;
      @include media($notebook) {
        font-size: 16px;
      }
      @include media($desktop) {
        font-size: 20px;
      }

      &.active {
        color: #307ae2;
      }

      a {
        color: inherit;
        &:hover {
          color: #307ae2;
        }
      }

      &.num {
        display: none;
        @include media($tablet) {
          display: inline-block;
        }
      }
    }
  }

  .share-buttons {

    i.fa {
      width: 32px;
      height: 32px;
      &.fa-facebook {
        background-image: url("../../img/new/xs/blogshare_fb_xs.png");
        &:hover {
          background-image: url("../../img/new/xs/blogshare_fb_xs_o.png");
        }
      }
      &.fa-google {
        background-image: url("../../img/new/xs/blogshare_google_xs.png");
        &:hover {
          background-image: url("../../img/new/xs/blogshare_google_xs_o.png");
        }
      }
      &.fa-pinterest {
        background-image: url("../../img/new/xs/blogshare_pin_xs.png");
        &:hover {
          background-image: url("../../img/new/xs/blogshare_pin_xs_o.png");
        }
      }
      &.fa-twitter {
        background-image: url("../../img/new/xs/blogshare_twitter_xs.png");
        &:hover {
          background-image: url("../../img/new/xs/blogshare_twitter_xs_o.png");
        }
      }

      @include media($tablet) {
        width: 38px;
        height: 38px;
        &.fa-facebook {
          background-image: url("../../img/new/sm/blogshare_fb_lg_md_sm.png");
          &:hover {
            background-image: url("../../img/new/sm/blogshare_fb_lg_md_sm_o.png");
          }
        }
        &.fa-google {
          background-image: url("../../img/new/sm/blogshare_google_lg_md_sm.png");
          &:hover {
            background-image: url("../../img/new/sm/blogshare_google_lg_md_sm_o.png");
          }
        }
        &.fa-pinterest {
          background-image: url("../../img/new/sm/blogshare_pin_lg_md_sm.png");
          &:hover {
            background-image: url("../../img/new/sm/blogshare_pin_lg_md_sm_o.png");
          }
        }
        &.fa-twitter {
          background-image: url("../../img/new/sm/blogshare_twitter_lg_md_sm.png");
          &:hover {
            background-image: url("../../img/new/sm/blogshare_twitter_lg_md_sm_o.png");
          }
        }
      }
    }
  }
}
