.button
  background-color: #307ae2
  color: #ffffff
  text-decoration: none
  +border-top-radius(3px)
  +border-right-radius(3px)
  +border-bottom-radius(3px)
  +border-left-radius(3px)
  &:hover
    background-color: #4e97ff

//button "Get started"
nav
  ul
    li:last-of-type
      padding: 0
      a.button
        +media($tablet)
          padding: 11px 21px 12px 21px
          font-size: 14px
        +media($notebook)
          padding: 12px 32px 13px 32px
          font-size: 16px

//button section
.section-content
  text-align: center
  a.button
    display: inline-block
    margin: 48px auto
    padding: 11px 26px 12px 26px
    font-size: 14px
    +media($tablet)
      float: right
      margin-top: 22px
      padding: 11px 26px 12px 26px
      font-size: 14px
    +media($notebook)
      margin-top: 50px
      padding: 12px 36px 13px 36px
      font-size: 16px
    +media($desktop)
      margin-top: 61px
      margin-right: 3px
      font-size: 16px
.big-button
  text-align: center
  a.button
    +border-top-radius(5px)
    +border-right-radius(5px)
    +border-bottom-radius(5px)
    +border-left-radius(5px)
    display: inline-block
    margin: 54px auto 27px
    padding: 24px 30px 26px 30px
    font-size: 18px
    letter-spacing: -0.5px
    +media($tablet)
      letter-spacing: -1px
      margin-top: 100px
      margin-bottom: 30px
      padding: 27px 70px 29px 70px
      font-size: 23px
    +media($notebook)
      margin-top: 133px
      margin-bottom: 27px
      padding: 29px 70px 32px 70px
      font-size: 25px
    +media($desktop)
      margin-top: 167px
      margin-bottom: 25px
      padding: 29px 62px 34px 62px
      font-size: 27px
  &:after
    display: block
    content: url("../img/new/xs/button_shadow_xs.png")
    height: 14px
    width: 205px
    margin: 0 auto 23px
    +media($tablet)
      content: url("../img/new/sm/button_shadow_sm.png")
      height: 19px
      width: 305px
      margin-bottom: 51px
    +media($notebook)
      content: url("../img/new/md/button_shadow_md.png")
      height: 19px
      width: 305px
      margin-bottom: 88px
    +media($desktop)
      content: url("../img/new/lg/button_shadow_lg.png")
      height: 24px
      width: 340px
      margin-bottom: 114px
#pricing-site
  section:nth-of-type(2)
    #pricing-table1
      .button
        background-color: #4396c1
        &:hover
          background-color: #44aee5
    #pricing-table2
      .button
        background-color: #307ae1
        &:hover
          background-color: #3a9bff
    a.button
      +border-top-radius(5px)
      +border-right-radius(5px)
      +border-bottom-radius(5px)
      +border-left-radius(5px)
      display: inline-block
      margin: 434px auto 27px
      padding: 24px 0 26px 0
      font-size: 18px
      letter-spacing: -0.5px
      text-align: center
      width: 280px
      +media($tablet)
        letter-spacing: -1px
        margin-top: 470px
        margin-bottom: 30px
        padding: 27px 0 29px 0
        font-size: 23px
        width: 336px
      +media($notebook)
        margin-top: 582px
        margin-bottom: 27px
        padding: 29px 0 32px 0
        font-size: 25px
        width: 405px
      +media($desktop)
        margin-top: 786px
        margin-bottom: 25px
        padding: 29px 0 34px 0
        font-size: 27px
        width: 505px
      &:after

        +media($tablet)
          position: absolute
          left: 0
          content: url("../img/new/sm/pricing_shadow_sm.png")
          height: 52px
          width: 336px
          top: 550px
        +media($notebook)
          content: url("../img/new/md/pricing_shadow_md.png")
          height: 63px
          width: 405px
          top: 672px
        +media($desktop)
          content: url("../img/new/lg/pricing_shadow_lg.png")
          height: 77px
          width: 511px
          top: 870px
  .big-button:before
    content: none
  .big-button
    .button
      background-color: #3c3c3c
      +media($tablet)
        margin-top: 34px
      +media($notebook)
        margin-top: 30px
      +media($desktop)
        margin-top: 52px
      &:hover
        background-color: #575757
    &:after
      //content: url("../img/new/xs/button_shadow_xs.png")
      //height: 14px
      //width: 205px
      //margin: 0 auto 23px
      content: none

      +media($tablet)
        display: block
        position: relative
        content: url("../img/new/sm/button_shadow_sm.png")
        height: 19px
        width: 305px
        top: -51px
      +media($notebook)
        content: url("../img/new/md/button_shadow_md.png")
        height: 19px
        width: 305px
        top: -61px
      +media($desktop)
        content: url("../img/new/lg/button_shadow_lg.png")
        height: 24px
        width: 340px
        top: -74px
