footer {
  background-color: #e2e2e2;
  #socials {
    height: 64px;
    @include media($tablet) {
      height: 105px;
    }

    @include media($notebook) {
      height: 105px;
    }

    @include media($desktop) {
      height: 125px;
    }
  }
  #footer-links {
    background-color: #eeeeee;
    height: 176px;
    @include media($tablet) {
      height: 225px;
    }

    @include media($notebook) {
      height: 225px;
    }

    @include media($desktop) {
      height: 246px;
    }

    h4 {
      color: #383737;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 16px;
      @include media($tablet) {
        font-size: 18px;
        margin-bottom: 35px;
      }

      @include media($notebook) {
        font-size: 18px;
        margin-bottom: 34px;
      }

      @include media($desktop) {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    li {
      margin-bottom: 8px;
      @include media($tablet) {
        margin-bottom: 14px;
      }

      @include media($notebook) {
        margin-bottom: 14px;
      }

      @include media($desktop) {
        margin-bottom: 14px;
      }
    }
    li:first-child {
      margin-bottom: 0;
    }
    a {
      color: #7d7d7d;
      font-weight: 300;
      text-decoration: none;
      font-size: 13px;
      @include media($tablet) {
        font-size: 16px;
      }

      @include media($notebook) {
        font-size: 16px;
      }

      @include media($desktop) {
        font-size: 18px;
      }

      @include transition(all 0.2s linear);
      &:hover {
        color: #171616;
        text-decoration: underline;
      }
    }
    ul:nth-of-type(1) {
      position: absolute;
      top: 32px;
      left: 28px;
      @include media($tablet) {
        position: absolute;
        top: 40px;
        left: 188px;
      }

      @include media($notebook) {
        top: 40px;
        left: 297px;
      }

      @include media($desktop) {
        top: 60px;
        left: 390px;
      }
    }
    ul:nth-of-type(2) {
      position: absolute;
      top: 32px;
      left: 118px;
      @include media($tablet) {
        position: absolute;
        top: 40px;
        left: 349px;
      }

      @include media($notebook) {
        top: 40px;
        left: 458px;
      }

      @include media($desktop) {
        top: 60px;
        left: 555px;
      }
    }
    ul:nth-of-type(3) {
      position: absolute;
      top: 32px;
      left: 210px;
      @include media($tablet) {
        position: absolute;
        top: 40px;
        left: 512px;
      }

      @include media($notebook) {
        top: 40px;
        left: 621px;
      }

      @include media($desktop) {
        top: 60px;
        left: 722px;
      }
    }
  }
}

footer {
  #youtube {
    background-image: url("../img/new/xs/social_yt_xs.png");
    width: 52px;
    height: 21px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 20px;
    left: -99px;
    @include media($tablet) {
      position: absolute;
      top: 38px;
      left: 179px;
      background-image: url("../img/new/sm/social_yt_sm.png");
      width: 63px;
      height: 26px;
    }

    @include media($notebook) {
      top: 37px;
      left: 289px;
      background-image: url("../img/new/md/social_yt_md.png");
      width: 63px;
      height: 26px;
      &:hover {
        background-image: url("../img/new/md/social_yt_o_md.png");
      }
    }

    @include media($desktop) {
      top: 44px;
      left: 382px;
      background-image: url("../img/new/lg/social_yt_lg.png");
      width: 79px;
      height: 32px;
      &:hover {
        background-image: url("../img/new/lg/social_yt_o_lg.png");
      }
    }
  }
  #facebook {
    background-image: url("../img/new/xs/social_fb_xs.png");
    width: 12px;
    height: 25px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -3px;
    left: -29px;
    @include media($tablet) {
      position: absolute;
      top: 36px;
      left: 321px;
      background-image: url("../img/new/sm/social_fb_sm.png");
      width: 14px;
      height: 30px;
    }

    @include media($notebook) {
      top: 35px;
      left: 432px;
      background-image: url("../img/new/md/social_fb_md.png");
      width: 14px;
      height: 30px;
      &:hover {
        background-image: url("../img/new/md/social_fb_o_md.png");
      }
    }

    @include media($desktop) {
      top: 39px;
      left: 525px;
      background-image: url("../img/new/lg/social_fb_lg.png");
      width: 18px;
      height: 38px;
      &:hover {
        background-image: url("../img/new/lg/social_fb_o_lg.png");
      }
    }
  }
  #google {
    background-image: url("../img/new/xs/social_g_xs.png");
    width: 23px;
    height: 22px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -26px;
    left: 35px;
    @include media($tablet) {
      position: absolute;
      top: 38px;
      left: 412px;
      background-image: url("../img/new/sm/social_g_sm.png");
      width: 28px;
      height: 27px;
    }

    @include media($notebook) {
      top: 37px;
      left: 522px;
      background-image: url("../img/new/md/social_g_md.png");
      width: 28px;
      height: 27px;
      &:hover {
        background-image: url("../img/new/md/social_g_o_md.png");
      }
    }

    @include media($desktop) {
      top: 43px;
      left: 619px;
      background-image: url("../img/new/lg/social_g_lg.png");
      width: 35px;
      height: 34px;
      &:hover {
        background-image: url("../img/new/lg/social_g_o_lg.png");
      }
    }
  }
  #twitter {
    background-image: url("../img/new/xs/social_tw_xs.png");
    width: 24px;
    height: 20px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -46px;
    left: 99px;
    @include media($tablet) {
      position: absolute;
      top: 38px;
      left: 512px;
      background-image: url("../img/new/sm/social_tw_sm.png");
      width: 29px;
      height: 25px;
    }

    @include media($notebook) {
      top: 37px;
      left: 623px;
      background-image: url("../img/new/md/social_tw_md.png");
      width: 29px;
      height: 25px;
      &:hover {
        background-image: url("../img/new/md/social_tw_o_md.png");
      }
    }

    @include media($desktop) {
      top: 43px;
      left: 711px;
      background-image: url("../img/new/lg/social_tw_lg.png");
      width: 37px;
      height: 31px;
      &:hover {
        background-image: url("../img/new/lg/social_tw_o_lg.png");
      }
    }
  }
}

footer {
  #footer-copy {
    background-color: #eeeeee;
    p {
      border-top: 1px solid #c2c2c2;
      color: #7d7d7d;
      text-align: center;
      margin: 0 auto;
      font-size: 12px;
      width: 280px;
      padding-top: 20px;
      padding-bottom: 25px;
      @include media($tablet) {
        width: 600px;
        padding-top: 57px;
        padding-bottom: 25px;
      }

      @include media($notebook) {
        width: 600px;
        padding-top: 57px;
        padding-bottom: 25px;
      }

      @include media($desktop) {
        width: 600px;
        padding-top: 57px;
        padding-bottom: 25px;
      }
    }
  }
}

footer {
  #footer-links {
    @include media($mobil) {
      .container {
        @include outer-container($mobil-container);
      }
    }
  }
}
