body > main {
  padding-top: 50px;
  @include media($tablet) {
    padding-top: 60px;
  }

  @include media($notebook) {
    padding-top: 70px;
  }

  @include media($desktop) {
    padding-top: 75px;
  }
}

body > header {
  background-color: #3c3c3c;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 9995;
  @include media($tablet) {
    height: 60px;
    line-height: 60px;
  }

  @include media($notebook) {
    height: 70px;
    line-height: 70px;
  }

  @include media($desktop) {
    height: 75px;
    line-height: 75px;
  }

  .logo {
    position: absolute;
    left: 8px;
    background: url("../img/logo-light.svg") transparent left 50% no-repeat;
    width: 88px;
    height: 50px;
    @include media($tablet) {
      width: 90px;
      height: 100%;
    }

    @include media($notebook) {
      width: 95px;
    }

    @include media($desktop) {
      width: 100px;
    }
  }
}
