body.legal {
  article {
    padding: 0 10px;
    margin-bottom: 65px;
    @include media($tablet) {
      @include span-columns(4 of 5);
    }
  }

  h2.title {
    font-size: 28px;
  }

  .sidebar {
    margin-top: 70px;
    li:before {
      top: 0.72em;
    }
  }
}
