#menu-toggle {
  @include media($mobil) {
    background-image: url("../img/new/uni/hamburger.png");
    width: 44px;
    height: 34px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }

  @include media($tablet) {
    display: none;
  }
}

.show-menu {
  @include media($mobil) {
    display: block;
  }
}

nav {
  ul {
    @include media($mobil) {
      display: none;
      position: relative;
      top: 50px;
    }

    @include media($tablet) {
      display: block;
      float: right;
      margin-right: 2%;
    }

    li {
      @include media($mobil) {
        background-color: #3c3c3c;
        border-top: 1px solid #494949;
        padding-left: 38px;
        padding-top: 16px;
        padding-bottom: 16px;
      }

      @include media($tablet) {
        display: inline-block;
        padding: 0 19px;
      }

      @include media($notebook) {
        padding: 0 19px;
      }

      @include media($desktop) {
        padding: 0 24px;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        @include media($tablet) {
          font-size: 16px;
        }

        @include media($notebook) {
          font-size: 17px;
        }

        @include media($desktop) {
          font-size: 18px;
        }

        @include transition(color 0.2s linear);
        &:not(.button) {
          display: inline-block;
          font-weight: 300;
        }
        &:not(.button):hover {
          color: #b3c9f3;
        }
      }
      &.active {
        a {
          color: #5988e1;
          @include media($tablet) {
            border-bottom: 3px solid #5988e1;
          }
        }
      }
    }
  }
}
