#menu-toggle
  +media($mobil)
    background-image: url("../img/new/uni/hamburger.png")
    width: 44px
    height: 34px
    position: absolute
    top: 8px
    right: 8px
    cursor: pointer
  +media($tablet)
    display: none
.show-menu
  +media($mobil)
    display: block
nav
  ul
    +media($mobil)
      display: none
      position: relative
      top: 50px
    +media($tablet)
      position: absolute
      display: block
      top: 22px
      right: 15px
    +media($notebook)
      top: 26px
      right: 15px
    +media($desktop)
      top: 33px
      right: 15px
    li
      +media($mobil)
        background-color: #3c3c3c
        border-top: 1px solid #494949
        padding-left: 38px
        padding-top: 16px
        padding-bottom: 16px
      +media($tablet)
        display: inline-block
        padding: 0 19px
      +media($notebook)
        padding: 0 19px
      +media($desktop)
        padding: 0 24px
      a
        color: #ffffff
        text-decoration: none
        font-size: 16px
        +media($tablet)
          font-size: 16px
        +media($notebook)
          font-size: 19px
        +media($desktop)
          font-size: 20px

        +transition(color .2s linear)
        &:hover
          color: #C3DCFF


//menu separator
nav
  ul
    li:after
      +media($tablet)
        position: relative
        content: url("../img/new/sm/top_menu_separator_sm.png")
        top: 3px
        left: 21px
      +media($notebook)
        content: url("../img/new/md/top_menu_separator_md.png")
        top: 5px
        left: 21px
      +media($desktop)
        content: url("../img/new/lg/top_menu_separator_lg.png")
        top: 5px
        left: 26px
    li:nth-of-type(4),
    li:last-of-type
      &:after
        content: none
