//main
//#podklad
//  position: absolute
//  top: 0
//  left: 0
//  right: 0
//  z-index: 99999
//  opacity: 0.4
//  background: url("../podklad/xs.jpg") no-repeat center center
//  -webkit-background-size: cover
//  -moz-background-size: cover
//  -o-background-size: cover
//  background-size: cover
//  height: 6376px
//  +media($tablet)
//    background: url("../podklad/sm.jpg") no-repeat center center
//    height: 6376px
//  +media($notebook)
//    background: url("../podklad/md.jpg") no-repeat center center
//    height: 6376px
//  +media($desktop)
//    background: url("../podklad/lg.jpg") no-repeat center center
//    height: 6376px

//subpage 01
//#podklad
//  position: absolute
//  top: 0
//  left: 0
//  right: 0
//  z-index: 99999
//  opacity: 0.4
//  background: url("../podklad/sub01/xs.jpg") no-repeat center center
//  -webkit-background-size: cover
//  -moz-background-size: cover
//  -o-background-size: cover
//  background-size: cover
//  height: 5353px
//  +media($tablet)
//    background: url("../podklad/sub01/sm.jpg") no-repeat center center
//    height: 5353px
//  +media($notebook)
//    background: url("../podklad/sub01/md.jpg") no-repeat center center
//    height: 5353px
//  +media($desktop)
//    background: url("../podklad/sub01/lg.jpg") no-repeat center center
//    height: 5353px

//subpage 02
//#podklad
//  position: absolute
//  top: 0
//  left: 0
//  right: 0
//  z-index: 99999
//  opacity: 0.4
//  background: url("../podklad/sub02/xs.jpg") no-repeat center center
//  -webkit-background-size: cover
//  -moz-background-size: cover
//  -o-background-size: cover
//  background-size: cover
//  height: 5146px
//  +media($tablet)
//    background: url("../podklad/sub02/sm.jpg") no-repeat center center
//    height: 5146px
//  +media($notebook)
//    background: url("../podklad/sub02/md.jpg") no-repeat center center
//    height: 5146px
//  +media($desktop)
//    background: url("../podklad/sub02/lg.jpg") no-repeat center center
//    height: 5146px

//subpage 03
//#podklad
//  position: absolute
//  top: 0
//  left: 0
//  right: 0
//  z-index: 99999
//  opacity: 0.4
//  background: url("../podklad/sub03/xs.jpg") no-repeat center center
//  -webkit-background-size: cover
//  -moz-background-size: cover
//  -o-background-size: cover
//  background-size: cover
//  height: 5117px
//  +media($tablet)
//    background: url("../podklad/sub03/sm.jpg") no-repeat center center
//    height: 5117px
//  +media($notebook)
//    background: url("../podklad/sub03/md.jpg") no-repeat center center
//    height: 5117px
//  +media($desktop)
//    background: url("../podklad/sub03/lg.jpg") no-repeat center center
//    height: 5117px

//pricing

#podklad {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  opacity: 0.4;
  background: url("../podklad/pricing/xs.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 8000px;
  @include media($tablet) {
    background: url("../podklad/pricing/sm.jpg") no-repeat center center;
    height: 8000px;
  }

  @include media($notebook) {
    background: url("../podklad/pricing/md.jpg") no-repeat center center;
    height: 8000px;
  }

  @include media($desktop) {
    background: url("../podklad/pricing/lg.jpg") no-repeat center center;
    height: 8000px;
  }
}
