$url_0: url("../img/new/lg/partners_naace_o_lg.png")
$url_1: url("../img/new/lg/partners_cas_o_lg.png")
$url_2: url("../img/new/lg/partners_ocr_o_lg.png")

$url_3: url("../img/new/md/partners_naace_o_md.png")
$url_4: url("../img/new/md/partners_cas_o_md.png")
$url_5: url("../img/new/md/partners_ocr_o_md.png")

$url_6: url("../img/new/lg/social_yt_o_lg.png")
$url_7: url("../img/new/lg/social_fb_o_lg.png")
$url_8: url("../img/new/lg/social_g_o_lg.png")
$url_9: url("../img/new/lg/social_tw_o_lg.png")

$url_10: url("../img/new/md/social_yt_o_md.png")
$url_11: url("../img/new/md/social_fb_o_md.png")
$url_12: url("../img/new/md/social_g_o_md.png")
$url_13: url("../img/new/md/social_tw_o_md.png")

// Schools

$url_14: url("../img/new/md/schools/coventry_o.png")
$url_15: url("../img/new/lg/schools/coventry_o.png")

$url_16: url("../img/new/md/schools/ucode_o.png")
$url_17: url("../img/new/lg/schools/ucode_o.png")

$url_18: url("../img/new/md/schools/ucode_o.png")
$url_19: url("../img/new/lg/schools/ucode_o.png")

$url_20: url("../img/new/md/schools/cgs_o.png")
$url_21: url("../img/new/lg/schools/cgs_o.png")

$url_22: url("../img/new/md/schools/walter_o.png")
$url_23: url("../img/new/lg/schools/walter_o.png")

$url_24: url("../img/new/md/schools/cbk_o.png")
$url_25: url("../img/new/lg/schools/cbk_o.png")

$schools_md: $url_14 $url_16 $url_18 $url_20 $url_22 $url_24
$schools_lg: $url_15 $url_17 $url_19 $url_21 $url_23 $url_25

body:after
  display: none
  +media($notebook)
    content: $url_3 $url_4 $url_5 $url_10 $url_11 $url_12 $url_13 $schools_md
  +media($desktop)
    content: $url_0 $url_1 $url_2 $url_6 $url_7 $url_8 $url_9 $schools_lg
