#pricing-site
  section:first-child
    background: #ecf1f5
    height: 160px
    +media($tablet)
      background: #ecf1f5 url("../img/new/sm/top_sub_abstract_sm.jpg") no-repeat top center
      height: 237px
    +media($notebook)
      background: #ecf1f5 url("../img/new/md/top_sub_abstract_md.jpg") no-repeat top center
      height: 307px
    +media($desktop)
      background: #ecf1f5 url("../img/new/lg/top_sub_abstract_lg.jpg") no-repeat top center
      height: 340px
    h1
      color:  #3c3c3c
      text-align: center
      font-weight: 600
      font-size: 18px
      padding-top: 29px
      +media($tablet)
        font-size: 30px
        padding-top: 92px
        letter-spacing: -0.5px
      +media($notebook)
        font-size: 38px
        padding-top: 120px
        letter-spacing: -0.85px
      +media($desktop)
        font-size: 47px
        padding-top: 147px
        letter-spacing: -1px
    p
      color:  #222222
      text-align: center
      font-weight: 400
      line-height: 16px
      font-size: 12px
      +media($mobil)
        width: 268px
        display: block
        margin: 25px auto 0
      +media($tablet)
        font-size: 15px
        margin-top: 24px
        line-height: 18px
        padding-left: 58px
        padding-right: 58px
      +media($notebook)
        font-size: 18px
        margin-top: 38px
        line-height: 21px
        padding-left: 124px
        padding-right: 124px
      +media($desktop)
        font-size: 21px
        line-height: 24px
        padding-left: 124px
        padding-right: 124px
  section:nth-of-type(2)
    height: 1188px
    +media($tablet)
      height: 710px
    +media($notebook)
      height: 850px
    +media($desktop)
      height: 1130px
  #pricing-table1
    background-image: url("../img/new/xs/pricing_table_single_xs.png")
    width: 280px
    height: 415px
    display: block
    margin: 0 auto
    +media($mobil)
      position: relative
      top: 658px
    +media($tablet)
      position: absolute
      top: 8px
      left: 24px
      background-image: url("../img/new/sm/pricing_table_single_sm.png")
      width: 336px
      height: 444px

    +media($notebook)
      top: 26px
      left: 58px
      background-image: url("../img/new/md/pricing_table_single_md.png")
      width: 405px
      height: 549px


    +media($desktop)
      top: 58px
      left: 52px
      background-image: url("../img/new/lg/pricing_table_single_lg.png")
      width: 505px
      height: 739px

  #pricing-table2
    background-image: url("../img/new/xs/pricing_table_school_xs.png")
    width: 280px
    height: 415px
    display: block
    margin: 0 auto
    +media($mobil)
      position: relative
      top: -415px
    +media($tablet)
      position: absolute
      top: 8px
      left: 388px
      background-image: url("../img/new/sm/pricing_table_school_sm.png")
      width: 336px
      height: 444px

    +media($notebook)
      top: 26px
      left: 508px
      background-image: url("../img/new/md/pricing_table_school_md.png")
      width: 405px
      height: 549px


    +media($desktop)
      top: 58px
      left: 612px
      background-image: url("../img/new/lg/pricing_table_school_lg.png")
      width: 505px
      height: 739px
    p
      font-weight: 400
      text-align: center
      color:  #2d61ab
      font-size: 11px
      margin-top: -12px
      +media($tablet)
        color:  #434343
        margin-top: 27px
        font-size: 11px
        padding-left: 35px
        padding-right: 35px
      +media($notebook)
        margin-top: 40px
        font-size: 13px
        padding-left: 45px
        padding-right: 45px
      +media($desktop)
        margin-top: 72px
        font-size: 15px
        padding-left: 0
        padding-right: 0

  section:nth-of-type(3)
    height: 222px
    +media($tablet)
      height: 263px
    +media($notebook)
      height: 272px
    +media($desktop)
      height: 316px
    p
      color:  #3c3c3c
      font-weight: 400
      text-align: center
      font-size: 11px
      +media($tablet)
        margin-top: 26px
        font-size: 16px
      +media($notebook)
        margin-top: 35px
        font-size: 19px
      +media($desktop)
        margin-top: 58px
        font-size: 20px
  #faq

    h1
      color:  #3c3c3c
      font-weight: 600
      text-align: center
      font-size: 20px
      margin-bottom: 24px
      +media($tablet)
        font-size: 30px
        margin-top: 73px
        margin-bottom: 139px
        letter-spacing: -0.85px
      +media($notebook)
        font-size: 30px
        margin-top: 113px
        margin-bottom: 166px
        letter-spacing: -0.85px
      +media($desktop)
        font-size: 37px
        margin-top: 156px
        margin-bottom: 230px
        letter-spacing: -0.85px

    .line-faq
      width: 100%
      display: inline-block
      +media($tablet)
        border-top: 1px solid #ababab
        margin-top: 8px
      +media($notebook)
        margin-top: 3px
      +media($desktop)
        margin-top: 8px
      .image
        display: block
        margin: 0 auto
        position: relative
        width: 158px
        height: 109px
        +media($tablet)
          width: 263px
          height: 137px
          top: -97px
        +media($notebook)
          width: 323px
          height: 160px
          top: -105px
        +media($desktop)
          width: 323px
          height: 160px
          top: -105px
      h2
        color: #3c3c3c
        font-weight: 600
        text-align: center
        font-size: 18px
        margin-top: 2px
        margin-bottom: 20px
        +media($tablet)
          font-size: 20px
          margin-top: -88px
          margin-bottom: 28px
        +media($notebook)
          font-size: 20px
          margin-top: -103px
          margin-bottom: 43px
        +media($desktop)
          font-size: 24px
          margin-top: -103px
          margin-bottom: 43px

      p
        color: #3c3c3c
        font-weight: 400
        text-align: justify
        font-size: 13px
        margin-left: 13px
        margin-right: 13px
        margin-top: 20px
        +media($tablet)
          font-size: 15px
          margin-left: 13px
          margin-right: 13px
          margin-top: 29px
        +media($notebook)
          font-size: 17px
          margin-left: 25px
          margin-right: 25px
          margin-top: 29px
        +media($desktop)
          font-size: 19px
          margin-left: 49px
          margin-right: 49px
          margin-top: 29px
      p:first-of-type
        margin-top: 0
      p:last-of-type
        margin-bottom: 49px
        +media($tablet)
          margin-bottom: 181px
        +media($notebook)
          margin-bottom: 197px
        +media($desktop)
          margin-bottom: 249px
      a
        color: #3c3c3c

    #faq1
      .image
        background-image: url("../img/new/xs/pricing_ico01_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico01_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico01_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico01_lg.png")

    #faq2
      .image
        background-image: url("../img/new/xs/pricing_ico02_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico02_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico02_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico02_lg.png")
    #faq3
      .image
        background-image: url("../img/new/xs/pricing_ico03_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico03_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico03_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico03_lg.png")
    #faq4
      .image
        background-image: url("../img/new/xs/pricing_ico04_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico04_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico04_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico04_lg.png")
    #faq5
      .image
        background-image: url("../img/new/xs/pricing_ico05_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico05_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico05_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico05_lg.png")
    #faq6
      .image
        background-image: url("../img/new/xs/pricing_ico06_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico06_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico06_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico06_lg.png")
    #faq7
      .image
        background-image: url("../img/new/xs/pricing_ico07_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico07_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico07_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico07_lg.png")
    #faq8
      .image
        background-image: url("../img/new/xs/pricing_ico08_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico08_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico08_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico08_lg.png")
    #faq9
      .image
        background-image: url("../img/new/xs/pricing_ico09_xs.png")
        +media($tablet)
          background-image: url("../img/new/sm/pricing_ico09_sm.png")
        +media($notebook)
          background-image: url("../img/new/md/pricing_ico09_md.png")
        +media($desktop)
          background-image: url("../img/new/lg/pricing_ico09_lg.png")
  #faq
    +media($tablet)
      height: 3515px
    +media($notebook)
      height: 3930px
    +media($desktop)
      height: 4588px
