#pricing-pro
  section:first-child
    background: #ecf1f5
    height: 160px
    +media($tablet)
      background: #ecf1f5 url("../img/new/sm/top_sub_abstract_sm.jpg") no-repeat top center
      height: 237px
    +media($notebook)
      background: #ecf1f5 url("../img/new/md/top_sub_abstract_md.jpg") no-repeat top center
      height: 307px
    +media($desktop)
      background: #ecf1f5 url("../img/new/lg/top_sub_abstract_lg.jpg") no-repeat top center
      height: 390px
    h1
      color:  #3c3c3c
      text-align: center
      font-weight: 600
      font-size: 18px
      padding-top: 29px
      +media($tablet)
        font-size: 30px
        padding-top: 92px
        letter-spacing: -0.5px
      +media($notebook)
        font-size: 38px
        padding-top: 120px
        letter-spacing: -0.85px
      +media($desktop)
        font-size: 47px
        padding-top: 147px
        letter-spacing: -1px
    p
      color:  #222222
      text-align: center
      font-weight: 400
      line-height: 16px
      font-size: 12px
      +media($mobil)
        width: 268px
        display: block
        margin: 25px auto 0
      +media($tablet)
        font-size: 15px
        margin-top: 24px
        line-height: 18px
        padding-left: 58px
        padding-right: 58px
      +media($notebook)
        font-size: 18px
        margin-top: 38px
        line-height: 21px
        padding-left: 124px
        padding-right: 124px
      +media($desktop)
        font-size: 21px
        margin-top: 58px
        line-height: 24px
        padding-left: 124px
        padding-right: 124px
  section:nth-of-type(2)
    height: 1680px
    +media($tablet)
      height: 447px
    +media($notebook)
      height: 552px
    +media($desktop)
      height: 706px

  #pricing-table1
    background-image: url("../img/new/xs/pricing_pro_table_01_xs.png")
    width: 254px
    height: 312px
    display: block
    margin: 0 auto
    +media($mobil)
      position: relative
      top: 18px
    +media($tablet)
      position: absolute
      top: 52px
      left: 9px
      background-image: url("../img/new/sm/pricing_pro_table_01_sm.png")
      width: 176px
      height: 347px
    +media($notebook)
      top: 60px
      left: 12px
      background-image: url("../img/new/md/pricing_pro_table_01_md.png")
      width: 226px
      height: 422px
    +media($desktop)
      top: 99px
      left: 11px
      background-image: url("../img/new/lg/pricing_pro_table_01_lg.png")
      width: 276px
      height: 499px
  #pricing-table2
    background-image: url("../img/new/xs/pricing_pro_table_02_xs.png")
    width: 254px
    height: 422px
    display: block
    margin: 0 auto
    +media($mobil)
      position: relative
      top: 37px
    +media($tablet)
      position: absolute
      top: 52px
      left: 191px
      background-image: url("../img/new/sm/pricing_pro_table_02_sm.png")
      width: 184px
      height: 347px
    +media($notebook)
      top: 60px
      left: 247px
      background-image: url("../img/new/md/pricing_pro_table_02_md.png")
      width: 236px
      height: 422px
    +media($desktop)
      top: 99px
      left: 294px
      background-image: url("../img/new/lg/pricing_pro_table_02_lg.png")
      width: 290px
      height: 499px
  #pricing-table3
    background-image: url("../img/new/xs/pricing_pro_table_03_xs.png")
    width: 254px
    height: 402px
    display: block
    margin: 0 auto
    +media($mobil)
      position: relative
      top: 53px
    +media($tablet)
      position: absolute
      top: 52px
      left: 381px
      background-image: url("../img/new/sm/pricing_pro_table_03_sm.png")
      width: 176px
      height: 347px
    +media($notebook)
      top: 60px
      left: 492px
      background-image: url("../img/new/md/pricing_pro_table_03_md.png")
      width: 226px
      height: 422px
    +media($desktop)
      top: 99px
      left: 591px
      background-image: url("../img/new/lg/pricing_pro_table_03_lg.png")
      width: 276px
      height: 499px
  #pricing-table4
    background-image: url("../img/new/xs/pricing_pro_table_04_xs.png")
    width: 254px
    height: 402px
    display: block
    margin: 0 auto
    +media($mobil)
      position: relative
      top: 68px
    +media($tablet)
      position: absolute
      top: 52px
      left: 563px
      background-image: url("../img/new/sm/pricing_pro_table_04_sm.png")
      width: 176px
      height: 347px
    +media($notebook)
      top: 60px
      left: 732px
      background-image: url("../img/new/md/pricing_pro_table_04_md.png")
      width: 226px
      height: 422px
    +media($desktop)
      top: 99px
      left: 881px
      background-image: url("../img/new/lg/pricing_pro_table_04_lg.png")
      width: 276px
      height: 499px
  #faq
    h1
      color:  #3c3c3c
      font-weight: 600
      text-align: center
      font-size: 20px
      margin-top: 24px
      margin-bottom: 34px
      +media($tablet)
        font-size: 30px
        margin-top: 59px
        margin-bottom: 139px
        letter-spacing: -0.85px
      +media($notebook)
        font-size: 30px
        margin-top: 77px
        margin-bottom: 174px
        letter-spacing: -0.85px
      +media($desktop)
        font-size: 37px
        margin-top: 120px
        margin-bottom: 230px
        letter-spacing: -0.85px

    .line-faq
      width: 100%
      display: inline-block
      +media($tablet)
        margin-top: 8px
      +media($notebook)
        margin-top: 3px
      +media($desktop)
        margin-top: 8px
      h2
        color: #3c3c3c
        font-weight: 600
        text-align: center
        font-size: 13px
        margin-top: 2px
        margin-bottom: 20px
        +media($tablet)
          font-size: 20px
          margin-top: -88px
          margin-bottom: 28px
        +media($notebook)
          font-size: 20px
          margin-top: -103px
          margin-bottom: 43px
        +media($desktop)
          font-size: 24px
          margin-top: -103px
          margin-bottom: 43px

      p
        color: #3c3c3c
        font-weight: 400
        text-align: justify
        font-size: 13px
        margin-left: 13px
        margin-right: 13px
        margin-top: 20px
        +media($tablet)
          font-size: 15px
          margin-left: 13px
          margin-right: 13px
          margin-top: 29px
        +media($notebook)
          font-size: 17px
          margin-left: 25px
          margin-right: 25px
          margin-top: 29px
        +media($desktop)
          font-size: 19px
          margin-left: 49px
          margin-right: 49px
          margin-top: 29px
      p:first-of-type
        margin-top: 0
      p:last-of-type
        margin-bottom: 49px
        +media($tablet)
          margin-bottom: 181px
        +media($notebook)
          margin-bottom: 197px
        +media($desktop)
          margin-bottom: 249px
      a
        color: #3c3c3c

  #faq
    +media($tablet)
      height: 1705px
    +media($notebook)
      height: 1888px
    +media($desktop)
      height: 2348px