#schools
  height: 350px

  +media($notebook)
    height: 400px
  +media($desktop)
    height: 400px


  h1
    color:  #3c3c3c
    text-align: center
    font-weight: 600
    letter-spacing: -1px
    font-size: 23px
    margin-top: 30px

    +media($tablet)
      font-size: 23px
      margin-top: 60px
    +media($notebook)
      font-size: 30px
      margin-top: 80px
    +media($desktop)
      font-size: 37px
      margin-top: 100px

  .schools
    margin: 60px auto 0

    background-image: url("../img/new/xs/schools/all.jpg")
    width: 180px
    height: 146px

    +media($tablet)
      background-image: none
      width: 535px
      height: default
    +media($notebook)
      width: 632px
      height: default
    +media($desktop)
      width: 707px
      height: default


    .cgs
      background-image: none
      float: left
      width: 106px
      height: 43px
      display: block
      margin: 17px 20px 0

      +media($tablet)
        background-image: url("../img/new/sm/schools/cgs.png")
        width: 77px
        height: 59px

      +media($notebook)
        background-image: url("../img/new/md/schools/cgs.png")
        width: 100px
        height: 78px
        &:hover
          background-image: url("../img/new/md/schools/cgs_o.png")

      +media($desktop)
        background-image: url("../img/new/lg/schools/cgs.png")
        width: 115px
        height: 89px
        &:hover
          background-image: url("../img/new/lg/schools/cgs_o.png")

    .walter
      background-image: none
      float: left
      width: 106px
      height: 43px
      display: block
      margin: 47px 20px 0

      +media($tablet)
        background-image: url("../img/new/sm/schools/walter.png")
        width: 47px
        height: 45px

      +media($notebook)
        background-image: url("../img/new/md/schools/walter.png")
        width: 63px
        height: 61px
        &:hover
          background-image: url("../img/new/md/schools/walter_o.png")

      +media($desktop)
        background-image: url("../img/new/lg/schools/walter.png")
        width: 75px
        height: 72px
        &:hover
          background-image: url("../img/new/lg/schools/walter_o.png")

    .cbk
      background-image: none
      float: left
      width: 106px
      height: 43px
      display: block
      margin: 47px 20px 0

      +media($tablet)
        background-image: url("../img/new/sm/schools/cbk.png")
        width: 78px
        height: 30px

      +media($notebook)
        background-image: url("../img/new/md/schools/cbk.png")
        width: 100px
        height: 38px
        &:hover
          background-image: url("../img/new/md/schools/cbk_o.png")

      +media($desktop)
        background-image: url("../img/new/lg/schools/cbk.png")
        width: 118px
        height: 44px
        &:hover
          background-image: url("../img/new/lg/schools/cbk_o.png")

    .coventry
      background-image: none
      float: left
      width: 106px
      height: 43px
      display: block
      margin: 47px 20px 0

      +media($tablet)
        background-image: url("../img/new/sm/schools/coventry.png")
        width: 70px
        height: 21px

      +media($notebook)
        background-image: url("../img/new/md/schools/coventry.png")
        width: 91px
        height: 29px
        &:hover
          background-image: url("../img/new/md/schools/coventry_o.png")

      +media($desktop)
        background-image: url("../img/new/lg/schools/coventry.png")
        width: 107px
        height: 34px
        &:hover
          background-image: url("../img/new/lg/schools/coventry_o.png")

    .ucode
      background-image: none
      float: left
      width: 106px
      height: 43px
      display: block
      margin: 47px 20px 0

      +media($tablet)
        background-image: url("../img/new/sm/schools/ucode.png")
        width: 63px
        height: 20px

      +media($notebook)
        background-image: url("../img/new/md/schools/ucode.png")
        width: 78px
        height: 27px
        &:hover
          background-image: url("../img/new/md/schools/ucode_o.png")

      +media($desktop)
        background-image: url("../img/new/lg/schools/ucode.png")
        width: 92px
        height: 30px
        &:hover
          background-image: url("../img/new/lg/schools/ucode_o.png")
