#platform {
  height: auto;
  @include media($tablet) {
    height: 415px;
  }

  @include media($notebook) {
    height: 524px;
  }

  @include media($desktop) {
    height: 580px;
  }
}

#content, #support {
  height: auto;
  @include media($tablet) {
    height: 435px;
  }

  @include media($notebook) {
    height: 545px;
  }

  @include media($desktop) {
    height: 590px;
  }
}

#support {
  h1 {
    @include media($desktop) {
      margin-top: 128px;
    }
  }
}

#our-partners {
  height: auto;
  @include media($tablet) {
    height: 341px;
  }

  @include media($notebook) {
    height: 425px;
  }

  @include media($desktop) {
    height: 400px;
  }
}

#featured {
  height: 926px;
  @include media($tablet) {
    height: 559px;
  }

  @include media($notebook) {
    height: 700px;
  }

  @include media($desktop) {
    height: 770px;
  }
}

.section-image, .section-content {
  width: 100%;
  float: left;
  @include media($tablet) {
    width: 50%;
  }
}

//move image tablet to right
#content {
  .section-image {
    @include media($tablet) {
      position: relative;
      left: 50%;
    }
  }
  .section-content {
    @include media($tablet) {
      position: relative;
      right: 50%;
      padding-left: 15px;
    }

    h1 {
      @include media($desktop) {
        margin-top: 126px;
      }
    }
  }
}

.section-content {
  h1 {
    color: #3c3c3c;
    font-weight: 600;
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: -1px;
    text-align: center;
    @include media($tablet) {
      text-align: left;
      letter-spacing: -1px;
      margin-top: 130px;
      font-size: 23px;
    }

    @include media($notebook) {
      letter-spacing: -2px;
      margin-top: 156px;
      font-size: 30px;
    }

    @include media($desktop) {
      margin-top: 152px;
      font-size: 37px;
    }
  }
  p {
    color: #8a8a8a;
    font-weight: 300;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    @include media($tablet) {
      font-size: 14px;
      margin-top: 23px;
      margin-left: 0;
      margin-right: 0;
      text-align: justify;
    }

    @include media($notebook) {
      letter-spacing: -0.8px;
      font-size: 18px;
      margin-top: 30px;
    }

    @include media($desktop) {
      font-size: 22px;
      margin-top: 44px;
    }
  }
  p + p {
    color: #222222;
    margin-top: 30px;
    @include media($tablet) {
      margin-top: 16px;
    }

    @include media($notebook) {
      margin-top: 18px;
    }

    @include media($desktop) {
      margin-top: 35px;
    }
  }
}

#platform {
  .image {
    background-image: url("../img/new/xs/screen_xs.png");
    width: 164px;
    height: 138px;
    display: block;
    margin: 47px auto 0;
    @include media($tablet) {
      margin-top: 97px;
      margin-left: 53px;
      background-image: url("../img/new/sm/screen_sm.png");
      width: 275px;
      height: 232px;
    }

    @include media($notebook) {
      margin-top: 132px;
      margin-left: 69px;
      background-image: url("../img/new/md/screen_md.png");
      width: 344px;
      height: 289px;
    }

    @include media($desktop) {
      margin-top: 130px;
      margin-left: 99px;
      background-image: url("../img/new/lg/screen_lg.png");
      width: 420px;
      height: 353px;
    }
  }
}

#content {
  .image {
    background-image: url("../img/new/xs/ipad_xs.png");
    width: 229px;
    height: 132px;
    display: block;
    margin: 47px auto 0;
    @include media($tablet) {
      margin-top: 95px;
      margin-left: 16px;
      background-image: url("../img/new/sm/ipad_sm.png");
      width: 334px;
      height: 225px;
    }

    @include media($notebook) {
      margin-top: 119px;
      margin-left: 21px;
      background-image: url("../img/new/md/ipad_md.png");
      width: 438px;
      height: 277px;
    }

    @include media($desktop) {
      margin-top: 110px;
      margin-left: 40px;
      background-image: url("../img/new/lg/ipad_lg.png");
      width: 528px;
      height: 335px;
    }
  }
}

#support {
  .image {
    background-image: url("../img/new/xs/graph_xs.png");
    width: 169px;
    height: 147px;
    display: block;
    margin: 47px auto 0;
    @include media($tablet) {
      margin-top: 68px;
      margin-left: 60px;
      background-image: url("../img/new/sm/graph_sm.png");
      width: 278px;
      height: 274px;
    }

    @include media($notebook) {
      margin-top: 91px;
      margin-left: 58px;
      background-image: url("../img/new/md/graph_md.png");
      width: 356px;
      height: 341px;
    }

    @include media($desktop) {
      margin-top: 55px;
      margin-left: 92px;
      background-image: url("../img/new/lg/graph_lg.png");
      width: 428px;
      height: 421px;
    }
  }
}
