aside.sidebar {

  display: none;
  @include media($tablet) {
    display: block;
    @include span-columns(1 of 5);
    margin-right: 0;
  }

  right: 10px;
  position: absolute;
  z-index: 9;

  h2 {
    color: #307ae2;
    text-align: center;
    font-weight: 600;
    line-height: 140%;
    margin: 30px 0;
    font-size: 15px;
    @include media($notebook) {
      font-size: 17px;
    }
    @include media($desktop) {
      font-size: 20px;
    }
  }

  ul {
      margin: 0.75em 0;
      padding: 0 1em;
      list-style: none;
  }

  li {

    margin-bottom: 10px;
    font-style: italic;
    color: #787878;
    font-size: 12px;
    @include media($notebook) {
      font-size: 13px;
    }
    @include media($desktop) {
      font-size: 14px;
    }

    a {
      display: block;
      span {
        color: #787878;
      }
    }

    &:before {
      content: "";
      border-color: transparent inherit;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.9em;
      position: relative;
      display: none;
      @include media($notebook) {
        display: block;
      }

    }

    &:hover {
      span, a {
        color: #307ae2;
        text-decoration: underline;
      }
      &:before {
        border-color: transparent #307ae2;
      }
    }
  }
}
