#sub02
  section:first-child
    background: #ecf1f5
    height: 242px
    +media($tablet)
      background: #ecf1f5 url("../img/new/sm/top_sub_abstract_sm.jpg") no-repeat top center
      height: 237px
    +media($notebook)
      background: #ecf1f5 url("../img/new/md/top_sub_abstract_md.jpg") no-repeat top center
      height: 307px
    +media($desktop)
      background: #ecf1f5 url("../img/new/lg/top_sub_abstract_lg.jpg") no-repeat top center
      height: 390px
    h1
      color:  #3c3c3c
      text-align: center
      font-weight: 600
      font-size: 18px
      padding-top: 29px
      +media($tablet)
        font-size: 30px
        padding-top: 70px
        letter-spacing: -0.5px
      +media($notebook)
        font-size: 38px
        padding-top: 97px
        letter-spacing: -0.85px
      +media($desktop)
        font-size: 47px
        padding-top: 138px
        letter-spacing: -1px
    p
      color:  #222222
      text-align: center
      font-weight: 400
      line-height: 16px
      font-size: 12px
      +media($mobil)
        width: 268px
        display: block
        margin: 25px auto 0

      +media($tablet)
        text-align: right
        +span-columns(6)
        font-size: 15px
        margin-top: 24px
        line-height: 18px
      +media($notebook)
        font-size: 18px
        margin-top: 38px
        line-height: 21px
      +media($desktop)
        font-size: 21px
        margin-top: 50px
        line-height: 24px
    p + p
      +media($mobil)
        margin-top: 10px
        margin-bottom: 25px
      +media($tablet)
        text-align: left
        +span-columns(6)

  section:nth-child(3)
    h1
      color:  #000000
      font-weight: 600
      text-align: center
      font-size: 18px
      +media($mobil)
        width: 268px
        display: block
        margin: 132px auto 0
        padding-bottom: 45px
        line-height: 14px
      +media($tablet)
        margin-top: 51px
        padding-bottom: 51px
        padding-left: 129px
        padding-right: 129px
        line-height: 21px
        font-size: 22px
      +media($notebook)
        margin-top: 104px
        padding-bottom: 104px
        padding-left: 196px
        padding-right: 196px
        line-height: 25px
        font-size: 25px
      +media($desktop)
        margin-top: 124px
        padding-bottom: 124px
        padding-left: 283px
        padding-right: 283px
        line-height: 27px
        font-size: 37px
  .section-left,.section-right
    background-size: cover
    height: 190px
    margin-top: 113px
    +media($tablet)
      height: 389px
      margin-top: 130px
    +media($notebook)
      height: 484px
      margin-top: 223px
    +media($desktop)
      height: 605px
      margin-top: 275px
    div
      +media($tablet)
        position: relative
        top: 50%
        +transform(translateY(-50%))
      p
        color:  #222222
        font-weight: 400
        text-align: justify
        font-size: 12px
        line-height: 14px
        +media($mobil)
          padding-top: 198px
          width: 268px
          display: block
          margin: 0 auto

        +media($tablet)
          +span-columns(6)
          color:  #222222
          font-weight: 400
          text-align: left
          font-size: 15px
          line-height: 23px
        +media($notebook)
          font-size: 19px
          line-height: 22px
        +media($desktop)
          font-size: 23px
          line-height: 27px
  .section-left
    p
      +media($tablet)
        padding-left: 20px
        padding-right: 20px
      +media($notebook)
        padding-left: 35px
        padding-right: 35px
      +media($desktop)
        padding-left: 35px
        padding-right: 50px
  .section-right
    p
      +media($tablet)
        +shift(6)
        padding-right: 20px
        padding-left: 20px
      +media($notebook)
        padding-right: 35px
        padding-left: 35px
      +media($desktop)
        padding-right: 35px
        padding-left: 50px
  section:nth-of-type(2)
    margin-top: 61px
    background: url("../img/new/xs/sub_02_comprehensive_01_xs.jpg") no-repeat center center
    +media($tablet)
      margin-top: 73px
      background: url("../img/new/sm/sub_02_comprehensive_01_sm.jpg") no-repeat center center
    +media($notebook)
      margin-top: 95px
      background: url("../img/new/md/sub_02_comprehensive_01_md.jpg") no-repeat center center
    +media($desktop)
      margin-top: 130px
      background: url("../img/new/lg/sub_02_comprehensive_01_lg.jpg") no-repeat center center
  section:nth-of-type(4)
    margin-top: 0
    background: url("../img/new/xs/sub_02_comprehensive_02_xs.jpg") no-repeat center center
    +media($tablet)
      background: url("../img/new/sm/sub_02_comprehensive_02_sm.jpg") no-repeat center center
    +media($notebook)
      background: url("../img/new/md/sub_02_comprehensive_02_md.jpg") no-repeat center center
    +media($desktop)
      background: url("../img/new/lg/sub_02_comprehensive_02_lg.jpg") no-repeat center center
  section:nth-of-type(5)
    background: url("../img/new/xs/sub_02_comprehensive_03_xs.jpg") no-repeat center center
    +media($tablet)
      background: url("../img/new/sm/sub_02_comprehensive_03_sm.jpg") no-repeat center center
    +media($notebook)
      background: url("../img/new/md/sub_02_comprehensive_03_md.jpg") no-repeat center center
    +media($desktop)
      background: url("../img/new/lg/sub_02_comprehensive_03_lg.jpg") no-repeat center center
  section:nth-of-type(6)
    background: url("../img/new/xs/sub_02_comprehensive_04_xs.jpg") no-repeat center center
    +media($tablet)
      background: url("../img/new/sm/sub_02_comprehensive_04_sm.jpg") no-repeat center center
    +media($notebook)
      background: url("../img/new/md/sub_02_comprehensive_04_md.jpg") no-repeat center center
    +media($desktop)
      background: url("../img/new/lg/sub_02_comprehensive_04_lg.jpg") no-repeat center center

  section.big-button:before
    background: none
  .big-button a.button
    margin-top: 135px
    +media($tablet)
      margin-top: 110px
    +media($notebook)
      margin-top: 160px
    +media($desktop)
      margin-top: 249px
  .big-button:after
    margin-bottom: 62px
    +media($tablet)
      margin-bottom: 75px
    +media($notebook)
      margin-bottom: 129px
    +media($desktop)
      margin-bottom: 208px
