.subpage
  +outer-container()
  max-width: none
  overflow: hidden

  section.heading
    +span-columns(12)
    h1
      color:  #3c3c3c
      text-align: center
      font-weight: 600
      font-size: 18px
      padding-top: 29px
      +media($tablet)
        font-size: 30px
        padding-top: 70px
        letter-spacing: -0.5px
      +media($notebook)
        font-size: 38px
        padding-top: 97px
        letter-spacing: -0.85px
      +media($desktop)
        font-size: 47px
        padding-top: 138px
        letter-spacing: -1px

  section:first-child
    background: #ecf1f5
    height: 242px
    +media($tablet)
      background: #ecf1f5 url("../img/new/sm/top_sub_abstract_sm.jpg") no-repeat top center
      height: 237px
    +media($notebook)
      background: #ecf1f5 url("../img/new/md/top_sub_abstract_md.jpg") no-repeat top center
      height: 307px
    +media($desktop)
      background: #ecf1f5 url("../img/new/lg/top_sub_abstract_lg.jpg") no-repeat top center
      height: 390px
    h1
      color:  #3c3c3c
      text-align: center
      font-weight: 600
      font-size: 18px
      padding-top: 29px
      +media($tablet)
        font-size: 30px
        padding-top: 70px
        letter-spacing: -0.5px
      +media($notebook)
        font-size: 38px
        padding-top: 97px
        letter-spacing: -0.85px
      +media($desktop)
        font-size: 47px
        padding-top: 138px
        letter-spacing: -1px
    p
      color:  #222222
      text-align: center
      font-weight: 400
      line-height: 16px
      font-size: 12px
      +media($mobil)
        width: 268px
        display: block
        margin: 25px auto 0

      +media($tablet)
        text-align: right
        +span-columns(6)
        font-size: 15px
        margin-top: 24px
        line-height: 18px
      +media($notebook)
        font-size: 18px
        margin-top: 38px
        line-height: 21px
      +media($desktop)
        font-size: 21px
        margin-top: 50px
        line-height: 24px
    p + p
      +media($mobil)
        margin-top: 10px
        margin-bottom: 25px
      +media($tablet)
        text-align: left
        +span-columns(6)

  section:nth-child(2)
    h1
      color:  #000000
      font-weight: 600
      text-align: center
      font-size: 12px
      +media($mobil)
        width: 268px
        display: block
        margin: 44px auto 0
        padding-bottom: 45px
        line-height: 14px
      +media($tablet)
        margin-top: 40px
        padding-left: 129px
        padding-right: 129px
        padding-bottom: 52px
        line-height: 21px
        font-size: 15px
      +media($notebook)
        margin-top: 86px
        padding-left: 196px
        padding-right: 196px
        padding-bottom: 79px
        line-height: 25px
        font-size: 19px
      +media($desktop)
        margin-top: 111px
        padding-left: 283px
        padding-right: 283px
        padding-bottom: 106px
        line-height: 27px
        font-size: 21px
  .section-left,.section-right
    +fill-parent()
    +row(table)

    max-width: none
    height: 190px
    margin-top: 113px

    +media($tablet)
      height: 389px
      margin-top: 130px
    +media($notebook)
      height: 484px
      margin-top: 223px
    +media($desktop)
      height: 605px
      margin-top: 275px

    .left
      +span-columns(12)
      +row(table)
      vertical-align: middle
      padding: 20px

      +media($tablet)
        +span-columns(5)
      +media($notebook)

      +media($desktop)
        padding: 60px

    .right.simple-image
      img
        width: 80%
        +media($tablet)
          width: 300px
        +media($notebook)
          width: 400px
        +media($desktop)
          width: 589px

    .right
      vertical-align: middle
      text-align: center
      +span-columns(12)
      +row(table)
      +omega()

      +media($tablet)
        +span-columns(7)

      img
        width: 100%
        +media($tablet)
          width: 600px
        +media($notebook)
          width: 800px
        +media($desktop)
          width: 1119px
    div
      p
        color:  #222222
        font-weight: 400
        text-align: justify
        font-size: 12px
        line-height: 14px
        padding: 10px 45px

        +media($mobil)
          display: block
          margin: 0 auto

        +media($tablet)
          font-weight: 300
          text-align: left
          font-size: 15px
          line-height: 23px
        +media($notebook)
          font-size: 19px
          line-height: 22px
        +media($desktop)
          font-size: 23px
          line-height: 27px

  section.big-button:before
    background: none
  .big-button a.button
    margin-top: 135px
    +media($tablet)
      margin-top: 110px
    +media($notebook)
      margin-top: 160px
    +media($desktop)
      margin-top: 249px
  .big-button:after
    margin-bottom: 62px
    +media($tablet)
      margin-bottom: 75px
    +media($notebook)
      margin-bottom: 129px
    +media($desktop)
      margin-bottom: 208px
