<section id="deployment">
  <div class="container">
    <div>
      <div>
        <h2>Deploy Anywhere</h2>
        <p>Deploy &amp; preview your project with a single click on any number of development, staging or production servers.</p>
        <p>We support <strong>FTP</strong>, <strong>SFTP</strong> and <strong>super-fast RSYNC</strong> targets. And cloud to cloud deployment is way faster than from your local machine.</p>
      </div>
    </div>
  </div>
</section>