<section id="deployment">
  <div class="container">
    <div>
      <div>
        <h2>Develop &amp; Deploy</h2>
        <p>Yes, cloud based development can be incredibly fast. You can deploy+preview your PHP project with a single click. When you're ready to deploy to staging or production servers, it's just one more click.</p>
        <p>We support <strong>FTP</strong>, <strong>SFTP</strong> and <strong>super-fast RSYNC</strong> targets. And cloud to cloud deployment is way faster than from your local machine.</p>

        <div class="links">
          <% link_to '/docs/deployment' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>