<header>
  <div class="container">

    <div id="tagline">
      <h1>
        <span>AN</span> <span>AMAZING</span> <span>WEB IDE</span> <span>FOR</span>
        <span>Wordpress</span>
        <span>Drupal &amp; Joomla</span>
        <%= image_tag 'home/screens/cms.png' %>        
      </h1>

      <div>
        <p>Public projects are free! <a href="/p/signup">Create your first one now...</a></p>
      </div>
    </div>

    <div id="screen">
      <a href="//player.vimeo.com/video/78975701?autoplay=1&hd=1" target="_blank" class="fancybox fancybox.iframe icon-play-circle" id="video"></a>
    </div>

  </div>
</header>