<section id="import-go">
  <div class="container">
    <div>
      <div>
        <h2>Import &amp; Go</h2>
        <h3>Import from anywhere ... and code</h3>
        <p>If you've already got your PHP code on a server or in a repo, then use our import options to load it in from a remote <strong>FTP</strong> or <strong>SFTP</strong> server, <strong>ZIP</strong> file, <strong>Git</strong> or <strong>Mercurial</strong> repo.</p>
        <p>You're now ready to start coding. And you can deploy to any number of remote servers just as easily.</p>
        <div class="links">
          <% link_to '/docs/console/creating' do %>
            <i class="icon-check"></i> Show me
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>