<section id="import-go">
  <div class="container">
    <div>
      <div>
        <h2>Import &amp; Go</h2>
        <h3>Import from anywhere ... and code</h3>
        <p>You can import your project from anywhere - a remote FTP or SFTP server, ZIP file, Git or Mercurial repo - then you're ready to code. Deploy and run your code on any number of development, staging and production servers with a single click.</p>
        <div class="links">
          <% link_to '/share-your-code' do %>
            <i class="icon-check"></i> Show me
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>