<section id="productivity">
  <div class="container">
    <div>
      <div>
        <h2>Speed &amp; Productivity</h2>
        <h3>You'll be amazed how fast you can code in a browser</h3>
        <p><strong>Syntax highlighting</strong> and support for over 60 languages, code completion, custom keyboard shortcuts, Emmet, <strong>code folding</strong>, themes, code linting, <strong>color preview/picker</strong>, inline preview and much more.</p>
        <p>With Codio, you can <strong>work and code faster</strong>, because we give you the productivity features and tools that you need to succeed fast!</p>
        <div class="links">
          <% link_to '/docs/emmet/' do %>
            <i class="icon-file"></i> Emmet
          <% end %>
          <% link_to '/docs/settings-prefs' do %>
            <i class="icon-file"></i> Preferences
          <% end %>
          </br>
      </div>
    </div>
  </div>
</section>
