<section id="wp-themes">
  <div class="container">
    <div>
      <div>
        <h2>All you need</h2>
        <h3>Instant Coding from Anywhere</h3>
        <p>There is surely no easier way for Wordpress developers to code. No software to install, no stack to install. Just <strong>code on any machine</strong> at any time.</p>
      </div>
    </div>
  </div>
</section>