<section id="wp-themes">
  <div class="container">
    <div>
      <div>
        <h2>Manage your Wordpress Themes &amp; Code</h2>
        <h3>Instant Coding from Anywhere</h3>
        <p>There is surely no easier way for wordpress developers to code. No stack to install, no desktop code to install and you can <strong>code on any machine</strong> at any time.</p>
        <div class="links">
          <% link_to '/share-your-code' do %>
            <i class="icon-check"></i> Show me
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>