<section id="dreamweaver">
  <div class="container">
    <div>
      <div>
        <h2>DreamWeaver Users</h2>
        <p>Codio is 100% browser based and lets you write your code from any PC or Mac. If you like to hand craft your HTML, CSS and Javascript then we think you're going to love Codio.</p>
        <p>And if you value your pennies, you'll find Codio is very gentle on your pocket.</p>        
        <div class="links">
          <% link_to '/docs/panels' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="//player.vimeo.com/video/74289800?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>