#highlighted-feature {
  @include clearfix;
  background-color: #fff;
  box-shadow: 0 -2px 3px #ddd;
  height: 475px;
  overflow: hidden;
  padding: 70px 0 100px;

  .container {
    @include clearfix;
    padding: 30px 0;

    > div {
      float: left;
      margin-top: 20px;

      &:first-child {
        width: 595px;
        margin: 0;

        h2 {
          color: #000;
          font: 36px gotham_boldregular;
          margin: 5px 0 0 0;

          small {
            color: #888;
            font-size: 20px;
            font-family: gotham_mediumregular;
            display: block;
          }
        }

        > p {
          margin-right: 75px;
          font-size: 16px;
        }

        > div {
          @include clearfix;

          > a {
            float: left;
            width: 322px;
            height: 182px;
          }

          p {
            float: left;
            width: 220px;
            padding: 30px 0 0 25px;
          }
        }

        a.fancybox {
          display: block;
          padding: 10px;

          img {
            border: 1px solid #aaa;
            border-radius: 4px;
            box-shadow: 0 0px 8px #666;
          }

          i {
            position: relative;
            left: 138px;
            text-shadow: 0 1px 4px #000;
            top: -120px;
          }
        }
      }

      &.screenshot {
        img {
          border: 1px solid #aaa;
          border-radius: 4px;
          box-shadow: 0 0px 55px #666;
        }

        span {
          background: image-url('home/highlighted-features/annotations.png') -174px -2px;
          width: 250px;
          height: 250px;
          border-radius: 50%;
          border: 10px solid #CCC;
          box-shadow: 2px 2px 10px #666;
          display: block;
          position: relative;
          top: -159px;
          left: 28px;
          background-size: 261%;
        }
      }
    }
  }
}