// Landing Pages
// -------------

.landing-page-section {
  background-image: linear-gradient(left , rgb(255,255,255) 25%, rgb(239,239,239) 36%);
  background-image: -o-linear-gradient(left , rgb(255,255,255) 25%, rgb(239,239,239) 36%);
  background-image: -moz-linear-gradient(left , rgb(255,255,255) 25%, rgb(239,239,239) 36%);
  background-image: -webkit-linear-gradient(left , rgb(255,255,255) 25%, rgb(239,239,239) 36%);
  background-image: -ms-linear-gradient(left , rgb(255,255,255) 25%, rgb(239,239,239) 36%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.25, rgb(255,255,255)),
    color-stop(0.36, rgb(239,239,239))
  );

  @include apply-to(more-than, desktop) {
    background-image: linear-gradient(left , rgb(255,255,255) 15%, rgb(239,239,239) 36%);
    background-image: -o-linear-gradient(left , rgb(255,255,255) 15%, rgb(239,239,239) 36%);
    background-image: -moz-linear-gradient(left , rgb(255,255,255) 15%, rgb(239,239,239) 36%);
    background-image: -webkit-linear-gradient(left , rgb(255,255,255) 15%, rgb(239,239,239) 36%);
    background-image: -ms-linear-gradient(left , rgb(255,255,255) 15%, rgb(239,239,239) 36%);
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.15, rgb(255,255,255)),
      color-stop(0.36, rgb(239,239,239))
    );
  }

  .container > div {
    @include screenie;
    font: 16px gotham_light;
    border-bottom: 1px solid #eee;

    > div {
      background: transparent image-url('home/screens/shadow-y.png') no-repeat 0 center;
      background-size: 14px;
      padding: 130px 0 130px 390px;
      width: 330px;

      @include apply-to(more-than, desktop) {
        width: 460px;
        background-size: 12px;
      }
    }

    h2 {
      font-size: 32px;

      @include apply-to(more-than, desktop) {
        font-size: 34px;
      }
    }

    p {
      font: 15px gotham_light;
      line-height: 1.4em;

      &.intro {
        font: 18px gotham_book;
        line-height: 1.5em;
      }
    }

    .links a {
      font-family: gotham_medium;
    }
  }

  &#lp-github .container > div {
    padding: 90px 0;

    @include apply-to(more-than, desktop) {
      padding: 120px 0 100px;
    }

    h2 {
      padding-left: 0;

      @include apply-to(more-than, desktop) {
        font-family: gotham_bold;
        padding-left: 40px;
      }
    }

    > div {
      background: none;
      padding: 0;
      width: 100%;

      > div {
        float: left;

        &:first-child {
          padding: 30px 0 0 0;
          width: 200px;

          @include apply-to(more-than, desktop) {
            width: 250px;
          }
        }

        &:last-child {
          width: 460px;
          padding: 10px 0 0 20px;

          @include apply-to(more-than, desktop) {
            width: 524px;
            padding: 10px 80px 0 20px;
          }

          p {
            @include apply-to(more-than, desktop) {
              font-size: 16px;
              line-height: 1.5em;

              &.intro {
                font-size: 20px;
                line-height: 1.6em;
              }
            }
          }
        }
      }
    }
  }

  &#lp-codepen .container > div {
    background: transparent image-url('landing-pages/codepen2.png') no-repeat -147px center;
    background-size: 508px;

    @include apply-to(more-than, desktop) {
      background-position: -106px center;
      background-size: 474px;
    }
  }

  &#lp-salesforce .container > div {

  }

}