section {
  position: relative;

  &:nth-child(odd) {
    @include even-section;
  }

  .container > div {
    padding: 0;
    margin-left: 250px;
    width: $ipad-landscape - 300;

    @include apply-to(more-than, desktop) {
      margin-left: 300px;
      width: $desktop - 350;
    }

    h2 {
      font: 34px gotham_medium;
      color: $red;
      margin: 0;
    }

    h3 {
      color: #8F8F99;
      font: 26px gotham_thin;
      margin: 8px 0 24px;
      text-transform: initial;
    }

    p {
      font: 17px gotham_light;
      line-height: 1.7em;
      margin: 1em 0 0 0;

      strong {
        font-family: gotham_medium;
        color: #444;
      }
    }

    .coming-soon {
      font: 14px gotham_light;
      font-style: italic;
      text-transform: uppercase;
      color: #BEA3A1;
    }
  }

  &#ide {
    .container > div {
      @include screenie;
      background: transparent image-url('home/screens/home-ide.png') no-repeat -229px center;
      background-size: 83%;

      @include apply-to(more-than, desktop) {
        background-position: -58px center;
        background-size: 52%;
      }

      > div {
        background: transparent image-url('home/screens/shadow-y.png') no-repeat 0 center;
        background-size: 14px;
        padding: 130px 0 130px 375px;
        width: 360px;

        @include apply-to(more-than, desktop) {
          width: 500px;
          background-size: 12px;
          padding-left: 430px;
        }
      }
    }
  }

  &#boxes {
    .container {
      background: transparent image-url("home/screens/home-boxes.png") no-repeat 670px 60%;
      background-size: 290px 58%;

      @include apply-to(more-than, desktop) {
        background-position: 785px 60%;
        background-size: 325px;
      }

      > div {
        //background: transparent image-url('home/screens/shadow-y-right.png') no-repeat right center;
        background-size: 15px;
        padding: 90px 280px 90px 0;
        width: 333px;

        @include apply-to(more-than, desktop) {
          padding: 120px 474px 120px 0;
          width: 410px;
        }
      }
    }
  }

  &#box-parts {
    .container > div {
      @include screenie;
      background: transparent image-url('home/screens/home-components.png') no-repeat -12px center;
      background-size: 45%;

      @include apply-to(more-than, desktop) {
        background-position: -4x center;
        background-size: 34%;
      }

      > div {
        background: transparent image-url('home/screens/shadow-y.png') no-repeat 0 center;
        background-size: 14px;
        padding: 130px 0 130px 320px;
        width: 390px;

        @include apply-to(more-than, desktop) {
          width: 500px;
          background-size: 12px;
          padding-left: 374px;
        }
      }
    }
  }

  &#speed {
    .container {
      background: transparent image-url("home/screens/home-fast.png") no-repeat 670px;
      background-size: 290px;

      @include apply-to(more-than, desktop) {
        background-position: 785px;
        background-size: 308px;
      }

      > div {
        //background: transparent image-url('home/screens/shadow-y-right.png') no-repeat right center;
        background-size: 15px;
        padding: 90px 280px 90px 0;
        width: 333px;

        @include apply-to(more-than, desktop) {
          padding: 120px 474px 120px 0;
          width: 410px;
        }

      }
    }
  }

  &#integrated {
    .container > div {
      @include screenie;
      background: transparent image-url('home/screens/bower.png') no-repeat -238px center;
      background-size: 78%;

      @include apply-to(more-than, desktop) {
        background-position: -210px center;
        background-size: 63%;
      }

      > div {
        background: transparent image-url('home/screens/shadow-y.png') no-repeat 0 center;
        background-size: 14px;
        padding: 130px 0 130px 320px;
        width: 470px;

        @include apply-to(more-than, desktop) {
          width: 420px;
          background-size: 12px;
          padding-left: 425px;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 20px 0 0;

          @include apply-to(more-than, desktop) {
            margin-top: 30px;
          }

          li {
            display: inline-block;
            margin-right: 15px
          }
        }        
      }
    }
  }

  &#tutorials {
    .container {
      background: transparent image-url("home/screens/home-node.png") no-repeat 598px;
      background-size: 372px;

      @include apply-to(more-than, desktop) {
        background-size: 380px;
        background-position: 768px;
      }

      > div {
        //background: transparent image-url('home/screens/shadow-y-right.png') no-repeat right center;
        background-size: 15px;
        padding: 90px 280px 90px 0;
        width: 326px;

        @include apply-to(more-than, desktop) {
          width: 380px;
          padding: 120px 474px 120px 0;
        }
      }
    }
  }  

}