section {
  position: relative;

  @mixin screenie {
    > div {
      background: transparent image-url('home/screens/screen-shadows.png') no-repeat 0 bottom;
      background-size: 60%;
      padding: 80px 0 46px 300px;
      width: 380px;

      @include apply-to(more-than, desktop) {
        background-size: 41%;
        padding-left: 350px;
        width: 524px;
        padding-bottom: 110px;
      }
    }
  }

  &:nth-child(even) {
    background-image: linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -o-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -moz-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -webkit-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -ms-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.25, rgb(255,255,255)),
      color-stop(0.36, rgb(249,249,249))
    );

    @include apply-to(more-than, desktop) {
      background-image: linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -o-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -moz-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -webkit-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -ms-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, rgb(255,255,255)),
        color-stop(0.36, rgb(249,249,249))
      );
    }
  }

  .container > div {
    padding: 0;

    @include apply-to(more-than, ipad-landscape) {
      margin-left: 300px;
      width: $ipad-landscape - 300;
    }

    @include apply-to(more-than, desktop) {
      margin-left: 350px;
      width: $desktop - 350;
    }

    h2 {
      font: 34px gotham_medium;
      color: $red;
      margin: 0;
    }

    h3 {
      color: #8F8F99;
      font: 26px gotham_thin;
      margin: 8px 0 24px;
      text-transform: initial;
    }

    p {
      font: 17px gotham_light;
      line-height: 1.7em;
      margin: 1em 0 0 0;

      strong {
        font-family: gotham_medium;
        color: $black;
      }
    }

    .coming-soon {
      font: 14px gotham_light;
      font-style: italic;
      text-transform: uppercase;
      color: #BEA3A1;
    }
  }


  &#productivity .container > div {
    @include screenie;
    background: transparent image-url('home/screens/productivity.png') no-repeat -238px 76px;
    background-size: 75%;

    @include apply-to(more-than, desktop) {
      background-position: -80px center;
      background-size: 43%;
    }

    > div {
      background: transparent image-url('home/screens/shadow-y.png') no-repeat 0 center;
      background-size: 14px;
      padding: 110px 0 110px 350px;
      width: 330px;

      @include apply-to(more-than, desktop) {
        width: 500px;
        background-size: 10px;
        padding-top: 100px;
      }
    }
  }

  &#baked .container > div {
    @include screenie;
    background: transparent image-url('home/screens/bower.png') no-repeat -300px 76px;
    background-size: 83%;

    @include apply-to(more-than, desktop) {
      background-position: -385px 76px;
      background-size: 80%;
    }

    > div {
      background: transparent image-url('home/screens/shadow-y.png') no-repeat 0 center;
      background-size: 12px;
      padding-bottom: 85px;

      @include apply-to(more-than, desktop) {
        background: transparent image-url('home/screens/screen-shadows.png') no-repeat 0 bottom;
        background-size: 49%;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 20px 0 0;

        @include apply-to(more-than, desktop) {
          margin-top: 30px;
        }

        li {
          display: inline-block;
          margin-right: 15px
        }
      }
    }
  }

  &#compiled .container > div {
    @include screenie;
    background: transparent image-url('home/screens/compiled.png') no-repeat -150px 100px;
    background-size: initial;

    @include apply-to(more-than, desktop) {
      background-position: -126px 76px;
    }

    > div {
      background: transparent image-url('home/screens/shadow-y.png') no-repeat 0 center;
      background-size: 10px;
      padding: 90px 0 80px 350px;
      width: 330px;

      @include apply-to(more-than, desktop) {
        background: transparent image-url('home/screens/screen-shadows.png') no-repeat 0 bottom;
        background-size: 38%;
        padding-left: 350px;
        width: 500px;
      }
    }
  }

  &#deployment {
    background: transparent image-url("home/screens/deploy.png") no-repeat 866px center;
    background-size: 30%;

    .container > div {
      @include screenie;

      div {
        background: none;
        padding: 100px 0;
        width: 460px;
      }
    }
  }

  &#sourcecontrol {
    background: transparent image-url("home/branching-illustration.png") no-repeat 866px center;
    background-size: 30%;

    .container > div {
      @include screenie;

      div {
        background: none;
        padding: 100px 0;
        width: 460px;

        img {
          position: relative;
          top: -3px;
        }
      }
    }
  }

  &#realtime {
    background: transparent image-url("home/collab.gif") no-repeat 813px center;
    background-size: 30%;

    @include apply-to(more-than, desktop) {
      background-position: 866px center;
    }

    .container > div {
      @include screenie;

      div {
        background: none;
        padding: 100px 0;
        width: 390px;

        @include apply-to(more-than, desktop) {
          width: 460px;
        }

        img {
          position: relative;
          top: -3px;
        }
      }
    }
  }

  &#annotations, &#embed {
    .container > div {
      padding: 80px 0;
    }
  }

  &#speed {
    .container > div {
      @include clearfix;
      padding: 100px 0;
      background: transparent image-url('home/fast.png') no-repeat bottom;

      h2 {
        color: #333;
        font: 28px gotham_light;
      }

      p {
        font-size: 18px;
      }

      div {
        float: left;
        width: 330px;

        @include apply-to(more-than, desktop) {
          width: 340px;
        }

        &:first-child {
          margin-right: 20px;

          @include apply-to(more-than, desktop) {
            margin-right: 160px;
          }
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  &#opensource {
    .container > div {
      @include clearfix;
      padding: 100px 0;

      h2 {
        color: #333;
        font: 28px gotham_light;
      }

      p {
        font-size: 18px;
      }

      div {
        float: left;
        width: 225px;

        @include apply-to(more-than, desktop) {
          width: 335px;
        }

        &:first-child {
          @include apply-to(more-than, desktop) {
            margin-right: 10px;
          }
        }

        &:nth-child(2) {
          width: 180px;
          text-align: center;
          margin-top: 30px;

          @include apply-to(more-than, desktop) {
            margin-top: 0;
          }
        }

        &:last-child {
          text-align: right;

          @include apply-to(more-than, desktop) {
            width: 320px;
          }
        }
      }
    }
  }
}