#testimonials {
  .container {
    div {
      margin: 0 0 0 300px;
      padding: 0;

      @include apply-to(more-than, desktop) {
        margin: 0 0 0 350px;
      }

      blockquote {
        font: 22px 'Indie Flower';
        text-align: center;
        margin: 0 40px 10px;
        padding: 80px 0 4px;
      }

      span {
        margin: 0 auto;
        text-align: center;
        display: block;
        padding-bottom: 80px;

        a {
          color: #4091D5;
          font: 14px gotham_bold;
          border-top: 1px solid #eee;
          padding-top: 15px;
          min-width: 500px;
          display: inline-block;

          img {
            border-radius: 50%;
            box-shadow: 0 1px 6px #000;
          }
        }
      }
    }
  }
}