#testimonials {
  padding: 70px 0;
  background-color: #fff;
  
  .container {
    div {
      @include clearfix;
      padding: 0;

      span {
        float: left;
        margin: 0;
        display: block;
        width: 290px;
        padding-left: 90px;

        @include apply-to(more-than, desktop) {
          width: 384px;
          padding-left: 90px;
        }

        a {
          color: #4091D5;
          font: 14px gotham_bold;
          border-left: 1px solid #eee;
          padding: 15px 0 15px 70px;
          display: inline-block;

          img {
            border-radius: 50%;
            box-shadow: 0 1px 6px #000;
          }
        }
      }

      blockquote {
        float: left;
        font: 22px 'Indie Flower';
        text-align: right;
        width: 600px;
        margin: 0;
        padding: 0;

        @include apply-to(more-than, desktop) {
          width: 650px;
          padding: 0 0 0 100px;
        }

      }
    }
  }

  &.adjustme blockquote {
    padding-top: 20px !important;
  }
}