body.blog #content {

    .title {
        padding: em(10) em(40) 0;

        h1 {
            font-weight: 300;
            margin-top: em(10);
            line-height: 1.1em;
        }

        @include span-columns(4);

        @include media($large-screen-up) {
            @include span-columns(20);

            h1 {
                @include span-columns(14);
            }
        }
    }

    aside {
        @include media($large-screen-up) {
            @include span-columns(6);
        }

        h2 {
            margin-bottom: em(20);
        }

        ol {
            margin-bottom: em(20);

            li {
                margin: em(10) 0;

                a {
                    color: $base-font-color;

                    @include transition(color .1s linear);

                    &::before {
                        content: '\203A';
                        font-size: 1.5em;
                        padding-right: .5em;
                    }

                    &:hover {
                        text-decoration: none;
                        color: $base-accent-color;
                    }

                }
            }
        }
    }

    article {
        @include outer-container;

        @include media($large-screen-up) {
            @include span-columns(14);
        }

        header {
            img {
                margin: 0 0 em(30) 0;
            }

        }
        .post {
            @include span-columns(4 of 4);

            @include media($large-screen-up) {
                @include shift(1 of 6);
                @include span-columns(5 of 6);
            }
            .date {
                font-size: .9em;
            }

            #disqus_thread {
                width: 100%;
                margin-top: em(50);

                iframe {
                    position: relative;
                }
            }

        }
    }

    .overview {
        h2 {
            font-family: $sans-serif;
            margin: em(20) 0 em(10);

            a {
                color: $base-font-color;
            }

            span {
                font-size: .8em;
                font-style: italic;
                font-weight: 400;
            }
        }

        p, a {
            margin-bottom: 0;
        }
    }
}