.docs-side-navigation {
  @include container;
  margin: 0 gutter() 2rem gutter();
  font-family: $heading-font-family;

  &.affix {
    position: inherit;
  }

  @include breakpoint($break-tablet) {
    display: block;
    position: absolute;
    @include span(4 of 16);
    max-width: 300px;

    &.affix-top {
      padding-top: 1rem;
      position: absolute;
    }

    &.affix {
      top: 65px;
      position: fixed;
    }
  }

  @include breakpoint($max-width) {
    margin-left: 0;
  }

  .button-index-doc {
    display: block;
    text-align: center;
    margin: 15px 0;

    .button-rounded-border {
      color: $orange;
      font-size: 12px;

      @include breakpoint($break-tablet) {
        font-size: 11px;
      }

      @include breakpoint($max-width) {
        font-size: 14px;
      }
    }
  }

  ul {
    background-color: $side-background-gray;
    padding-left: 0.3rem;

    li {
      line-height: 25px;
    }
  }

  .item {
    margin-left: - $base-line-height / 3;
    padding: .0rem $base-line-height / 2;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .item.active {
    border-radius: 2px;

    .item-description {
      font-size: 18px;
      font-weight: 400;
      padding-left: 23px;
    }
  }

  .item-header,
  .item-header {
    font-size: 1.0rem;
    font-weight: 300;
    color: $base-font-color;
    &:hover {
      font-weight: 400;
      color: $light-blue;
    }
  }

  .item-selected {
    background-color: $light-blue;
  }

  .item-selected.item-header:hover {
    color: $base-font-color;
    font-weight: 400;
  }

  .item-description {
    color: $base-font-color;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 0;
    padding-left: 23px;
    padding: .3rem 0;
  }

  a {
    font-family: $heading-font-family;
    transition: all .2s ease-in-out;
    color: $base-font-color;

    &:hover {
      font-weight: 400;
    }
  }

  .level-1-list, .level-2-list {
    background-color: $side-background-gray;
    padding-left: 1.5rem;
  }

  .level-2-list {
    margin-top: 10px;
  }

  .link-collapse {
    font-size: 1.25rem;
  }

  .link-collapse.collapsed:before {
    content: "\25B8";
  }

  .link-collapse:before {
    content: "\25BE";
  }

  .level-1-item {
    font-size: .95rem;
    line-height: 18px;
    margin-bottom: 10px;

    a {
      display: inline;
   }

    &.active > a {
      font-weight: 400;
    }

    .link-collapse {
      margin-right: 4px;
    }
  }

  .video-item {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-top: -3px;
    background: url('/img/docs/video-icon-16x16.png') no-repeat left center;
    vertical-align: middle;
  }

  .level-2-item {
    line-height: 18px;
    margin-bottom: 10px;
    &.active > a {
      font-weight: 300;
    }
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
  }

  .bullet-collapse {
    li.item-collapse {
      list-style: none;
      margin-left: 0;
      margin-right: 1.75rem;
    }
  }
}
