body.docs #content {

    $border-color: #C3C4C8;

    aside {
        nav {

            a {
                color: $base-font-color;

                &:hover {
                    text-decoration: none;
                }
            }

            h5 {
                font-size: 1em;
                font-weight: 600;
                font-family: $sans-serif;
            }

            h4 {
                margin-top: 20px;
                margin-bottom: 30px;
                font-weight: normal;
            }
            & > ul {
                & > li {
                    & > ul {
                        & > li {
                            margin: em(10) 0;
                            & > ul {
                                display: none;
                                margin: em(5) 0;
                                a {
                                    color: #8C9194;
                                }

                                &.active {
                                    display: inherit;
                                }


                                li {
                                    padding-left: em(15);
                                    padding-top: em(10);
                                    font-size: .9em;

                                    &.active > a {
                                        color: $base-accent-color;
                                    }

                                    ul {
                                        border-left: 1px solid $border-color;
                                        margin: em(10) 0;

                                        li {
                                            padding-top: 0;
                                        }

                                        a {
                                            font-weight: 300;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    article {

        h1 {
            font-size: 2em;
            font-weight: 300;
            margin-bottom: em(15);
        }

        h2 {
            font-size: 1.1em;
            font-weight: 600;
            margin: em(30) 0;
            font-family: $sans-serif;
        }

        p {
            margin-bottom: em(30);
            font-size: .9em;

            quote {
                display: block;
                border-left: 2px solid $border-color;
                padding-left: em(20);
                font-weight: normal;
                font-size: .9em;
            }

            img {
                padding: em(20);
            }
        }
    }

    .docs-landing {
        padding: 0;

        @include outer-container;
        @include span-columns(4 of 4);

        @include media($large-screen-up) {
            @include span-columns(8 of 8);
        }

        .header {
            @include outer-container;
            padding-bottom: 0;
        }

        h1 {
            text-align: center;

            @include span-columns(4 of 4);

            @include media($large-screen-up) {
                @include span-columns(6 of 8);
            }
        }

        form#search-input {

            @include span-columns(4 of 4);

            @include media($large-screen-up) {
                @include span-columns(2 of 8);
            }
        }

        section {
            @include span-columns(4);
            @include omega(4n);

            padding: em(40);

            @include media($large-screen-up) {
                @include span-columns(8 of 8);
                @include omega(8n);
            }

        }
    }

    .search-results {
        @include media($large-screen-up) {
            @include span-columns(8 of 8);
        }

        #st-results-container {
            em {
                font-style: normal;
                font-weight: 500;
                padding: 0;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                margin: 0;
                background-color: #D9D9D9;
                border-radius: 3px;

                &::before,
                &::after {
                    letter-spacing: -0.2em;
                    content: "\00a0"
                }
            }
        }
    }

    form input#st-search-input {
        font-size: 1em;
        padding: em(5);
        margin: 0;
        border-radius: $base-border-radius;
        box-shadow: none;
        background: white;
        height: 25px;
        width: 200px;
        border: 1px solid $base-font-color;
    }
}