.docs-side-navigation {
  @include container;
  background-color: $side-background-gray;
  margin: 0 gutter() 2rem gutter();
  min-height: 100%;

  font-family: $heading-font-family;

  @include breakpoint($break-tablet) {
    display: block;
    position: absolute;
    @include span(3 of 16);
    max-width: 250px;

    &.affix-top {
      margin-top: 0;
      position: absolute;
    }

    &.affix {
      top: 3 * $base-line-height;
      position: fixed;
    }
  }

  @include breakpoint($max-width) {
    margin-left: 0;
  }

  .item {
    margin-left: - $base-line-height / 3;
    padding: .2rem $base-line-height / 2;
    margin-top: $base-line-height / 2;
  }

  .item.active {
    border-radius: 2px;

    .item-description {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .item-header,
  .item-header > a {
    line-height: 19px;
    font-size: 1.2rem;
    font-weight: 700;
    color: $base-font-color;

    &:hover {
      font-weight: 700;
      color: $light-blue;
    }
  }

  .item-description {
    color: $base-font-color;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.1rem;
    text-transform: none;
    margin-bottom: 0;
    padding: .3rem 0;

    border-bottom: 1px solid $dark-gray;
  }

  a {
    font-family: $heading-font-family;
    transition: all .2s ease-in-out;
    color: $base-font-color;

    &:hover {
      font-weight: 400;
    }
  }

  .level-1-list {

  }

  .level-1-item {
    font-size: .95rem;
    padding-top: .1rem;

    a {
      display: inline-block;
      line-height: 1rem;
      padding-left: 10px;
    }

    &.active > a {
      border-left: 2px solid $dark-gray;
      font-weight: 400;
    }
  }

  .level-2-item {
    line-height: 1.333rem;

    a {
      padding-left: 20px;
    }

    &.active > a {
      font-weight: 400;
    }
  }
}
