footer {
  padding: 3 * $base-line-height 0 0 0;
  border-top: 1px solid $lighter-gray;

  .container {
    @include container;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      margin: 0 span(1.5 of 16);
      max-width: $max-width;
    }

    @include breakpoint($max-width) {
      margin: 0 auto;
    }
  }

  @include breakpoint($break-tablet) {
    padding: 3 * $base-line-height 0;
  }

  .footer-copyright {
    @include span(4);
    text-align: center;
    font-size: 12px;
    margin-bottom: 2 * $base-line-height;

    p {
      margin-bottom: 0;
    }

    @include breakpoint($break-tablet) {
      @include span(1 of 5);
      text-align: left;
      padding-left: 6%;
      margin-bottom: 0;
    }
  }

  .footer-logo {
    width: 120px;
  }

  .footer-list {
    @include span(2);
    padding: 0 4*gutter();
    margin-bottom: 2 * $base-line-height;

    @include breakpoint($break-tablet) {
      @include span(1 of 5);
      padding: 0 gutter() 0 6%;
      margin-bottom: 0;
    }

    @include breakpoint($max-width) {
      padding: 0 gutter() 0 9%;
    }
  }

  .footer-list h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;

    @include breakpoint($break-tablet) {
      font-size: 12px;
    }
  }

  a {
    color: $light-gray;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.3s ease-in-out;

    @include breakpoint($break-tablet) {
      font-size: 14px;
    }
  }

  a:hover {
    color: $dark-gray;
  }
}