.footer {
    @include outer-container;

    $footer-background: $base-font-color;
    $footer-color: white;
    $footer-link-color: transparentize($footer-color, .2);
    $footer-disclaimer-color: transparentize($footer-color, .2);

    max-width: none;
    padding-top: $base-spacing*2;
    background: $footer-background;
    font-size: .9em;

    @include media($large-screen) {
        margin-left: $header-width;
    }

    .footer-links,
    .social-links,
    .copy {
        @include clearfix;
        @include span-columns(4 of 4);
        @include omega(4n);
        color: $footer-color;

        @include media($large-screen-up) {
            @include span-columns(8 of 8);
            @include omega(8n);
        }
    }

    .social-links > ul {

        @include media($large-screen-up) {
            @include shift(3 of 8);
            @include span-columns(2 of 8);
        }

    }
    .copy {
        text-align: center;
    }

    .footer-links {
        ul {
            &:first-child {
                @include media($large-screen-up) {
                    @include shift(1 of 8);
                }
            }

            &:last-child li {
                font-weight: 300;
            }
        }
    }

    .social-links {

    }

    ul {
        margin-bottom: $base-spacing*2;
        padding: 0 em(40);
        @include span-columns(4);
        @include clearfix;

        @include media($large-screen-up) {
            @include span-columns(2);
        }

    }

    li {
        text-align: center;

        @include media($large-screen-up) {
            text-align: left;
        }
    }

    li a {
        color: $footer-link-color;
        font-weight: 400;

        &:hover {
            color: transparentize($footer-color, 0);
        }
    }


    p {
        color: $footer-color;
        font-size: .9em;
        line-height: 1.5em;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }

    .artwork {
        margin-top: em(10);
        height: 50px;
    }
}
