footer {
  padding: 1rem 0 0 0;
  background-color: #3F484D;

  @include breakpoint($break-tablet) {
    padding: 2rem 0;
  }

  .container, .container-logo {
    @include container;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      margin: 0 span(1.5 of 16);
      max-width: $max-width;
    }

    @include breakpoint($max-width) {
      margin: 0 auto;
    }
  }

  .container-logo {
    padding: 1rem;
    
    @include breakpoint($break-tablet) {
      padding: 1rem 2rem;
    }

    @include breakpoint($max-width) {
      padding: 1rem 4rem;
    }

    .footer-logo {
      width: 100px;
      float: left;

      @include breakpoint($break-tablet) {
        @include span(2 of 16);
      }

      img {
        width: 100%;
      }
    }

    .line {
      display: none;
      border-top: 1px solid $lighter-gray;

      @include breakpoint($break-tablet) {
        @include span(12 of 16);
        margin-top: 16px;
        display: inline-block;
      }

      @include breakpoint($max-width) {
        margin-top: 20px;
      }
    }

    .social {
      @include span(5 of 16);
      float: right;

      @include breakpoint($break-tablet) {
        @include span(2 of 16);
      }
    }
  }

  .footer-copyright {
    @include span(4);
    text-align: center;
    font-size: 12px;
    margin-bottom: 2 * $base-line-height;

    p {
      margin-bottom: 0;
    }

    @include breakpoint($break-tablet) {
      @include span(1 of 5);
      text-align: left;
      padding-left: 6%;
      margin-bottom: 0;
    }
  }

  .footer-list {
    @include span(2);
    padding: 0 4*gutter();
    margin-bottom: 2 * $base-line-height;
    min-height: 195px;

    @include breakpoint($break-tablet) {
      @include span(1 of 4);
      padding: 0 gutter() 0 3%;
      margin-bottom: 0;
    }

    @include breakpoint($max-width) {
      padding: 0 gutter() 0 5%;
    }
  }

  .footer-list h4 {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;

    @include breakpoint($break-tablet) {
      font-size: 16px;
    }
  }

  a {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    @include breakpoint($break-tablet) {
      font-size: 14px;
    }
  }

  a:hover {
    color: $light-gray;
  }
}