.footer {
    @include outer-container;

    $footer-background: $darker-gray;
    $footer-color: white;
    $footer-disclaimer-color: transparentize($footer-color, .2);

    max-width: none;
    padding-top: em(20);
    background: $footer-background;


    @include media($large-screen) {
        margin-left: $header-width;
    }

    .footer-links,
    .share-links,
    .copy {
        @include outer-container;
        @include clearfix;
        @include span-columns(4 of 4);
        @include omega(4n);
        color: $footer-color;

        @include media($large-screen-up) {
            @include span-columns(20);
            @include omega(20n);
        }
    }

    .share-links > ul {
        text-align: center;
        margin-bottom: em(20);

        li {
            display: inline;
        }

        @include media($large-screen-up) {
            @include span-columns(20);
        }
    }
    .copy {
        text-align: center;
    }

    .footer-links {
        ul {
            &:first-child {
                @include media($large-screen-up) {
                    @include shift(2);
                }
            }
        }
    }

    ul {
        margin-bottom: em(20);
        padding: 0 em(40);
        @include span-columns(4);
        @include clearfix;

        @include media($large-screen-up) {
            @include span-columns(5);
        }

    }

    li {
        text-align: center;
        font-weight: 400;

        @include media($large-screen-up) {
            text-align: left;
        }
        a {
            color: $footer-color;



            &:hover {
                color: transparentize($footer-color, 0);
            }
        }
    }


    p {
        color: $footer-color;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }

    .artwork {
        margin-top: em(10);
        height: em(40);
    }
}
