.footer {
    @include outer-container;

    $footer-background: desaturate(darken($base-accent-color, 20), 30);
    $footer-color: white;
    $footer-link-color: transparentize($footer-color, .6);
    $footer-disclaimer-color: transparentize($footer-color, .6);

    background: $footer-background;
    padding: $base-spacing*2 $gutter $base-spacing/2;

    @include media($large-screen) {
        margin-left: $header-width;
    }

    .footer-links {
        @include clearfix;
        @include span-columns(4 of 4);

        @include media($large-screen-up) {
            @include shift(1);
            @include span-columns(6 of 8);
        }
    }

    ul {
        margin-bottom: $base-spacing*2;
        @include span-columns(4);
        @include omega(4n);
        @include clearfix;

        @include media($large-screen-up) {
            @include span-columns(2);
        }
    }

    li {
        text-align: center;

        @include media($large-screen-up) {
            text-align: left;
        }
    }

    li a {
        color: $footer-link-color;

        &:hover {
            color: transparentize($footer-color, 0);
        }
    }

    li h3 {
        color: $footer-color;
        font-size: 1em;
        font-weight: 800;
        margin-bottom: .4em;
    }

    hr {
        border: 1px solid transparentize($footer-disclaimer-color, .3);
        margin: 0 auto $base-spacing;
        width: 12em;
    }

    p {
        color: $footer-disclaimer-color;
        font-size: .9em;
        line-height: 1.5em;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }
}
