header {

    nav {
        @include outer-container;

        $header-background: #FFFFFF;

        padding: 1em;
        background: $header-background;
        @include clearfix;

        &.top {
            @include media($large-screen) {
                display: none;
            }
        }

        &.left {
            display:  none;

            @include media($large-screen) {
                position: fixed;
                height: 100%;
                width: $header-width;
                display: inherit;
            }

        }

        ul {
            li {
                float: left;
                padding: 15px;
            }
        }
    }
}