header {
  @include fill-parent();
  @include outer-container(100%);
  background: $dark-gray;
  height: 65px;
  margin: 0;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .outer-container {
    @include outer-container;
    height: 65px;
  }

  .inner-container {
    @include shift;
    @include span-columns(13);
    animation-delay: .8s;
    animation-duration: .5s;
  }

  .logo-link {
    margin-top: 14px;
    float: left;
  }

  .logo {
    width: 100px;
  }

  nav {
    margin-top: 20px;
    float: right;
  }

  nav a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  nav ul {
    list-style: none;
  }

  nav li {
    float: left;
    margin-right: 30px;
  }

  nav li a {
    opacity: .7;
    transition: opacity .2s ease-in-out;
  }

  nav li a:hover {
    color: white;
    opacity: 1;
  }

  nav li.active a {
    opacity: 1;
  }
}