header {

    nav {
        font-size: 1.2em;
        @include outer-container;

        $header-background: #FFFFFF;

        background: $header-background;
        @include clearfix;


        a.logo {
            padding: 8px 0 8px 15px;
            width: 110px;
            margin: $base-line-height/2 $base-line-height;
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
        }

        &.left {

            @include media($large-screen-up) {
                a.signed-in {
                    padding: 12px 10px;
                    font-size: $base-font-size;
                }
            }

            a.logo {
                background-image: image_url('logo-light.svg');

                @include media($large-screen-up) {
                    background-image: image_url('logo-dark.svg');
                    margin-right: 0;
                }
            }
        }

        &.top {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            height: 60px;
            z-index: 1000;

            a {
                display: inline-block;
                padding: 1em;
                float: left;

                &.logo {
                    margin-left: 0;
                    background-image: image_url('logo-dark.svg');
                }

                &:last-child {
                    float: right;
                }
            }
            #menu-toggle {
                color: $darker-gray;
            }

            .outline-button {
                @include action-button;
                font-size: $base-font-size;
                font-weight: 600;
                @include size(70px 25px);
                line-height: 15px;
                padding: 5px 10px;
                margin: 19px;

                &.signed-out {
                    float: right;
                }
            }

            @include media($large-screen) {
                display: none;
            }
        }

        ul {
            li {
                float: left;
                padding: 15px;
            }
        }
    }


    @include media(max-width $large-screen) {
        a.actions.userlink.signed-out {
            margin-top: $base-line-height;

            &.outline-button {
                margin-top: 0;
            }
        }
        a.actions.userlink.signed-in {
            margin-top: 19px;
        }
    }

    a.actions.signed-in {
        display: none;
        padding: 0 10px;

        &.userlink {
            max-width: 155px;

            .gravatar {
                border-radius: 50%;
                width: 30px;
                vertical-align: middle;
                padding-right: 3px;
            }

            @include media($large-screen-up) {
                span {
                    display: none;
                }
            }
        }
    }

}