header {
  height: 65px;
  margin: 0;
  position: relative;
  z-index: 1;
  background: rgba(10, 106, 225, 0.7);

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
    background: rgba(10, 106, 225, 0.7);

    .container {
      animation-delay: 0s;
      animation-duration: 0s;
    }
  }

  .container {
    height: 65px;
    width: 100%;
    animation-delay: .8s;
    animation-duration: .5s;
    padding: 0 gutter();
    text-shadow: rgba(0,0,0,1) 0 0 4px;

    @include breakpoint($break-tablet) {
      padding: 0;
      margin: 0;
    }
  }

  .logo-link {
    position: fixed;
    left: 4rem;
  }

  .img-logo {
    width: 100px;
  }

  .logo {
    margin-top: 14px;
    margin-left: 2rem;
    float: left;
    z-index: 997;
    position: absolute;
  }

  .button {
    text-shadow: none;
  }

  nav {
    margin-top: 20px;
    float: right;
    display: none;

    @include breakpoint($break-tablet) {
      display: block;
    }
  }

  nav a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  nav ul {
    list-style: none;
  }

  nav li {
    float: left;
    margin-right: 30px;
  }

  nav li a {
    opacity: 1;
  }

  nav li a:hover {
    color: white;
    opacity: .6;
  }

  nav li.active a {
    opacity: .6;
  }

  .dropdown-menu {
    z-index: 0;
  }

  .header-dropdown-menu {
    text-shadow: none;
    background: rgba(10, 106, 225, 0.7);
    border: none;
    border-radius: 0;
    min-width: 380px;
    left: -65px;
    top: 49px;
    padding-left: 105px;
    height: 110vh;

    .dropdown-item {
      display: block;
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 48px;
      opacity: 1;

      &:hover {
        opacity: .6;
      }
    }
  }
}

.mobile-nav {
  display: none;
  font-size: 24px;
  line-height: 60px;
  z-index: 998;
  background: rgba(0, 0, 0, .9);
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  ul {
    margin-top: 30%;
  }

  a {
    color: white;

    &:hover {
      color: $light-blue;
    }

    &.button {
      font-size: 20px;
    }
  }

  &.visible {
    display: block;
  }
}

.menu-toggle, .menu-right-toggle {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  height: 35px;

  &.fixed {
    position: fixed;
  }

  .menubars {
    width: 25px;
    height: 30px;
    position: relative;
    transition: top 0.3s ease-in-out;
    background: white;

    &:before,
    &:after {
      background: white;
      content: '';
      display: block;
      width: 25px;
      height: 1px;
      position: absolute;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      zoom: 1;
    }
  }

  &.open {
    float: right;
    color: white;

    .menubars {
      height: 1px;

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }
    @include breakpoint($break-tablet) {
      display: none;
    }
  }

  &.close {

    .menubars {
      background: transparent;
      &:before {
        transform: rotate(-45deg);
        top: 0;
      }

      &:after {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}

.menu-right-toggle {
  right: auto;

  &.open {
    float: left;

    @include breakpoint($break-tablet) {
      display: inline-block;
    }
  }
}

.header-block {
  margin-top: 0;
  padding-top: 0;
}