body.index {

    header.artwork {
        display: none;
    }

    $hero-background-top: darken($base-accent-color, 25);
    $hero-background-bottom: adjust-hue($hero-background-top, -70);
    $hero-color: $base-font-color;

    .hero-image {
        background-image: url($hero-image-small);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

        height: 100vh;
        padding-top: 20vh;
        max-width: none;

        @include media($medium-screen-up) {
            background-image: url($hero-image-medium);
        }
        @include media($large-screen-up) {
            background-image: url($hero-image-large);

            margin-left: $header-width;
        }
        @include media($extra-large-screen-up) {
            background-image: url($hero-image-extra-large);
        }

    }

    .hero {
        background: transparent;
        padding-bottom: 20vh;

        .hero-inner {
            $start-color: rgba(255, 255, 255, 0.95);
            $end-color: rgba(255, 255, 255, 0.1);

            @include outer-container;

            margin: 0 auto;
            text-align: center;
            color: $hero-color;
            padding: 40px;

            background-color: $start-color;
            @include size(100% 90%);


            @include media(min-width $medium-screen) {
                background-color: transparent;
                @include radial-gradient(circle at 50% 50%, $start-color 0%, $start-color 50%, $end-color 90%);
                padding: $base-line-height;
                @include size(450px 350px);
            }

            @include media(min-height $large-screen-height min-width $large-screen) {
                padding: 2*$base-line-height;
                @include size(630px 380px);
            }


            a {
                @include action-button;
                width: 200px;
                height: 50px;
                line-height: 36px;
            }

            .hero-copy {
                text-align: center;

                h1 {
                    margin-bottom: em(10);
                }

                p {
                    margin: auto;
                    margin-bottom: 2*$base-line-height;

                    @include media($medium-screen-height) {
                        width: 400px;
                    }

                }
            }
        }
    }

    .pillar-text {
        @include outer-container;
        @include span-columns(4 of 4);
        @include omega;

        @include media($large-screen-up) {
            @include span-columns(20 of 20);
            max-width: none;
        }

        margin-top: 0;
        margin-bottom: 0;
        padding: 5*$base-line-height 0;

        background: $light-background;

        &:nth-child(even) {
            background: $main-background;
        }

        aside {
            text-align: center;
            padding: 0 2*$base-line-height;

            img {
                display: none;

                @include media($medium-screen-up) {
                    display: initial;

                }
            }
        }

        article {
            text-align: center;

            @include media($large-screen-up) {
                text-align: left;
            }

            padding: 0 2*$base-line-height;

            p {
                margin: 0 0 2*$base-line-height;
            }
        }

        text-align: left;

        h2 {
            margin-bottom: .3em;
            color: $base-accent-color;

            @include media($large-screen) {
                margin-bottom: .8em;
            }
        }

        a {
            @include outline-button;
        }
    }
}