body {
    margin: 0;
}


#content {
    background: #F6F6F6;
    @include outer-container;
    max-width: none;


    @include media($large-screen) {
        margin-left: $header-width;
    }

    .wrapper {
        @include outer-container;
    }
}

section {
    @include outer-container;

    aside {
        @include span-columns(4);
        padding: em(20);

        @include media($large-screen-up) {
            @include span-columns(2 of 8);
            padding: em(40);
        }
    }
    article {
        @include span-columns(4);
        padding: em(20);

        @include media($large-screen-up) {
            @include span-columns(6 of 8);
            padding: em(40);
        }
    }

}

header.artwork {
    margin-bottom: em(30);
    display: none;

    @include media($large-screen-up) {
        display: block;
    }
}

.artwork {
    background: $blue;
    height: em(120);

    @include span-columns(4);

    background-image: url($hero-image-small);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @include media($medium-screen-up) {
        background-image: url($hero-image-medium);
    }
    @include media($large-screen-up) {
        background-image: url($hero-image-large);
    }
    @include media($extra-large-screen-up) {
        background-image: url($hero-image-extra-large);
    }

    @include media($large-screen-up) {
        @include span-columns(8 of 8);
        @include omega(8n);
    }
}
