body {
    margin: 0;
}


#content {
    background: $lighter-gray;
    @include outer-container;


    @include media($large-screen) {
        margin-left: $header-width;
    }
}

section {
    @include outer-container;

    aside {
        @include span-columns(4);
        padding: em(40);

        @include media($large-screen-up) {
            @include span-columns(2 of 8);
        }
    }
    article {
        @include span-columns(4);
        padding: em(40);

        @include media($large-screen-up) {
            @include span-columns(6 of 8);
        }
    }

}


.artwork {
    background: $blue;
    height: 120px;

    @include span-columns(4);


    background-image: url($hero-image-small);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @include media($medium-screen-up) {
        background-image: url($hero-image-medium);
    }
    @include media($large-screen-up) {
        background-image: url($hero-image-large);
    }
    @include media($extra-large-screen-up) {
        background-image: url($hero-image-extra-large);
    }

    @include media($large-screen-up) {
        @include span-columns(8 of 8);
    }
}
