body.legal #content {

    margin-top: $base-line-height;

    @include media($large-screen-up) {
        margin-top: 0;
    }


    aside {
        @include media($large-screen-up) {
            @include span-columns(5);
        }


        nav ul {
            background: $darker-gray;
            border-radius: $base-border-radius;
            margin-top: $base-line-height;

            padding: em(10);


            @include media($large-screen-up) {
                background: initial;
                padding: 0;
                .fa {
                    display: none;
                }

            }

            .fa.open {
                display: none;
            }

            .fa.open,
            .fa.closed {
                float: right;
                color: white;
                font-size: $large-font-size;
                line-height: 30px;
            }


            &.open {
                .fa.closed {
                    display: none;
                }

                .fa.open, & > li {
                    display: initial;
                    height: initial;
                }
            }

            li {
                display: none;
                height: 0;
                @include transition(all .3s linear);

                @include media($large-screen-up) {
                    display: initial;
                }


                a {
                    display: block;
                    font-size: $base-font-size;
                    font-weight: 600;
                    font-family: $sans-serif;

                    color: white;

                    @include media($large-screen-up) {
                        color: $base-font-color;
                    }

                    @include transition(color .1s linear);

                    &:hover {
                        text-decoration: none;
                        color: $base-accent-color;
                    }

                    &::before {
                        @include fa-icon;
                        content: $fa-var-angle-right;
                        padding-right: .8em;
                        color: white;

                        @include media($large-screen-up) {
                            color: $base-font-color;
                        }
                    }

                    &.active::before {
                        content: $fa-var-angle-down;
                        padding-right: .5em;
                    }
                }
                &.heading {
                    display: inline-block;
                    height: 22px;
                    font-size: $base-font-size;
                    font-weight: 600;
                    font-family: $sans-serif;

                    color: white;

                    @include media($large-screen-up) {
                        display: none;
                    }

                }
            }
        }
    }

    article {
        @include media($large-screen-up) {
            @include shift(1);
            @include span-columns(14);
        }
    }
}