.legal-side-navigation {
  @include container;

  margin: 0 gutter() 2rem gutter();

  font-family: $heading-font-family;

  @include breakpoint($break-tablet) {
    display: block;
    position: absolute;
    @include span(8 of 32);
    max-width: 320px;

    &.affix-top {
      margin-top: 0;
      position: absolute;
    }

    &.affix {
      top: 1 * $base-line-height;
      position: fixed;
    }
  }

  @include breakpoint($max-width) {
    padding-left: 0;
    margin-left: 0;
  }

  .item {
    margin-left: - $base-line-height / 2;
    padding: .2rem $base-line-height / 2;
    margin-top: $base-line-height / 2;
  }

  .item.active {
    background: $light-blue;
    border-radius: 2px;

    &:after {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid red;
      border-bottom: 50px solid transparent;
    }

    .item-header,
    .item-header a,
    .item-description {
      color: white;
    }

    .item-description {
      font-weight: 400;
    }
  }

  .item-header,
  .item-header > a {
    line-height: 19px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $base-font-color;

    &:hover {
      font-weight: 700;
      color: $light-blue;
    }
  }
}
