body.legal #content {

    margin-top: $base-line-height;

    @include media($large-screen-up) {
        margin-top: 0;
    }


    section {
        @include span-columns(4);
        @include omega;

        margin-bottom: 2*$base-line-height;
        padding: 0 $base-line-height;

        @include media($large-screen-up) {
            @include shift(2 of 20);
            @include span-columns(16 of 20);
        }

        h2 {
            text-align: center;
            margin-bottom: $base-line-height;
            @include omega;
        }

    }
}