body.pricing {

    #content {
        background: #F6F6F6;
    }

    h1 {
        text-align: center;
    }

    h2 {
        float: left;
        text-align: center;
        width: 100%;
        padding: 2*$base-line-height 0;
    }

    .intro {
        @include span-columns(4);
        @include omega;

        padding: $base-line-height;

        @include media($large-screen-up) {
            @include shift(4 of 20);
            @include span-columns(12 of 20);
        }

        p {
            text-align: center;
            padding: $base-line-height 0;
        }
    }

    .content-1 {
        .card {
            @include media($large-screen-up) {
                width: 33.33333333%;
            }
        }
    }

    .cards {
        @include clearfix;
    }

    .card {
        $card-background: #ECECEC;
        $card-header-background: #E0E0E0;
        $card-hover-background: lighten($card-background, 5);
        $card-stats-color: lighten($base-accent-color, 10);

        @include transition (all 0.2s ease-in-out);
        background-color: $card-background;
        cursor: pointer;
        position: relative;
        text-align: center;

        @include span-columns(4 of 4);
        display: block;
        float: left;

        @include media($large-screen-up) {
            @include span-columns(4);
            width: 25%;
            margin-right: 0;
        }

        &.light-highlight,
        &.lighter-highlight,
        &.highlight {
            a {
                color: $base-accent-color;
            }
        }

        &.light-highlight {
            background: $mid-accent-color;

            .card-header {
                background: $dark-accent-color;
            }
        }

        &.lighter-highlight {
            background: $light-accent-color;

            .card-header {
                background: $mid-accent-color;
            }
        }

        &.highlight {
            background: $lighter-accent-color;
            margin-top: 27px;

            @include media($large-screen-up) {
                margin-top: 0;
            }

            .card-header {
                background: $light-accent-color;
            }


            &::before {
                content: 'Recommended';
                margin-top: -27px;
                background: $base-accent-color;
            }

            &::after {
                content: '';
                bottom: 0;
                margin-bottom: -27px;
                background: $lighter-accent-color;
            }

            &::before,
            &::after {
                position: absolute;
                height: 27px;
                width: 100%;
                left: 0;
                color: white;
                font-weight: 500;
                font-size: 1.1em;
            }

        }

        .card-header {
            @include clearfix;
            h2 {
                font-size: 1.2em;
                font-weight: bold;
                padding: 0;
            }

            @include transition (all 0.2s ease-in-out);
            background-color: $card-header-background;

            font-weight: normal;
            padding: em(20) 0;
        }

        .card-copy {

            padding: em(40) em(10);

            font-size: .9em;
            line-height: 1.5em;

            ul {
                @include outer-container;

                li {
                    @include span-columns(4);
                    @include omega;

                    height: 40px;
                    font-size: 1.2em;

                    &.empty {
                        height: 0px;

                        @include media($large-screen-up) {
                            height: 40px;
                        }
                    }
                }
            }
        }

        .card-price {
            font-size: 1.8em;
            font-weight: bold;
            margin: em(20) 0;

            em {
                font-style: normal;
                font-size: 1.2em,
            }
            span {
                font-size: .4em;
                font-weight: normal;
            }
        }

        a {
            @include outline-button;
            margin-bottom: 40px;
            background: white;
            color: $base-font-color;
        }

        .card-stats {
            padding: $base-spacing/2 $gutter/2;
            overflow: auto;

            ul li {
                display: inline;
                color: $card-stats-color;
                font-weight: 800;
                font-size: 1.2em;
                float: left;
                line-height: 1.1em;
                padding: 0 .7em 0 .7em;

                &:first-child {
                    padding-left: 0;
                }


                span {
                    color: $base-font-color;
                    font-size: .7em;
                    display: block;
                    font-weight: normal;
                }
            }
        }

        /* &:hover { */
        /*     background-color: $card-hover-background; */

        /*     .card-header { */
        /*         background-color: $card-hover-background; */
        /*     } */
        /* } */

        &:active {
            background-color: $card-background;

            .card-header {
                background-color: $card-background;
            }
        }
    }

    .faq {

        aside {
            font-weight: 600;
            text-align: center;

            @include media($large-screen-up) {
                @include shift(1 of 20);
                @include span-columns(4 of 20);
                text-align: left;
            }
        }

        article {
            text-align: center;

            @include media($large-screen-up) {
                @include span-columns(14 of 20);
                text-align: left;
            }
        }

        &:last-child {
            margin-bottom: $base-line-height;
        }
    }
}