body.pricing {

    #content {
        background: #F6F6F6;
    }

    h1 {
        padding: em(20) em(20) 0;
        font-size: 1.6em;
        text-align: center;
        font-weight: 300;

        @include media($large-screen-up) {
            font-size: 2em;
            margin-bottom: em(40);
        }
    }

    .intro {
        @include span-columns(4);
        @include omega(4n);

        padding: em(20);

        @include media($large-screen-up) {
            @include shift(1 of 8);
            @include span-columns(6 of 8);
            @include omega(4n);
            margin-bottom: em(20);
        }

        p {
            text-align: center;
        }
    }

    .content-1 {
        .card {
            @include media($large-screen-up) {
                width: 33.33333333%;
            }
        }
    }

    .cards {
        @include clearfix;
    }

    .card {
        $card-background: #ECECEC;
        $card-header-background: #E0E0E0;
        $card-hover-background: lighten($card-background, 5);
        $card-stats-color: lighten($base-accent-color, 10);

        @include transition (all 0.2s ease-in-out);
        background-color: $card-background;
        cursor: pointer;
        position: relative;
        text-align: center;

        @include span-columns(4 of 4);
        display: block;
        float: left;

        @include media($large-screen-up) {
            @include span-columns(2 of 8);
            width: 25%;
            margin-right: 0;
        }

        &.highlight {
            background: #BDE3E6;

            .card-header {
                background: #9CD5DC;
            }

            &::before {
                content: 'Recommended';
                margin-top: -27px;
                background: #45afbc;
            }

            &::after {
                content: '';
                height: 27px;
                bottom: 0;
                margin-bottom: -27px;
                background: #BDE3E6;
            }

            &::before, &::after {
                position: absolute;
                width: 100%;
                left: 0;
                color: white;
                font-weight: 500;
                font-size: 1.1em;
            }

        }

        .card-header {
            h2 {
                font-size: 1.2em;
                font-weight: bold;
            }

            @include transition (all 0.2s ease-in-out);
            background-color: $card-header-background;

            font-weight: normal;
            padding: em(35) 0;
        }

        .card-copy {

            padding: em(40) em(10);

            font-size: .9em;
            line-height: 1.5em;

            li {
                height: 40px;
                font-size: 1.2em;
            }
        }

        .card-price {
            font-size: 2em;
            font-weight: bold;
            margin: em(20) 0;

            span {
                font-size: .4em;
                font-weight: normal;
            }
        }

        a {
            @include outline-button;
            margin-bottom: 40px;
        }

        .card-stats {
            padding: $base-spacing/2 $gutter/2;
            overflow: auto;

            ul li {
                display: inline;
                color: $card-stats-color;
                font-weight: 800;
                font-size: 1.2em;
                float: left;
                line-height: 1.1em;
                padding: 0 .7em 0 .7em;

                &:first-child {
                    padding-left: 0;
                }


                span {
                    color: $base-font-color;
                    font-size: .7em;
                    display: block;
                    font-weight: normal;
                }
            }
        }

        &:hover {
            background-color: $card-hover-background;

            .card-header {
                background-color: $card-hover-background;
            }
        }

        &:active {
            background-color: $card-background;

            .card-header {
                background-color: $card-background;
            }
        }
    }

    .faq {
        aside {
            font-weight: 600;
            text-align: center;

            @include media($large-screen-up) {
                text-align: left;
            }
        }

        article {
            font-size: .9em;

            text-align: center;

            @include media($large-screen-up) {
                @include span-columns(5);
                text-align: left;
            }
        }
    }
}