.slider {
  @include container;
}

.type-selector {
  @include container;

  padding-bottom: 10rem;

  @include breakpoint($break-tablet) {
  }

  .type-list {
    @include container;
  }

  .item {
    @include container(4 of 4);
    @include break;
    border: 1px solid $dark-gray;
    padding: 2*18px+2px 2px;
    margin: gutter();
    cursor: pointer;

    &.active,
    &:hover {
      border: 3px solid $blue;
      padding: 2*18px 0;
    }

    &.active h2 {
      font-weight: 400;
    }


    img {
      height: 32px;
    }

    h2 {
      font-size: 30px;
      font-weight: 300;
    }

    li {
      font-size: 16px;
      font-weight: 300;
    }

    @include breakpoint(min-width $break-tablet) {
      @include nobreak;
      @include span(5 of 16);
      margin: 0;
      margin-left: span(.5 of 16);

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint(1280px) {
      @include span(3.5 of 16);
      margin-left: span(1 of 16);

      &:first-child {
        margin-left: span(1.5 of 16);
      }
      &:last-child {
        margin-right: span(1.5 of 16);
      }
    }
  }
}

.drag-wrapper {
  @include container;
  @include break;
  height: 8px;
  border-bottom: 1px solid $lighter-gray;
  margin: gutter();

  @include breakpoint($break-tablet) {
    @include span(8 of 16);
    margin: 0;
    margin-left: span(3 of 16);
    padding: 0;
  }

  .handle {
    border-radius: 50%;
    border: 3px solid $dark-gray;
    height: 13px;
    width: 13px;
    background-color: white;
    cursor: move;
  }

  .fill {
    background-color: $blue;
    height: 1px;
    width: 0px;
    position: relative;
    top: 7px;
  }
}


.count {
  @include container;


  @include breakpoint($break-tablet) {
    @include span(2 of 16);
    margin-right: span(3 of 16);
    text-align: right;
  }

  .number {
    font-size: 30px;
  }
}

.display-price {
  @include container;
  @include break;

  padding-top: 3rem;


  .currency {

  }

  .amount {
    font-size: 2.369rem;
  }

  .divider {
    font-size: 1.33rem;
  }

  .range {
    font-size: 1.33rem;
  }
}

.instruction {
  font-size: 0.75rem;
}