//= require 'jquery-ui/themes/base/core.css'
//= require 'jquery-ui/themes/base/draggable.css'
//= require 'jquery-ui/themes/base/slider.css'
//= require 'jquery-ui-slider-pips/dist/jquery-ui-slider-pips.css'

@import 'flat-slider';

.slider {
  @include container;
}

.type-selector {
  @include container;

  padding-bottom: 5rem;

  @include breakpoint($break-tablet) {
    padding-bottom: 7rem;
  }

  .type-list {
    @include container;
  }

  .item {
    @include container(4 of 4);
    @include break;
    border: 1px solid $dark-gray;
    padding: 2*18px+2px 2px;
    margin: gutter();
    cursor: pointer;

    &.active,
    &:hover {
      border: 3px solid $blue;
      padding: 2*18px 0;
    }

    &.active h2 {
      font-weight: 400;
    }


    img {
      height: 32px;
    }

    h2 {
      font-size: 30px;
      font-weight: 300;
    }

    li {
      font-size: 16px;
      font-weight: 300;
    }

    @include breakpoint(min-width $break-tablet) {
      @include nobreak;
      @include span(5 of 16);
      margin: 0;
      margin-left: span(.5 of 16);

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint($max-width) {
      @include span(3.666 of 16);
      margin-left: span(1 of 16);

      &:first-child {
        margin-left: span(1 of 16);
      }
      &:last-child {
        margin-right: span(1 of 16);
      }
    }
  }
}

.drag-wrapper {
  @include container;
  @include break;
  height: 16px;
  border-bottom: 1px solid $lighter-gray;
  margin: gutter();

  @include breakpoint($break-tablet) {
    @include span(8 of 16);
    margin: 0;
    margin-left: span(3 of 16);
    padding: 0;

    height: 8px;
  }
}



.count {
  @include container;
  padding-top: 1rem;

  @include breakpoint($break-tablet) {
    @include span(3 of 16);
    margin-right: span(2 of 16);
    text-align: right;
    padding-top: 0;
    margin-top: -.5rem;
  }

  .number {
    font-size: 30px;
  }
}

.display-price {
  @include container;
  @include break;

  padding-top: 3rem;


  .currency {
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    width: 40px;
    border-radius: 3px;
    overflow: hidden;
    background-color: transparent;
    margin-top: -5px;
  }

  .currency select {
    padding: 10px 5px 10px 10px;
    width: 40px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    font-size: 1rem;
  }

  .currency select:focus {
    outline: none;
  }

  .amount {
    font-size: 2.369rem;
  }

  .divider {
    font-size: 1.33rem;
  }

  .range {
    font-size: 1.33rem;
  }
}

.instruction {
  font-size: 0.75rem;
}