<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Sweet, this is like the BEST browser IDE I've used on my Chromebook so far! Great job with this guys."</blockquote>
      <span>
        <a href="https://twitter.com/amyrhaq" target="_blank">
          <%= image_tag 'home/avatars/amyrhaq.jpeg', :width => 36 %>
          @amyrhaq
        </a>
      </span>
    </div>

  </div>
</section>