<section id="testimonials" class="adjustme">
  <div class="container">

    <div>
      <blockquote>"These guys are seriously making strides!"</blockquote>
      <span>
        <a href="https://twitter.com/davetayls" target="_blank">
          <%= image_tag 'home/avatars/davetayls.jpeg', :width => 36 %>
          @davetayls
        </a>
      </span>
    </div>

  </div>
</section>