<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"For me, <a href="https://twitter.com/CodioHQ">@CodioHQ</a> is the web developer front-end that has always been missing from GitHub. Great work."</blockquote>
      <span>
        <a href="https://twitter.com/kaigani" target="_blank">
          <%= image_tag 'home/avatars/kaigani.jpeg', :width => 36 %>
          @kaigani
        </a>
      </span>
    </div>

  </div>
</section>