<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Starting using cloud-based IDE @CodioHQ in ernest - brilliant and highly recommended."</blockquote>
      <span>
        <a href="https://twitter.com/stephenwil" target="_blank">
          <%= image_tag 'home/avatars/stephenwil.jpg', :width => 36 %>
          @stephenwil
        </a>
      </span>
    </div>

  </div>
</section>