section {
  
  .links-big {
    padding-top: 40px;
    margin-top: 0 !important;
  }
  
  &#frontback {
    .container > div {
      padding: 71px 0 70px;
      width: 800px;
      text-align:left;
      margin-left: 100px;
      
      @include apply-to(more-than, desktop) {
        padding: 71px 60px 70px 72px;
      }
      
      h2 {
        font: 32px gotham_medium;
        border-bottom: 1px solid #f36050;
        padding-bottom: 5px;
        
        @include apply-to(more-than, desktop) {
          font-size: 34px;
        }
      }
      
      p {
        font-size: 16px;
        
        @include apply-to(more-than, desktop) {
          font-size: 18px;
        }
      }
         
    }
  }

	&#opensource {
    .container > div {
      padding: 80px 0;
      @include clearfix;
      
      @include apply-to(more-than, desktop) {
        padding: 80px 60px;
      }

      > div {
        float: left;
        
        &:first-child {
          padding-top: 26px;
          width: 350px;
        }
        
        &:last-child {
          width: 630px;
          text-align: right;
          
          @include apply-to(more-than, desktop) {
            width: 754px;
          }
          
          iframe {
            width: 598px;
            height: 366px;
            
            @include apply-to(more-than, desktop) {
              width: 685px;
              height: 421px;
            }
          }
        }
      }
    }
  }
  
  &#access {
    background: #fff;
    
    .container > div {
      margin: 100px 0;
      @include clearfix;
      
      @include apply-to(more-than, desktop) {
        margin: 100px 60px;
      }

      > div {
        float: left;
        
        &:first-child {
          width: 500px;
          
          @include apply-to(more-than, desktop) {
            width: 580px;
          }
          
          iframe {
            width: 470px;
            height: 289px;
            
            @include apply-to(more-than, desktop) {
              width: 520px;
              height: 319px;
            }
          }
        }
        
        &:last-child {
          padding: 0;
          width: 460px;

          @include apply-to(more-than, desktop) {
            width: 524px;
            padding: 20px 0 0 0;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 20px 0 0;

            @include apply-to(more-than, desktop) {
              margin-top: 30px;
            }

            li {
              display: inline-block;
              margin-right: 15px
            }
          }
        }
      }
    }
  }
  
  &#classes {
    .container > div {
      padding: 70px 0;
      @include clearfix;
      
      @include apply-to(more-than, desktop) {
        padding: 80px 60px;
      }

      > div {
        float: left;
        
        &:first-child {
          padding-top: 60px;
          width: 350px;
        }
        
        &:last-child {
          width: 630px;
          text-align: right;
          
          @include apply-to(more-than, desktop) {
            width: 754px;
          }
          
          iframe {
            width: 600px;
            height: 377px;
            
            @include apply-to(more-than, desktop) {
              width: 650px;
              height: 408px;
            }
          }
        }
      }
    }
  }
  
  &#courses {
    background: #fff;
    
    .container > div {
      margin: 80px 0;
      @include clearfix;
      
      @include apply-to(more-than, desktop) {
        margin: 100px 60px 100px 40px;
      }

      > div {
        float: left;
        
        &:first-child {
          width: 500px;
          padding-top: 30px;
          
          @include apply-to(more-than, desktop) {
            width: 600px;
            padding-top: 0;
          }
          
          iframe {
            width: 470px;
            height: 298px;
            
            @include apply-to(more-than, desktop) {
              width: 556px;
              height: 351px;
            }
          }
        }
        
        &:last-child {
          padding: 0;
          width: 460px;

          @include apply-to(more-than, desktop) {
            width: 524px;
          }
          
          h2 {
            font-size: 32px;
            
            @include apply-to(more-than, desktop) {
              font-size: 34px;
            }
          }
        }
      }
    }
  }
  
  &#lingos {
    .container > div {
      padding: 80px 0;
      @include clearfix;
      
      @include apply-to(more-than, desktop) {
        padding: 80px 60px;
      }

      > div {
        float: left;
        
        &:first-child {
          width: 464px;
          
          h2 {
            font-size: 30px;
            
            @include apply-to(more-than, desktop) {
              font-size: 34px;
            }
          }
          
          p {
            font-size: 16px;
            
            @include apply-to(more-than, desktop) {
              font-size: 17px;
            }
          }
        }
        
        &:last-child {
          width: 516px;
          padding-top: 20px;
          text-align: right;
          
          @include apply-to(more-than, desktop) {
            width: 640px;
          }
          
          iframe {
            width: 503px;
            height: 310px;
            
            @include apply-to(more-than, desktop) {
              width: 600px;
              height: 368px;
            }
          }
        }
      }
    }
  }
  
  &#annotations {
    background: #fff;
    
    .container > div {
      margin: 100px 0;
      @include clearfix;
      
      @include apply-to(more-than, desktop) {
        margin: 100px 80px 100px 60px;
      }

      > div {
        float: left;
        
        &:first-child {
          width: 620px;
          
          @include apply-to(more-than, desktop) {
            width: 760px;
          }
          
          iframe {
            width: 565px;
            height: 341px;
            
            @include apply-to(more-than, desktop) {
              width: 660px;
              height: 400px;
            }
          }
        }
        
        &:last-child {
          padding: 40px 0 0 0;
          width: 360px;

          @include apply-to(more-than, desktop) {
            width: 324px;
            padding: 20px 0 0 0;
          }
        }
      }
    }
  }
  
  &#clone-crowd > .container {
    @include clearfix;
    padding: 90px 0;
    
    > div {
      float: left;
      
      &:first-child {
        width: 466px;
        padding: 0 20px 0 0;
        
        @include apply-to(more-than, desktop) {
          width: 550px;
          padding: 0 20px 0 40px;
        }
      }
      
      &:nth-child(2) {
        width: 140px;
        padding: 60px 22px 0;
        
        @include apply-to(more-than, desktop) {
          width: 180px;
          padding: 0 22px;          
        }
      }
      
      &:last-child {
        width: 310px;
        text-align: right;
               
        @include apply-to(more-than, desktop) {
          width: 350px;
          padding-right: 40px;
        }
      }
      
      p {
        font-size: 16px;
      }
      
      h2 {
        font-size: 28px;
        
        @include apply-to(more-than, desktop) {
          font-size: 30px; 
        }
      }
    }
  }
  
  &#cloning {
    .container {
      > div {
        padding: 90px 315px 90px 0;
        width: 665px;

        @include apply-to(more-than, desktop) {
          padding: 90px 430px 100px 0;
          width: 794px;
        }
        
        div {
          padding: 0;
          
          @include apply-to(more-than, desktop) {
            padding: 0 0 0 70px;
          }
        }
      }
    }
  }  
  
  &#crowdsourcing {
    background: #fff;
    
    .container {
      > div {
        padding: 90px 315px 90px 0;
        width: 665px;

        @include apply-to(more-than, desktop) {
          padding: 90px 430px 100px 0;
          width: 794px;
        }
        
        div {
          padding: 0;
          
          @include apply-to(more-than, desktop) {
            padding: 0 0 0 70px;
          }
        }
      }
    }
  }  
    
  
}