<section id="always-on">
	<div class="container">
		<div>
			<div>
				<h2>Always On Boxes</h2>
				<p>Boxes are stopped and started instantaneously, so Codio stops a box whenever you leave your coding project to help keep resource usage to a sensible level.</p> 
				<p>Coming in March, however, are Always On Boxes. Just flip a switch to ensure your Box and its processes stay running no matter what.</p>
				<div class="links">
					<a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
						<i class="icon-facetime-video"></i> Codio Box features ...
					</a>
				</div>    				
			</div>
		</div>
	</div>
</section>