<section id="baked">
  <div class="container">
    <div>
      <div>
        <h2>Integrated Tools</h2>
        <h3>Manage app dependencies with a click of a button</h3>
        <p><strong>Bower</strong> is an amazingly useful tool for managing your application dependencies, so we baked it right into Codio and made it incredibly easy to use, and without any need to install Node or even Bower. It's all in the cloud! <strong>Grunt</strong> and <strong>Yeoman</strong> support coming very soon.</p>
        <div class="links">
          <% link_to '/docs/bower' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="http://player.vimeo.com/video/74372622?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
        <ul>
          <li><%= image_tag 'home/bower-logo.png', :width => 46 %></li>
          <li><%= image_tag 'home/grunt-logo.png', :width => 36 %></li>
          <li><%= image_tag 'home/yeoman-logo.png', :width => 42 %></li>
        </ul>
      </div>
    </div>
  </div>
</section>