<section id="box-parts">
	<div class="container">
		<div>
			<div>
				<h2>Box Parts</h2>
				<p>Box Parts is a really cool feature that let you near instantly install additional components into your project Box.</p>
				<p><strong>Languages</strong>: C, Node, Ruby, Python, PHP (and Composer), Go, Haskell, Java, Lua, Pascal, Rust, Scala</p>
				<p><strong>Databases</strong>: MongoDB, MySQL, Postgresql, SQLite3, Redis, Memcached</p>
				<p><strong>Web Servers &amp; Queues</strong>: Apache2, Nginx, RabbitMQ</p>
				<p><strong>Components</strong>: ack, ant, apr, cmake, geos, swig, ghc, image_magick, Leiningen, mave, s3cmd, Silver Searcher</p>
				<p><strong>Other</strong>: PHP Composer, 20+ PHP Modules, MeteorJS, PhantomJS</p>
				<p><strong>Request More</strong>: If you want us to add a new Box Part, <%= link_to 'click here', 'https://github.com/codio/boxparts/issues?page=1&state=open', target: "_blank" %> press the 'New Issue' button, ask and ye shall be given (as soon as we can).</p>
				<p><%= link_to 'Click here', 'https://github.com/codio/boxparts/tree/master/lib/autoparts/packages',target: "_blank" %> to see the full list of Box Parts. </p>
				<div class="links-big">
					<%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>
				</div>
			</div>
		</div>
	</div>
</section>