<section id="boxes">
	<div class="container">
		<div>
			<div>
				<h2>Boxes &amp; Box Parts</h2>
				<p>Each project you create gets its own Box server. This is an Ubuntu instance that comes with NodeJS, Ruby, Python, Git, Mercurial and SVN preinstalled.</p>
				<p>Box Parts a really cool feature that let you install additional components into your project Box. You can add languages (PHP, Go, Haskell etc.), databases (Mongo, MySQL, PostgreSQL, Redis), web servers (Nginx, Apache) and much more. And if our Parts catalog doesn't have what you need, just ask us to add it.</p> 
			</div>
			<div class="links">
				<a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
					<i class="icon-facetime-video"></i> Codio Box features ...
				</a>
			</div>    			
		</div>
	</div>
</section>