<section id="boxes">
	<div class="container">
		<div>
			<div>
				<h2>Boxes</h2>
				<p>Each project you create gets its own Box server. This is an Ubuntu instance <strong>preinstalled with NodeJS, Ruby, Python, Git, Mercurial and SVN</strong>.</p>
				<p>However, you can easily <strong>add more languages, databases and components</strong>with Codio Box Parts, described below.</p> 
			</div>
			<div class="links-big">
				<%= link_to '<i class="icon-facetime-video"></i> Features Overview', '/features' %>	
			</div>   	    			
		</div>
	</div>
</section>