<section id="box-parts">
	<div class="container">
		<div>
			<div>
				<h2>Box Parts</h2>
				<p>Box Parts a really cool feature that let you rapidly install additional components into your project Box. You can <strong>add languages</strong> (PHP, Go, Haskell etc.), <strong>databases</strong> (Mongo, MySQL, PostgreSQL, Redis), <strong>web servers</strong> (Nginx, Apache) and other <strong>back-end components</strong>.</p>
				<p>And if our Parts catalog doesn't have something you need, just <strong>ask and ye shall be given</strong>.</p> 
				<div class="links">
					<a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
						<i class="icon-facetime-video"></i> Codio Box features ...
					</a>
				</div>    				
			</div>
		</div>
	</div>
</section>