<section id="boxes">
	<div class="container">
		<div>
			<div>
				<h2>Boxes</h2>
				<p>Each project you create gets its own Box server. When you create a project or open it, it's instantly provisioned. You won't even be aware of it being created or started.</p>
				<p>This is an Ubuntu instance <strong>preinstalled with NodeJS, Ruby, Python, Git, Mercurial and SVN</strong>. <strong>Want more languages, databases and components</strong>? Just check out </strong>Codio Box Parts below.</p>
			</div>
			<div class="links-big">
				<%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>
			</div>
		</div>
	</div>
</section>