<section id="compiled">
  <div class="container">
    <div>
      <div>
        <h2>CoffeeScript, SASS, Less</h2>
        <h3>Pre-process and compile on demand</h3>
        <p>Codio has direct support for writing and running <strong>CoffeeScript, Sass, SCSS and Less</strong>. No manual compilation steps are needed, and you can preview your compiled code any time you want. We'll even compile these when accessing via your HTML.</p>
        <div class="links">
          <% link_to '/docs/compiling' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="//player.vimeo.com/video/74367209?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>