<section id="demonstrate">
  <div class="container">
    <div>
      <div>
        <h2>Demo &amp; Show Your Code</h2>
        <h3>Showcase your code and demos in a gorgeous Web IDE</h3>
        <p>Codio lets you display your code in the best Web IDE available. You can configure panels and code tabs anyway you like and then share them from anywhere - your site, your blog or Github readme files. </p>
        <div class="links">
          <% link_to '/share-your-code' do %>
            <i class="icon-check"></i> Show me
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>