<section id="demonstrate">
  <div class="container">
    <div>
      <div>
        <h2>Demo Your Code</h2>
        <h3>Take Codepen, JS-Fiddle and JS-Bin to the next level </h3>
        <p>Codepen, JS-FIddle and JS-Bin are wonderful tools but what happens when you want to demonstrate something a bit (or a lot) more complex? Codio lets you back up your coding posts with an instant, embeddable IDE for projects of any complexity.</p>
        <div class="links">
          <% link_to '/share-your-code' do %>
            <i class="icon-check"></i> Show me
          <% end %>
          <% link_to '/docs/sharing' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>