<section id="deployment">
  <div class="container">
    <div>
      <div>
        <h2>Deploy your code</h2>
        <h3>Production, Staging, in fact any number of targets</h3>
        <p>Fast, one-click deployment to any number of test, staging and production environments: <strong>FTP</strong>, <strong>SFTP</strong>, <strong>Parse</strong>, <strong>NodeJitsu</strong>, as well as <strong>Codio's own hosting</strong> platform.</p>
        <p>Being cloud based, these are much faster than deploying from the desktop.</p>

        <div class="links">
          <% link_to '/docs/deployment' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="http://player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>