<section id="frontback">
  <div class="container">
    <div>
      <div>
        <h2>Client-Side</h2>
        <p>Perfect for client-side development with <strong>HTML5</strong>, <strong>CSS</strong> &amp; <strong>Javascript</strong>. Sass, SCSS, Less &amp; CoffeeScript also included.</p>
      </div>

      <div><%= image_tag 'home/yinyang.png' %></div>

      <div>
        <h2>Server-Side</h2>
        <p>Every project gets its own Box: an instantly available <strong>server-side development environment</strong> with full terminal access.</p>
      </div>
    </div>
  </div>
</section>