<section id="ide">
	<div class="container">
		<div>
			<div>
				<h2>The IDE</h2>
				<p>The best Web IDE you'll find. Anywhere.</p>
				<p>Unlimited code panels, draggable tabs, syntax highlighting, code completion, snippets, custom keyboard shortcuts, Emmet, TernJS, multiple cursors, code folding, themes, code linting, color preview/picker, inline preview, code beautification, quick command bar, fast file open and much more.</p>
				<p>And you'll love the rate we're adding productivity features!</p>
				<div class="links-big">
					<%= link_to '<i class="icon-facetime-video"></i> Features Overview', '/features' %>	
				</div>   	   				
			</div>    
		</div>
	</div>
</section>
