<section id="ide">
	<div class="container">
		<div>
			<div>
				<h2>The IDE</h2>
				<p>Codio is the best Web IDE you'll find. There are more features than hairs on Chuck Norris chest. Unlimited panels and tabs and a plethora of productivity features. Just check out our <%= link_to '<i class="icon-facetime-video"></i> Features Page', '/features' %>.</p> 	   				
				<div class="links-big">
					<%= link_to '<i class="icon-facetime-video"></i> Features Overview', '/features' %>	
				</div>  					
			</div>    		
		</div>
	</div>
</section>
