<section id="opensource">
  <div class="container">
    <div>
      <div>
        <h2>Open Source<span> - Free</span></h2>
        <p>Codio is and always will be <strong>free</strong> for any project whose source is publicly available.</p>
      </div>

      <div><%= image_tag 'home/oss.png', :width => 106, :height => 128 %></div>

      <div>
        <h2>Education<span> - Free</span></h2>
        <p>Codio is perfect for teaching and learning to code. <a href="/p/signup" data-no-turbolink="1">Create a project</a> and you're ready to run your code.</p>
      </div>
    </div>
  </div>
</section>