<section id="overview">
  <div class="container">
    <div>
      <div>
        <h2>How it works</h2>
        <p>Codio gives you the <strong>finest, fastest Web Based IDE</strong> plus a <strong>dedicated back-end server 'Box' for each of your projects</strong>. Better still, you can have <strong>unlimited projects and Boxes for free</strong> for all public projects. Unlimited private projects and Boxes require a subscription.</p>
        <p>Your Boxes come with <strong>Node.JS, Ruby, Python, Git and Mercurial preinstalled</strong>, but you can easily <strong>add languages, components and utilities to any project</strong>. And if we don't have a component you want, just request it to be added to our library.</p>
      </div>
      <div class="links">
        <a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
          <i class="icon-facetime-video"></i> Features Page ...
        </a>
      </div>      
  </div>
</section>