<section id="opensource">
  <div class="container">
    <div>
      <div>
        <h2>Front End</h2>
        <p>Codio has everything you need to build and deploy great <strong>HTML5</strong>, <strong>CSS</strong> &amp; <strong>Javascript</strong> applications. Sass, SCSS, Less &amp; Coffeescript included.</p>
      </div>

      <div><%= image_tag 'home/oss.png', :width => 106, :height => 128 %></div>

      <div>
        <h2>Back End</h2>
        <p>Use Codio for <strong> <% link_to '/home-php' do %>PHP<% end %></strong>, <strong>Node</strong>, <strong>Ruby</strong> &amp; <strong>Python</strong>, too. And it's also ideal for <strong><% link_to '/home-wordpress' do %>Wordpress, Drupal or Joomla</strong> <% end %>!</p>
      </div>
    </div>
  </div>
</section>