<section id="overview">
  <div class="container">
    <div>
      <div>
        <h2>How it works</h2>
        <p>Codio combines the best web based IDE and code editing capabilities with a dedicated back-end server 'Box' for each of your projects. Better still, you can have <strong>unlimited projects and Boxes for free</strong> for all public projects. Unlimited private projects and Boxes require a subscription.</p>
        <p>Your Boxes come with Node.JS and Ruby preinstalled, but you can easily add languages, components and utilities to any project. And if we don't have a component you want, just request it to be added to our library.</p>
      </div>
      <div class="links">
        <a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
          <i class="icon-facetime-video"></i> Features Page ...
        </a>
      </div>      
  </div>
</section>