<section id="overview">
	<div class="container">
		<div>
			<div>
				<h2>How It Works</h2>
				<p>Unbelievably easy and fast. Create a project and a Box is created instantly. Now use the Web's best IDE to code. The video below shows a Rails app being installed. <strong>REAL TIME</strong>, no trickery.</p>
				<iframe src="//player.vimeo.com/video/85535252?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>				
			</div>    		
		</div>
	</div>
</section>
