<section id="opensource">
  <div class="container">
    <div>
      <div>
        <h2>Front End</h2>
        <p>Codio has everything you need to build and deploy great <strong>HTML5</strong>, <strong>CSS</strong> &amp; <strong>Javascript</strong> applications. Sass, SCSS, Less &amp; Coffeescript included.</p>
      </div>

      <div><%= image_tag 'home/oss.png', :width => 106, :height => 128 %></div>

      <div>
        <h2>Back End</h2>
        <p>Codio has <strong>PHP</strong>, <strong>Node</strong>, <strong>Ruby</strong> &amp; <strong>Python</strong> covered, too. Codio is incredibly easy to hook up to any remote server.</p>
      </div>
    </div>
  </div>
</section>