
<a name="overview"></a> 
  <section id="languages">
	<div class="container">
    
		<div>    
			<div>
        <h3>Effortless PHP Development in the Cloud</h3>
        <h5>Watch the video on the right to see just how easy it is to install Wordpress. Drupal and Joomla are even easier.</h5>
        <p><a href="#86028855" id="nodejs-select">Restart video</a>
        </p>
        <p><a href="/docs/boxes/specifics/wordpress">Wordpress installation Guide</a>
        </p> 
        <p><a href="/docs/boxes/specifics/drupal">Drupal installation Guide</a>
        </p>         
        <p><a href="/docs/boxes/specifics/joomla">Joomla installation Guide</a>
        </p> 
        <p><a href="/docs/boxes/specifics/php">PHP on Codio docs</a>
        </p>         
      </div>
      <div>

				<iframe src="//player.vimeo.com/video/86028855?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <p><i class="icon-exclamation-sign"></i> the above screencast is recorded in real time</p>

      </div>
		</div>
	</div>
</section>
