<section id="panels">
  <div class="container">
    <div>
      <div>
        <h2>Panels &amp; Tabs</h2>
        <h3>Any arrangement you need</h3>
        <p>Codio has sensational panel and tab layout capabilities. Arrange your editor into any panel arrangement you please, and then simply drag and drop files between these panels to order and arrange them.</p>

      </div>
    </div>
  </div>
</section>