<section id="productivity">
	<div class="container">
		<div>
			<div>
				<h2>The IDE</h2>
				<h3>You'll be amazed how fast you can code in a browser!</h3>
				<p>Syntax highlighting, code completion, snippets, custom keyboard shortcuts, Emmet, TernJS, multiple cursors, code folding, themes, code linting, color preview/picker, inline preview, code beautification and much more.</p>
				<p>And you'll love the speed we're adding more and more productivity features.</p>
				<div class="links">
					<a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
						<i class="icon-facetime-video"></i> IDE features ...
					</a>
				</div>   				
			</div>    
		</div>
	</div>
</section>
