<section id="realtime">
  <div class="container">
    <div>
      <div>
        <h2>Real-Time Coding</h2>
        <h3>Google Docs style collaborative coding!</h3>
        <p>Working as part of a team has never been easier! Open a file and watch in real-time as your team mates write code. Then make a few edits as they watch you. The browser is the <strong>natural home of collaboration</strong>, and real time coding is just the start.</p>
      </div>
    </div>
  </div>
</section>