<section id="sourcecontrol">
  <div class="container">
    <div>
      <div>
        <h2><%= image_tag 'home/git.png', :width => 36 %> Git in the Cloud</h2>
        <h3>Truly collaborative source control</h3>
        <p>We've baked Git directly into the Codio IDE so you can use your beloved Git commands right from a Codio tab.</p>
        <p>You can work locally as well as being able to push and pull from remote repos including Github of course. </p>
      </div>
    </div>
  </div>
</section>