<section id="speed">
  <div class="container">
    <div>
      <div>
        <h2>Blazingly Fast</h2>
        <p>Everything you do in Codio is <strong>fast</strong>, which further increases your productivity. Installing a Bower component takes seconds, deploying code is almost instantaneous.</p>
      </div>

      <div>
        <h2>Your stack awaits</h2>
        <p>Everything you need for modern web development is right here and instantly ready to go. <strong>No installs</strong>, no configuring. All you need is your browser.</p>
      </div>
    </div>
  </div>
</section>