<section id="speed">
	<div class="container">
		<div>
			<div>
				<h2>Blazingly Fast</h2>
				<p>You will be amazed at how fast both the Codio IDE and Codio Boxes are. Because Codio runs in the Cloud, many Box operations (Git, npm install, bundle - anything that is a Cloud->Cloud operation) are <strong>much faster than your local machine</strong>.</p>
				<p>And if you're wondering about the speed of our IDE, just try it out. Not only is it packed with a mass of productivity features, you'll think you're running a desktop app.</p>
				<div class="links-big">
					<%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>
				</div>
			</div>
		</div>
	</div>
</section>