<section id="terminal">
  <div class="container">
    <div>
      <div>
        <h2>SSH Terminal</h2>
        <h3>A full SSH terminal in a tab!</h3>
        <p>Codio lets you manage any number of remote servers using a full featured terminal inside a Codio Tab.</p>
        <p>The SSH Connection Manager stores and manages connections and even automatically copies the Codio public key to your remote server.</p>
        <p><strong>Fast, easy access to your servers!</strong></p>
      </div>
    </div>
  </div>
</section>