<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Sweet, this is like the BEST browser IDE I've used on my chromebook so far. Great job with this guys."</blockquote>
      <span>
        <a href="https://twitter.com/amyrhaq" target="_blank">
          <%= image_tag 'https://si0.twimg.com/profile_images/2422654062/uxeq37lgme1mk53q5372_bigger.jpeg', :width => 36 %>
          @amyrhaq
        </a>
      </span>
    </div>

  </div>
</section>