<section id="tutorials">
	<div class="container">
		<div>
			<div>
				<h2>Codio Tutorials</h2>
				<p>We've got prepared some nearly packaged tutorial materials. The beauty of learning on Codio is the speed and simplicity of setting up your stack.</p>
				<p>The Node tutorials we've done so far are <strong>all Nodeschool.io tutorials</strong>, a <strong>comprehensive Grunt</strong> tutorial and also one for <strong>Grunt Watch</strong>. We've also recently added a Yeoman.io tutorials.</p>
				<div class="links-big">
					<%= link_to '<i class="icon-thumbs-up"></i> Tutorials Page', '/tutorials/tut-node' %>
				</div>
			</div>
		</div>
	</div>
</section>