<section id="tutorials">
	<div class="container">
		<div>
			<div>
				<h2>Codio Tutorials</h2>
				<p>We've got prepared some nearly packaged tutorial materials. The beauty of learning on Codio is the speed and simplicity of setting up your stack.</p>
				<p>Here are the tutorials we've done so far</p>
        <ul>
          <li>Complete set of Nodeschool.io tutorials</li>
          <li>Typical use case Grunt Tutorial</li>
          <li>Grunt Watch</li>
          <li>Yeoman.io</li>
        </ul>
				<div class="links-big">
					<%= link_to '<i class="icon-thumbs-up"></i> Tutorials Page', '/tutorials/tut-node' %>
				</div>
			</div>
		</div>
	</div>
</section>