@font-face {
  font-family: 'Proxima Nova Condensed Light Italic';
  src: url('fonts/proxima-nova/ProximaNovaCond-LightIt.eot');
  src: local('Proxima Nova Condensed Light Italic'), local('ProximaNovaCond-LightIt'), 
    url('fonts/proxima-nova/ProximaNovaCond-LightIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-LightIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url('fonts/proxima-nova/ProximaNova-LightIt.eot');
  src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
    url('fonts/proxima-nova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-LightIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Condensed Regular';
  src: url('fonts/proxima-nova/ProximaNovaCond-Regular.eot');
  src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
    url('fonts/proxima-nova/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-Regular.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extrabold';
  src: url('fonts/proxima-nova/ProximaNova-Extrabld.eot');
  src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('fonts/proxima-nova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-Extrabld.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed Black';
  src: url('fonts/proxima-nova/ProximaNovaCond-Black.eot');
  src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
    url('fonts/proxima-nova/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-Black.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed Extrabold Italic';
  src: url('fonts/proxima-nova/ProximaNovaCond-ExtrabldIt.eot');
  src: local('Proxima Nova Condensed Extrabold Italic'), local('ProximaNovaCond-ExtrabldIt'),
    url('fonts/proxima-nova/ProximaNovaCond-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-ExtrabldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-ExtrabldIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('fonts/proxima-nova/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('fonts/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('fonts/proxima-nova/ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Thin';
  src: url('fonts/proxima-nova/ProximaNovaExCn-Thin.eot');
  src: local('Proxima Nova Extra Condensed Thin'), local('ProximaNovaExCn-Thin'),
    url('fonts/proxima-nova/ProximaNovaExCn-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-Thin.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed Semibold';
  src: url('fonts/proxima-nova/ProximaNovaCond-Semibold.eot');
  src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
    url('fonts/proxima-nova/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-Semibold.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Semibold Italic';
  src: url('fonts/proxima-nova/ProximaNovaExCn-SemiboldIt.eot');
  src: local('Proxima Nova Extra Condensed Semibold Italic'), local('ProximaNovaExCn-SemiboldIt'),
    url('fonts/proxima-nova/ProximaNovaExCn-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-SemiboldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Semibold';
  src: url('fonts/proxima-nova/ProximaNovaExCn-Semibold.eot');
  src: local('Proxima Nova Extra Condensed Semibold'), local('ProximaNovaExCn-Semibold'),
    url('fonts/proxima-nova/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-Semibold.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin Italic';
  src: url('fonts/proxima-nova/ProximaNova-ThinIt.eot');
  src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
    url('fonts/proxima-nova/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-ThinIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Condensed Thin';
  src: url('fonts/proxima-nova/ProximaNovaCond-Thin.eot');
  src: local('Proxima Nova Condensed Thin'), local('ProximaNovaCond-Thin'),
    url('fonts/proxima-nova/ProximaNovaCond-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-Thin.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed Regular Italic';
  src: url('fonts/proxima-nova/ProximaNovaCond-RegularIt.eot');
  src: local('Proxima Nova Condensed Regular Italic'), local('ProximaNovaCond-RegularIt'),
    url('fonts/proxima-nova/ProximaNovaCond-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-RegularIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Thin Italic';
  src: url('fonts/proxima-nova/ProximaNovaExCn-ThinIt.eot');
  src: local('Proxima Nova Extra Condensed Thin Italic'), local('ProximaNovaExCn-ThinIt'),
    url('fonts/proxima-nova/ProximaNovaExCn-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-ThinIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url('fonts/proxima-nova/ProximaNova-SemiboldIt.eot');
  src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
    url('fonts/proxima-nova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-SemiboldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Regular Italic';
  src: url('fonts/proxima-nova/ProximaNova-RegularIt.eot');
  src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
    url('fonts/proxima-nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-RegularIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Condensed Extrabold';
  src: url('fonts/proxima-nova/ProximaNovaCond-Extrabld.eot');
  src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
    url('fonts/proxima-nova/ProximaNovaCond-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-Extrabld.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Extrabold Italic';
  src: url('fonts/proxima-nova/ProximaNovaExCn-ExtrabldIt.eot');
  src: local('Proxima Nova Extra Condensed Extrabold Italic'), local('ProximaNovaExCn-ExtrabldIt'),
    url('fonts/proxima-nova/ProximaNovaExCn-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-ExtrabldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-ExtrabldIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Black Italic';
  src: url('fonts/proxima-nova/ProximaNovaExCn-BlackIt.eot');
  src: local('Proxima Nova Extra Condensed Black Italic'), local('ProximaNovaExCn-BlackIt'),
    url('fonts/proxima-nova/ProximaNovaExCn-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-BlackIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Light Italic';
  src: url('fonts/proxima-nova/ProximaNovaExCn-LightIt.eot');
  src: local('Proxima Nova Extra Condensed Light Italic'), local('ProximaNovaExCn-LightIt'),
    url('fonts/proxima-nova/ProximaNovaExCn-LightIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-LightIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Condensed Thin Italic';
  src: url('fonts/proxima-nova/ProximaNovaCond-ThinIt.eot');
  src: local('Proxima Nova Condensed Thin Italic'), local('ProximaNovaCond-ThinIt'),
    url('fonts/proxima-nova/ProximaNovaCond-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-ThinIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Light';
  src: url('fonts/proxima-nova/ProximaNovaExCn-Light.eot');
  src: local('Proxima Nova Extra Condensed Light'), local('ProximaNovaExCn-Light'),
    url('fonts/proxima-nova/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-Light.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed Bold Italic';
  src: url('fonts/proxima-nova/ProximaNovaCond-BoldIt.eot');
  src: local('Proxima Nova Condensed Bold Italic'), local('ProximaNovaCond-BoldIt'),
    url('fonts/proxima-nova/ProximaNovaCond-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-BoldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Extrabold';
  src: url('fonts/proxima-nova/ProximaNovaExCn-Extrabld.eot');
  src: local('Proxima Nova Extra Condensed Extrabold'), local('ProximaNovaExCn-Extrabld'),
    url('fonts/proxima-nova/ProximaNovaExCn-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-Extrabld.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Bold Italic';
  src: url('fonts/proxima-nova/ProximaNovaExCn-BoldIt.eot');
  src: local('Proxima Nova Extra Condensed Bold Italic'), local('ProximaNovaExCn-BoldIt'),
    url('fonts/proxima-nova/ProximaNovaExCn-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-BoldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url('fonts/proxima-nova/ProximaNova-Black.eot');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
    url('fonts/proxima-nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-Black.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('fonts/proxima-nova/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('fonts/proxima-nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-Bold.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Bold';
  src: url('fonts/proxima-nova/ProximaNovaExCn-Bold.eot');
  src: local('Proxima Nova Extra Condensed Bold'), local('ProximaNovaExCn-Bold'),
    url('fonts/proxima-nova/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-Bold.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('fonts/proxima-nova/ProximaNovaT-Thin.eot');
  src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
    url('fonts/proxima-nova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaT-Thin.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold Italic';
  src: url('fonts/proxima-nova/ProximaNova-BoldIt.eot');
  src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
    url('fonts/proxima-nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-BoldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Condensed Bold';
  src: url('fonts/proxima-nova/ProximaNovaCond-Bold.eot');
  src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
    url('fonts/proxima-nova/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-Bold.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Black';
  src: url('fonts/proxima-nova/ProximaNovaExCn-Black.eot');
  src: local('Proxima Nova Extra Condensed Black'), local('ProximaNovaExCn-Black'),
    url('fonts/proxima-nova/ProximaNovaExCn-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-Black.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Regular Italic';
  src: url('fonts/proxima-nova/ProximaNovaExCn-RegularIt.eot');
  src: local('Proxima Nova Extra Condensed Regular Italic'), local('ProximaNovaExCn-RegularIt'),
    url('fonts/proxima-nova/ProximaNovaExCn-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-RegularIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Condensed Light';
  src: url('fonts/proxima-nova/ProximaNovaCond-Light.eot');
  src: local('Proxima Nova Condensed Light'), local('ProximaNovaCond-Light'),
    url('fonts/proxima-nova/ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-Light.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extrabold Italic';
  src: url('fonts/proxima-nova/ProximaNova-ExtrabldIt.eot');
  src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
    url('fonts/proxima-nova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-ExtrabldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-ExtrabldIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Condensed Black Italic';
  src: url('fonts/proxima-nova/ProximaNovaCond-BlackIt.eot');
  src: local('Proxima Nova Condensed Black Italic'), local('ProximaNovaCond-BlackIt'),
    url('fonts/proxima-nova/ProximaNovaCond-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-BlackIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Extra Condensed Regular';
  src: url('fonts/proxima-nova/ProximaNovaExCn-Regular.eot');
  src: local('Proxima Nova Extra Condensed Regular'), local('ProximaNovaExCn-Regular'),
    url('fonts/proxima-nova/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaExCn-Regular.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaExCn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('fonts/proxima-nova/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('fonts/proxima-nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-Light.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed Semibold Italic';
  src: url('fonts/proxima-nova/ProximaNovaCond-SemiboldIt.eot');
  src: local('Proxima Nova Condensed Semibold Italic'), local('ProximaNovaCond-SemiboldIt'),
    url('fonts/proxima-nova/ProximaNovaCond-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNovaCond-SemiboldIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNovaCond-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Black Italic';
  src: url('fonts/proxima-nova/ProximaNova-BlackIt.eot');
  src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
    url('fonts/proxima-nova/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova/ProximaNova-BlackIt.woff') format('woff'),
    url('fonts/proxima-nova/ProximaNova-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
