<% wrap_layout :layout do %>
  <header class="artwork"></header>
  <%= link_to "Blog", "/blog" %>

  <article>
    <h1><%= current_article.title %></h1>

    <%= yield %>
  </article>

  <%= partial "blog-sidebar" %>
<% end %>
