<% wrap_layout :'layout' do %>

  <div class="legal-content">
    <% if current_resource.url == "legal" %>
      <%= partial 'legal-header-navigation' %>
    <% end %>  

    <%= partial 'legal-side-navigation' %>

    <article data-swiftype-name="body" data-swiftype-type="text" class="legal-body">
      <h1 data-swiftype-name="title" data-swiftype-type="string">
        <%= current_resource.data.title %>
      </h1>
      <%= yield %>
    </article>

<% end %>
