<% wrap_layout :'layout' do %>

  <div class="header-block">
    <div class="title vertical">Technical Specifications</div>
  </div>

  <div class="specs-content">
    <%= partial 'specs-side-navigation' %>

    <article data-swiftype-name="body" data-swiftype-type="text" class="specs-body">
      <h2 data-swiftype-name="title" data-swiftype-type="string">
        <%= current_resource.data.title %>
      </h2>
      <hr/>
      <%= yield %>
    </article>
	</div>

  <div class="ready-started-block">
    <h2>Ready to get started?</h2>
    <%= link_to 'Start Free Trial', '/start-edu-trial',
      class: 'button button-rounded button-main' %>
  </div>

<% end %>
