<section id="grunt-watch">
  <div class="container">
    <div>
      <div>
        <h2>Grunt - Watch</h2>
        <p>We've looked at a broad-based Grunt tutorial above. Now we'll turn out attention to something more specific.</p>
        <p>We've got a really cool physics demo written in Coffeescript and we're going to show how to compile the entire project as well as only files that have changed.</p>
        <ul>
          <li><% link_to 'https://codio.com/codio/Grunt-Tutorial-Watch-Coffee' do %> Grunt Watch Tutorial <% end %> - click to start.</li>
        </ul>  
      </div>      
    </div>
  </div>
</section>