<section id="grunt">
  <div class="container">
    <div>
      <div>
        <h2>Grunt Tutorial - General</h2>
        <p>Grunt is a must-know task automation tool that manages build tasks such as minification, compilation, unit testing, linting etc.</p>
        <p>This tutorial shows you how a web site is prepared for production using the following tasks: <strong>concatenation, js minification &amp; uglification, css minification, cache-busting for images, js and css files</strong> and finally, the <strong>fixing up of references</strong> to js, css and image files once they have undergone these transformations. Enjoy!</p>
        <p>We've added Codio annotations, so it's a really great way to learn. Click on the link below, then follow the README.md instructions.</p>
        <h3>Get the Tutorial</h3>
        <p><% link_to 'https://github.com/codio/tutorial_grunt_basic', :target => '_blank' do %> Click here<% end %> to go to GitHub repo then follow the instructions in the README.md file.</p>
      </div>      
    </div>
  </div>
</section>