<section id="grunt-watch">
  <div class="container">
    <div>
      <div>
        <h2>Grunt - Watch</h2>
        <p>We've looked at a broad-based Grunt tutorial above. Now we'll turn out attention to something more specific.</p>
        <p>We've got a really cool physics demo written in Coffeescript and we're going to show how to compile the entire project as well as only files that have changed.</p>
        <h3>Get the Tutorial</h3>
        <p><% link_to 'https://github.com/codio/tutorial_grunt_watch_coffee' do %> Click here<% end %> to go to GitHub repo then follow the instructions in the README.md file.</p> 
      </div>      
    </div>
  </div>
</section>