<section id="grunt">
  <div class="container">
    <div>
      <div>
        <h2>Grunt</h2>
        <p>Covers build task automation such as minification, compilation, unit testing, linting etc.</p>
        <p>Grunt is a task runner that lets you easily configure and run these tasks from a single place. Anyone building front-end only sites can benefit hugely from Grunt, even if you're not writing any Node.js code. The Grunt ecosystem is huge and it's growing every day with literally hundreds of plugins to choose from.</p>
        <ol>
          <li><% link_to 'https://codio.com/codio/nodeschool-01-learnyounode' do %> Learn You Node <% end %> - learn                                                                        
        </ol>  
        <p>Just signup for a free Codio account, then click on the above link to load it into Codio. Finally, select Project->Fork to fork the project into your own account and take a peek at the README.md file for instructions.</p>
      </div>      
    </div>
  </div>
</section>