<section id="grunt">
  <div class="container">
    <div>
      <div>
        <h2>Grunt</h2>
        <p>Grunt is a must-know task automation tool that manages build tasks such as minification, compilation, unit testing, linting etc.</p>
        <p>This tutorial shows you how a web site is built using the following tasks: <strong>concatenation, js minification &amp; uglification, css minification, cache-busting for images, js and css files</strong> and finally, the <strong>fixing up of references</strong> to js, css and image files once they have undergone these transformations. Enjoy!</p>
        <ul>
          <li><% link_to 'https://codio.com/codio/grunt-tutorial' do %> Grunt Tutorial <% end %> - click to start.                                                                       
        </ul>  
        <p>Just signup for a free Codio account, then click on the above link to load it into Codio. Finally, select Project->Fork to fork the project into your own account and take a peek at the README.md file for instructions.</p>
      </div>      
    </div>
  </div>
</section>