<header>
  <div class="container">

    <div id="tagline">
      <h1>
        <span>NODE TUTORIALS</span> 
        <span>Node.js related tutorials backed up by instantly accessible Codio projects</span>    
      </h1>

      <!-- <div>
        <p>Public projects are free! <a href="/p/signup">Create your first one now...</a></p>
      </div>  -->
    </div>

    <div id="screen">
      <a href="//player.vimeo.com/video/79982944?autoplay=1&hd=1" target="_blank" class="fancybox fancybox.iframe icon-play-circle" id="video"></a>
    </div>

  </div>
</header>