<section id="nodeschool">
  <div class="container">
    <div>
      <div>
        <h2>Nodeschool</h2>
        <p>A beautiful set of tutorials for Node.js from <a href="http://nodeschool.io" target="_blank">Nodeschool.io</a> that starts simple and then gradually moves into more advanced territtory.</p>
        <p>We've added Codio annotations, so it's a really great way to learn. Click on a tutorial to load it, then follow the README.md instructions.</p>
      	<ol>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_learnyounode', :target => '_blank' do %> Learn You Node <% end %> - learn the basics</li>
          <li><% link_to 'https://codio.com/codio/nodeschool-02-stream-adventure' do %> Stream Adventure <% end %> - and introduction to streaming</li> 	  
          <li><% link_to 'https://codio.com/codio/nodeschool-03-bytewiser' do %> Bytewiser <% end %> - sdsd</li>        
          <li><% link_to 'https://codio.com/codio/nodeschool-04-levelmeup' do %> Levelmeup <% end %> working with LevelDB</li>    
          <li><% link_to 'https://codio.com/codio/nodeschool-05-functional-javascript' do %> Functional Javascript <% end %> - writing functional js with Node</li>    
          <li><% link_to 'https://codio.com/codio/nodeschool-06-expressworks' do %> Expressworks <% end %> - using the Express framework</li>    
          <li><% link_to 'https://codio.com/codio/nodeschool-07-promises' do %> Promises <% end %> - using promises for callbacks</li>                                                                         
        </ol>  
      </div>      
    </div>
  </div>
</section>