<section id="nodeschool">
  <div class="container">
    <div>
      <div>
        <h2>Nodeschool</h2>
        <p>A beautiful set of tutorials for Node.js from <a href="http://nodeschool.io" target="_blank">Nodeschool.io</a> that starts simple and then gradually moves into more advanced territtory.</p>
        <p>We've added Codio annotations, so it's a really great way to learn.</p>
      	<div class="links">
          <p><% link_to '/docs/sponblog' do %> <i class="icon-file"></i> Learn You Node <% end %> </p>
          <p><% link_to '/docs/sponblog' do %> <i class="icon-file"></i> Stream Adventure <% end %> </p>
        </div>
      </div>
    </div>
  </div>
</section>