<section id="nodescholl">
  <div class="container">
    <div>
      <div>
        <h2>Nodeschool</h2>
        <p>Write a blog post or tutorial on any coding related subject. You can publish it anywhere you like, anyhow you like.</p>
        <p>All we ask is that you load your source code project into Codio and link to it from your tutorial.</p>
        <p>The experience for your readers couldn't be easier.</p>
      	<div class="links">
        <a href="//player.vimeo.com/video/79982944?autoplay=1" class="fancybox fancybox.iframe">
          <i class="icon-facetime-video"></i> Watch the video...
        </a> <% link_to '/docs/sponblog' do %>
          <i class="icon-file"></i> Read the full explanation
          <% end %>    	  
        </div>            
      </div>      
    </div>
  </div>
</section>