<section id="nodeschool">
  <div class="container">
    <div>
      <div>
        <h2>Node Tutorial - Nodeschool</h2>
        <p>A beautiful set of tutorials for Node.js from <a href="http://nodeschool.io" target="_blank">Nodeschool.io</a> that starts simple and then gradually moves into more advanced territtory.</p>

        <p>We've added Codio annotations, so it's a really great way to learn. Click on a tutorial to load it, then follow the README.md instructions.</p>
        <p><a href="https://player.vimeo.com/video/86100550?autoplay=1&hd=1" target="_blank" class="fancybox fancybox.iframe icon-play-circle" id="video">Want to see a video of how it works? Click here.</a></p>
        <p>To get started, click on the links below and read the README.md or watch the video above.</p>
        <h3>Core Concepts</h3>
      	<ol>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_learnyounode', :target => '_blank' do %> Learn You Node <% end %> - learn the basics</li>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_stream_adventure' do %> Stream Adventure <% end %> - and introduction to streaming</li>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_bytewiser' do %> Bytewiser <% end %> - manipulate binary data in node.js and HTML5 browsers</li>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_functionaljs' do %> Functional Javascript <% end %> - writing functional js with Node</li>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_gitit' do %> Git It <% end %> - Learn the basics of Git and GitHub</li>
        </ol>
        <h3>Electives</h3>
        <ol>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_levelmeup' do %> Levelmeup <% end %> working with LevelDB</li>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_expressworks' do %> Expressworks <% end %> - using the Express framework</li>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_promises' do %> Promises <% end %> - using promises for callbacks</li>
          <li><% link_to 'https://github.com/codio/tutorial_nodeschool_asyncyou' do %> Async You <% end %> - Learn to use the async package</li>
        </ol>
      </div>
    </div>
  </div>
</section>

