<section id="yeoman">
  <div class="container">
    <div>
      <div>
        <h2>Yeoman Tutorial</h2>
        <p>Yeoman is an awesome tool for scaffolding out modern web apps. It leans heavily on Bower and Grunt.</p>
        <p>This tutorial scaffolds out an Angular web application. It walks you through all the steps of scaffolding your App, live reload, testing with Karma and Grunt build tasks</p>
        <p>We've made this tutorial super easy to follow using the Codio Tutorial features. Click on the link below, then follow the README.md instructions.</p>
        <h3>Get the Tutorial</h3>
        <p><% link_to 'https://github.com/codio/tutorial_yo_angular', :target => '_blank' do %> Click here<% end %> to go to GitHub repo then follow the instructions in the README.md file.</p>
      </div>      
    </div>
  </div>
</section>

