<section id="frontback">
  <div class="container">
    <div>

        <h2>Help!</h2>
        <p>Have you created or do you want to create some brilliant course material for teaching code at secondary, FE or HE level that you are happy to share with others in your field?  Are you interested in becoming an important member of a growing worldwide teaching community dedicated to equipping the next generation with the skills required to compete in a global marketplace? If so Codio would love to hear from you!</p>
<p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Read about the Codio coding platform', '/education' %></p>      
      </div>
  </div>
</section>