<section id="frontback">
  <div class="container">
    <div>
      <div>
        <h2>Help!</h2>
        <p>You can be part of a global effort to teach kids and adults to code. Find out how we want to promote an open sourced approach to teaching coding that puts all content ownership in the hands of the global teaching community.</p> 
      </div>

      <div>
        <%= image_tag 'crowdsourced.png' %>
      </div>

      <div>
        <h2>The Platform</h2>
        <p>Codio is a Professional grade Web IDE with features aimed to help teachers teach and students learn. Manage courses, students, classes and much more.</p><p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Codio Education Platform', '/education' %></p>  
      </div>
    </div>
  </div>
</section>




