<header>
  <div class="container">

    <h1>
      <span>TEACHING</span>
      <span>THE WORLD</span>
      <span>TO CODE</span>
    </h1>

    <div>
      <p>Calling <strong>teachers</strong>, <strong>students</strong> and educationally minded <strong>developers</strong> to create open source teaching content</p>
    </div>
 
  </div>
</header>