<section id="lingos">
	<div class="container">
		<div>
      <div>
        <img src="img/prog-languages.png">       
      </div>
      
	    <div>
				<h2>What Languages?</h2>
				<p>We want to let the community decide what languages and formats work best. Codio supports many different languages but here are some suggestions.</p>
        <ul>
          <li><strong>HTML5, CSS and Javascript</strong> we believe that everyone should learn the language of the web.</li>
          <li><strong>NodeJS</strong> - given that students should learn Javascript, why not learn back-end programming using a language students probably already know?</li>
          <li><strong>Ruby, Python, PHP, Java, C</strong> - some teachers might prefer these languages and indeed other more esoteric languages.</li>
          <li><strong>MySQL, MongoDB</strong> - SQL and NoSQL databases are an integral part of modern development.</li>
          <li><strong>Open Source Frameworks</strong> - there are so many frameworks and components that simplify development that we feel things like JQuery, AngularJS etc. should be taught early on.</li>
          <li><strong>Git</strong> - is such a vital part of modern, collaborative development that the earlier it is taught, the better.</li>
        </ul>
      </div>
		</div>
	</div>
</section>