<section id="lingos">
	<div class="container">
		<div>
      <div>
        <%= image_tag 'prog-languages.png' %>
      </div>
      
	    <div>
				<h2>What Languages?</h2>
				<p>We want to let the community decide what content to author, so anything goes. Codio supports many different languages but here are some suggestions.</p>
        <ul>
          <li><strong>HTML5, CSS and Javascript</strong> make up the language of the web, so we would love to see great course materials for them.</li>
          <li><strong>NodeJS</strong> is a great back-end development framework and given that students should learn Javascript it makes sense.</li>
          <li><strong>Ruby, Python, PHP, Java, C</strong> as well as more esoteric languages such as Go, Haskell and Ocaml.</li>
          <li><strong>MySQL, MongoDB</strong> SQL and NoSQL databases are an integral part of modern development.</li>
          <li><strong>Open Source Frameworks</strong> are used by pretty well every applications and dramatically speed up development, so we'd love to see some content.</li>
          <li><strong>Git</strong> is such a vital part of modern, collaborative development that the earlier it is taught, the better.</li>
        </ul>
      </div>
		</div>
	</div>
</section>