<section id="opensource">
	<div class="container">
		<div>     
	    <div>
				<h2>Open Source Content</h2>
				<p>Although teachers can produce private coding content on the Codio platform, we provide a rich set of features for developing and publishing open source teaching content.</p>
        <p>What this means is that all public content for teaching coding can be used, copied and modified without restriction. So a teacher in New Delhi can create great materials that can be used in London. Then a teacher in Germnay can copy and translate it so it can be used in German schools.</p>
        <p>The content is owned 100% by the community without any influence from Codio, corporations r governments. We believe that this is the best possible way to build the best possible content.</p>
      </div>
      <div>
        <%= image_tag 'opensource.png' %>
      </div> 
		</div>
	</div>
</section>