<section id="opensource">
	<div class="container">
		<div>     
	    <div>
				<h2>Open Source Content</h2>
				<p>Although teachers can produce private coding content on the Codio platform, we provide a rich set of features for developing and publishing open source teaching content.</p>
        <p>Codio completely eradicates setup woes so you can teach on day 1.</p>        
      </div>
      <div>
   hello
      </div> 
		</div>
	</div>
</section>