<section id="starting">
	<div class="container">
		<div>
	    <div>
				<h2>Getting Started</h2>
				<p>If you want to be a part of this exciting project, hop over to our education page and read more about how Codio can help. It costs nothing to create courses and students can use them for free, too.</p>
        <p>Codio only charges if you want to keep projects private or if you use our class administration features.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Codio Education page', '/education' %></p>
      </div>
      <div>
        <img src="img/prog-languages.png">       
      </div>
		</div>
	</div>
</section>