---
title: Codio - Education Pricing
layout: layout-new
---

<main id="pricing-site">
  <section>
    <h1>Affordable whole school licences</h1>
    <div class="container">
      <p>We provide you & your school with the full set of technology, support and learning resources needed to support the computing curriculum.</p>
    </div>
  </section>
  <section>
    <div class="container">
      <div id="pricing-table1"><a href="/p/signup" class="button">Sign up</a></div>
      <div id="pricing-table2"><a href="/p/free-education-trial" class="button">Get Quote & Start Trial</a>
        <p>** For a minimum 100 user licence; progressively greater discounts for larger user groups</p>
      </div>
    </div>
  </section>
  <section class="big-button"><a href="/pricing/pro" class="button">See our Professional rates</a>
    <p>If you are seeking non-educational prices.</p>
  </section>
  <section id="faq">
    <div class="container">
      <h1>Frequently asked questions</h1>
    </div>
    <div id="faq1" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Whole school licences</h2>
        <p>
          Whole school licences provide your school or education institution with a
          comprehensive, fully supported solution for your computing curriculum.
        </p>
        <p>
          Your school gets full access to the Codio platform for a defined number of
          users (teachers, administrators, students), including the IDE & coding platform, the
          curriculum aligned learning resources and support for "organizations".
        </p>
        <p>
          Licences run for a full school academic year.
        </p>
      </div>
    </div>
    <div id="faq2" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Account owner</h2>
        <p>
          On sign up, you can create your school "organisation" account to
          which can be added accounts for your teaching colleagues, technicians and students.
        </p>
        <p>
          Account owners have administrative rights to manage the whole school
          licence including adding and removing teachers and students.
        </p>
      </div>
    </div>
    <div id="faq3" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Accounts</h2>
        <p>Each user account gets access to:</p>
        <p>- the full IDE & coding platform with unlimited private project workspace and dedicated virtual servers</p>
        <p>- access to our portfolio of learning resources</p>
        <p>- "organization" support features (account owners only).</p>
      </div>
    </div>
    <div id="faq4" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Curriculum course content</h2>
        <p>
          Codio’s whole school licence is inclusive of access to the teaching resources for schools.  Currently released courses have been designed for KS3 and GCSE Computing students (US grades 4-10) with KS2 content to follow shortly.
        </p>
        <p>
          In addition to the curriculum teaching resources for Python, An Introduction to Coding and An Introduction to Web Development, Codio and OCR will continue to release course content covering the full non-programming and programming elements of the UK curriculum.
        </p>
      </div>
    </div>
    <div id="faq5" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Projects</h2>
        <p>
          Every user enjoys unlimited private projects e.g. programming projects or coursework. You can also create projects using Codio stacks or starter packs.
        </p>
        <p>
          We offer a comprehensive portfolio of pre-configured stacks for a wide range of programming languages, frameworks, databases and other components (including Python, Angular, PHP, Ruby, Scala, Lua, and many more, even Ocaml!)
        </p>
      </div>
    </div>
    <div id="faq6" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>User support</h2>
        <p>
          User support is UK-based and by email, telephone or Skype call. Please email <a href="mailto:support@codio.com">support@codio.com</a>
        </p>
      </div>
    </div>
    <div id="faq7" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Codio Forum</h2>
        <p>We also offer a forum for ideas, issues and product suggestions. Please visit <a href="www.codio.com/forum">www.codio.com/forum.</a></p>
      </div>
    </div>
    <div id="faq8" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Privacy</h2>
        <p>For information on the information Codio collects from users, our use of that information and other information about cookies and our forum, <a href="/legal/privacy">please consult our privacy policy.</a></p>
      </div>
    </div>
    <div id="faq9" class="line-faq">
      <div class="container">
        <div class="image"></div>
        <h2>Terms & Conditions</h2>
        <p>For full terms and conditions, please refer to our acceptable usage policy, our pricing policy and our terms of use, <a href="/legal#toc">here.</a></p>
      </div>
    </div>
  </section>
</main>
