<aside class="tag-posts">
  <h2>In <%= current_tag %></h2>
  <ol>
  <% blog.tags[current_tag][0..4].each do |article| %>
    <li>
      <a href="<%= article.url %>">
      <span><%
        title = article.title
        max_lenght = 50
        if title.length > max_lenght
          title = title[0..max_lenght].gsub(/\s\w+\s*$/,'')
        end
        concat title
      %></span>
      &hellip;
      </a>
    </li>
  <% end %>
  </ol>
</aside>
