<div class="call-to-action">
  <h2>
    Ready to get started?
  </h2>
  <h3>
    The world of Codio is waiting for you
  </h3>
  <div class="action-buttons">
    <%= link_to 'Get Started', (defined?(url) ? url : '/p/signup'), class: 'button button-large button-action' %>
    <%= link_to(
      'View pricing',
      (defined?(pricing) ? "/pricing?type=#{pricing}" : '/pricing'),
      class: 'button button-large button-dark'
    ) %>
  </div>
</div>
