<div class="blue">
  <div class="section footer">
    <h3>
      Learn more about the advantages of codio
    </h3>
    <div class="learn-buttons">
      <%= link_to 'Schools', '/school', class: 'button button-large button-main' %>
      <%= link_to 'Universties', '/university', class: 'button button-large button-main' %>
    </div>
  </div>
</div>
