<footer>
  <ul>
    <li><%= link_to "About Us", "/about" %></li>
    <li><%= link_to "Blog", "/blog" %></li>
    <li><%= link_to "Community", "/community" %></li>
    <li><%= link_to "Legal Things", "/legal" %></li>
  </ul>
</footer>
