<footer>
  <div id="socials">
    <div class="container"><a href="#">
        <div id="youtube"></div></a><a href="#">
        <div id="facebook"></div></a><a href="#">
        <div id="google"></div></a><a href="#">
        <div id="twitter"></div></a></div>
  </div>
  <div id="footer-links">
    <div class="container">
      <ul>
        <li>
          <h4>Codio</h4>
        </li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
      <ul>
        <li>
          <h4>About</h4>
        </li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Legal</a></li>
      </ul>
      <ul>
        <li>
          <h4>Help</h4>
        </li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Status</a></li>
      </ul>
    </div>
  </div>
  <div id="footer-copy">
    <p>© Codio  2015 All rights reserved</p>
  </div>
</footer>
