<footer>
  <div id="socials">
    <div class="container"><a href="https://www.youtube.com/channel/UCe_pvWqpowhOlwOwO3nVsaw">
        <div id="youtube"></div></a><a href="https://www.facebook.com/CodioHQ">
        <div id="facebook"></div></a><a href="https://plus.google.com/+Codio/">
        <div id="google"></div></a><a href="https://twitter.com/codiohq">
        <div id="twitter"></div></a></div>
  </div>
  <div id="footer-links">
    <div class="container">
      <ul>
        <li>
          <h4>Codio</h4>
        </li>
        <li><a href="/pricing/edu">Pricing</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <ul>
        <li>
          <h4>About</h4>
        </li>
        <li><a href="/about">Our Company</a></li>
        <li><a href="/about/#team">Our Team</a></li>
        <li><a href="/legal">Legal</a></li>
      </ul>
      <ul>
        <li>
          <h4>Help</h4>
        </li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="http://forum.codio.com/">Community</a></li>
        <li><a href="http://status.codio.com/">Status</a></li>
      </ul>
    </div>
  </div>
  <div id="footer-copy">
    <p>© Codio  2015 All rights reserved</p>
  </div>
</footer>
