<header>

  <nav class="top">
    <ul>
      <li><a href="" id="menu-toggle">Menu</a></li>
      <li><a href="">Sign Up</a></li>
    </ul>
  </nav>
  <nav class="left slide-menu">
    <h3><%= link_to ".codio", "/" %></h3>
    <%= link_to "Docs", "/docs" %>
    <%= link_to "Pricing", "/pricing" %>
    <%= link_to "Community", "/community" %>

    <div class="actions signed-out">
      <a href="">Sign In</a>
      <a href="" class="outline-button">Sign Up</a>
    </div>
    <div class="actions signed-in">
      <a id="userlink">
        <span></span>
        <img id="gravatar" alt="Gravatar"></img>
      </a>
      <a href="">Messages</a>
    </div>
  </nav>
</header>
