<header>

  <nav class="top">
    <ul>
      <li><a href="">Menu</a></li>
      <li><a href="">Sign Up</a></li>
    </ul>
  </nav>
  <nav class="left">
    <ul>
      <li><%= link_to "Codio", "/" %></li>
      <li><%= link_to "Docs", "/docs" %></li>
      <li><%= link_to "Pricing", "/pricing" %></li>
      <li><%= link_to "Community", "/community" %></li>
    </ul>
    <ul>
      <li><a href="">Sign In</a></li>
      <li><a href="">Sign Up</a></li>
    </ul>
  </nav>
</header>
