<header>
  <div class="container">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <ul>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#" class="button">Get started</a></li>
      </ul>
    </nav>
  </div>
</header>