<header>
  <nav>
    <ul>
      <li><%= link_to "Codio", "/" %></li>
      <li><%= link_to "Docs", "/docs" %></li>
      <li><%= link_to "Pricing", "/pricing" %></li>
      <li><%= link_to "Community", "/community" %></li>
    </ul>
    <ul>
      <li>Sign In</li>
      <li>Sign Up</li>
    </ul>
  </nav>
</header>
