<a class="menu-toggle open">
  <div class="menubars"></div>
</a>
<div class="mobile-nav">
  <%= partial "nav" %>
</div>
<header class="fixed">
  <div class="container animated fadeInDown">
    <a href="/" class="logo-link"><%= image_tag 'logo-light.svg', class: 'logo' %></a>
    <nav>
      <%= partial "nav" %>
    </nav>
  </div>
</header>
