<header>
  <div class="container">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <ul>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="http://forum.codio.com/">Community</a></li>
        <li><a href="/p/login">Sign in</a></li>
        <li><a href="https://codio.com/p/signup" class="button">Get started</a></li>
      </ul>
    </nav>
  </div>
</header>