<ul>
  <li class='highspot'>
    <%= link_to 'Free trial', (defined?(surl) && !surl.nil? ? surl : '/start-edu-trial'), class: 'button' %>
  </li>
  <li>
    <%= link_to 'Log in', '/p/login' %>
  </li>
  <li>
    <%= link_to 'Join Class', '/p/join-class' %>
  </li>
  <li></li>
</ul>