<div class="pricing-content-col pricing-content-col-right">
  <h4>Licences explained</h4>
  <div class="panel-group" id="accordion-business">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-business" data-target="#bus-team">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Is Codio for professional web development teams?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="bus-team" class="panel-collapse collapse">
        <div class="panel-body">
          Yes. Codio is a web-based front-end IDE that addresses all aspects of the development
          lifecycle—from prototype to deployment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-business" data-target="#bus-annual">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            What do I get with an annual licence?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="bus-annual" class="panel-collapse collapse">
        <div class="panel-body">
          Organisational licences enable you to share across your team. It also means you have access
          to more Always-On Boxes.  The number of Boxes provided corresponds to the number of user
          licenses you have selected. For example, if you have five user licenses, you will have five
          Always-On boxes.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-business" data-target="#cbus-always-on">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            What is an Always-On box? 
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="bus-always-on" class="panel-collapse collapse">
        <div class="panel-body">
          Usually when you close a project, its' Box will automatically shut down after a few minutes.
          An Always-On Box is one that never shuts down, and is therefore always on to be accessed by
          colleagues or clients.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-business" data-target="#bus-how-buy">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            How do I buy? 
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="bus-how-buy" class="panel-collapse collapse">
        <div class="panel-body">
          We will issue you with an invoice that can be paid by bank transfer or credit card via PayPal.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-business" data-target="#bus-owner">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Who is the account owner of the organisational license?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="bus-owner" class="panel-collapse collapse">
        <div class="panel-body">
          The account holder is the individual who creates your organisation in Codio and is responsible for payment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-business" data-target="#bus-owns">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Who owns all the content and projects in my account?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="bus-owns" class="panel-collapse collapse">
        <div class="panel-body">
          You do — you can save and export your code, or save it to a repository.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-business" data-target="#bus-cancel">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Can I cancel?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="bus-cancel" class="panel-collapse collapse">
        <div class="panel-body">
          If you cancel, your account will be de-activated at the end of your current billing cycle.
          You can export or save your projects and re-activate your account at any time.
        </div>
      </div>
    </div>
  </div>
</div>
