<section class="cards">
  <div class="card">
    <div class="card-header">
      <h2>Developer</h2>
      Begin exploring coding environments and access public projects
    </div>
    <div class="card-copy">
      <ul>
        <li>Access to <em>stacks and packs</em></li>
        <li><b>256 MB</b> Memory</li>
        <li><b>2 GB</b> Storage</li>
      </ul>
    </div>
    <div class="card-price">
      Free
    </div>
    <a href="">Select</a>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Pro</h2>
      Greate for personal publishing and private client work
    </div>
    <div class="card-copy">
      <ul>
        <li>Access to <em>stacks and packs</em></li>
        <li>Unlimited private projects</li>
        <li><b>256 MB</b> Memory</li>
        <li><b>5 GB</b> Storage</li>
        <li>1 Always-on box</li>
      </ul>
    </div>
    <div class="card-price">
      <em>$15</em>/mo</br>
      <span>$144 p.a.*</span>
    </div>
    <a href="">Select</a>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Pro+</h2>
      Great for Agency and enterprise professionals with heavier
      project loads
    </div>
    <div class="card-copy">
      <ul>
        <li>Access to <em>stacks and packs</em></li>
        <li>Unlimited private projects</li>
        <li><b>256 MB</b> Memory</li>
        <li><b>5 GB</b> Storage</li>
        <li>1 Always-on box</li>
      </ul>
    </div>
    <div class="card-price">
      <em>$30</em>/mo</br>
      <span>$336 p.a.*</span>
    </div>
    <a href="">Select</a>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Enterprise Pro</h2>
      For teams of 5+ users in professional SMB and enterprise
      organizations
    </div>
    <div class="card-copy">
      <ul>
        <li>Access to <em>stacks and packs</em></li>
        <li>Unlimited private projects</li>
        <li><b>1 GB</b> Memory</li>
        <li><b>25 GB</b> Storage</li>
        <li>Up to 5 Always-on box</li>
      </ul>
    </div>
    <div class="card-price">
      <em>$40</em>/mo</br>
      <span>$384 p.a. / user</span>
    </div>
    <a href="">Select</a>
  </div>
</section>
