<section class="cards">
  <div class="card">
    <div class="card-header">
      <h2>Free</h2>
    </div>
    <div class="card-copy">
      <ul>
        <li><b>256 MB</b> Memory per project</li>
        <li><b>2 GB</b> Storage per project</li>
        <li class="empty">&nbsp;</li>
        <li class="empty">&nbsp;</li>
        <li class="empty">&nbsp;</li>
      </ul>
    </div>
    <div class="card-price">
      Free
    </div>
    <a href="/home/account-settings#billing">Sign Up</a>
  </div>

  <div class="card light-highlight">
    <div class="card-header">
      <h2>Teachers &amp; Students</h2>
    </div>
    <div class="card-copy">
      <ul>
        <li><b>400 MB</b> Memory per project</li>
        <li><b>5 GB</b> Storage per project</li>
        <li><b>1</b> Always-on box</li>
        <li>Unlimited private projects</li>
        <li>Single user licence</li>
      </ul>
    </div>
    <div class="card-price">
      <em>$7</em>/mo</br>
    </div>
    <a href="/home/account-settings?plan_id=edu_1_2014#billing">Sign Up</a>
  </div>

  <div class="card lighter-highlight">
    <div class="card-header">
      <h2>Schools & Universities</h2>
    </div>
    <div class="card-copy">
      <ul>
        <li><b>400 MB</b> Memory per project</li>
        <li><b>5 GB</b> Storage per project</li>
        <li>Up to <b>1</b> Always-on boxes</li>
        <li>Unlimited private projects</li>
        <li>Custom multi-user licence</li>
      </ul>
    </div>
    <div class="card-price">
      Request pricing</br>
    </div>
    <a href="/home/orgs/new">Sign Up</a>
  </div>

  <section class="faq">
    <h2>Frequently Asked Questions</h2>
  </section>

  <section class="faq">
    <aside>Whole School & University Licences</aside>
    <article>
      Codio offers flexible school and university licences priced at a substantial discount
      to the enterprise sector. We recognise the breadth of institution funding
      arrangements - you can licence annually or achieve even better value for money with a
      three year plan.
      </p>
      <p>
      Whole institution licence pricing is based on the size of the student user group - generally within
      an acceptable range for computer science and related subject department budgets when compared
      with typical course material expenditure per student.
      <p>
      </article>
  </section>

  <section class="faq">
    <aside>Monthly Single User Licences</aside>
    <article>
      Single user licences provide full access to all education
      features including trial access to the full suite of education
      organisation features such creating organisations and assigning
      Tutorials.
    </article>
  </section>


  <section class="faq">
    <aside>Stacks & Starter Packs</aside>
    <article>
      <p>
        All users enjoy unlimited access to a library of pre-configured coding
        environments - you’ll find stacks for just
        about any project requirement - and our starter packs take your
        experience to the next level with stacks, starting point sample
        project code, and, in many cases, rich instructions.
      </p>
      <p>
        You can assign and direct students to specific starter packs via the
        organisation and class management functions - so the whole class is set
        up and ready to learn.
      </p>
    </article>
  </section>

  <section class="faq">
    <aside>Private Projects</aside>
    <article>
      Unlimited private project workspaces are a critical licence resource for
      education users - safeguarding the privacy and integrity of student coursework
      or locking down a collaborative group project to specific team members.
      </p>
      <p>
      Each licence holder enjoys unlimited private project space and if you ever
      want to take your code elsewhere you can download or export your projects.
      <p>
    </article>
  </section>

  <section class="faq">
    <aside>Infrastructure & IDE</aside>
    <article>
      School and universities, and single user licence holders enjoy unlimited dedicated
      server space with plenty of processing power, along with the full functionality of our
      rich code editing environment which can be customised for each user's individual display
      preferences - customise your display panels, learn to code alongside rich tutorial instructions
      and preview your work as you progress.
      </article>
  </section>

  <section class="faq">
    <aside>Always-on boxes</aside>
    <article>
      All licences receive an allocation of always-on boxes;
      managing which projects run with an always-on box is a simple one
      click choice in the projects dashboard.
    </article>
  </section>

  <section class="faq">
    <aside>Terms and Conditions</aside>
    <article>
      For full terms and conditions, please refer to our acceptable
      usage policy, our pricing policy and our terms of use,
      <%= link_to "here", "/legal#toc" %>.

    </article>
  </section>

  <section class="faq">
    <aside>Privacy</aside>
    <article>
      For information on the information Codio collects from users, our use
      of that information and other information about cookies and our
      forum, please consult our
      <%= link_to "privacy policy", "/legal#privacy-policy" %>.
    </article>
  </section>

</section>
