<section class="cards">
  <div class="card">
    <div class="card-header">
      <h2>Free</h2>
      Begin exploring coding environments and access public projects
    </div>
    <div class="card-copy">
      <ul>
        <li>Access to <em>stacks and packs</em></li>
        <li><b>256 MB</b> Memory</li>
        <li><b>2 GB</b> Storage</li>
      </ul>
    </div>
    <div class="card-price">
      Free
    </div>
    <a href="">Select</a>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Education</h2>
      For computer programming students, teachers and lecturers
    </div>
    <div class="card-copy">
      <ul>
        <li>Access to <em>stacks and packs</em></li>
        <li>Unlimited private projects</li>
        <li><b>400 MB</b> Memory</li>
        <li><b>5 GB</b> Storage</li>
        <li>1 Always-on box</li>
      </ul>
    </div>
    <div class="card-price">
      <em>$60</em>/user p.a.</br>
    </div>
    <a href="">Select</a>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Education Plus</h2>
      For computer programming students, teachers and lecturers
    </div>
    <div class="card-copy">
      <ul>
        <li>Access to <em>stacks and packs</em></li>
        <li>Unlimited private projects</li>
        <li><b>750 MB</b> Memory</li>
        <li><b>10 GB</b> Storage</li>
        <li>As many always-on boxes as you need</li>
      </ul>
    </div>
    <div class="card-price">
      From <em>$2,000</em> p.a.</br>
    </div>
    <a href="">Select</a>
  </div>
</section>
