<div class="pricing-content-col pricing-content-col-right">
  <h4>Licences explained</h4>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-individuals">
            Is Codio for professional web development teams?
          </a>
        </h4>
      </div>
      <div id="collapse-individuals" class="panel-collapse collapse">
        <div class="panel-body">
          Yes. Codio is a web-based front-end IDE that addresses all aspects of the development
          lifecycle—from prototype to deployment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-schools">
            What do I get with an annual licence?
          </a>
        </h4>
      </div>
      <div id="collapse-schools" class="panel-collapse collapse">
        <div class="panel-body">
          Organisational licences enable you to share across your team. It also means you have access
          to more Always-On Boxes.  The number of Boxes provided corresponds to the number of user
          licenses you have selected. For example, if you have five user licenses, you will have five
          Always-On boxes.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-organisations">
            What is an Always-On box? 
          </a>
        </h4>
      </div>
      <div id="collapse-organisations" class="panel-collapse collapse">
        <div class="panel-body">
          Usually when you close a project, its' Box will automatically shut down after a few minutes.
          An Always-On Box is one that never shuts down, and is therefore always on to be accessed by
          colleagues or clients.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-owners">
            How do I buy? 
          </a>
        </h4>
      </div>
      <div id="collapse-owners" class="panel-collapse collapse">
        <div class="panel-body">
          Email us at help@codio.com to let us know how many users and what type of licence you
          need. We will issue you with an invoice that can be paid by BACS, CHAPS, wire transfer or PayPal.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-vs">
            Who is the account owner of the organisational license?
          </a>
        </h4>
      </div>
      <div id="collapse-vs" class="panel-collapse collapse">
        <div class="panel-body">
          The account holder is the individual who creates your organisation in Codio and is responsible for payment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-cource">
            Who owns all the content and projects in my account?
          </a>
        </h4>
      </div>
      <div id="collapse-cource" class="panel-collapse collapse">
        <div class="panel-body">
          You do — you can save and export your code, or save it to a repository.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-project">
            Can I cancel?
          </a>
        </h4>
      </div>
      <div id="collapse-project" class="panel-collapse collapse">
        <div class="panel-body">
          If you cancel, your account will be de-activated. You can export or save your projects
          and re-activate your account at any time.
        </div>
      </div>
    </div>
  </div>
</div>
