<section class="cards">
  <div class="card">
    <div class="card-header">
      <h2>Free</h2>
    </div>
    <div class="card-copy">
      <ul>
        <li><b>256 MB</b> Memory</li>
        <li><b>2 GB</b> Storage</li>
        <li class="empty">&nbsp;</li>
        <li class="empty">&nbsp;</li>
        <li class="empty">&nbsp;</li>
      </ul>
    </div>
    <div class="card-price">
      Free
    </div>
    <a href="">Select</a>
  </div>

  <div class="card light-highlight">
    <div class="card-header">
      <h2>Teachers & Students</h2>
    </div>
    <div class="card-copy">
      <ul>
        <li><b>400 MB</b> Memory</li>
        <li><b>5 GB</b> Storage</li>
        <li><b>1</b> Always-on box</li>
        <li>Unlimited private projects</li>
        <li>Single user licence</li>
      </ul>
    </div>
    <div class="card-price">
      <em>$7</em>/mo</br>
    </div>
    <a href="">Select</a>
  </div>

  <div class="card lighter-highlight">
    <div class="card-header">
      <h2>Schools & Universities</h2>
    </div>
    <div class="card-copy">
      <ul>
        <li><b>400 MB</b> Memory</li>
        <li><b>5 GB</b> Storage</li>
        <li>Up to <b>1</b> Always-on boxes</li>
        <li>Unlimited private projects</li>
        <li>Custom multi-user licence</li>
      </ul>
    </div>
    <div class="card-price">
      From <em>$2,000</em> p.a.</br>
    </div>
    <a href="">Select</a>
  </div>
</section>
