<div class="pricing-content-col pricing-content-col-right">
  <h4>Licences explained</h4>
  <div class="panel-group" id="accordion-university">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-students">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Is Codio for university students?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-students" class="panel-collapse collapse">
        <div class="panel-body">
          Yes. Codio is a web-based front-end IDE that addresses all aspects of the development
          lifecycle—from prototype to deployment. It is easy enough for beginners of all ages to
          learn how to program but also provides functionality to progress with the student. Many
          students can use Codio as they enter professional careers.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-annual">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            What do I get with an annual licence?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-annual" class="panel-collapse collapse">
        <div class="panel-body">
          Codio is built for computer science educators, and contains a unique combination of
          technologies that you’ll find hard to match. Codio provides an entire infrastructure
          stack in the cloud to give your students access to their code projects at any time.
          And it offers you great visibility too - with tools that let you monitor progress,
          provide support and feedback. Plus, you can easily create new course content or adapt
          Codio's stacks to create your own learning templates.  As a teacher, you get access
          to class administration tools to monitor student progress and manage your class within
          Codio.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-diff">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            What is the difference between a teacher account and student account?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-diff" class="panel-collapse collapse">
        <div class="panel-body">
          A teacher account gives the teacher access to all the learning and class management
          tools needed, ability to monitor and track student progress and integration capability
          with leading LMS platforms. Student accounts provide access to the entire Codio platform
          and allow submission of code projects directly to the teacher for assessment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-how-buy">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            How do I buy? 
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-how-buy" class="panel-collapse collapse">
        <div class="panel-body">
          We will issue you with an invoice that can be paid by bank transfer or credit card.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-owner">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Who is the account owner of the organizational license?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-owner" class="panel-collapse collapse">
        <div class="panel-body">
          The account holder is the individual who creates your organization in Codio and is responsible for payment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-owns">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Who owns all the content and projects in my account? 
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-owns" class="panel-collapse collapse">
        <div class="panel-body">
          You do — you can save and export your code, or save it to a repository.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-option">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            Do you offer a student self-pay option?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-option" class="panel-collapse collapse">
        <div class="panel-body">
          Yes. Annual licenses include an option for students to pay individually. Ask us for details.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-university" data-target="#un-boss">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            How do I convince my boss?
          </a>
          <i class="indicator glyphicon-toggle glyphicon-toggle-plus pull-right"></i>
        </h4>
      </div>
      <div id="un-boss" class="panel-collapse collapse">
        <div class="panel-body">
          We know there are lots of people that you might need to involve in this decision. And we
          know jumping through all the bureaucratic hurdles can be a pain. So, we're here to help.
          We are available to demo to yourself and a group of your colleagues. Or alternatively, you
          can <a target="_blank" href="/img/assets/pricing/Codio_Brochure_Print.pdf">download our brochure</a> that describes all the Codio product features.
        </div>
      </div>
    </div>
  </div>
</div>
