<div class="pricing-content-col pricing-content-col-right">
  <h4>Licences explained</h4>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-students">
            Is Codio for university students?
          </a>
        </h4>
      </div>
      <div id="un-students" class="panel-collapse collapse">
        <div class="panel-body">
          Yes. Codio is a web-based front-end IDE that addresses all aspects of the development
          lifecycle—from prototype to deployment. It is easy enough for beginners of all ages to
          learn how to program but also provides functionality to progress with the student. Many
          students can use Codio as they enter professional careers.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-annual">
            What do I get with an annual licence?
          </a>
        </h4>
      </div>
      <div id="un-annual" class="panel-collapse collapse">
        <div class="panel-body">
          Codio is built for computer science educators, and contains a unique combination of
          technologies that you’ll find hard to match. Codio provides an entire infrastructure
          stack in the cloud to give your students access to their code projects at any time.
          And it offers you great visibility too - with tools that let you monitor progress,
          provide support and feedback. Plus, you can easily create new course content or adapt
          Codio's stacks to create your own learning templates.  As a teacher, you get access
          to class administration tools to monitor student progress and manage your class within
          Codio. Students licences get access to the entire Codio platform.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-diff">
            What is the difference between a teacher account and student account?
          </a>
        </h4>
      </div>
      <div id="un-diff" class="panel-collapse collapse">
        <div class="panel-body">
          A teacher account gives the teacher access to all the learning and class management
          tools needed, ability to monitor and track student progress and integration capability
          with leading LMS platforms. Student accounts provide access to the entire Codio platform
           and allow submission of code projects directly to the teacher for assessment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-how-buy">
            How do I buy? 
          </a>
        </h4>
      </div>
      <div id="un-how-buy" class="panel-collapse collapse">
        <div class="panel-body">
          Email us at help@codio.com to let us know how many users and what type of licence you need.
          We will issue you with an invoice that can be paid by BACS, CHAPS, wire transfer or PayPal.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-owner">
            Who is the account owner of the organisational license?
          </a>
        </h4>
      </div>
      <div id="un-owner" class="panel-collapse collapse">
        <div class="panel-body">
          The account holder is the individual who creates your organisation in Codio and is responsible for payment.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-owns">
            Who owns all the content and projects in my account? 
          </a>
        </h4>
      </div>
      <div id="un-owns" class="panel-collapse collapse">
        <div class="panel-body">
          You do — you can save and export your code, or save it to a repository.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-option">
            Do you offer a student self-pay option?
          </a>
        </h4>
      </div>
      <div id="un-option" class="panel-collapse collapse">
        <div class="panel-body">
          Sorry, but to keep costs down we can only offer licences at a set level of users.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#un-cost">
            Three year return on investment cost example for universities for 1,000 users
          </a>
        </h4>
      </div>
      <div id="un-cost" class="panel-collapse collapse">
        <div class="panel-body">
          Ask for table...
        </div>
      </div>
    </div>
  </div>
</div>
