<div class="pricing-tab-content">
  <div class="currency-block">
    <h4>Choose currency</h4>
    United Kingdom - United States
  </div>

  <div class="pricing-content-col pricing-content-col-left">
  </div>
  <%= partial 'pricing-licences-explained' %>
</div>