<div class="pricing-content-col pricing-content-col-right">
  <h4>Licences explained</h4>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-individuals">
            What do I get with a monthly licence?
          </a>
        </h4>
      </div>
      <div id="collapse-individuals" class="panel-collapse collapse in">
        <div class="panel-body">
          Codio provides an entire infrastructure stack in the cloud. It is used by beginners to learn
          how to code and by professionals for web development. Web-based IDE, online code editor,
          project templates and over 80+ course units all come as standard. We also have a flexible
          content authoring tool so you can author your own course and share it with colleagues or on
          training days. You get one Always-On box included with your licence.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-schools">
            What is an Always-On box?
          </a>
        </h4>
      </div>
      <div id="collapse-schools" class="panel-collapse collapse">
        <div class="panel-body">
          Usually when you close a project, its' Box will automatically shut down after a few minutes.
          An Always-On Box is one that never shuts down, and is therefore always on to be accessed by
          colleagues, students or clients.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-organisations">
            How do I buy?
          </a>
        </h4>
      </div>
      <div id="collapse-organisations" class="panel-collapse collapse">
        <div class="panel-body">
          You create an account and automatically get 30 days free. To purchase, you visit your Account
          settings and select a pricing plan. You will be invoiced monthly and you have the option to
          pay by Visa, Master Card, or American Express.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-owners">
            Who owns all the content and projects in my account? 
          </a>
        </h4>
      </div>
      <div id="collapse-owners" class="panel-collapse collapse">
        <div class="panel-body">
          You do — you can save and export your code, or save it to a repository.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-vs">
            Can I cancel?
          </a>
        </h4>
      </div>
      <div id="collapse-vs" class="panel-collapse collapse">
        <div class="panel-body">
          If you cancel, your account will be de-activated. You can export or save your projects and
          re-activate your account at any time.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-cource">
            Codio Course Content
          </a>
        </h4>
      </div>
      <div id="collapse-cource" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            School and university licence holders have access to all Codio certified teaching and learning
            resources during the licence period, including all new resources or resource enhancement released
            during another licence period.
          </p>
          <p>
            Using Codio's Guides features, you can also author and publish your own resources in Codio,
            and even assign these as courses or projects to your student group.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-project">
            Project workspace
          </a>
        </h4>
      </div>
      <div id="collapse-project" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            Codio provides each account — individuals, teachers, students — with all the project workspace
            needed to develop programming projects or create projects that can be assigned to student groups.
          </p>
          <p>
            You'll have access to Codio's library of Stacks and Starter packs providing you with all the
            software, languages, databases, and other components needed to develop in just about any
            programing language.
          </p>
          <p>
            In Docs, you can read more about Stacks and Starter Packs.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-ownership">
            Project ownership
          </a>
        </h4>
      </div>
      <div id="collapse-ownership" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            You own all your own projects and code — you can save and export your code, or save it to a repository.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
