<div class="share-links">
  <% url = "#{current_page.app.asset_host}#{current_page.url}" %>

  <!-- Twitter -->
  <a href="https://twitter.com/home?status=Check%20out%20this%20post%20<%= url %>%20by%20@CodioHQ"
     class="twitter-share"
     target="_blank"
     alt="Share on Twitter">
    <i class="fa fa-twitter"></i> <span>share</span
  </a>

  <!-- Facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>"
     class="facebook-share"
     target="_blank"
     alt="Share on Facebook">
    <i class="fa fa-facebook"></i> <span>share</span
  </a>

  <!-- Google Plus -->
  <a href="https://plus.google.com/share?url=<%= url %>"
     class="plus-share"
     target="_blank"
     alt="Share on Google Plus">
    <i class="fa fa-google"></i> <span>share</span>
  </a>
</div>
