<div class="social">
  <!-- Twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="CodioHQ" data-size="large">Tweet</a>

  <!-- Facebook -->

  <!-- Google Plus -->

</div>
