<div class="slider">
  <div class="type-selector">
    <ul class="type-list">
      <li class="item" data-type="developer">
        <%= image_tag 'assets/pricing/developer.svg' %>
        <h2>Developer</h2>
        <ul>
          <li>Full IDE & terminal access</li>
          <li>Unlimited private projects</li>
          <li>Extensive support</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </li>
      <li class="item" data-type="school">
        <%= image_tag 'assets/pricing/school.svg' %>
        <h2>School</h2>
        <ul>
          <li>Curriculum-mapped courses</li>
          <li>Auto-marked assessments</li>
          <li>Dashboards & management tools</li>
          <li>Full IDE & terminal access</li>
          <li>Ample project workspace</li>
          <li>Extensive school & teacher support</li>
        </ul>
      </li>
      <li class="item" data-type="university">
        <%= image_tag 'assets/pricing/university.svg' %>
        <h2>University</h2>
        <ul>
          <li>Full portfolio of courses</li>
          <li>Auto-marked assessments</li>
          <li>Dashboards & management tools</li>
          <li>Full IDE & terminal access</li>
          <li>Unlimited private projects</li>
          <li>Extensive university support</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="drag-wrapper">
    <div class="fill"></div>
    <div class="handle"></div>
  </div>
  <div class="count">
    <span class="number">0</span>
    Account(s)
  </div>

  <div class="display-price">
    <span class="currency">&pound;</span>
    <span class="amount">0</span>
    <span class="divider">/</span>
    <span class="range">month</span>
  </div>
  <p class="instruction">
    Use the slider above to explore group licence prices or
    contact us for a custom quote.
  </p>
</div>
