<div class="slider">
  <div class="type-selector">
    <ul class="type-list">
      <li class="item" data-type="developer">
        <%= image_tag 'assets/pricing/developer.svg' %>
        <h2>Developer</h2>
        <ul>
          <li>Cool Stuff</li>
          <li>More Cool Stuff</li>
        </ul>
      </li>
      <li class="item" data-type="school">
        <%= image_tag 'assets/pricing/school.svg' %>
        <h2>School</h2>
        <ul>
          <li>Cool Stuff</li>
          <li>More Cool Stuff</li>
        </ul>
      </li>
      <li class="item" data-type="university">
        <%= image_tag 'assets/pricing/university.svg' %>
        <h2>University</h2>
        <ul>
          <li>Cool Stuff</li>
          <li>More Cool Stuff</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="drag-wrapper">
    <div class="fill"></div>
    <div class="handle"></div>
  </div>
  <div class="count">
    <span class="number">0</span>
    Account(s)
  </div>

  <div class="display-price">
    <span class="currency">&pound;</span>
    <span class="amount">0</span>
    <span class="divider">/</span>
    <span class="range">month</span>
  </div>
  <p class="instruction">
    To figure out pricing, select a plan and then
    the number of needed accounts.
  </p>
</div>
