<div class="subheader-block">
  <span>
    <div class="link-button-bar">
      <div class="button-container">
        <%= link_to 'Schools', '/school', class: 'button button-large' %>
        <%= link_to 'Universities', '/university', class: 'button button-large' %>
        <%= link_to 'Developer', '/developer', class: 'button button-large' %>
        <%= link_to 'Learners', '/developer', class: 'button button-large' %>
      </div>
    </div>
  </span>
</div>
