
@mixin outline-button {
    font-family: $sans-serif;
    display: inline-block;
    vertical-align: middle;
    //border: 2px solid $base-font-color;
    border-radius: $base-border-radius;
    height: em(35);
    line-height: em(20);
    padding: em(8) em(30) em(5);
    font-weight: 600;
    font-size: 1em;
    color: white;
    margin: 0;
    text-decoration: none;
    text-align: center;
    background: $base-button-color;

}
@mixin action-button {
    @include button(simple);
    font-family: $sans-serif;
    font-size: $large-font-size;
    line-height: $base-line-height;
    outline: none;
    border: none;
    background: $base-button-color;
    text-shadow: none;
    box-shadow: none;
    width: 150px;
    font-weight: 400;

    &:hover:not(:disabled) {
        background: adjust-color($base-button-color, $saturation: -4%, $lightness: -5%);
    }

    &:focus:not(:disabled),
    &:hover:not(:disabled),
    &:active:not(:disabled) {
        box-shadow: none;
        border: none;
    }
}

.back-button {
    $back-button-color: #C7C8CA;
    @include button(simple);
    font-family: $sans-serif;
    font-size: .9em;
    outline: none;
    border: none;
    background: $back-button-color;
    text-shadow: none;
    box-shadow: none;
    font-weight: 400;
    color: white;
    padding: 2px 15px;
    width: 100%;
    border-radius: 0;

    @include transition(background 0.2s linear);

    &:hover:not(:disabled) {
        background: adjust-color($back-button-color, $saturation: -4%, $lightness: -5%);
        color: white;
    }

    &:focus:not(:disabled),
    &:hover:not(:disabled),
    &:active:not(:disabled) {
        box-shadow: none;
        border: none;
    }

    @include media($large-screen-up) {
        width: initial;
        border-radius: $base-border-radius;
        margin-left: 2.5em;
    }
}