@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_reg_it-webfont.eot');
    src: font-url('brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_reg_it-webfont.woff2') format('woff2'),
    font-url('brandon_reg_it-webfont.woff') format('woff'),
    font-url('brandon_reg_it-webfont.ttf') format('truetype'),
    font-url('brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_light_it-webfont.eot');
    src: font-url('brandon_light_it-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_light_it-webfont.woff2') format('woff2'),
    font-url('brandon_light_it-webfont.woff') format('woff'),
    font-url('brandon_light_it-webfont.ttf') format('truetype'),
    font-url('brandon_light_it-webfont.svg#brandon_grotesquelight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_light-webfont.eot');
    src: font-url('brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_light-webfont.woff2') format('woff2'),
    font-url('brandon_light-webfont.woff') format('woff'),
    font-url('brandon_light-webfont.ttf') format('truetype'),
    font-url('brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_med_it-webfont.eot');
    src: font-url('brandon_med_it-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_med_it-webfont.woff2') format('woff2'),
    font-url('brandon_med_it-webfont.woff') format('woff'),
    font-url('brandon_med_it-webfont.ttf') format('truetype'),
    font-url('brandon_med_it-webfont.svg#brandon_grotesqueMdIt') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_blk-webfont.eot');
    src: font-url('brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_blk-webfont.woff2') format('woff2'),
    font-url('brandon_blk-webfont.woff') format('woff'),
    font-url('brandon_blk-webfont.ttf') format('truetype'),
    font-url('brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_blk_it-webfont.eot');
    src: font-url('brandon_blk_it-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_blk_it-webfont.woff2') format('woff2'),
    font-url('brandon_blk_it-webfont.woff') format('woff'),
    font-url('brandon_blk_it-webfont.ttf') format('truetype'),
    font-url('brandon_blk_it-webfont.svg#brandon_grotesqueblack_italic') format('svg');
    font-weight: 800;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_bld_it-webfont.eot');
    src: font-url('brandon_bld_it-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_bld_it-webfont.woff2') format('woff2'),
    font-url('brandon_bld_it-webfont.woff') format('woff'),
    font-url('brandon_bld_it-webfont.ttf') format('truetype'),
    font-url('brandon_bld_it-webfont.svg#brandon_grotesquebold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_bld-webfont.eot');
    src: font-url('brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_bld-webfont.woff2') format('woff2'),
    font-url('brandon_bld-webfont.woff') format('woff'),
    font-url('brandon_bld-webfont.ttf') format('truetype'),
    font-url('brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_thin-webfont.eot');
    src: font-url('brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_thin-webfont.woff2') format('woff2'),
    font-url('brandon_thin-webfont.woff') format('woff'),
    font-url('brandon_thin-webfont.ttf') format('truetype'),
    font-url('brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_thin_it-webfont.eot');
    src: font-url('brandon_thin_it-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_thin_it-webfont.woff2') format('woff2'),
    font-url('brandon_thin_it-webfont.woff') format('woff'),
    font-url('brandon_thin_it-webfont.ttf') format('truetype'),
    font-url('brandon_thin_it-webfont.svg#brandon_grotesquethin_italic') format('svg');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_reg-webfont.eot');
    src: font-url('brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_reg-webfont.woff2') format('woff2'),
    font-url('brandon_reg-webfont.woff') format('woff'),
    font-url('brandon_reg-webfont.ttf') format('truetype'),
    font-url('brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Grotesque';
    src: font-url('brandon_med-webfont.eot');
    src: font-url('brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('brandon_med-webfont.woff2') format('woff2'),
    font-url('brandon_med-webfont.woff') format('woff'),
    font-url('brandon_med-webfont.ttf') format('truetype'),
    font-url('brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: 500;
    font-style: normal;

}