
.slide-menu {

    $slide-menu-background: #FFFFFF;
    $slide-menu-width: $header-width;
    $slide-menu-color: $base-font-color;
    $slide-menu-font-size: $base-font-size;
    $slide-menu-highlight: $base-accent-color;
    $slide-menu-hover: tint($slide-menu-highlight, 20%);
    $slide-menu-active: tint($slide-menu-highlight, 20%);

    background: $slide-menu-background;
    position: fixed;
    display: inherit;

    width: $slide-menu-width;
    height: 100%;
    top: 0;
    z-index: 1000;
    left: -$slide-menu-width;


    @include transition(all 0.3s ease);

    &.open {
        left: 0px;
    }


    @include media($large-screen) {
        left: 0px;
    }



    h3 {
     	color: $slide-menu-color;
        margin: 20px 0 70px;
        a {
            padding: 0;
            text-align: center;
            font-size: $h3-font-size;
            font-weight: $h3-font-weight;
            line-height: $h3-line-height;


            &:hover,
            &:active {
                color: inherit;
                background: inherit;
            }
        }
    }

    a {
    	display: block;
	color: $slide-menu-color;
	font-weight: 600;
        font-size: $slide-menu-font-size;
	padding: em(10) em(40);
        background: transparent;
        text-align: left;

        @include transition(all 0.2s ease);

        &:hover {
	    color: $slide-menu-hover;
        }

        &:active, &.active {
	    color: $slide-menu-active;
        }
    }

    .actions {
        margin-top: 50px;

    }

    .outline-button {
        @include action-button;
        font-size: $slide-menu-font-size;
        font-weight: 600;
	margin: em(10) em(37);
        @include size(70px 25px);
        line-height: 15px;
        padding: 5px 10px
    }
}