body.index {
    .parallax {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;

        .parallax__layer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .parallax__layer--base {
            padding: 90vh 0;
            transform: translateZ(0);
        }
        .parallax__layer--back {
            transform: translateZ(-2px) scale(3);
        }
    }
}