
h1 {
    font-size: $h1-mobile-font-size;
    line-height: $h1-mobile-line-height;

    @include media($large-screen-up) {
        font-size: $h1-font-size;
        line-height: $h1-line-height;
    }
}