.share-links {
    margin: 26px 0;

    a.facebook-share,
    a.twitter-share,
    a.plus-share {
        // @include outline-button;
        display: inline-block;
        padding: 3px 0;
        margin-right: 26px/2;
        @include transition(all .2s linear);
        @include size(32px);

        i {
            font-size: 1.3em;
            line-height: 1.2em;
        }

        span {
            display: none;
        }

        &:hover {
            background: #f6f6f6;
        }

        @include media($desktop) {
            @include size(92px 30px);

            i {
                padding-right: 3px;
                font-size: 14px;
                line-height: initial;
            }

            span {
                display: inline;
            }
        }
    }

    a.facebook-share {
        background: #3D5A99;

        &:hover {
            color: #3D5A99;
        }
    }

    a.twitter-share {
        background: #27AAE2;

        &:hover {
            color: #27AAE2;
        }
    }

    a.plus-share {
        background: #DD4B39;

        i {
            vertical-align: middle;
        }

        &:hover {
            color: #DD4B39;
        }
    }

    &.small {
        a.facebook-share,
        a.twitter-share,
        a.plus-share {
            background: #f6f6f6;
            color: #4F5559;

            &:hover {
                background: #40484C;
                color: #f6f6f6;
            }

            @include media($desktop) {
                @include size(32px);

                i {
                    vertical-align: middle;
                    font-size: 1.3em;
                    line-height: 1.2em;
                    padding-right: 0;
                }
            }
        }
    }
}