body.blog {

  #disqus_thread {
    margin-bottom: 60px;
  }

  article > .blog-social {
    margin: 0 0 40px;

    &:last-child {
      margin: 70px 0 0 0;
    }

    > div {
      float: left !important;
    }

    > .blog-twitter {
      margin-top: 2px;
    }

    > .blog-gplus {
      margin: 2px 0 0 10px;
    }

    > .blog-facebook {
      margin: 0 0 0 10px;
    }
  }

  header {
    background: #666 image-url('bgcloth.png') repeat;
    font-size: 0.8em;
    padding: 20px 0;

    .container {
      margin: 0 auto;
      display: table;

      @include apply-to(less-than, iphone-landscape) {
        margin: 0 20px;
      }

      > div {
        @include apply-to(more-than, ipad-landscape) {
          margin-left: 170px;
        }

        h1 {
          color: $cream;
          font: 30px gotham_thinregular;
          text-transform: uppercase;
          padding: 0;
          margin: 0;
        }

        h2 {
          color: $cream;
          margin: 0;
          font-size: 14px;
          font-family: gotham_bookregular;
          text-transform: none;
          font-weight: normal;
        }
      }
    }
  }

  aside {
    clear: none;
    display: inline-block;
    float: left;
    margin: 10px 0 0 25px;
    width: 210px;

    @include apply-to(less-than, ipad-portrait) {
      display: none;
    }

    .all-posts {
      margin: 50px 0 62px 38px;
      text-transform: uppercase;
      font: 14px gotham_bookregular;

      h5 {
        text-transform: capitalize;
        margin: 50px 0;

        img {
          padding: 0 7px 4px 0;
        }
      }
    }

    .latest-posts {
      &:first-child h4 {
        margin-top: 100px;
      }

      h4 {
        text-transform: uppercase;
        margin: 40px 0 0 38px;
      }

      li {
        margin: 10px 0;
        font-size: 12px;
      }
    }
  }

  .posts {
    margin-top: 30px;
    float: left;

    @include apply-to(more-than, ipad-portrait) {
      width: 740px;
    }

    &.all {
      margin: 30px 0 50px;

      h2 {
        border-bottom: 1px solid #CCC;
        margin: 0.83em 20px 30px;

        @include apply-to(more-than, ipad-portrait) {
          padding-left: 169px;
          margin: 0.83em 0 30px;
        }

        a {
          color: #3e3e3e;
        }
      }

      article {
        margin-bottom: 20px;
        padding-bottom: 1px;
        border: none;

        h3 {
          margin: 0 0 0 150px;
          font-size: 16px;
        }

        .meta {
          width: 120px;
          float: left;

          p.date {
            text-align: left;
            border-bottom: none;
            font-size: inherit;
            margin: 0;

            @include apply-to(more-than, ipad-portrait) {
              text-align: right;
            }

            span.author {
              display: block;
              color: #AAA;
            }
          }
        }
      }
    }

    > .pagination {
      margin: 20px 20px 60px;

      p {
        width: 120px;
        float: left;
        padding: 0;
        margin: 0;
      }
    }

    > article {
      margin: 20px 20px 60px;
      border-bottom: 3px solid #ccc;
      padding-bottom: 15px;

      img:not(.fancybox-image) {
        vertical-align: middle;
        display: inline-block;
        padding: 4px;
        background-color: #fff;
        border: 1px solid #ccc;
        @include box-shadow(0 1px 3px rgba(0,0,0,0.1));
        @include border-radius(3px);
        max-width: 90%;
        height: inherit;

        &.blog-img {
          max-width: 240px;
          margin: 0 44px 40px 0;
        }
      }

      table {
        margin: 40px 0;

        thead th {
          border-bottom: 1px solid #eee;
          padding-bottom: 10px;
        }

        tbody {
          td {
            vertical-align: top;
            padding-bottom: 10px;
          }

          tr:first-child > td {
            padding-top: 15px;
          }
        }
      }

      hr {
        margin: 2em;
      }

      p {
        line-height: 1.5em;
      }

      .meta {

        p.tagged {
          display: block;
          font: 14px gotham_bookregular;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }

        ul.tags {
          color: #777;
          display: block;
          margin: 0 0 36px 0;
          padding: 0 0 0 2px;
          list-style: none;

          li {
            font-size: 12px;
            font-style: italic;
            margin: 0 0 10px 0;
            position: relative;

            &:after {
              content: "\2014";
              font-size: 13px;
              left: -14px;
              position: absolute;
              top: 0;
            }

            a {
              color: #777;
            }
          }
        }

        p.date {
          font-size: 12px;

          a {
            color: #aaa;
            font-weight: 400;
          }

          span.author {
            color: #AAA;
          }
        }

        p.comments {
          font-size: 14px;

          @include apply-to(less-than, ipad-portrait) {
            display: none;
          }
        }
      }

      h1 {
        font: 28px gotham_bookregular;
        margin-bottom: 5px;

        @include apply-to(less-than, ipad-portrait) {
          text-align: center;
        }
      }

      h2 {
        margin: 2.5em 0 1em;
        font-family: gotham_mediumregular;
        font-size: 19px;
      }

      blockquote {
        margin: 2em 40px 1.6em;
        font-family: serif;
        font-style: italic;
        font-size: 18px;
        color: #666;

        em {
          font-style: normal;
          font-size: 14px;
          color: #000;
        }
      }
    }
  }
}