body.dataforms {

  #site-nav {
    margin-left: 35px !important;

    li:nth-child(1) a {
      color: #000;
      border-color: #f36050;
      font-family: gotham_medium;
    }
  }

  .codio-nav {
    margin: 30px 10px 0 0 !important;

    &#signedout-nav li {
      padding: 0 5px !important;

      &:nth-child(1) {
        padding-left: 16px !important;
      }
    }
  }

  .container {
    header {
      @include clearfix;
      margin: 22px 0 42px;

      div {
        float: left;

        &:first-child {
          width: 400px;
          margin: 40px 0 0 30px;
        }

        &:last-child {
          margin-top: 20px;
          width: 500px;
        }
      }

      h1 {
        font: 38px 'Indie Flower';
        @include rotate(2deg);
        float: right;
        color: $red;
        font-size: 38px;
        margin-top: 38px;
        border-bottom: 1px solid #ccc;
        text-transform: none;
      }

      h2 {
        font: 29px gotham_medium;
        text-transform: none;
        color: #888;
        margin: 0;
      }
    }
    
    div#wufoo-m3c5x701kcpyad, div#wufoo-z1wjxibs1jal6ij {
      margin: 0px 0px 0px 20px;
      font: gotham_light 14px!important;

    }    

    .feature-list {
      width: 90%;
      padding-left: 50px;
      h3 {
        border-bottom: 2px solid #eee;
        margin: 0 0 10px;
        font: 16px gotham_light;
        color: #888;
        padding-bottom: 3px;
        text-align: center;
        letter-spacing: 6px;
      }

      ul {
        text-align: center;
        list-style: none;
        padding-left: 0;
        margin: 0 0 11px;

        li {
          display: inline-block;
          margin: 4px 1px;

          a {
            background-color: #EAEDF2;
            border-radius: 4px;
            padding: 4px 10px;
            color: #666;
            font: 14px gotham_book;

            &.active {
              background-color: $red;
              color: #fff;
            }
          }
        }
      }
      
    }

    section {
      width: 980px;
      background: transparent image-url('home/video_mac.png') no-repeat;
      background-size: 1226px 1019px;
      background-position: -110px -122px;
      height: 920px;

      div {
        padding: 49px 0 0 45px;

        iframe {
          width: 891px;
          height: 547px;
        }
      }
    }

  }

}