body.docs.full-screen {
  .wrap {
    > nav, > .main, > .sub, > footer {
      display: none;
    }

    > .container {
      width: 100%;
      padding-bottom: 100px;

      #full-screen {
        top: 28px;
      }

      header {
        margin-top: 0;
        margin-left: 365px;

        #breadcrumbs {
          margin-bottom: 30px;
        }
      }

      aside {
        margin: 0 20px 50px 25px;
        position: fixed;
        top: 25px;
        height: 100%;

        form {
          margin-bottom: 35px;
        }
      }

      article {
        margin-left: 340px;
        border-left: 3px solid #CCC;
        padding-left: 30px;
      }
    }
  }
}

body.docs {

  @import 'partials/tree';
  @import 'partials/breadcrumbs';

  #site-nav {
    margin-left: 35px !important;

    li:first-child a {
      color: #000;
      border-color: #f36050;
      font-family: gotham_medium;
    }
  }

  .codio-nav {
    margin: 30px 10px 0 0 !important;

    &#signedout-nav li {
      padding: 0 5px !important;

      &:nth-child(2) {
        padding-left: 16px !important;
      }
    }
  }

  .wrap > .container {
    padding-bottom: 100px;
  }

  header {
    margin: 20px 0 0 0;
    overflow: hidden;

    #breadcrumbs {
      width: 940px;
    }

    #full-screen {
      float: right;
      position: relative;
      top: 4px;
      right: 16px;
    }
  }

  article {
    margin: 0 10px 80px 335px;
    min-height: 500px;

    h1 {
      font: 26px gotham_book;
      margin: 0 0 18px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 8px;
      text-transform: none;
    }

    h2 {
      font: 1.3em gotham_light;
      text-transform: none;
      margin: 2.0em 0 0.3em;
      border-bottom: 1px solid #ddd;
      padding-bottom: 8px;
    }

    h3 {
      font: 1.2em gotham_book;
      margin: 3em 0 1.4em;
    }

    img:not(.fancybox-image) {
      vertical-align: middle;
      display: inline-block;
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      @include box-shadow(0 1px 3px rgba(0,0,0,0.1));
      @include border-radius(3px);
      max-width: 97%;
      margin: 10px 0;
    }

    ol > li {
      margin: 12px 0;
    }

    ul > li {
      margin: 4px 0;
    }

    code {
      color: #777;
      font-size: 14px;
    }

    table {
      width: 100%;
      margin-bottom: 20px;
      max-width: 100%;
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;

      tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
        background-color: #EFEDE7;
      }

      th, td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #dddddd;
      }
    }

    #pagination {
      margin-top: 70px;
      border-top: 1px solid #CCC;
      padding-top: 20px;

      a.fright {
        float: right;
      }
    }
  }

}