body.education {

  header {
    background: #596A84 image-url('home/screens/world-map.png');
    background-repeat: no-repeat;
    background-position: center 120px;
    height: 570px;
    color: #fff;

    .container {
      h1 {
        text-align: left;
        line-height: 2.0em;
        width: 530px;
        margin: 250px 0px 0px -7px;

        @include apply-to(more-than, desktop) {
	        margin: 250px 0px 0px 62px;
        }

        span {
          text-shadow: 0px 1px 3px #888;
          line-height: 0.9em !important;
          font: 55px gotham_thin;

          // a
          &:nth-child(1) {
            padding-left: 7px;
            font: 50px gotham_thin;
            text-transform: lowercase;
          }

          // paradise
          &:nth-child(2) {
            font: 50px gotham_thin;
            padding-right: 10px;
          }

          // for
          &:nth-child(3) {
            font: 50px gotham_thin;
            text-transform: lowercase;
          }

          // teachers
          &:nth-child(4) {
            font: 74px gotham_medium;
            display: block;
          }

          // teaching
          &:nth-child(5) {
            font: 74px gotham_medium;
            display: block;
          }

          // to code
          &:nth-child(6) {
            padding-top: 15px;
            padding-left: 7px;
            font: 50px gotham_thin;
            text-transform: lowercase;
            display: block;
          }
        }
      }

      div {

        text-align: right;
        font: 24px 'gotham_thin';
        margin: -204px 0 0 596px;
        width: 363px;


        @include apply-to(more-than, desktop) {
          margin: -187px 0 0 660px;
          font-size: 24px;
          width: 504px;
        }

        a {
          border-bottom: 1px solid $linkColor;

          &:hover {
            border-bottom: 1px solid black;
          }
        }

        strong {
          font-family: gotham_medium;
        }
      }
    }
  }

  @mixin screenie {
    > div {
      background: transparent image-url('home/screens/screen-shadows.png') no-repeat 0 bottom;
      background-size: 60%;
      padding: 100px 0 46px 300px;
      width: 380px;

      @include apply-to(more-than, desktop) {
        background-size: 41%;
        padding-left: 30px;
        width: 524px;
        padding-bottom: 110px;
      }
    }
  }


  @import '../partials/education/sections';
}