body.education {

  header {
    background: #596A84 image-url('home/screens/world-map.png');
    background-repeat: no-repeat;
    background-position: center 120px;
    height: 570px;
    color: #fff;

    .container {

      div {
        
        &:first-child {
          width: 300px;
          margin: 0px 0px 0px 0px;
        }

        &:last-child {
          float: right;
          margin: 300px 45px 0px 0px;
          font: 34px 'gotham-thin';
        }
        
      }
    }
  }

  @mixin screenie {
    > div {
      background: transparent image-url('home/screens/screen-shadows.png') no-repeat 0 bottom;
      background-size: 60%;
      padding: 100px 0 46px 300px;
      width: 380px;

      @include apply-to(more-than, desktop) {
        background-size: 41%;
        padding-left: 30px;
        width: 524px;
        padding-bottom: 110px;
      }
    }
  }


  @import '../partials/education/sections';
}