body.education {
    
  header .container > div:first-child h1 span:nth-child(1) {
    font-size: 76px;
  }
  header .container > div:first-child h1 span:nth-child(2) {
    font-size: 63px;
  }
  header .container > div:first-child h1 span:nth-child(3) {
    font-size: 85px;
  }  
  
  header .container > div:first-child > div {
    margin-left:10px;
  }    
  
  @import '../partials/education/sections';
}