@import url(//fonts.googleapis.com/css?family=Indie+Flower);

body.home-sponblog {

  header {
    background-color: #506445;
    height: 420px;
    overflow-x: hidden;
    padding-top: 106px;


    .container {
      @include clearfix();

      > div {
        float: left;
        position: relative;
        color : #DDD9D9;    

        // Tagline
        &:first-child {
          z-index: 2;
          top: 30px;
          left: 5px;

          @include apply-to(more-than, desktop) {
            top: 8px;  
            left: 33px;
          }

          h1 {
            color : #DDD9D9;
            text-transform: none;
            text-align: right;
            margin: 0;
            opacity: 0;

            span {
              // "WE'LL
              &:nth-child(1) {
                font: 34px gotham_thin;

                @include apply-to(more-than, desktop) {
                  font-size: 36px;
                }
              }

              // "PAY YOU"
              &:nth-child(2) {
                //display: block;
                font: 65px gotham_black;

                @include apply-to(more-than, desktop) {
                  font-size: 73px;
                }
              }

              // "TO WRITE"
              &:nth-child(3) {
                font: 90px gotham_black;
                display: block;
                margin-top: -10px;

                @include apply-to(more-than, desktop) {
                  font-size: 102px;
                }
              }

              // "A BLOG POST"
              &:nth-child(4) {
                font: 48px gotham_thin;
                display: block;
                top: -18px;

                @include apply-to(more-than, desktop) {
                  font-size: 59px;
                  padding-left: 35px;
                }
              }

              // "OR TUTORIAL"
              &:nth-child(5) {
                font: 48px gotham_thin;
                display: block;
                top: -18px;
                text-align: right;
                @include apply-to(more-than, desktop) {
                  font-size: 59px;
                }
              }

              // "ON ANY SUBJECT YOU LIKE" 
              &:nth-child(6) {
              display: block;
                font: 32px gotham_light !important;
                margin-top: -17px;
                @include apply-to(more-than, desktop) {
                  font-size: 39px !important;
                }
              }

            }

            // "PHP LOGO"
            img {
              margin: -124px 272px 0px 10px !important;
              height: 89px;              
              @include apply-to(more-than, desktop) {
                margin: -139px 327px 0px 10px !important;
                height: 104px;       
              }
            }  

          }


          div {
            opacity: 0;

            p {
              font: 20px 'Indie Flower';
              @include rotate(-4deg);
              margin: 20px 0 0 48px;

              @include apply-to(more-than, desktop) {
                margin: 15px 0 0 112px;
                font-size: 22px;
              }

              a {
                border-bottom: 1px solid $linkColor;

                &:hover {
                  border-bottom: 1px solid black;
                }
              }
            }

            img {
              position: relative;
              float: right;
              right: -68px;
              bottom: 58px;
            }
          }
        }
      }
    }
  }


  @mixin screenie {
    > div {
      background: transparent image-url('home/screens/screen-shadows.png') no-repeat 0 bottom;
      background-size: 60%;
      padding: 100px 0 46px 300px;
      width: 380px;

      @include apply-to(more-than, desktop) {
        background-size: 41%;
        padding-left: 350px;
        width: 524px;
        padding-bottom: 110px;
      }
    }
  }

  @mixin even-section {
    background-image: linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -o-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -moz-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -webkit-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -ms-linear-gradient(left , rgb(255,255,255) 25%, rgb(249,249,249) 36%);
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.25, rgb(255,255,255)),
      color-stop(0.36, rgb(249,249,249))
    );

    @include apply-to(more-than, desktop) {
      background-image: linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -o-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -moz-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -webkit-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -ms-linear-gradient(left , rgb(255,255,255) 15%, rgb(249,249,249) 36%);
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, rgb(255,255,255)),
        color-stop(0.36, rgb(249,249,249))
      );
    }
  }

  @import '../partials/home-sponblog/sections';

}