body.home {
  background-color: #F9FAF7;

  header {
    background: #666 image-url('bgcloth.png') repeat;
    color: $cream;
    padding: 30px 0;
    box-shadow: 0 0 40px #666;

    .container {
      #public-stamp {
        img {
          position: absolute;
          margin: 355px 0px 0px 630px;
        }
      }

      > .clearfix > div {
        float: left;

        // Headline
        &:first-child {
          width: 600px;
          margin: 30px auto 20px;
          text-align: center;

          > div {
            text-transform: uppercase;

            // Top three Headline lines of text.
            > p {
              margin: 0;
              text-shadow: 0 0 100px #000;
              font: 30px gotham_bookregular;

              &:nth-child(1) {
                line-height: 1.5em !important;
              }

              &:nth-child(2) {
                font: 72px gotham_boldregular;
                line-height: 1.0em !important;
              }

              &:nth-child(3) {
                font: 110px gotham_boldregular;
                line-height: 0.8em !important;
              }
            }

            // "You'll love to use every day" + love heart
            > div {
              font: 30px gotham_bookregular;
              text-align: center;
              width: 600px;
              line-height: 1.1em !important;
              margin: 16px 0 0 0px;

              p {
                margin: 0;
              }

              span {
                float: left;

                &:nth-child(2) {
                  background: transparent image-url('home/love.gif') no-repeat;
                  text-indent: -9999px;
                  display: block;
                  width: 98px;
                  height: 99px;
                  margin-top: -16px;
                }
              }
            }

            // Flourish
            > img {
              position: relative;
              top: 23px;
            }
          }

          > p {
            width: 530px;
            font: 17px gotham_thinregular;
            text-align: center;
            margin: 48px auto 15px;
            line-height: 1.5em;
          }
        }

        // Illustration
        &:last-child {
          background: transparent image-url('wheel.png') no-repeat 43px 15px;
          width: 350px;
          height: 344px;
          text-indent: -9999px;
          background-size: 86%;
        }
      }
    }
  }

  .wrap > .switched-lists {
    padding-bottom: 100px;
  }

  #features {
    height: 520px;
    @include clearfix;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    > ul {
      float: left;

      // Left side intro and tabs
      &:first-child {
        width: 200px;
        margin-right: 20px;

        > li {
          // Intro
          &:first-child {
            font-style: italic;
            font-size: 16px;
            text-align: right;
            margin: 25px 0 40px 0;
          }

          // Tabs
          &:last-child {
            ul {
              list-style: none;
              padding: 0;
              border-right: 1px solid #ddd;

              li {
                margin: 4px 0 4px 6px;

                a {
                  display: block;
                  padding: 8px 16px 8px 14px;
                  text-transform: uppercase;
                  font-size: 16px;
                  text-align: right;
                  font-family: gotham_mediumregular;
                }

                &.active a {
                  border: 1px solid #ddd;
                  @include border-radius(8px 0 0 8px);
                  border-color: #ddd #F9FAF7 #ddd #ddd;
                  left: 1px;
                  position: relative;
                  color: #000;
                }
              }
            }
          }
        }
      }
    }

    // Right side feature list
    #feature-groups {
      float: left;
      width: 720px;
      margin: 15px 0 0 40px;

      > ul {
        width: 5000px;

        > li {
          position: absolute;
          @include translate(2000px, 0);

          &.active {
            @include translate(0, 0);
          }

          > ul > li {
            display: inline-block;
            width: 212px;
            vertical-align: top;
            padding: 0 36px 15px 0;

            &:last-child {
              padding-right: 0;
            }

            h4 {
              font-family: gotham_bookregular;
              font-size: 18px;
              margin: 10px 0 0;
              color: #222;

              i {
                margin-top: 4px;
                color: darken($red, 25%);
              }
            }

            p {
              font-size: 13px;
              color: #777;
            }
          }
        }
      }
    }
  }

  #benefits {
    display: block;

    > li:first-child {
      width: 980px;

      li {
        float: left;
        vertical-align: top;

        &:first-child {
          width: 200px;
          margin: 13px 0 0 0;

          h3 {
            margin: 0 0 15px;
          }
        }

        &:last-child {
          width: 700px;
          margin: 0 0 0 40px;
        }
      }
    }

    > li:nth-child(2) {
      width: 200px;
    }
  }

  #examples li {
    p {
      margin-bottom: 4px;
    }

    a {
      font-size: 12px;
    }
  }

  #roadmap {
    > li {
      &:last-child {
        > ul > li > ul > li {
          h3 {
            font: 28px gotham_mediumregular;
            margin-top: 0px;
          }

          background: #f6f5eb;
          border:6px solid;
          border-radius:10px;
          border-color:#999999;
          width: 700px;
          vertical-align: top;
          padding: 0px 10px 5px 10px;
          margin: 0px 5px 10px 0px;

          ul {
           margin: 5px 0px 10px 0px;
          }

          li {
            list-style-type: square;
            list-style-position:inside;
            color: #777;
          }
        }
      }
    }
  }

  #tryit {
    padding: 40px 0 60px;
    background: #F9FAF7 image-url('graphbg.gif') repeat;

    h3 {
      margin-top: 0;
      font: 20px gotham_mediumregular;

      i {
        color: $red;
        margin-right: 5px;
      }

      a {
        font: 16px gotham_bookregular;
        margin-left: 10px;
        text-transform: lowercase;
      }
    }

    iframe {
      border: 1px solid #bbb;
      box-shadow: 0 0 40px #bbb;
    }
  }

}
