@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body.home {

  .container {
    @include apply-to(more-than, desktop) {
      width: $desktop;
    }
  }

  header {
    background-color: #EAEDF2;
    height: 420px;
    overflow-x: hidden;

    .container {
      @include clearfix();

      > div {
        float: left;
        position: relative;

        // Tagline
        &:first-child {
          top: 66px;
          left: 20px;

          > img {
            opacity: 0;
            width: 550px;

            @include apply-to(more-than, desktop) {
              width: 641px;
            }
          }

          div {
            opacity: 0;

            p {
              font: 18px 'Indie Flower';
              @include rotate(-2deg);
              margin: 57px 0 0 185px;

              @include apply-to(more-than, desktop) {
                margin: 57px 0 0 280px;
              }
            }

            img {
              position: relative;
              float: right;
              right: -68px;
              bottom: 58px;
            }
          }
        }

        // Reel
        &:last-child {
          left: 2000px;
        }
      }
    }
  }


  @import '../partials/home/sections';
  @import '../partials/home/submenu';
}