body.home {

  header {
    background: #666 image-url('bgcloth.png') repeat;
    color: $cream;

    .container {
      #public-stamp {
        img {
          position: absolute;
          margin: 367px 0px 0px 275px;
        }
      }

      > .clearfix > div {
        float: left;

        // Headline
        &:first-child {
          width: 600px;
          margin: 30px auto 0;
          text-align: center;

          > div {
            text-transform: uppercase;

            > p {
              margin: 0;
              text-shadow: 0 0 100px #000;
              font: 26px gotham_bookregular;

              &:nth-child(1) {
                line-height: 1.5em !important;
              }

              &:nth-child(2) {
                font: 72px gotham_boldregular;
                line-height: 1.0em !important;
              }

              &:nth-child(3) {
                font: 110px gotham_boldregular;
                line-height: 0.8em !important;
              }
            }

            > div {
              font: 28px gotham_bookregular;
              margin: 16px 0 0 55px;

              p {
                margin: 0;
              }

              span {
                float: left;

                &:nth-child(2) {
                  background: transparent image-url('home/love.gif') no-repeat;
                  text-indent: -9999px;
                  display: block;
                  width: 98px;
                  height: 99px;
                  margin-top: -16px;
                }
              }
            }
          }

          > p {
            width: 530px;
            font: 17px gotham_thinregular;
            text-align: center;
            margin: 36px auto 43px;
            line-height: 1.5em;
          }
        }

        // Illustration
        &:last-child {
          background: transparent image-url('seal.png') no-repeat;
          width: 378px;
          height: 360px;
          background-size: 100%;
          text-indent: -9999px;
        }
      }
    }
  }

  #benefits {
    display: block;

    > li:first-child {
      width: 980px;

      li {
        display: inline-block;
        vertical-align: top;

        &:first-child {
          width: 200px;
          margin: 13px 0 0 0;

          h3 {
            margin: 0 0 15px;
          }
        }

        &:last-child {
          width: 700px;
          margin: 0 0 0 40px;
        }
      }
    }

    > li:nth-child(2) {
      width: 200px;
    }
  }

  #examples li {
    p {
      margin-bottom: 4px;
    }

    a {
      font-size: 12px;
    }
  }

}
