body.pricing {

  #site-nav {
    margin-left: 24px !important;

    li:nth-child(2) a {
      color: #000;
      border-color: #f36050;
      font-family: gotham_medium;
    }
  }

  .codio-nav {
    margin: 30px 0 0 0 !important;

    &#signedout-nav li {
      padding: 0 5px !important;
    }
  }

  .wrap > .container {
    padding-bottom: 180px;

    > section {
      &#matrix {
        @include clearfix;
        margin: 60px 0 30px;

        > div {
          float: left;

          // FREE plan
          &:first-child {
            width: 356px;
            text-align: center;
            margin: 72px 0 0 30px;
            background: #F9F9F9;
            border: 1px solid #eee;
            border-radius: 10px 0 0 10px;
            border-right: 0;
            padding-bottom: 28px;

            h3 {
              margin: 42px 0 0;
              font: 70px gotham_thin;
              color: $red;
            }

            h4 {
              font: 16px gotham_light;
              margin: 11px 50px;
              line-height: 1.6em;

              strong {
                font: 20px gotham_medium;
                color: #000;
              }
            }

            > p a {
              background-color: #f36050;
              font: 16px gotham_light;
              color: #fff;
              padding: 6px 14px;
              border-radius: 2px;
              display: inline-block;
              text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

              &:hover {
                background-color: darken(#f36050, 4%);
                text-decoration: none;
              }
            }
          }

          // PAID plan
          &:last-child {
            width: 528px;
            margin: 0 54px 0 0;
            background: #F9F9F9;
            border: 1px solid #eee;
            border-radius: 10px;
            padding: 0 0 9px 0;

            div {
              @include clearfix;
             
              h3 {
                float: left;
                font: 36px gotham_thin;
                margin: 34px 0 12px 62px;
                width: 270px;
                text-align: right;

                strong {
                  font: 58px gotham_medium;
                  color: #000;
                }
                
                small {
                  font: 20px gotham_light;
                  position: relative;
                  top: 23px;
                  right: -25px;
                }
              }
              
              .prices {
              	float: left;
                position: relative;
                right: -26px;
                top: 21px;
                width: 196px;
                
                div {
									&:first-child {
                    font: 240px gotham_bold;
                    color: #99CEF0;
                    line-height: 0.8em;
                    
                    span {
                      font: 60px gotham_light;
                      color: #888;
                      position: relative;
                      right: -15px;
                      top: -97px;
                    }
                  }
                  
									&:last-child {
                    font: 80px gotham_bold;
                    color: #888;
                    position: relative;
                    top: -4px;
                    
                    span {
                      font: 26px gotham_light;
                      color: #888;
                      position: relative;
                      top: -29px;
                      right: -5px;
                    }
                  }
                }
              }
            }

            p {
              text-align: center;
              margin: 26px auto 0;
              border-left: 1px solid #f36050;
              border-right: 1px solid #f36050;

              a:first-child {
                display: block;
                color: #fff;
                font: 24px gotham_light;
                padding: 12px 0;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
                background-color: #f36050;

                &:hover {
                  background-color: darken(#f36050, 4%);
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      &#orgs {
        padding: 30px 30px 0;
        
        h2 {
          border-bottom: 1px solid #eee;
          margin-bottom: 20px;
          padding-bottom: 4px;
        }
        
        > div {
          @include clearfix;
          font-size: 13px;
          
          > div {
            float: left;
            
            &:first-child {
              width: 230px;
              margin: 30px 60px 0 0;
              color: #888;
            }

            &:last-child {
							width: 630px;
              
              table {
                max-width: 100%;
                background-color: transparent;
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                
                thead th {
                  padding: 8px;
                  
                  &:first-child {
                    font-weight: normal;
                    color: #999;
                    font-size: 12px;
                    text-align: left;
                  }
                  
                  &.price {
                    text-align: right;
                  }
                  
                  &:nth-child(2) {
                    background: lighten(#99CEF0, 20%) !important;
                  }
                }
                
                
                tbody {
                  tr:nth-child(odd) > td {
                    background-color: #f9f9f9;
                  }

                  tr:last-child > td {
                    border-bottom: none;
                  }

                  td {
                    padding: 8px;
                    line-height: 20px;
                    text-align: left;
                    vertical-align: top;
                    border-bottom: 1px solid #eee;

                    &:first-child {
                      color: #000;
                      font: 14px gotham_medium;
                    }

                    &:nth-child(4) {
                      font-weight: bold;
                      background: lighten(#99CEF0, 20%) !important;
                      font-size: 14px;
                    }

                    &.price {
                      text-align: right;
                    }
                  }
                }
                
                tfoot td {
                  font-weight: normal;
                  font: 12px Helvetica, Arial;
                  color: #999;
                  background: transparent;
                  padding-top: 16px;
                  text-align: right;
                }
              }
            }
          }
        }
      }
      
      &#faqs {
        @include clearfix;
        margin-top: 90px;
        border-top: 1px solid #eee;
        padding-top: 30px;

        h2 {
          float: left;
          font: 34px gotham_bold;
          margin: 16px 0 0 0;
          color: #666;
          width: 330px;
          text-align: center;

          small {
            display: block;
            margin: 30px 110px 0 0;
            font: 14px gotham_light;
            text-transform: none;
            text-align: right;
            line-height: 1.6em;
          }
        }

        ul {
          float: left;
          width: 550px;
          margin: 0 100px 0 0;
          padding: 0;
          list-style: none;

          li {
            h4 {
              font: 18px gotham_light;
              margin-bottom: 10px;
              line-height: 1.4em;
            }

            p {
              margin-bottom: 40px;
            }
          }
        }
      }

      &#opensource {
        @include clearfix;
        padding: 50px 0 0 0;
        border-top: 1px solid #eee;
        margin-top: 30px;
        color: #333;
        font: 28px gotham_light;
        line-height: 1em;

        h2 {
          color: #333;
          font: 28px gotham_light;

          span {
            display: none;

            @include apply-to(more-than, desktop) {
              display: inline;
            }
          }
        }

        p {
          font-size: 18px;
        }

        div {
          float: left;
          width: 375px;

          &:first-child {
            margin-right: 10px;
          }

          &:nth-child(2) {
            width: 235px;
            text-align: center;
            margin-top: 0;
          }

          &:last-child {
            text-align: right;
            width: 360px;
          }
        }
      }

    }
  }
}