body.pricing {

  #site-nav {
    margin-left: 35px !important;

    li:nth-child(2) a {
      color: #000;
      border-color: #f36050;
      font-family: gotham_medium;
    }
  }

  .codio-nav {
    margin: 30px 10px 0 0 !important;

    &#signedout-nav li {
      padding: 0 5px !important;

      &:nth-child(2) {
        padding-left: 16px !important;
      }
    }
  }

  .wrap > .container {
    padding-bottom: 180px;

    > section {
      &#matrix {
        background: #fff image-url('pricing/matrix.png') no-repeat center;
        height: 309px;
        margin: 70px 0;

        > div {
          float: left;

          // FREE plan
          &:first-child {
            width: 358px;
            text-align: center;
            margin-left: 40px;

            h3 {
              margin: 70px 0 0;
              font: 70px gotham_thin;
              color: $red;
            }

            h4 {
              font: 16px gotham_light;
              margin: 11px 50px;
              line-height: 1.6em;

              strong {
                font: 20px gotham_medium;
                color: #000;
              }
            }

            > p a {
              background-color: #f36050;
              font: 16px gotham_light;
              color: #fff;
              padding: 6px 14px;
              border-radius: 2px;
              display: inline-block;
              text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

              &:hover {
                background-color: darken(#f36050, 4%);
                text-decoration: none;
              }
            }
          }

          // PAID plan
          &:last-child {
            width: 528px;
            margin-right: 54px;

            h3 {
              font: 36px gotham_thin;
              margin: 50px 0 40px 56px;
              width: 270px;
              text-align: right;

              strong {
                font: 58px gotham_medium;
                color: #000;
              }
            }

            ul {
              margin: 0 40px;
              font: 16px gotham_light;
              line-height: 1.6em;

              strong {
                font-family: gotham_medium;
                color: #000;
              }
            }

            p {
              text-align: center;
              margin: 40px auto 0;

              a {
                display: block;
                color: #fff;
                font: 24px gotham_light;
                padding: 12px 0;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
                background-color: #f36050;

                &:hover {
                  background-color: darken(#f36050, 4%);
                  text-decoration: none;
                }
              }

              &:last-child {
                font-size: 12px;
                margin: 34px 35px 0;
                color: #888;
              }
            }
          }
        }
      }

      &#faqs {
        @include clearfix;
        margin-top: 50px;

        h2 {
          float: left;
          font: 34px gotham_bold;
          margin: 16px 0 0 0;
          color: #666;
          width: 330px;
          text-align: center;

          small {
            display: block;
            margin: 30px 110px 0 0;
            font: 14px gotham_light;
            text-transform: none;
            text-align: right;
            line-height: 1.6em;
          }
        }

        ul {
          float: left;
          width: 550px;
          margin: 0 100px 0 0;
          padding: 0;
          list-style: none;

          li {
            h4 {
              font: 18px gotham_light;
              margin-bottom: 10px;
              line-height: 1.4em;
            }

            p {
              margin-bottom: 40px;
            }
          }
        }
      }

      &#opensource {
        @include clearfix;
        padding: 50px 0 0 0;
        border-top: 1px solid #eee;
        margin-top: 30px;
        color: #333;
        font: 28px gotham_light;
        line-height: 1em;

        h2 {
          color: #333;
          font: 28px gotham_light;

          span {
            display: none;

            @include apply-to(more-than, desktop) {
              display: inline;
            }
          }
        }

        p {
          font-size: 18px;
        }

        div {
          float: left;
          width: 375px;

          &:first-child {
            margin-right: 10px;
          }

          &:nth-child(2) {
            width: 235px;
            text-align: center;
            margin-top: 0;
          }

          &:last-child {
            text-align: right;
            width: 360px;
          }
        }
      }

    }
  }
}