
.button {
  height: 25px;
  background-color: none;
  border-radius: 2px;
  padding: 2px 15px;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.button:hover {
  color: $dark-gray;
  background-color: white;
}


.button.button-large {
  padding: 4px 25px;
  font-size: 16px;
  font-weight: 700;
}

.button.button-action {
  color: white;
  background-color: $light-blue;
  border: none;
}

.button.button-action:hover {
  background-color: $blue;
}

.button.button-info {
  color: white;
  background-color: none;
  border: 2px solid white;
}

.button.button-info:hover {
  color: $blue;
}