<section id="annotate">
  <div class="container">
    <div>
      <div>
        <h2>Annotations</h2>
        <p>Use annotations in your tutorial and we'll add 15% to your payment. Codio Annotations enriches your tutorials by letting you annotate your code without interfering with it in any way.</p>
        <p>Viewers can explore the source code and you can give them a guided tour. You can even build your tutorial around the source code.</p>
        <div class="links">
          <% link_to '/docs/annotations' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="//player.vimeo.com/video/74475442?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>