<header>
  <div class="container">

    <div id="tagline">
      <h1>
        <span>WE'LL</span>
        <span>PAY YOU</span>
        <span>TO WRITE</span>
        <span>A BLOG POST</span>
        <span>OR TUTORIAL</span>
        <span>On <u>anything</u> to do with coding!</span>
        <!-- <%= image_tag 'home/screens/php-logo.png' %>  -->
      </h1>

      <!-- <div>
        <p>Public projects are free! <a href="/p/signup">Create your first one now...</a></p>
      </div>  -->
    </div>

    <div id="screen">
      <a href="https://player.vimeo.com/video/79982944?autoplay=1&hd=1" target="_blank" class="fancybox fancybox.iframe icon-play-circle" id="video"></a>
    </div>

  </div>
</header>