<section id="payment">
  <div class="container">
    <div>
      <div>
        <h2>How much do we pay?</h2>
        <p>We'll pay you ...</p>
    	<ol>
    		<li>$20 as soon as your post goes live</li>
    		<li>More $ per impression</li>
    	</ol>
        <p>We'll provide you with reports so you can see the number of impressions you get.</p>
      </div>
    </div>
  </div>
</section>