<section id="payment">
  <div class="container">
    <div>
      <div>
        <h2>How much you get paid</h2>
        <p>We'll pay you $20 as soon as your post has gone live and then you'll get $20 per 1'000 impressions we receive.</p>
        <p>We provide you with buttons you place inside your blog that link to Codio. You can then see the number of impressions you get right from within the Codio IDE.</p>
      </div>
    </div>
  </div>
</section>