<section id="ready">
  <div class="container">
    <div>
      <div>
        <h2>OK, I'm ready</h2>
        <p>If you want a detailed explanation of how everything works, please
          <% link_to '/docs/sponblog' do %>
            <i class="icon-file"></i> click here.
          <% end %>
        </p><p></p></br>
        <h2>Apply Now</h2>
        <p>Just complete the form below and we'll get right back to you.</p><p></p>
		<div id="wufoo-mg7theh13aaeto">
			Fill out my <a href="https://craftedio.wufoo.com/forms/mg7theh13aaeto">online form</a>.
			<script type="text/javascript">var mg7theh13aaeto;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'craftedio', 
			'formHash':'mg7theh13aaeto', 
			'autoResize':true,
			'height':'617',
			'async':true,
			'host':'wufoo.com',
			'header':'show', 
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { mg7theh13aaeto = new WufooForm();mg7theh13aaeto.initialize(options);mg7theh13aaeto.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
      	</div>        
      </div>
    </div>
  </div>
</section>