<section id="subject-matter">
  <div class="container">
    <div>
      <div>
        <h2>Subject Matter</h2>
        <p>You write a blog post or tutorial on anything relating to <strong>front-end web development</strong>. You can publish it anywhere you like, anyhow you like.</p>
        <p>As long as it is relates to coding and you have some source code to illustrate your project with, it qualifies.</p>
      	<div class="links">
      		<% link_to '/docs/sponblog' do %>
        	<i class="icon-file"></i> Jump to the full explanation
      		<% end %>
    	</div>            
      </div>      
    </div>
  </div>
</section>