<section id="use-codio">
  <div class="container">
    <div>
      <div>
        <h2>Using Codio</h2>
        <p>Just write your blog as you normally would. Then import your source code into Codio from Git, Mercurial, SFTP, FTP or a ZIP file.</p>
        <p>Once it's in Codio, just link to the Codio source file from your tutorial. It's that easy. Use Codio Annotations and we'll pay you even more.</p>
        <p>Codio provides you with the buttons you need to link from your tutorial to the Codi IDE</p>
        <div class="links">
          <% link_to '/docs/sponblog' do %>
            <i class="icon-file"></i> Full details here
          <% end %>
        </div>        
      </div>
    </div>
  </div>
</section>