footer {
  color: #eeeee9;

  section:first-child {
    background: #3E3E3E image-url('bgcloth.png') repeat;
    padding: 40px 5px;
    font-size: 13px;

    @include apply-to(more-than, ipad-portrait) {
      padding: 40px 20px;
    }

    .container.clearfix {
      @include apply-to(less-than, ipad-landscape) {
        &:before, &:after {
          content: none;
          display: inherit;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    > div {
      > ul > li {
        display: inline-block;

        > ul {
          > li a {
            color: #BBB;
            margin: 8px;
            display: block;

            @include apply-to(more-than, ipad-portrait) {
              margin: 8px 50px 8px 0;
            }
          }
        }
      }

      @include apply-to(more-than, ipad-landscape) {
        ul {
          float: left;
        }
      }

      #webinars #webinars-inner {
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        margin: 20px 4px;
        padding: 10px 4px;
        text-align: center;
        font-size: 1.1em;

        @include apply-to(more-than, iphone-landscape) {
          border-bottom: none;
          margin: 30px 4px 0;
          padding-top: 20px;
        }

        @include apply-to(more-than, ipad-landscape) {
          border: none;
          float: left;
          margin: 0 0 0 20px;
          padding: 0;
          text-align: left;
          font-size: 1em;
        }

        div > p {
          color: #BBB;
          margin: 0;
          padding: 0;

          a {
            margin: 0 4px;
          }

          span.title {
            font-size: 15px;
            padding: 14px 0 4px;
            color: #FFF;
          }

          span {
            display: block;
          }

          @include apply-to(more-than, ipad-portrait) {
            float: left;
            width: 50%;
            font-size: 1.15em;
          }

          @include apply-to(more-than, ipad-landscape) {
            float: none;
            width: inherit;
            font-size: 1em;
            margin-bottom: 0;

            &:last-child {
              margin-top: 3px;
            }

            span:last-child {
              margin-left: 10px;
              display: inline;
            }
          }
        }

        h3 {
          font-size: 1.3em;
          margin-bottom: 24px;

          @include apply-to(more-than, ipad-portrait) {
            font-size: 1.8em;
          }

          @include apply-to(more-than, ipad-landscape) {
            font-size: 1.7em;
            margin: 0 0 10px;
          }
        }
      }

      #social-icons {
        font-size: 0;
        list-style: none;

        @include apply-to(more-than, iphone-landscape) {
          float: right;
          position: relative;
          top: -505px;
        }

        @include apply-to(more-than, ipad-portrait) {
          top: -460px;
        }

        @include apply-to(more-than, ipad-landscape) {
          top: -10px;
        }

        li {
          display: inline-block;
          margin: 15px 12px 0;

          @include apply-to(more-than, iphone-landscape) {
            display: block;
          }

          a {
            background: image-url('social.gif') no-repeat 0 0;
            text-indent: -9999px;
            margin: 0;

            &:hover span {
              -webkit-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              transform: rotate(360deg);
            }

            span {
              background: image-url('social.gif') no-repeat 0 0;
              display: block;
              width: 50px;
              height: 51px;
              position: relative;
              z-index: 10;
              -webkit-transition: -webkit-transform 0.4s ease-out;
              -moz-transition: -moz-transform 0.4s ease-out;
              transition: transform 0.4s ease-out;
            }
          }

          &:nth-child(2) a, &:nth-child(2) a span {
            background-position: -71px 0;
          }
          &:nth-child(3) a, &:nth-child(3) a span {
            background-position: -143px 0;
          }
          &:nth-child(4) a, &:nth-child(4) a span {
            background-position: -213px 0;
          }

          @include apply-to(more-than, iphone-landscape) {
            &:nth-child(1) {
              float: left;
              margin-left: 76px;
            }
            &:nth-child(3) {
              float: left;
              margin-left: 76px;
              margin-top: 5px;
            }
            &:nth-child(4) {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  section:last-child {
    background-color: $red;
    font-size: 12px;
    padding: 14px 4px;
    text-align: center;

    @include apply-to(more-than, iphone-landscape) {
      text-align: left;
    }

    @include apply-to(more-than, ipad-portrait) {
      padding: 24px 40px;
    }

    a {
      color: $cream;
    }

    @include apply-to(more-than, ipad-landscape) {
      .container > div {
        float: right;
        margin-right: 30px;
      }
    }
  }
}

.fancybox-inner > #webinars-inner {
  width: 500px;
  text-align: center;

  h3 {
    font: 1.6em gotham_mediumregular;
    margin: 24px 0 24px;
    text-transform: uppercase;
  }

  > div > p {
    margin: 6px;
    font-weight: bold;

    span {
      margin-left: 15px;
    }
  }

  > p {
    margin: 22px 0;
  }
}