// Navigation bar
// =================================================================================================

nav {
  background-color: $cream;
  text-transform: uppercase;
  font: 14px 'museo_sans_rounded_300regular';
  position: relative;
  height: 90px;

  nav {
    // Logo
    > a {
      display: block;
      margin: 20px 0 0 0;
      width: 213px;
    }

    // Navigation items
    > ul {
      float: right;
      padding: 0;
      margin: 38px 0 0 0;

      li {
        display: inline-block;

        a {
          color: #3e3e3e;
          padding: 0 18px;
          font-size: 16px;
          display: block;
        }

        &.active a {
          color: $red;
        }
      }
    }
  }

  // Blog Ribbon
  #blog-ribbon {
    a {
      background: image-url('blog-ribbon.png') no-repeat scroll top left;
      text-indent: -9999px;
      display: block;
      width: 51px;
      height: 106px;
      position: absolute;
      top: 83px;
      z-index: 99;
    }
  }
}