body.pricing {
  background: $cream image-url('graphbg.gif') repeat;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  header {
    background: #666 image-url('bgcloth.png') repeat;
    color: $cream;

    .container {
      #public-stamp {
        img {
          position: absolute;
          margin: 367px 0px 0px 275px;
        }
      }

      > .clearfix > div {
        float: left;

        // Headline
        &:first-child {
          width: 600px;
          margin: 30px auto 0;
          text-align: center;

          > div {
            text-transform: uppercase;

            > p {
              margin: 0;
              text-shadow: 0 0 80px #000;
              font: 26px gotham_bookregular;

              &:nth-child(1) {
                font: 80px gotham_bookregular;
                line-height: 1.5em !important;
              }

              &:nth-child(2) {
                font: 32px gotham_bookregular;
                line-height: 1.0em !important;
              }

              &:nth-child(3) {
                font: 100px gotham_boldregular;
                line-height: 1.0em !important;
              }

              &:nth-child(4) {
                font: 32px gotham_bookregular;              
                line-height: 1.0em !important;
              }

              &:nth-child(5) {
                line-height: 0.5em !important;
              }
            }

            img {
              margin-top: 15px;
            }
          }

          > p {
            width: 530px;
            font: 17px gotham_thinregular;
            text-align: center;
            margin: 36px auto 43px;
            line-height: 1.5em;
          }
        }

        // Illustration
        &:last-child {
          margin: 20px 0 80px;
          background: transparent image-url('y.png') no-repeat;
          width: 378px;
          height: 360px;
          background-size: 100%;
          text-indent: -9999px;
        }
      }
    }
  }

  #nav-banner {
    background-color: $cream;
    color: #777;
    font: 14px gotham_lightregular;
    @include box-shadow(0 1px 5px #CCC);
    height: 72px;

    ul {
      margin: 22px 0 0 0;

      li {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        a {
          font-size: 18px;
          padding: 18px 30px 15px;
        }

        i {
          margin-top: 6px;
        }

        &.active {
          font-family: gotham_mediumregular;

          a {
            background-color: #f36050;
            color: #F8F7EF;
            @include border-radius(6px);
          }

          &:before,
          &:after {
            content: '';
            display: inline-block;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 46px;
            left: 42%;
          }

          &:after {
            border-top: 15px solid $cream;
            top: 45px;
          }
        }

        &:nth-child(even) {
          width: 60px;
          font-size: 24px;
          color: #CCC;
          text-align: center;
        }
      }
    }
  }

  #free {
    display: block;

    > li:first-child {
      width: 980px;

      li {
        display: inline-block;
        vertical-align: top;

        &:first-child {
          width: 200px;
          margin: 13px 0 0 0;

          h3 {
            margin: 0 0 15px;
          }
        }

        &:last-child {
          width: 700px;
          margin: 0 0 0 40px;
        }
      }
    }

    > li:nth-child(2) {
      width: 200px;
    }
  }

  #private li {
    p {
      margin-bottom: 4px;
    }

    a {
      font-size: 12px;
    }
  }

  .columned {
    margin: 20px 0 30px;
    display: none;

    h3 {
      font: 28px gotham_mediumregular;
      margin-top: 10px;
    }

    > li {
      padding: 0px;
      vertical-align: top;
      display: inline-block;

      &:first-child {
        width: 200px;
        margin: 13px 0 0 0;
        font-style: italic;
        font-size: 18px;
      }

      &:last-child {
        width: 720px;
        margin: 15px 0 0 40px;

        > ul > li {
          > ul > li {
            display: inline-block;
            width: 212px;
            vertical-align: top;
            padding: 0 36px 15px 0;

            &:last-child {
              padding-right: 0;
            }

            h4 {
              font-family: gotham_bookregular;
              font-size: 18px;
              margin: 10px 0 0;
              color: #222;

              i {
                margin-top: 4px;
                color: darken($red, 25%);
              }
            }

            p {
              font-size: 13px;
              color: #777;
            }
          }
        }
      }
    }
  }
}
