body.home {
  background: $cream image-url('graphbg.gif') repeat;

  header {
    background: #666 image-url('bgcloth.png') repeat;
    color: $cream;

    .container {
      #public-stamp {
        img {
          position: absolute;
          margin-left: 452px;
          margin-top: -52px;
        }
      }

      > .clearfix > div {
        float: left;

        // Headline
        &:first-child {
          width: 596px;
          margin: 75px auto 35px;
          padding-right: 45px;
          text-align: center;

          > div {
            text-transform: uppercase;

            > p {
              margin: 0;
              line-height: 1em !important;

              &:nth-child(1) {
                font: 30px gotham_bookregular;
              }

              &:nth-child(2) {
                font: 96px gotham_boldregular;
              }
            }

            > div {
              font: 38px gotham_bookregular;
              margin: -33px 0 0 45px;

              span {
                float: left;

                &:nth-child(2) {
                  background: transparent image-url('home/love.gif') no-repeat;
                  text-indent: -9999px;
                  display: block;
                  width: 98px;
                  height: 84px;
                  position: relative;
                  top: -16px;
                }
              }
            }

            img {
              margin-top: -100px;
            }
          }

          > p {
            width: 530px;
            font: 17px gotham_thinregular;
            text-align: center;
            margin: 0 auto 10px;
            line-height: 1.5em;
          }
        }

        // Illustration
        &:last-child {
          margin: 90px 0;
        }
      }
    }
  }

  #nav-banner {
    background-color: $cream;
    color: #777;
    font: 14px gotham_lightregular;
    @include box-shadow(0 1px 5px #CCC);
    height: 72px;

    ul {
      list-style: none;
      padding: 0;
      margin: 24px 0 0 0;

      li {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        a {
          font-size: 24px;
          padding: 18px 20px 15px;
        }

        i {
          margin-top: 6px;
        }

        &.active {
          font-family: gotham_mediumregular;

          a {
            background-color: #f36050;
            color: #F8F7EF;
            @include border-radius(6px);
          }

          &:before {
            content: '';
            display: inline-block;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #cccccc;
            border-top-color: rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 49px;
            left: 121px;
          }
          &:after {
            content: '';
            display: inline-block;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $cream;
            position: absolute;
            top: 48px;
            left: 121px;
          }
        }

        &:nth-child(1) {
          text-align: left;
          width: 350px;

          &:before, &:after {
            left: 135px;
          }
        }

        &:nth-child(2),
        &:nth-child(4) {
          width: 50px;
          font-size: 24px;
          color: #CCC;
          text-align: center;
        }

        &:nth-child(3) {
          width: 260px;

          &:before, &:after {
            left: 115px;
          }
        }

        &:nth-child(5) {
          text-align: right;
          width: 250px;

          &:before, &:after {
            left: 120px;
          }
        }
      }
    }
  }

  #features .container {
    #future-features {
      display: none;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      &#future-features {
        li:first-child {
          margin: 38px 0 0 0;
          font-style: italic;
          font-size: 18px;
        }
      }

      > li {
        padding: 10px 20px 0 20px;
        width: 212px;
        display: inline-block;
        vertical-align: top;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        > ul {
          list-style: none;
          padding: 0;
          margin: 0;

          h4 {
            font-family: gotham_bookregular;
            font-size: 18px;
            margin: 50px 0 0;
            color: #222;

            i {
              margin-top: 4px;
              color: darken($red, 25%);
            }
          }

          p {
            font-size: 13px;
            color: #777;
          }
        }
      }
    }
  }
}



// -webkit-animation: cloudAnim 3s infinite ease both;
// -moz-animation: cloudAnim 3s infinite ease both;
// -ms-animation: cloudAnim 3s infinite ease both;
// -o-animation: cloudAnim 3s infinite ease both;
// animation: cloudAnim 3s infinite ease both;

/* Icons */
@-webkit-keyframes cloudAnim {
  /* line 8, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  50% {
    -webkit-transform: translate(0, 10px);
  }

  /* line 11, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes cloudAnim {
  /* line 17, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  50% {
    -moz-transform: translate(0, 10px);
  }

  /* line 20, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-o-keyframes cloudAnim {
  /* line 26, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  50% {
    -o-transform: translate(0, 10px);
  }

  /* line 29, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  100% {
    -o-transform: translate(0, 0);
  }
}

@-ms-keyframes cloudAnim {
  /* line 35, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  50% {
    -ms-transform: translate(0, 10px);
  }

  /* line 38, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  100% {
    -ms-transform: translate(0, 0);
  }
}

@keyframes cloudAnim {
  /* line 44, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  50% {
    -webkit-transform: translate(0, 10px);
  }

  /* line 47, /Users/nikolaionken/dev/bonsai/_sass/_animate.scss */
  100% {
    -webkit-transform: translate(0, 0);
  }
}