body.home {
  background: $cream image-url('graphbg.gif') repeat;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  header {
    background: #666 image-url('bgcloth.png') repeat;
    color: $cream;

    .container {
      #public-stamp {
        img {
          position: absolute;
          margin-left: 452px;
          margin-top: -52px;
        }
      }

      > .clearfix > div {
        float: left;

        // Headline
        &:first-child {
          width: 596px;
          margin: 75px auto 0;
          padding-right: 45px;
          text-align: center;

          > div {
            text-transform: uppercase;

            > p {
              margin: 0;
              line-height: 1.1em !important;

              &:nth-child(1) {
                font: 30px gotham_bookregular;
              }

              &:nth-child(2) {
                font: 96px gotham_boldregular;
                text-shadow: 0 0 100px #000;
              }
            }

            > div {
              font: 38px gotham_bookregular;
              margin: -22px 0 0 45px;

              span {
                float: left;

                &:nth-child(2) {
                  background: transparent image-url('home/love.gif') no-repeat;
                  text-indent: -9999px;
                  display: block;
                  width: 98px;
                  height: 99px;
                  margin-top: -16px;
                }
              }
            }

            img {
              margin-top: -30px;
            }
          }

          > p {
            width: 530px;
            font: 17px gotham_thinregular;
            text-align: center;
            margin: 36px auto 43px;
            line-height: 1.5em;
          }
        }

        // Illustration
        &:last-child {
          margin: 90px 0 80px;
        }
      }
    }
  }

  #nav-banner {
    background-color: $cream;
    color: #777;
    font: 14px gotham_lightregular;
    @include box-shadow(0 1px 5px #CCC);
    height: 72px;

    ul {
      margin: 24px 0 0 0;

      li {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        a {
          font-size: 24px;
          padding: 18px 20px 15px;
        }

        i {
          margin-top: 6px;
        }

        &.active {
          font-family: gotham_mediumregular;

          a {
            background-color: #f36050;
            color: #F8F7EF;
            @include border-radius(6px);
          }

          &:before {
            content: '';
            display: inline-block;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #cccccc;
            border-top-color: rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 49px;
            left: 121px;
          }
          &:after {
            content: '';
            display: inline-block;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $cream;
            position: absolute;
            top: 48px;
            left: 121px;
          }
        }

        &:nth-child(1) {
          text-align: left;
          width: 350px;

          &:before, &:after {
            left: 135px;
          }
        }

        &:nth-child(2),
        &:nth-child(4) {
          width: 50px;
          font-size: 24px;
          color: #CCC;
          text-align: center;
        }

        &:nth-child(3) {
          width: 260px;

          &:before, &:after {
            left: 115px;
          }
        }

        &:nth-child(5) {
          text-align: right;
          width: 250px;

          &:before, &:after {
            left: 120px;
          }
        }
      }
    }
  }

  #future-features, #examples {
    display: none;
  }

  #examples li {
    p {
      margin-bottom: 4px;
    }

    a {
      font-size: 12px;
    }
  }

  #benefits .container {
    margin: 45px auto 60px;
    border-top: 1px solid #CCC;

    h3 {
      font: 28px gotham_mediumregular;
      margin-top: 10px;
    }
  }

  .columned {
    > li {
      padding: 0px;
      vertical-align: top;
      display: inline-block;

      &:first-child {
        width: 212px;
        margin: 38px 0 0 0;
        font-style: italic;
        font-size: 18px;
      }

      &:last-child {
        width: 720px;
        margin: 15px 0 0 40px;

        > ul > li {
          > ul > li {
            display: inline-block;
            width: 212px;
            vertical-align: top;
            padding-right: 36px;

            &:last-child {
              padding-right: 0;
            }

            h4 {
              font-family: gotham_bookregular;
              font-size: 18px;
              margin: 10px 0 0;
              color: #222;

              i {
                margin-top: 4px;
                color: darken($red, 25%);
              }
            }

            p {
              font-size: 13px;
              color: #777;
            }
          }
        }
      }
    }
  }
}
