// Typography
// -------------------------
$baseFontSize:          14px !default;
$baseLineHeight:        20px !default;

// Colors
// -------------------------
$cream:                 #F8F7EF !default;
$red:                   #f36050 !default;
$blue:                  #27B6DA !default;

// Links
// -------------------------
$linkColor:             $red !default;
$linkColorHover:        darken($linkColor, 15%) !default;

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #bbb !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;



@import 'lib/mixins';
@import 'lib/fonts';
@import 'lib/media';
@import 'lib/fancybox';
@import 'lib/buttons';
@import 'lib/labels';
@import 'lib/font-awesome';




body {
  font-family: Helvetica, Arial;
  color: #555;
  background-color: #F9FAF7;
  font-size: 0.96em;
}

h1, h2, h3, h4 {
  font-family: 'museo_sans_rounded_300regular';
  text-transform: uppercase;
}

a {
  color: $red;
  text-decoration: none;
}

img {
  width: auto 9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// For Affix plugin
.affix {
  position: fixed;
  top: 10px;
}

.container {
  margin: 0 auto;

  @include apply-to(more-than, ipad-landscape) {
    width: 980px;
  }
}


// Input styling
input[type=text] {
  font-size: 13px;
  color: #8e8d8d;
  padding: 11px 15px 10px 6px;
  background-color: #fdfdfd;
  margin: 0;
  line-height: 20px;
  box-shadow: inset 2px 2px 4px #f1f1f1;
  @include border-radius(3px);
  height: 20px;
  border: 1px solid #cccccc;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}


// Modals
.modal {
  max-width: 500px;

  h2 {
    margin: 0;
    border-bottom: 1px solid #CCC;
  }
}

// Sign in modal
#sign-in {
  display: none;

  .btn {
    margin-left: 20px;
  }

  .waDomainLogins {
    margin-bottom: 18px;

    span {
      color: $red;
      display: block;
      padding: 2px 0 2px 15px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $linkColorHover;
      }
    }
  }
}


// Stupid Browser message
#old-browser {
  display: none;
}

#old-browser-inner {
  text-align: center;
  padding: 30px 0;

  h1 {
    width: 500px;
    font-size: 26px;
    margin: 28px auto 20px;
  }

  p {
    width: 400px;
    margin: 0 auto;
  }
}


@import 'nav';
@import 'home';
@import 'footer';
@import 'standard';
@import 'blog';
