// Typography
// -------------------------
$baseFontSize:          14px !default;
$baseLineHeight:        20px !default;

// Colors
// -------------------------
$cream:                 #F8F7EF !default;
$red:                   #f36050 !default;
$blue:                  #27B6DA !default;

// Links
// -------------------------
$linkColor:             $red !default;
$linkColorHover:        darken($linkColor, 15%) !default;

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #bbb !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;



@import 'lib/mixins';
@import 'lib/fonts';
@import 'lib/media';
@import 'lib/fancybox';
@import 'lib/buttons';
@import 'lib/labels';
@import 'lib/font-awesome';
@import url(//fonts.googleapis.com/css?family=Indie+Flower);


html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial;
  color: #555;
  font-size: 0.96em;
}

h1, h2, h3, h4 {
  font-family: gotham_light;
  text-transform: uppercase;
}

a {
  color: $linkColor;
  text-decoration: none;
  @include transition(all 0.2s ease);
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

img {
  width: auto 9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

.container {
  margin: 0 auto;
  width: 980px;
}

.links {
  margin: 0px 70px 0 0;
  border-top: 0px solid #eee;
  padding-top: 25px;

  a {
    font: 14px gotham_light;
    margin-right: 20px;
    color: #DC7368;
    border-bottom: 2px solid #eee;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 2px solid $red;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.links-big {
  padding-top: 45px;

  a {
    font: 18px gotham_light;
    color: #DC7368;
    border-bottom: 2px solid #eee;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 2px solid $red;
      color: $red;
    }
  }
}


// Import partials
@import 'partials/nav';
@import 'partials/standard';
@import 'partials/social';
@import 'partials/footer';

// Import pages
@import 'pages/home';
@import 'pages/home-php';
@import 'pages/tutorials';
@import 'pages/blog';
@import 'pages/docs';
@import 'pages/pricing';
@import 'pages/features';
@import 'pages/education';
@import 'pages/edu-contentcall';
@import 'pages/dataforms';
@import 'pages/api';
