// Typography
// -------------------------
$baseFontSize:          14px !default;
$baseLineHeight:        20px !default;

// Colors
// -------------------------
$cream:                 #F8F7EF !default;
$red:                   #f36050 !default;
$blue:                  #27B6DA !default;

// Links
// -------------------------
$linkColor:             $red !default;
$linkColorHover:        darken($linkColor, 15%) !default;

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #bbb !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;



@import 'lib/mixins';
@import 'lib/fonts';
@import 'lib/media';
@import 'lib/fancybox';
@import 'lib/buttons';
@import 'lib/labels';
@import 'lib/font-awesome';




body {
  font-family: Helvetica, Arial;
  color: #555;
  font-size: 0.96em;
}

h1, h2, h3, h4 {
  font-family: 'museo_sans_rounded_300regular';
  text-transform: uppercase;
}

a {
  color: $red;
  text-decoration: none;
}

img {
  width: auto 9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.container {
  margin: 0 auto;
  width: 980px;
}



// Import partials
@import 'partials/nav';
@import 'partials/nav-banner';
@import 'partials/columned';
@import 'partials/footer';

// Import pages
@import 'pages/home';
@import 'pages/pricing';
@import 'pages/blog';
@import 'pages/docs';
