---
title: Account Settings
layout: layout
---

<div class="index-header-block">
  <h2>How can we help you?</h2>
  <div class="search-container">
    <form id="search-input">
      <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
    </form>
  </div>
</div>

<section class="docs-index">

  <div class="section buttons">
    <div class="section-block-row-three">
      <div class="section-block">
        <a href="/docs/started">Getting Started</a>
      </div>
      <div class="section-block">
        <a href="/docs">Reference</a>
      </div>
      <div class="section-block selected">
        <a href="/docs/acount">Account Settings</a>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-block-row-three">
      <div class="section-block">
        <h3>Account Settings &amp; Invoicing</h2>
        <ul>
          <li><a href="/docs/account/cussupport">Customer Support Office Hours</a></li>
          <li><a href="/docs/account/firewall">Firewall and network settings</a></li>
          <li><a href="/docs/account/navigation">Navigating Codio</a></li>
          <li><a href="/docs/account/browser">Browser Support</a></li>
          <li><a href="/docs/account/password">Password</a></li>
          <li><a href="/docs/teacher/classes/changepassword">Resetting student passwords</a></li>
          <li><a href="/docs/account/forgotpassword">Forgot your password?</a></li>
          <li><a href="/docs/account/publickey">Public Key</a></li>
          <li><a href="/docs/account/github">GitHub</a></li>
          <li><a href="/docs/account/bitbucket">BitBucket</a></li>
          <li><a href="/docs/account/delete">Delete your account</a></li>
          <li><a href="/docs/account/billing">Billing</a></li>
        </ul>
      </div>
      <div class="section-block">
        
      </div>
      <div class="section-block">
        
      </div>
    </div>
  </div>
</div>
