---
layout: layout
categories: ["Quick Start", "Dashboard", "IDE", "Boxes"]
---
<header class="artwork"></header>

<article class="docs-landing">
<h1>Documentation</h1>
<% current_page.data.categories.each do |category| %>
  <% resource = current_resource.children.select {|c| c.metadata[:page]["title"] == category}[0] %>
  <section>
    <h2><%= link_to resource.data.title, resource.url %></h2>
    <ul>
      <% resource.children.each do |child| %>
        <li>
          <%=  link_to child.data.title, child.url %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
</article>
