---
title: Reference
layout: layout
---

<div class="index-header-block">
  <h2>How can we help you?</h2>
  <div class="search-container">
    <form id="search-input">
      <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
    </form>
  </div>
</div>

<section class="docs-index">

  <div class="section buttons">
    <div class="section-block-row-three">
      <div class="section-block">
        <a href="/docs/started">Getting Started</a>
      </div>
     <div class="section-block selected">
        <a href="/docs">Reference</a>
      </div>
      <div class="section-block">
        <a href="/docs/acount">Settings</a>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-block-row-three">
      <div class="section-block">
        <h3>Integrated Development Environment</h2>
        <ul class="bullet-collapse">
          <li class="item-collapse">
            <a class="link-collapse collapsed" data-toggle="collapse" href="#int_dev_env"></a>
            <a href="/docs/ide/navigation">Basic IDE Features</a>
            <ul id="int_dev_env" class="collapse items-list">
              <li><a href="/docs/ide/navigation/exiting">Exiting the IDE</a></li>
              <li><a href="/docs/ide/navigation/editing">Editing a file</a></li>
              <li><a href="/docs/ide/navigation/upload">Uploading Files</a></li>
              <li><a href="/docs/ide/navigation/add-file">Adding Files</a></li>
              <li><a href="/docs/ide/navigation/templates">Templates</a></li>
              <li><a href="/docs/ide/navigation/add-folder">Creating a folder</a></li>
              <li><a href="/docs/ide/navigation/delete-folder">Deleting a folder</a></li>
              <li><a href="/docs/ide/navigation/dragging">Dragging files &amp; folders</a></li>
              <li><a href="/docs/ide/navigation/readme-md">Readme info pages</a></li>
              <li><a href="/docs/ide/navigation/export">Exporting an app</a></li>
            </ul>
          </li>
          <li class="item-collapse">
            <a class="link-collapse collapsed" data-toggle="collapse" href="#adv_ide_feat"></a>
            <a href="/docs/ide/features">Advanced IDE Features</a>
            <ul id="adv_ide_feat" class="collapse items-list">
              <li><a href="/docs/ide/features/debugging">Debugging</a></li>
              <li><a href="/docs/ide/features/autocomplete">Autocomplete</a></li>
              <li><a href="/docs/ide/features/command-bar">Command Bar</a></li>
              <li><a href="/docs/ide/features/fork">Forking a Project</a></li>
              <li><a href="/docs/ide/features.ide-beautify">Code Beautification</a></li>
              <li><a href="/docs/ide/features/inline-preview">Preview</a></li>
              <li><a href="/docs/ide/features/quick-open">Quick Open</a></li>
              <li><a href="/docs/ide/features/real-time">Real time code collaboration</a></li>
              <li><a href="/docs/ide/features/saving">Saving files</a></li>
              <li><a href="/docs/ide/features/sharing">Sharing &amp; Embedding</a></li>
            </ul>
          </li>
          <li class="item-collapse">
            <a class="link-collapse collapsed" data-toggle="collapse" href="#boxes"></a>
            <a href="/docs/ide/boxes">Boxes</a>
            <ul id="boxes" class="collapse items-list">
              <li><a href="/docs/ide/boxes/overview">Overview</a></li>
              <li><a href="/docs/ide/boxes/terminal">Terminal Window</a></li>
              <li><a href="/docs/ide/boxes/installsw">Software Packages</a>
<!--            <ul class='review'>
              <li><a href="/docs/ide/boxes/installsw/default-installed">Preinstalled software packages</a></li>
              <li><a href="/docs/ide/boxes/installsw/file-locations">File &amp; software Locations</a></li>
              <li><a href="/docs/ide/boxes/installsw/box-parts">Installing software packages</a></li>
              <li><a href="/docs/ide/boxes/installsw/parts-coding">Coding installable packages</a></li>
              <li><a href="/docs/ide/boxes/installsw/request-language">Requesting New Packages</li>
            </ul>
-->
              </li>
              <li><a href="/docs/ide/boxes/always-on">Always-On Boxes</a></li>
              <li><a href="/docs/ide/boxes/access">SSH &amp; Code Access</a>
<!--            <ul class='review'>
              <li><a href="/docs/ide/boxes/access/sshkeys">Codio Box SSH Keys</a></li>
              <li><a href="/docs/ide/boxes/access/ext-access">Accessing Boxes &amp; Ports</a></li>
              <li><a href="/docs/ide/boxes/access/ssh-access">SSH into your Box</a></li>
            </ul>
-->
              </li>
              <li><a href="/docs/ide/boxes/granting-access">IDE Access Permissions</a></li>
              <li><a href="/docs/ide/boxes/startup">Auto Starting Services</a></li>
              <li><a href="/docs/ide/boxes/restart-reset">Restart &amp; Reset</a></li>
              <li><a href="/docs/ide/boxes/runmenu">Run Menu</a></li>
            </ul>
          </li>
          <li class="item-collapse">
            <a class="link-collapse collapsed" data-toggle="collapse" href="#panels_tabs"></a>
            <a href="/docs/ide/panels">Panels &amp; Tabs</a>
            <ul id="panels_tabs" class="collapse items-list">
              <li><a href="/docs/ide/panels/panel-actions">Panel actions</a></li>
              <li><a href="/docs/ide/panels/full-screen">Expand Tabs full screen</a></li>
            </ul>
          </li>
          <li class="item-collapse">
            <a class="link-collapse collapsed" data-toggle="collapse" href="#code_edit"></a>
            <a href="/docs/ide/editing">Code Editing</a>
            <ul id="code_edit" class="collapse items-list">
              <li><a href="/docs/ide/editing/emmet">Productivity, Emmet, Zen Coding</a>
<!--            <ul class="review">
              <li><a href="/docs/ide/editing/emmet/emmet-docs">Emmet Docs</a></li>
              <li><a href="/docs/ide/editing/emmet/emmet-abbreviations">Abbreviations</a></li>
              <li><a href="/docs/ide/editing/emmet/emmet-actions">Special Keyboard Actions</a></li>
              <li><a href="/docs/ide/editing/emmet/emmet-ref">Complete Reference</a></li>
            </ul>
-->              </li>
              <li><a href="/docs/ide/editing/git">Git, Mercurial &amp; SVN</a>
<!--            <ul class="review">
              <li><a href="/docs/ide/editing/git/no-remote">Using Git without remote repos</a></li>
              <li><a href="/docs/ide/editing/git/git-viewing">Viewing GitHub Repos</a></li>
              <li><a href="/docs/ide/editing/git/resources">Resources</a></li>
              <li><a href="/docs/ide/editing/git/github-keys">SSH keys</a></li>
              <li><a href="/docs/ide/editing/git/git-primer">Very basic Git tutorial</a></li>
              <li><a href="/docs/ide/editing/git/remotes">GitHub &amp; other remotes</a></li>
              <li><a href="/docs/ide/editing/git/active-branch">Active branch</a></li>
            </ul>
-->              </li>
              <li><a href="/docs/ide/editing/kb-shortcuts">Keyboard Shortcuts</a></li>
              <li><a href="/docs/ide/editing/multicursor">Multiple cursors</a></li>
              <li><a href="/docs/ide/editing/search-replace">Search and replace</a></li>
              <li><a href="/docs/ide/editing/color-preview">Color Preview &amp; Picker</a></li>
              <li><a href="/docs/ide/editing/ide-beautify">Beautify Javascript</a></li>
              <li><a href="/docs/ide/editing/ide-force-lang">Force language highlighting</a></li>
            </ul>
          </li>
          <li class="item-collapse">
            <a class="link-collapse collapsed" data-toggle="collapse" href="#ide_tools"></a>
            <a href="/docs/ide/tools">IDE Tools</a>
            <ul id="ide_tools" class="collapse items-list">
              <li><a href="/docs/ide/tools/deployment">Deployment</a>
<!--            <ul class='review'>
              <li><a href="/docs/ide/tools/deployment/create">Create/manage a target</a></li>
              <li><a href="/docs/ide/tools/deployment/basepath">Base path field</a></li>
              <li><a href="/docs/ide/tools/deployment/deployment-keys">Public keys for remote servers</a></li>
              <li><a href="/docs/ide/tools/deployment/deployment-ssh-keys">Terminal access to remotes</a></li>
              <li><a href="/docs/ide/tools/deployment/deploy">Deploying to a Target</a></li>
              <li><a href="/docs/ide/tools/deployment/type-rsync">Rsync target type</a></li>
              <li><a href="/docs/ide/tools/deployment/type-ftp">FTP target type</a></li>
              <li><a href="/docs/ide/tools/deployment/type-sftp">SFTP target type</a></li>
              <li><a href="/docs/ide/tools/deployment/type-nj">Nodejitsu target type</a></li>
              <li><a href="/docs/ide/tools/deployment/type-parse">Parse target type)remove)</a></li>
              <li><a href="/docs/ide/tools/deployment/type-git">Git target type</a></li>
              <li><a href="/docs/ide/tools/deployment/history">Deployment History</a></li>
              <li><a href="/docs/ide/tools/deployment/specific-files">Deploying specific files &amp; folders</a></li>
            </ul>
-->              </li>
              <li><a href="/docs/ide/tools/deployment">Guides</a></li>
              <li><a href="/docs/ide/tools/phonegap">Phonegap</a>
<!--            <ul class='review'>
              <li><a href="/docs/ide/tools/phonegap/authtoken">Authentication</a></li>
              <li><a href="/docs/ide/tools/phonegap/config">The config.xml file</a></li>
              <li><a href="/docs/ide/tools/phonegap/build">Build</a></li>
            </ul>
-->              </li>
              <li><a href="/docs/ide/tools/ssh">Remote SSH Terminal Access</a>
<!--            <ul class='review'>
              <li><a href="/docs/ide/tools/ssh/ssh-manager">SSH Connection Manager</a></li>
              <li><a href="/docs/ide/tools/ssh/quick-connect">Quick Connect</a></li>
            </ul>
-->              </li>
          </li>
        </ul>
      </ul>
      </div>
      <div class="section-block">
           <h3>Class Administration</h2>
        <ul class="bullet-collapse">
          <li class="item-collapse">
          <a class="link-collapse collapsed" data-toggle="collapse" href="#how_create_org"></a>
          <a href="/docs/teacher/create">How to create an organisation</a>
          <ul id="how_create_org" class="collapse items-list">
            <li><a href="/docs/teacher/create/adminrole">Administrator Role</a></li>
            <li><a href="/docs/teacher/create/addteachers">Add Teachers</a></li>
            <li><a href="/docs/teacher/create/addowners">Add Organisation owners</a></li>
            <li><a href="/docs/teacher/create/addstudents">Adding Students - Invite</a></li>
            <li><a href="/docs/teacher/create/bulkupload">Adding Students - Bulk upload</a></li>
            <li><a href="/docs/teacher/create/viewmembers">View organization members</a></li>
            <li><a href="/docs/teacher/create/removeowners">Remove owners</a></li>
            <li><a href="/docs/teacher/create/removemembers">Remove members</a></li>
            <li><a href="/docs/teacher/create/deleteorg">Delete organisation</a></li>
          </ul>
            </li>
          <li class="item-collapse">
          <a class="link-collapse collapsed" data-toggle="collapse" href="#how_manage_class"></a>
          <a href="/docs/teacher/classes">How to manage your class</a>
          <ul id="how_manage_class" class="collapse items-list">
            <li><a href="/docs/teacher/classes/addteachers">Adding teachers to a class</a></li>
            <li><a href="/docs/teacher/classes/assign-module">Assigning curriculum-mapped content to the class</a></li>
            <li><a href="/docs/teacher/classes/assign-project">Assign a project to the class</a></li>
            <li><a href="/docs/teacher/classes/disable">Disable/Enable units</a></li>
            <li><a href="/docs/teacher/classes/pin">Pinning a unit</a></li>
            <li><a href="/docs/teacher/classes/solutions">View teacher solutions</a></li>
            <li><a href="/docs/teacher/classes/changepassword">Change student passwords</a></li>
            <li><a href="/docs/teacher/classes/removestudent">Remove a student from a class</a></li>
            <li><a href="/docs/teacher/classes/delete">Deleting a class</a></li>
          </ul>
            </li>
        </ul>
        <h3><a href="/docs/content/authoring">Course Authoring</a></h2>
        <ul>
          <li><a href="/docs/content/authoring/overview">What is the Codio Guides authoring tool?</a></li>
          <li><a href="/docs/content/authoring/example">Example Java Unit</a></li>
          <li><a href="/docs/content/authoring/strategies">Tips for planning your course</a></li>
          <li><a href="/docs/content/authoring/imvid">How to add media to your online couse</a></li>
          <li><a href="/docs/content/authoring/assessments">How to create autograded assessments</a>
<!--         <ul class='review'>
            <li><a href="/docs/content/authoring/assessments/assessments-code-tests">Code Tests</a></li>
            <li><a href="/docs/content/authoring/assessments/assessments-mcq">Multiple Choice</a></li>
            <li><a href="/docs/content/authoring/assessments/assessments-fitb">Fill in the blanks</a></li>
            <li><a href="/docs/content/authoring/assessments/assessments-manual">Manual Grading</a></li>
          </ul>
-->            </li>
          <li><a href="/docs/content/authoring/edit">Edit and markdown</a></li>
          <li><a href="/docs/content/authoring/unit-add">Adding a unit</a></li>
          <li><a href="/docs/content/authoring/refresh">Editing a unit</a></li>
          <li><a href="/docs/content/authoring/delete">Deleting courses</a></li>
          <li><a href="/docs/content/authoring/solutions">Creating teacher only content for teacher solutions</a></li>
          <li><a href="/docs/content/authoring/collapse">Collapse and expand section lists</a></li>
          <li><a href="/docs/content/authoring/real-time">Simultaneous edit and play</a></li>
          <li><a href="/docs/content/authoring/add-section">Adding and ordering sections</a></li>
          <li><a href="/docs/content/authoring/delete-section">Deleting sections</a></li>
          <li><a href="/docs/content/authoring/layouts">Panel layouts</a></li>
          <li><a href="/docs/content/authoring/auto-open">Auto open/close files/preview/terminal</a></li>
          <li><a href="/docs/content/authoring/inline">Open/close tabs from content</a></li>
          <li><a href="/docs/content/authoring/chapter">Chapters</a></li>
          <li><a href="/docs/content/authoring/hide-folder">Hiding folders</a></li>
          <li><a href="/docs/content/authoring/techdetails">Technical details</a></li>
<!--          <li class="review"><a href="/docs/content/authoring/playmode">Play mode</a></li> -->
         </ul>
         <h3><a href="/docs/content/publish">Course Publishing</a></h2>
        <ul>
          <li><a href="/docs/content/publish/course-create">Create Courses</a></li>
          <li><a href="/docs/content/publish/course-public">Public Courses</a></li>
          <li><a href="/docs/content/publish/course-add">Adding a course and modules</a></li>
          <li><a href="/docs/content/publish/unit-add">Adding a unit</a></li>
          <li><a href="/docs/content/publish/refresh">Refreshing a unit</a></li>
          <li><a href="/docs/content/publish/ordering">Ordering modules and units></a></li>
          <li><a href="/docs/content/publish/delete">Deleting courses and modules</a></li>
        </ul>
        <h3>Learning Management Tools</h2>
        <ul class="bullet-collapse">
          <li class="item-collapse">
          <a class="link-collapse collapsed" data-toggle="collapse" href="#stud_progress"></a>
          <a href="/docs/teacher/assess">Assessing student progress</a>
          <ul id="stud_progress" class="collapse items-list">
            <li><a href="/docs/teacher/assess/studentcode">Accessing student code</a></li>
            <li><a href="/docs/teacher/assess/assessments">Auto-graded assessments</a></li>
            <li><a href="/docs/teacher/assess/grading">Grading Students work</a></li>
          </ul>
            </li>
          <li><a href="/docs/teacher/plag">Plagiarism Checker</a>
          <ul>
<!--            <li class='review'><a href="/docs/teacher/plag/plag-ref">Plagiarism reference</a></li> -->
          </ul>
            </li>
         </ul>
      </div>
      <div class="section-block">
        <h3><a href="/docs/project/index">Project Templates</a></h2>
        <ul class="bullet-collapse">
          <li class="item-collapse">
          <a class="link-collapse collapsed" data-toggle="collapse" href="#how_use_stacks"></a>
          <a href="/docs/project/stacks/index">How to use stacks</a>
          <ul id="how_use_stacks" class="collapse items-list">
            <li><a href="/docs/project/stacks/stack-overview">What is a Stack?</a></li>
            <li><a href="/docs/project/stacks/listing">Stack Listings</a></li>
            <li><a href="/docs/project/stacks/using">Using a Stack</a></li>
            <li><a href="/docs/project/stacks/default">Default Stacks</a></li>
            <li><a href="/docs/project/stacks/new">Creating a Stack</a></li>
            <li><a href="/docs/project/stacks/guidelines">Stack Guidelines</a></li>
            <li><a href="/docs/project/stacks/exclusions">Excluding files &amp; folders</a></li>
            <li><a href="/docs/project/stacks/update">Updating a Stack</a></li>
          </ul>
            </li>
          <li class="item-collapse">
          <a class="link-collapse collapsed" data-toggle="collapse" href="#how_use_packs"></a>
          <a href="/docs/project/packs">How to use Starter Packs</a>
          <ul id="how_use_packs" class="collapse items-list">
            <li><a href="/docs/project/packs/overview">What is a Starter Pack?</a></li>
            <li><a href="/docs/project/packs/reuse">How to build a reusable project template with Starter Packs</a></li>
            <li><a href="/docs/project/packs/certified">Certified Packs</a></li>
            <li><a href="/docs/project/packs/requests">Requesting additional Packs</a></li>
            <li><a href="/docs/project/packs/selecting">Selecting a Pack</a></li>
            <li><a href="/docs/project/packs/create">Creating a Pack</a></li>
            <li><a href="/docs/project/packs/guidelines">Pack Guidelines</a></li>
            <li><a href="/docs/project/packs/update">Updating a Pack</a></li>
            <li><a href="/docs/project/packs/delete">Deleting a Pack</a></li>
          </ul>
            </li>
          <li><a href="/docs/project/creating">Creating and importing a project</a></li>
          <li><a href="/docs/project/accessing">Accessing your projects</a></li>
          <li><a href="/docs/project/searchprojects">Searching projects</a></li>
          <li><a href="/docs/project/accessing-others">Accessing another users project</a></li>
        </ul>
         <h3><a href="/docs/content/courses">Courses</a></h2>
        <ul class="bullet-collapse">
          <li><a href="/docs/content/courses/organisation">How are courses organised</a></li>
          <li class="item-collapse">
          <a class="link-collapse collapsed" data-toggle="collapse" href="#recommended_content"></a>
          <a href="/docs/content/courses/recommended">What content do you recommend?</a>
          <ul id="recommended_content" class="collapse items-list">
           <li><a href="/docs/content/courses/recommended/age11">Curriculum content for students aged 11-14</a></li>
           <li><a href="/docs/content/courses/recommended/age14">Curriculum content for students aged 14-16</a></li>
            <li><a href="/docs/content/courses/recommended/age16">Curriculum content for students aged 16-18</a></li>
          </ul>
            </li>
          <li><a href="/docs/content/courses/currmap2012">Curriculum Map for the OCR GCSE 2012 Computing Specification J275 Version 1 April 2012</a></li>
          <li><a href="/docs/content/courses/currmap2016">Curriculum Map for the OCR GSCE (9-1) Computer Science Spcification J276 - first teaching September 2016</a></li>
          <li><a href="/docs/content/courses/flode">Flode</a></li>
          <li><a href="/docs/content/courses/crunch">Crunch, an alternative to Little Man Computer</a></li>
          <li><a href="/docs/content/courses/lexikon">Lexikon</a></li>
          <li><a href="/docs/content/courses/tkinter">Tkinter</a></li>
         </ul>
        <h3><a href="/docs/student">Support for Students</a></h2>
        <ul>
          <li><a href="/docs/student/classes">Joining a class as a student</a></li>
          <li><a href="/docs/student/myclassroom">My Classroom</a></li>
          <li><a href="/docs/student/myfirstproject">Creating projects</a></li>
          <li><a href="/docs/student/dyslexia">Dyslexia support</a></li>
          <li><a href="/docs/student/password">Forgotten passwords</a></li>
          <li><a href="/docs/content/authoring/playmode">Play mode</a></li>
<!--          <li class='review'><a href="/docs/student/guides">Restore current files</a></li> -->
         </ul>
        </div>
    </div>
  </div>
</div>
