---
title: Reference
layout: layout
---

<div class="index-header-block">
  <h2>How can we help you?</h2>
  <div class="search-container">
    <form id="search-input">
      <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
    </form>
  </div>
</div>

<section class="docs-index">

  <div class="section buttons">
    <div class="section-block-row-three">
      <div class="section-block">
        <a href="/docs/started">Getting Started</a>
      </div>
      <div class="section-block selected">
        <a href="/docs">Reference</a>
      </div>
      <div class="section-block">
        <a href="/docs/account">Account Settings</a>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-block-row-three">
      <div class="section-block">
        <h3>Integrated Development Environment</h2>
        <ul>
          <li>Basic IDE Features
            <ul>
              <li>Exiting the IDE</li>
              <li>Editing a file</li>
              <li>Uploading Files</li>
              <li>Adding Files</li>
              <li>Templates</li>
              <li>Creating a folder</li>
              <li>Deleting a folder</li>
              <li>Dragging files &amp; folders</li>
              <li>Readme info pages</li>
              <li>Exporting an app</li>
            </ul>
            </li>
          <li>Advanced IDE Features
          <ul>
            <li>Autocomplete</li>
            <li>Command Bar</li>
            <li>Forking a Project</li>
            <li>Code Beautification</li>
            <li>Preview</li>
            <li>Quick Open</li>
            <li>Real time code collaboration</li>
            <li>Saving files</li>
            <li>Sharing &amp; Embedding</li>
          </ul>
            </li>
          <li>Boxes
          <ul>
            <li>Overview</li>
            <li>Terminal Window</li>
            <li>Software Packages
            <ul>
              <li>Preinstalled software packages</li>
              <li>File &amp; software Locations</li>
              <li>Installing software packages</li>
              <li>Coding installable packages</li>
              <li>Requesting New Packages</li>
            </ul>
              </li>
            <li>Always-On Boxes</li>
            <li>SSH &amp; Code Access
            <ul>
              <li>Codio Box SSH Keys</li>
              <li>Accessing Boxes &amp; Ports</li>
              <li>SSH into your Box</li>
            </ul>
              </li>
            <li>IDE Access Permissions</li>
            <li>Auto Starting Services</li>
            <li>Restart &amp; Reset</li>
            <li>Run Menu</li>
          </ul>
            </li>
          <li>Panels &amp; Tabs
          <ul>
            <li>Panel actions</li>
            <li>Expand Tabs full screen</li>
          </ul>
            </li>
          <li>Code Editing
          <ul>
            <li>Productivity, Emmet, Zen Coding
            <ul>
              <li>Emmet Docs</li>
              <li>Abbreviations</li>
              <li>Special Keyboard Actions</li>
              <li>Complete Reference</li>
            </ul>
              </li>
            <li>Git, Mercurial &mp; SVN
            <ul>
              <li>Using Git without remote repos</li>
              <li>Viewing GitHub Repos</li>
              <li>Resources</li>
              <li>SSH keys</li>
              <li>Very basic Git tutorial</li>
              <li> GitHub &amp; other remotes</li>
              <li>Active branch</li>
            </ul>
              </li>
            <li>Keyboard Shortcuts</li>
            <li>Multiple cursors</li>
            <li>Search and replace</li>
            <li>Color Preview &amp; Picker</li>
            <li>Beautify Javascript</li>
            <li>Force language highlighting</li>
          </ul>
            </li>
          <li>Tools</li>
          <ul>
            <li>Deployment
            <ul>
              <li>Create/manage a target</li>
              <li>Base path field</li>
              <li>Public keys for remote servers</li>
              <li>Terminal access to remotes</li>
              <li>Deploying to a Target</li>
              <li>Rsync target type</li>
              <li>FTP target type</li>
              <li>SFTP target type</li>
              <li>Nodejitsu target type</li>
              <li>Parse target type</li>
              <li>Git target type</li>
              <li>Deployment History</li>
              <li>Deploying specific files &amp; folders</li>
            </ul>
              </li>
            <li>Guides</li>
            <li>Phonegap
            <ul>
              <li>Authentication</li>
              <li>The config.xml file</li>
              <li>Build</li>
            </ul>
              </li>
            <li>Remote SSH Terminal Access
            <ul>
              <li>SSH Connection Manager</li>
              <li>Quick Connect</li>
            </ul>
              </li>
            </ul>
         </ul>
         <h3>Support for Students</h2>
        <ul>
          <li>A student view of Codio</li>
          <li>Joining a class as a student</li>
          <li>My Classroom</li>
          <li>Creating projects</li>
          <li>Dyslexia support</li>
          <li>Forgotten passwords</li>
          <li>Restore current files</li>
         </ul>
        <h3>Learning Management Tools</h2>
        <ul>
          <li>Assessing student progress
          <ul>
            <li>View student progress &amp; time spent</li>
            <li>Accessing student code</li>
            <li>Auto-graded assessments</li>
          </ul>
            </li>
          <li>Plagiarism Checker
          <ul>
            <li>Plagiarism reference</li>
          </ul>
            </li>
         </ul>
      </div>
      <div class="section-block">
           <h3>Class Administration</h2>
        <ul>
          <li>How to create an organisation
          <ul>
            <li>Create an organization</li>
            <li>Administrator Role</li>
            <li>Add Teachers</li>
            <li>Add Organisation owners</li>
            <li>Adding Students - Invite</li>
            <li>Adding Students - Bulk upload</li>
            <li>View organization members</li>
            <li>Remove owners</li>
            <li>Remove members</li>
            <li>Delete organisation</li>
          </ul>
            </li>
          <li>How to manage your class
          <ul>
            <li>Creating a class</li>
            <li>Adding teachers to a class</li>
            <li>Assigning curriculum-mapped content to the class</li>
            <li>Assign a project to the class</li>
            <li>Disable/Enable units</li>
            <li>Pinning a unit</li>
            <li>View teacher solutions</li>
            <li>Change student passwords</li>
            <li>Remove a student from a class</li>
            <li>Deleting a class</li>
          </ul>
            </li>
        </ul>
         <h3>Course Authoring</h2>
        <ul>
          <li>What is the Codio Guides authoring tool?</li>
          <li>Example Java Unit</li>
          <li>Tips for planning your course</li>
          <li>How to add media to your online couse</li>
          <li>How to create autograded assessments
         <ul>
            <li>Code Tests</li>
            <li>Multiple Choice</li>
            <li>Fill in the blanks</li>
            <li>Manual Grading</li>
          </ul>
            </li>
          <li>Edit and markdown</li>
          <li>Adding a unit</li>
          <li>Editing a unit</li>
          <li>Deleting courses</li>
          <li>Creating teacher only content for teacher solutions</li>
          <li>Collapge and explan section lists</li>
          <li>Simultaneous edit and play</li>
          <li>Adding and ordering sections</li>
          <li>Deleting sections</li>
          <li>Panel layouts</li>
          <li>Auto open/close files/preview/terminal</li>
          <li>Open/close tabs from content</li>
          <li>Chapters</li>
          <li>Hiding folders</li>
          <li>Tecnical details</li>
          <li>Play mode</li>
          <li>Make your course public</li>
         </ul>
      </div>
      <div class="section-block">
         <h3>Project Templates</h2>
        <ul>
          <li>How to use stacks
          <ul>
            <li>What is a Stack?</li>
            <li>Stack Listings</li>
            <li>Using a Stack</li>
            <li>Default Stacks</li>
            <li>Creating a Stack</li>
            <li>Stack Guidelines</li>
            <li>Excluding files &amp; folders</li>
            <li>Updating a Stack</li>
          </ul>
            </li>
          <li>How to use Starter Packs
          <ul>
            <li>What is a Starter Pack?</li>
            <li>How to build a reusable project template with Starter Packs</li>
            <li>Certified Packs</li>
            <li>Requesting additional Packs</li>
            <li>Selecting a Pack</li>
            <li>Creating a Pack</li>
            <li>Pack Guidelines</li>
            <li>Updating a Pack</li>
            <li>Deleting a Pack</li>
          </ul>
            </li>
          <li>Creating and importing a project</li>
          <li>Accessing your projects</li>
          <li>Searching projects</li>
          <li>Accessing another users project</li>
        </ul>
         <h3>Courses</h2>
        <ul>
          <li>How are courses organised</li>
          <li>Course Summary</li>
          <li>What content do you recommend?
          <ul>
            <li>Curriculum content for students aged 11-14</li>
           <li>Curriculum content for students aged 14-16</li>
            <li>Curriculum content for students aged 16-18</li>
          </ul>
            </li>
          <li>Curriculum Map for the OCR GCSE 2012 Computing Specification J275 Version 1 April 2012</li>
          <li>Curriculum Map for the OCR GSCE (9-1) Computer Science Spcification J276 - first teaching September 2016</li>
          <li>Flode</li>
          <li>Crunch, an alternative to Little Man Computer</li>
          <li>Lexikon</li>
          <li>Tkinter</li>
         </ul>
      </div>
    </div>
  </div>
</div>
