---
title: Search Results - Documentation - Codio
layout: layout
---

<main>
  <section class="header">
    <div class="container">
      <h1>Documentation</h1>
      <form id="search-input">
        <%= image_tag "icons/search_icon.png" %>
        <input type="text" placeholder="Search" id="st-search-input" class="st-search-input" />
      </form>
    </div>
  </section>

  <section class="container" id="st-results-container"></div>
</main>

<%= partial "vendors/swiftype" %>
