---
title: Search Results
layout: layout
---

<article class="search-results">
  <div class="title">
    <%= link_to "Docs", "/docs", :class => "back-button" %>
  </div>

  <header>
    <form>
      <input type="text" id="st-search-input" class="st-search-input" />
    </form>

    <h1>Search Results</h1>
  </header>

  <div id="st-results-container"></div>
</article>

<%= partial "vendors/swiftype" %>
