---
title: Getting Started
layout: layout
---
<div class="index-header-block">
  <h2>How can we help you?</h2>
  <div class="search-container">
    <form id="search-input">
      <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
    </form>
  </div>
</div>

<section class="docs-index">

  <div class="section buttons">
    <div class="section-block-row-three">
      <div class="section-block selected">
        <a href="/docs/started">Getting Started</a>
      </div>
      <div class="section-block">
        <a href="/docs">Reference</a>
      </div>
      <div class="section-block">
        <a href="/docs/acount">Account Settings</a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-block-row-three">
      <div class="section-block">
        <h3>School Teachers</h2>
        <ul>
          <li>Get Started</li>
            <ul>
              <li><a href="/docs/teacher/create/createorg">Create an organization</a></li>
              <li><a href="/docs/teacher/create/addteachers">Add Teachers</a></li>
              <li><a href="/docs/account/navigation">Navigating Codio</a></li>
              <li><a href="/docs/account/cussupport">Help/Contact</a></li>
              <li><a href="/docs/account/navigation">Firewall and network settings</a></li>
              <li><a href="/docs/teacher/create/adminrole">Administrator Role</a></li>
            </ul>
          <li><a href="/docs/content/courses/recommended">Available curriculum content</a>
            <ul>
            <li><a href="/docs/content/courses/recommended/age11">Curriculum content for students aged 11-14</a></li>
            <li><a href="/docs/content/courses/recommended/age14">Curriculum content for students aged 14-16</a></li>
            <li><a href="/docs/content/courses/recommended/age16">Curriculum content for students aged 16-18</a></li>
          </ul>
            </li>
              <li><a href="/docs/teacher/class">How to manage your class</a>
          <ul>
            <li><a href="/docs/teacher/class/create-class">Creating a class</a></li>
            <li><a href="/docs/teacher/create/addstudents">Adding Students - Invite</a></li>
            <li><a href="/docs/teacher/class/assign-module">Assigning curriculum-mapped content to the class</a></li>
            <li><a href="/docs/teacher/class/assign-project">Assign a project to the class</a></li>
            <li><a href="/docs/teacher/class/disable">Disable/Enable units</a></li>
            <li><a href="/docs/teacher/class/pin">Pinning a unit</a></li>
            <li><a href="/docs/teacher/class/solutions">View teacher solutions</a></li>
            <li><a href="/docs/teacher/class/changepassword">Change student passwords</a></li>
            <li><a href="/docs/teacher/class/removestudent">Remove a student from a class</a></li>
           </ul>
            </li>
           <li><a href="/docs/teacher/assess">Monitor students</a>
          <ul>
            <li><a href="/docs/teacher/assess/progress">View student progress &amp; time spent</a></li>
            <li><a href="/docs/teacher/assess/studentcode">View/access students work</a></li>
            <li><a href="/docs/teacher/assess/assessments">Auto-graded assessments</a></li>
          </ul>
            </li>
           <li><a href="/docs/student">What your students do</a>
            <ul>
          <li><a href="/docs/student/studentview">Student Dashboard</a></li>
          <li><a href="/docs/student/classes">Join a class</a></li>
          <li><a href="/docs/student/myclassroom">My Classroom</a></li>
          <li><a href="/docs/student/myfirstproject">Creating projects</a></li>
          <li><a href="/docs/student/dyslexia">Dyslexia support</a></li>
          <li><a href="/docs/student/password">Forgotten passwords</a></li>
          <li><a href="/docs/content/authoring/playmode">Play mode</a></li>
          <li class='review'><a href="/docs/student/guides">Restore current files</a></li>
         </ul>
          </li>
           <li><a href="/docs/teacher/create">Manage your organisation</a>
          <ul>
             <li><a href="/docs/teacher/create/addowners">Add Organisation owners</a></li>
             <li><a href="/docs/teacher/create/viewmembers">View organization members</a></li>
            <li><a href="/docs/teacher/create/removeowners">Remove owners</a></li>
            <li><a href="/docs/teacher/create/removemembers">Remove members</a></li>
            <li><a href="/docs/teacher/create/bulkupload">Adding Students - Bulk upload</a></li>
            <li><a href="/docs/teacher/create/deleteorg">Delete organisation</a></li>
          </ul>
            </li>
          <li><a href="/docs/projects">Creating a Project Template</a>
          <ul class='review'>
            <li><a href="/docs/project/creating">Creating your own project templates</a></li>
            <li><a href="/docs/project/stacks/default">Default Stacks</a></li>
            <li><a href="/docs/project/stacks">Stacks</a>
            <li><a href="/docs/project/packs">Starter Packs</a>
            <li><a href="/docs/project/creating">Create a project</a></li>
            <li><a href="/docs/ide/navigation/add-file">Adding and editing a code file</a></li>
            <li><a href="/docs/ide/boxes/terminal/">Using the terminal</a></li>
            <li><a href="/docs/ide/boxes/installsw/">Sudo and installing software onto your box</a></li>
            <li><a href="/docs/ide/navigation/exiting/">Exiting the IDE</a></li>
          </ul>
              </li>
             <li>Advanced Set up
            <ul>
              <li><a href="/docs/account/firewall">Firewall and network settings</a></li>
            </ul>
              </li>
            <li>Content Authoring
          <ul class='review'>
            <li>Guide Basics</li>
             <li><a href="/docs/content/authoring/imvid">Adding media</a></li>
            <li><a href="/docs/content/authoring/assessments">Creating Auto-marked assessments</a></li>
          </ul>
            </li>
         </ul>
         </div>
      <div class="section-block">
        <h3>University Professors</h2>
        <ul>
          <li>Get Started</li>
        <ul>
          <li><a href="/docs/teacher/create/createorg">Creating an educational organization</a></li>
          <li><a href="/docs/account/firewall">Firewall and network settings</a></li>
          <li><a href="/docs/teacher/create/adminrole">Administrator Role</a></li>
          <li><a href="/docs/teacher/create/addteachers">Add Teachers</a></li>
         </ul>
          <li><a href="/docs/project">How to create a project for your class</a>
          <ul>
              <li><a href="/docs/project/stacks/default">Default Stacks</a></li>
            <li><a href="/docs/project/stacks">Stacks</a>
            <li><a href="/docs/project/packs">Starter Packs</a>
            <li><a href="/docs/project/creating">Create a project</a></li>
            <li><a href="/docs/ide/navigation/add-file">Adding and editing a code file</a></li>
            <li><a href="/docs/ide/boxes/terminal/">Using the terminal</a></li>
            <li><a href="/docs/ide/boxes/installsw/">Sudo and installing software onto your box</a></li>
            <li><a href="/docs/ide/navigation/exiting/">Exiting the IDE</a></li>
          </ul>
            <li><a href="/docs/teacher/class">Manage classes</a>
          <ul>
            <li><a href="/docs/teacher/class/create-class">Creating a class</a></li>
            <li><a href="/docs/teacher/create/addstudents">Adding Students - Invite</a></li>
            <li><a href="/docs/teacher/class/assign-module">Assigning curriculum-mapped content to the class</a></li>
            <li><a href="/docs/teacher/class/assign-project">Assign a project to the class</a></li>
            <li><a href="/docs/teacher/class/disable">Disable/Enable units</a></li>
            <li><a href="/docs/teacher/class/pin">Pinning a unit</a></li>
            <li><a href="/docs/teacher/create/addteachers">Add Teachers</a></li>
            <li><a href="/docs/teacher/class/solutions">View teacher solutions</a></li>
            <li><a href="/docs/teacher/class/changepassword">Change student passwords</a></li>
            <li><a href="/docs/teacher/class/removestudent">Remove a student from a class</a></li>
           </ul>
            </li>
             <li><a href="/docs/student">What your students do</a>
            <ul>
          <li><a href="/docs/student/studentview">Student Dashboard</a></li>
          <li><a href="/docs/student/classes">Join a class</a></li>
          <li><a href="/docs/student/myclassroom">My Classroom</a></li>
          <li><a href="/docs/student/myfirstproject">Creating projects</a></li>
          <li><a href="/docs/student/dyslexia">Dyslexia support</a></li>
          <li><a href="/docs/student/password">Forgotten passwords</a></li>
          <li><a href="/docs/student/guides">Guides (Restore current files/Lexikon)</a></li>
         </ul>
          </li>
           <li><a href="/docs/teacher/assess">Monitor students</a>
          <ul>
            <li><a href="/docs/teacher/assess/progress">View student progress &amp; time spent</a></li>
            <li><a href="/docs/teacher/assess/studentcode">View/access students work</a></li>
            <li><a href="/docs/teacher/assess/assessments">Auto-graded assessments</a></li>
          </ul>
            </li>
          <li>Content Authoring
          <ul>
            <li>Guide Basics</li>
             <li><a href="/docs/content/authoring/imvid">Adding media</a></li>
            <li><a href="/docs/content/authoring/assessments">Creating Auto-marked assessments</a></li>
          </ul>
            </li>
      </div>
      <div class="section-block">
        <h3>Students</h2>
        <ul>
           <li><a href="/docs/student">What students need to know</a>
            <ul>
          <li><a href="/docs/student/studentview">Student Dashboard</a></li>
          <li><a href="/docs/student/classes">Join a class</a></li>
          <li><a href="/docs/student/myclassroom">My Classroom</a></li>
          <li><a href="/docs/student/myfirstproject">Creating projects</a></li>
          <li><a href="/docs/student/dyslexia">Dyslexia support</a></li>
          <li><a href="/docs/student/password">Forgotten passwords</a></li>
          <li><a href="/docs/student/guides">Guides (Restore current files/Lexikon)</a></li>
         </ul>
          </li>
          </ul>
        <h3>'How To' Blog Posts</h2>
        <ul>
          <li><a href="https://codio.com/blog/how-to-host-a-hackathon-with-codio/"target="_blank">How to host a hackathon using Codio</a></li>
          <li><a href="https://codio.com/blog/creating-auto-marking-code-tests/"target="_blank">How to create auto-graded assessments</a></li>
         </ul>
          </li>
          </ul>
          </div>
        </div>
    </div>
  </div>
