---
title: Getting Started
layout: layout
---
<div class="index-header-block">
  <h2>How can we help you?</h2>
  <div class="search-container">
    <form id="search-input">
      <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
    </form>
    <div class="overview-section">
      <div class="search-results" id="st-results-container">
      </div>
    </div>
  </div>
</div>

<section class="docs-index">

  <%= partial "docs/actions" %>

  <div class="section">
    <div class="section-block-row-three">
      <div class="section-block">
        <h2>Onboarding Guide</h2>
        <p>This Guide will walk you through the important steps for learning how to use Codio. It is also a very useful reference document.</p> 
        <h3>Original trial account owners</h3>
        <p>If you created your trial account after January 23rd, 2017 and are the original account owner you will find the <b>Onboarding Guide</b> in your project list. Please start this project and say <b>yes</b> when asked if you want to run the Guide. </p>
        <h3>Other users or if not in your project list</h3>
        <p>If you do not see Onboarding Guide in your projects list then please <a href="https://codio.com/home/starter-packs/486ffcd2-c573-4fee-bfaf-dae54db9e4fb/" target="_blank">click here</a> to create it. You should press the 'Use Pack' button and then press Create on the following screen. When the project starts, say <b>yes</b> when asked if you want to run the Guide.</p>
      </div>
    </div>
  </div>
</section>
