---
title: Getting Started
layout: layout
---
<div class="index-header-block">
  <h2>How can we help you?</h2>
  <div class="search-container">
    <form id="search-input">
      <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
    </form>
  </div>
</div>

<section class="docs-index">

  <div class="section buttons">
    <div class="section-block-row-three">
      <div class="section-block selected">
        <a href="/docs/started">Get Started</a>
      </div>
      <div class="section-block">
        <a href="/docs">Reference</a>
      </div>
      <div class="section-block">
        <a href="/docs/acount">Settings</a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-block-row-three">
      <div class="section-block">
        <h3>Start Here</h3>
        <ul>
           <li><a href="/docs/account/navigation">An Overview of Codio</a></li>
           
              <li><b><a href="/docs/teacher/create/createorg">Step 1: Create your organization</a></b>
              <ul>  
              <li><a href="/docs/teacher/create/addteachers">Invite teachers</a></li>
              <li><a href="/docs/teacher/create/adminrole">Administrator role</a></li>
              <li><a href="/docs/account/firewall">Firewall and network settings</a></li>
             </li>
            </ul>
          <li><b><a href="/docs/teacher/classes">Step 2: Manage your class</a></b>
            <ul>
             <li><a href="/docs/teacher/classes/create-class">Create a class</a></li>
             <li><a href="/docs/teacher/create/addstudents">Add students by url invite</a></li>
             <li><a href="/docs/teacher/create/bulkupload">Add students by bulk upload</a></li>
             <li><a href="/docs/teacher/classes/changepassword">Change a student's password</a></li>
             <li><a href="/docs/teacher/classes/removestudent">Remove a student from a class</a></li>
            </ul>
           </li>
          <li><b><a href="/docs/teacher/classes/assign-module/">Step 3: Assign coursework</a></b>
            <ul>
            <li><a href="/docs/content/courses/recommended/age11">Courses for ages 11-14</a></li>
            <li><a href="/docs/content/courses/recommended/age14">Courses for ages 14-16</a></li>
            <li><a href="/docs/content/courses/recommended/age16">Courses for ages 16-18</a></li>
            <li><a href="/docs/teacher/classes/assign-project">Assign a project to your class</a></li>
            <li><a href="/docs/teacher/classes/disable">Disable/Enable units</a></li>
            <li><a href="/docs/teacher/classes/pin">Pinning a unit</a></li>
            <li><a href="/docs/teacher/classes/solutions">View teacher solutions to assessments</a></li>
            <li><a href="/docs/teacher/classes/assign-project">GCSE J276 Curriculum Map (UK only)</a></li>    
            </ul>
            </li>
          <li><b><a href="/docs/teacher/assess">Step 4: Track student progress</a></b>
           <ul>
            <li><a href="/docs/teacher/assess/progress">View student progress</a></li>
            <li><a href="/docs/teacher/assess/studentcode">Access students' work</a></li>
            <li><a href="/docs/teacher/assess/assessments">Auto-graded assessments</a></li>
           </ul>
            </li>
          <li><b><a href="/docs/student">Step 5: Help for your students</a></b>
            <ul>
                <li><a href="/docs/student/guides">Restore current files</a></li>
            </ul>
           </li>
          <li><b><a href="/docs/teacher/create">Step 6: Manage your organization</a></b>
           <ul>
             <li><a href="/docs/teacher/create/addowners">Add owners</a></li>
             <li><a href="/docs/teacher/create/viewmembers">View members</a></li>
             <li><a href="/docs/teacher/create/removeowners">Remove owners</a></li>
             <li><a href="/docs/teacher/create/removemembers">Remove members</a></li>
          </ul>
            </li>
         </ul>
         </div>
      <div class="section-block">
        <h3>Advanced</h3>
        <ul>
          <li><b><a href="/docs/project">Step 7: Create a project for your class</a></b>
          <ul>
            <li><a href="/docs/project/stacks/default">Default Stacks</a></li>
            <li><a href="/docs/project/stacks">Stacks</a>
            <li><a href="/docs/project/packs">Starter Packs</a>
            <li><a href="/docs/project/creating">Create a project</a></li>
            <li><a href="/docs/ide/navigation/add-file">Adding and editing a code file</a></li>
            <li><a href="/docs/ide/boxes/terminal/">Using the terminal</a></li>
            <li><a href="/docs/ide/boxes/installsw/">Sudo and installing software onto your box</a></li>
            <li><a href="/docs/ide/navigation/exiting/">Exiting the IDE</a></li>
          </ul>
          <li><b>Step 8: Content Authoring</b>
          <ul>
             <li><a href="/docs/content/authoring/imvid">Adding media</a></li>
             <li><a href="/docs/content/authoring/assessments">Creating auto-graded assessments</a></li>
          </ul>
          </li>
      </div>
      <div class="section-block">
        <h3>For Students</h3>
        <ul>
           <li><a href="/docs/student">How students use Codio</a>
            <ul>
          <li><a href="/docs/student/studentview">The student dashboard</a></li>
          <li><a href="/docs/student/classes">How to join a class</a></li>
          <li><a href="/docs/student/myclassroom">My Classroom</a></li>
          <li><a href="/docs/student/myfirstproject">How to create your first project</a></li>
          <li><a href="/docs/student/dyslexia">Dyslexia support</a></li>
          <li><a href="/docs/student/password">How to reset your password</a></li>
          <li><a href="/docs/student/guides">Restore current files</a></li>
         </ul>
          </li>
          </ul>
        <h3>'How To' Blog Posts</h3>
        <ul>
          <li><a href="https://codio.com/blog/how-to-host-a-hackathon-with-codio/"target="_blank">How to host a hackathon using Codio</a></li>
          <li><a href="https://codio.com/blog/creating-auto-marking-code-tests/"target="_blank">How to create auto-graded assessments</a></li>
              </div>
        </div>
    </div>

