---
title: Codio - Professional Pricing
layout: layout-new
---

    <main id="pricing-pro">
      <section>
        <h1>Take your experience to the next level</h1>
        <div class="container">
          <p>All Codio subscriptions come with unlimited private projects & we reward schools and universities with better value whole institution or user group licences.</p>
        </div>
      </section>
      <section>
        <div class="container"><a href="/p/signup" class="button">
            <div id="pricing-table1"></div></a><a href="/p/signup" class="button">
            <div id="pricing-table2"></div></a><a href="/p/signup" class="button">
            <div id="pricing-table3"></div></a><a href="/p/signup" class="button">
            <div id="pricing-table4"></div></a></div>
      </section>
      <section id="faq">
        <div class="container">
          <h1>Frequenly asked questions</h1>
        </div>
        <div id="faq1" class="line-faq">
          <div class="container">
            <h2>Monthly or Annual</h2>
            <p>Codio aims to support the developer community as deeply as possible - we’ll always have a free option and provide preferential pricing for schools and education users. With professionals, we’ll reward you for making an annual commitment.</p>
          </div>
        </div>
        <div id="faq2" class="line-faq">
          <div class="container">
            <h2>Enterprise Licenses</h2>
            <p>Codio provides enterprise and corporate user licences with a minimum of 5 users or more. You can manage all enterprise users at the organisation level and vary the number of users throughout the licence period.</p>
          </div>
        </div>
        <div id="faq3" class="line-faq">
          <div class="container">
            <h2>Stacks & Starter Packs</h2>
            <p>Codio provides all users with unlimited access to a library of coding environments - you’ll find stacks for just about any project requirement - and our starter packs take your experience to the next level with stacks, starting point sample project code, and, in many cases, rich instructions.</p>
            <p>Enterprise users can access all of Codios stacks and starter packs, create custom enterprise stacks and starter packs which are ideal for developer on-boarding, transitioning between projects and assessing new developer team members. Save man weeks of lost productivity.</p>
          </div>
        </div>
        <div id="faq4" class="line-faq">
          <div class="container">
            <h2>Private Projects</h2>
            <p>Free users wishing to trial Codio with private coding projects can use Codio with one private project for one 30 day period. For professional users, Codio provides unlimited private projects within your allocated disk space. Infrastructure & IDE</p>
            <p>Professional subscribers enjoy significantly greater choice of infrastructure - with larger RAM and storage.</p>
          </div>
        </div>
        <div id="faq5" class="line-faq">
          <div class="container">
            <h2>Always-on boxes</h2>
            <p>All subscriptions tiers with an allocation of always-on boxes; managing which projects run with an always-on box is a simple one click choice in the projects dashboard</p>
          </div>
        </div>
        <div id="faq6" class="line-faq">
          <div class="container">
            <h2>Terms and Conditions</h2>
            <p>For full terms and conditions, please refer to our acceptable usage policy, our pricing policy and our terms of use, <a href="/legal#toc">here.</a></p>
          </div>
        </div>
        <div id="faq7" class="line-faq">
          <div class="container">
            <h2>Privacy</h2>
            <p>For information on the information Codio collects from users, our use of that information and other information about cookies and our forum, <a href="/legal/privacy">please consult our privacy policy.</a></p>
          </div>
        </div>
      </section>
    </main>
