body.cloudcs {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
}

body.cloudcs {
  .header-block {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position-x: center;
    background-image: url('/img/assets/university/cloudcs-top-mob.jpg');

    @include breakpoint($break-tablet) {
      height: 42vw;
      background-image: url('/img/assets/university/cloudcs-top.jpg');
    }

    .header-content {
      display: block;
    }

    .quote {
      font-size: 1.8rem;
      font-weight: 400;
      color: #fff;
      line-height: 2rem;
      padding: 1rem;

      @include breakpoint(450px) {
        font-size: 2rem;
        padding-bottom: 0.7rem;
      }

      @include breakpoint($break-tablet) {
        font-size: 3.2vw;
        padding-bottom: 0.7rem;
      }

      @include breakpoint($max-width) {
        padding-bottom: 1rem;
      }
    }

    .author {
      font-size: 2rem;
      font-weight: 400;
      color: #fff;
      line-height: 2rem;
      padding-bottom: 0.7rem;
      display: none;

      @include breakpoint($break-tablet) {
        display: block;
        font-size: 2.4vw;
        padding-bottom: 1rem;
      }

      @include breakpoint($max-width) {
        padding-bottom: 2rem;
      }
    }

    .text {
      font-size: 1.2rem;
      font-weight: 300;
      color: #fff;
      line-height: 1.9rem;
      padding: 1rem 1rem 2rem 1rem;

      br {
        display: none;

        @include breakpoint($break-tablet) {
          display: inline;
        }
      }

      @include breakpoint(450px) {
        font-size: 1.4rem;
      }

      @include breakpoint($break-tablet) {
        margin: 0 1rem;
        line-height: 1.6rem;
        padding-bottom: 1rem;
      }

      @include breakpoint($max-width) {
        line-height: 1.8rem;
        max-width: $max-width;
        margin: 0 2rem;
        padding-bottom: 2rem;
      }
    }
  }

  .content-body {
    @include container;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;

    .features-block {
      @include container;
      margin: 0 auto;
      padding: 2rem 2rem 0 2rem;

      .features-row {
        @include span(13 of 13);
        padding: 0;
        min-height: 378px;
        height: 700px;

        @include breakpoint($break-tablet) {
          height: 100%;
        }

        &:nth-child(1) {
          .top, .line-mobile.top {
            opacity: 0;
          }
          .dot {
            -webkit-transition: border-width 0.01s;
            -moz-transition: border-width 0.01s;
            transition: border-width 0.01s;
            transition-delay: 0.02s;
          }
          .bottom {
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            transition: height 0.5s;
            transition-delay: 0.03s;
          }
        }

        &:nth-child(2) {
          .top {
            -webkit-transition: height 0.02s;
            -moz-transition: height 0.02s;
            transition: height 0.02s;
            transition-delay: 0.53s;
          }
          .dot {
            -webkit-transition: border-width 0.01s;
            -moz-transition: border-width 0.01s;
            transition: border-width 0.01s;
            transition-delay: 0.55s;
          }
          .bottom {
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            transition: height 0.5s;
            transition-delay: 0.56s;
          }
        }

        &:nth-child(3) {
          .top {
            -webkit-transition: height 0.02s;
            -moz-transition: height 0.02s;
            transition: height 0.02s;
            transition-delay: 1.06s;
          }
          .dot {
            -webkit-transition: border-width 0.01s;
            -moz-transition: border-width 0.01s;
            transition: border-width 0.01s;
            transition-delay: 1.08s;
          }
          .bottom {
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            transition: height 0.5s;
            transition-delay: 1.09s;
          }
        }

        &:nth-child(4) {
          .top {
            -webkit-transition: height 0.02s;
            -moz-transition: height 0.02s;
            transition: height 0.02s;
            transition-delay: 1.59s;
          }
          .dot {
            -webkit-transition: border-width 0.01s;
            -moz-transition: border-width 0.01s;
            transition: border-width 0.01s;
            transition-delay: 1.61s;
          }
          .bottom {
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            transition: height 0.5s;
            transition-delay: 1.62s;
          }
        }

        &:nth-child(5) {
          .top {
            -webkit-transition: height 0.02s;
            -moz-transition: height 0.02s;
            transition: height 0.02s;
            transition-delay: 2.12s;
          }
          .dot {
            -webkit-transition: border-width 0.01s;
            -moz-transition: border-width 0.01s;
            transition: border-width 0.01s;
            transition-delay: 2.14s;
          }
          .bottom {
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            transition: height 0.5s;
            transition-delay: 2.15s;
          }
        }

        &:nth-child(6) {
          .top {
            -webkit-transition: height 0.02s;
            -moz-transition: height 0.02s;
            transition: height 0.02s;
            transition-delay: 2.65s;
          }
          .dot {
            -webkit-transition: border-width 0.01s;
            -moz-transition: border-width 0.01s;
            transition: border-width 0.01s;
            transition-delay: 2.67s;
          }
          .bottom {
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            transition: height 0.5s;
            transition-delay: 2.68s;
          }
        }

        &:last-child {
          .bottom, .line-mobile.bottom {
            opacity: 0;
          }
        }
      }

      .line-mobile {
        @include span(1 of 13);
        display: inline-block;
        height: 640px;
        width: 12px;
        
        @include breakpoint($break-tablet) {
          display: none; 
        }

        .top, .bottom {
          overflow: hidden;
          content: " ";
          display: block;
          width: 2px;
          background-color: $orange;
          position: relative;
          margin: 0 auto;
        }

        .top {
          height: 50px;
        }

        .dot {
          display: block;
          border: 6px solid $orange;
          border-radius: 50%;
          margin: 0 auto;
          margin-left: -3px;

          @include breakpoint(450px) {
            margin-left: -5px;
          }
        }

        .bottom {
          height: 694px;
        }
      }

      .left-part {
        @include span(12 of 13);
        padding-left: 2rem;
        animation-duration: 1.5s;
        animation-delay: 0.1s;
        display: inline-block;

        @include breakpoint($break-tablet) {
          @include span(6 of 13);
        }
      }

      .middle-part {
        display: none;
        @include breakpoint($break-tablet) {
          @include span(1 of 13);
          display: inline-block; 
        }
      }

      .right-part {
        @include span(12 of 13);
        display: inline-block;
        padding: 0 0 0 2rem;

        @include breakpoint($break-tablet) {
          @include span(6 of 13);
          padding: 0 2rem 0 0;
          animation-duration: 1.5s;
          animation-delay: 0.1s;
        }
      }

      .description {
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .header {
          padding-bottom: 1rem;
          color: $light-blue;
          font-size: 1.8rem;
          font-weight: 500;

          @include breakpoint(450px) {
            font-size: 2rem;
          }

          @include breakpoint($break-tablet) {
            font-size: 30px;
          }
        }

        .text {
          font-size: 1.2rem;
          font-weight: 300;

          @include breakpoint(450px) {
            font-size: 1.4rem;
          }

          @include breakpoint($break-tablet) {
            font-size: 18px;
          }

          a {
            color: #1188ef;
          }
 
          a:hover {
            color: $blue;
          }
        }

        @include breakpoint($break-tablet) {
          padding-bottom: 0;
        }
      }

      .screen {
        height: auto;
        display: block;

        img {
          max-width: 100%;
          max-height: 100%;
          vertical-align: middle;
          margin: auto;
        }

        @include breakpoint($break-tablet) {
          position: relative;
          display: inline-block;
        }
      }

      .vertical-dot-line {
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        width: 12px;

        .top, .bottom {
          overflow: hidden;
          content: " ";
          display: block;
          width: 2px;
          background-color: $orange;
          position: relative;
          margin: 0 auto;
          transition-timing-function: linear;
        }

        .top {
          height: 50px;
        }

        .dot {
          display: block;
          border: 6px solid $orange;
          border-radius: 50%;
          transition-timing-function: linear;
        }

        .bottom {
          height: 318px;
        }
      }
    }
  }

  .ready-started-block {
    max-width: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    height: 280px;
    background-color: $orange;

    h2 {
      margin-top: 0;
      color: #fff;
      padding: 40px 0 20px 0;
      font-size: 1.8rem;
    }

    @include breakpoint($break-tablet) {
      height: 220px;
      h2 {
        font-size: 2rem;
      }
    }

    .button-block {
      .button-rounded {
        display: block;
        min-width: 182px;
        min-height: 41px;
        margin: 0.5rem;
        border-color: #ffffff;
        text-transform: none;

        &:first-child {
          background-color: #ffffff;
          color: $orange;

          &:hover {
            background-color: transparent;
            color: #ffffff;
          }
        }

        &:last-child {
          &:hover {
            background-color: #ffffff;
            color: $orange;
          }
        }

        @include breakpoint($break-tablet) {
          display: inline-block;
          min-width: 256px;
          min-height: 48px;
          margin: 0 1rem;
        }
      }

      .divider {
        margin: 0 10px;
        width: 1px;
        height: 100%;
        border-left: solid 1px #ffffff;
        display: none;

        @include breakpoint($break-tablet) {
          display: inline;
        }
      }
    }
  }

  .support-block {
    width: 100%;
    height: 480px;
    position: relative;
    text-align: left;
    background-size: cover;
    background-position-x: center;
    background-image: url('/img/assets/university/exemplary-support-mob.jpg');

    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/university/exemplary-support.jpg');
      height: 34vw;
      text-align: center;
    }

    .support-content {
      display: block;
      padding: 0 1rem;

      @include breakpoint($break-tablet) {
        padding: 0;
      }
    }

    .title {
      font-size: 1.8rem;
      font-weight: 600;
      color: #fff;
      line-height: 2rem;
      padding-bottom: 0.7rem;

      @include breakpoint($break-tablet) {
        font-size: 2.4vw;
        padding-bottom: 1rem;
      }

      @include breakpoint($max-width) {
        padding-bottom: 2rem;
      }
    }

    .text {
      font-size: 1.4rem;
      font-weight: 400;
      color: #fff;
      line-height: 1.8rem;
      margin: 0;
      padding-bottom: 0.7rem;

      @include breakpoint($break-tablet) {
        font-size: 1.6vw;
        line-height: 1.6rem;
        margin: 0 1rem;
        padding: 0 2rem 1rem 2rem;
      }

      @include breakpoint($max-width) {
        line-height: 1.8rem;
        max-width: $max-width;
        margin: 0 2rem;
        padding-bottom: 2rem;
      }
    }
  }

  .carousel-block {
    @include container;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;
    display: block;
    line-height: 0;

    .carousel-inner {
      line-height: $base-line-height;

      height: auto;

      img {
        height: auto;
        width: 100%;
        margin: 0 auto;
        vertical-align: middle;
      }

      .title-text {
        text-align: center;
        margin: 0 auto;
        padding-top: 6%;
        width: 70%;
        color: #fff;

        .button-large {
          padding: 15px 35px;
          font-size: 1.8vw;
        }

        h2 {
          font-size: 5vw;
          font-weight: 400;
        }

        h3 {
          margin-top: 1rem;
          padding-top: 0;
          padding-bottom: 2.5%;
          font-size: 2.5vw;
          font-weight: 400;
        }

        @include breakpoint($break-tablet) {
          padding-top: 9%;
          h3 {
            padding-top: 1%;
            padding-bottom: 5%;
          }
        }
      }

      .slot-1, .slot-2, .slot-3 {
        width: 100%;
        height: 41.1vw;
        text-align: center;
        background-size: cover;
      }
    }

    .carousel-control.left, .carousel-control.right {
      background-image: none;
      background-repeat: no-repeat;
      text-shadow: none;
      display: none;
    }

    .carousel-control {
      width: 0;
    }

    .carousel-control.left span {
      margin: 0;
    }

    .carousel-control.right span {
      margin: 0;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
      position: absolute;
      top: 45%;
      z-index: 5;
      display: inline-block;
    }

    .carousel-control .glyphicon-chevron-left:before {
      content: "\276E";
      display:block;
      width:30px;
      height:30px;
    }

    .carousel-control .glyphicon-chevron-right:before {
      content: "\276F";
      display:block;
      width:30px;
      height:30px;
    }

    .carousel-indicators li {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 10px;
      text-indent: 0;
      cursor: pointer;
      border: 1px solid #00f;
      border-radius: 50%;
      background-color: #fff;
    }

    .carousel-indicators .active {
      width: 15px;
      height: 15px;
      margin: 10px;
      border: none;
      background-color: #00f;
    }

    .item {
      text-align: center;
      padding: 1.5rem;
      min-height: 490px;

      .logo {
        height: 120px;
        width: auto;
        margin: 0 auto;

        @include breakpoint($break-tablet) {
          height: 100px;
          margin: 2rem auto;
        }
      }

      .quote {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem 0;

        @include breakpoint($break-tablet) {
          font-size: 1.5rem;
        }
      }

      .author {
        font-size: 1.3rem;
        padding: 1rem 0 2rem 0;

        @include breakpoint($break-tablet) {
          font-size: 1.2rem;
          padding: 1rem 0 6rem 0;
        }

        h3 a {
          color: $blue;
          text-decoration: underline;
          font-size: 1.5rem;

          &:hover {
            color: $light-blue;
          }
        }
      }
    }
  }
}
