
.clear {
  clear: both;
}

body.demo {
  header .container, footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .content {
    margin: 0 auto 0 auto;
    max-width: 100%;
  }
}

body.demo .header-block {
  @include container;
  padding-top: 6rem;
  padding-bottom: 2rem;
  position: relative;

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    width: span(14 of 16);
    max-width: $max-width;
  }

  h1 {
    color: black;
    font-size: 46px;
    font-weight: 500;
    margin: 2rem 0 0.5rem 0;
  }

  h2 {
    color: black;
    font-size: 28px;
    font-weight: 400;
  }
}

.demo-content {
  @include container;

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    width: span(14 of 16);
    max-width: $max-width;
  }

  .collapse-region {
    .button-collapse {
      background-color: $light-blue
    }

    .book-panel {
      background-color: $lighter-gray;
      text-align: center;
      margin-top: 5px;
      padding: 1rem 0 2rem 0;

      h4 {
        font-weight: 400;
        margin-top: 0;
      }

      p {
        margin: 0 10px;
        display: inline;
      }
    }

    .button-collapse:after {
      content: "\00a0\00a0\3009";
    }

    .button-collapse.collapsed:after {
      content: "\00a0\00a0\FE40";
      position: relative;
      top: 5px;
    }

    .action-buttons {
      .button-dark {
        background-color: $dark-gray;
        color: white;

        &:hover {
          background-color: white;
          color: $dark-gray;
        }
      }
    }

    .dropdown {
      display: inline;
      box-shadow: none;
    }

    .dropdown>a:after {
      content: "\00a0\00a0\3009";
    }

    .dropdown.open>a:after {
      content: "\00a0\00a0\FE40";
      position: relative;
      top: 5px;
    }

    .dropdown-menu {
      text-align: center;
    }

    ul.dropdown-menu:before {
      content: "";
      border-bottom: 10px solid #fff;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: -10px;
      right: 28px;
      z-index: 10;
    }

    ul.dropdown-menu:after {
      content: "";
      border-bottom: 12px solid #ccc;
      border-right: 12px solid transparent;
      border-left: 12px solid transparent;
      position: absolute;
      top: -12px;
      right: 26px;
      z-index: 9;
    }

    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu .open>a,
    .dropdown-menu .open>a:hover, .dropdown-menu .open>a:focus {
      background:#fff;
    }

    .dropdown-menu>li>a {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      background-color: #fff;
      text-transform: uppercase;

      &:hover {
        color: #fff;
        background-color: $dark-gray;
      }
    }

    ul {
      margin-top: 17px;
      padding: 0;
    }
  }
}

.video-content {
  @include container;
  margin: 2rem 0;

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    width: span(14 of 16);
    max-width: $max-width;
  }

  .video-player {
    @include container;
    width: 100%;
    height: 33vw;

    h4 {
      margin-top: 1.2rem;
    }

    @include breakpoint($max-width) {
      max-height: 435px;
    }
  }

  .section-block {
    @include container;

    @include breakpoint($break-tablet) {
      float: left;
      width: span(12 of 32);
    }

    width: span(14 of 16);

    &:first-of-type {
      width: 100%;
      @include breakpoint($max-width) {
        margin-left: span(0 of 32);
        margin-right: span(1 of 32);
        width: 60%;
      }
    }

    &:last-of-type {
      width: 100%;
      height: 100%;
      @include breakpoint($max-width) {
        margin-right: span(0 of 32);
        width: 35%;
      }
    }
  }

  .h_iframe {
    position: relative;

    .ratio {
      display: block;
      width: 100%;
      background: $dark-gray;
      opacity: 0;
      height: 100%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .description {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .video-list {
    overflow: auto;

    .video-list-item {
      display: inline-block;
      width: 100%;
      min-height: 115px;
    }

    .active-item, .video-list-item:hover {
      background-color: $lighter-blue;
      cursor: pointer;
    }

    .thumb {
      min-width: 100px;
      height: 75px;
      max-width: 30%;
      float: left;
    }

    .video-list-item-desc {
      padding: 0 0 5px 1rem;
      width: 65%;
      float: left;

      .title {
        font-size: 1rem;
        font-weight: 500;
        word-wrap: break-word;
      }

      .user-name {
        font-size: 0.9rem;
        word-wrap: break-word;
      }
    }
  }
}
