
.clear {
  clear: both;
}

body.demo .header-block {

  position: relative;
  float: inherit;
  width: span(12 of 16);
  max-width: $max-width;
  max-height: 200px;
  margin: 0 span(2 of 16);
  padding: 1rem 0 0;
  background: none;

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-top: 4 * $base-line-height;
    font-size: 52px;
    font-weight: 400;
    // text-align: center;

    @include breakpoint($break-tablet) {
      margin-top: 4 * $base-line-height;
      line-height: 52px;
    }
  }

}

body.demo {

  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }

  header.should-be-fixed {
    background: $dark-gray;
  }
}

.demo-body {
  @include container;
  @include break;

  margin: 0;
  padding: 0;

  .section {
    @include container;
    @include break;

    width: span(12 of 16);
    margin: 0 span(2 of 16);
    float: inherit;
    max-width: $max-width;

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }

    &.first {
      padding: 1rem 0 2rem;
    }

    &.second {
      padding: 2rem 0 1rem;
    }

  }

  .blue {
    background-color: #4574e0;
    color: white;
    overflow: hidden;

    @include breakpoint($break-tablet) {
      margin: 0;
      width: 100%;
      max-width: 100%
    }
  }

  .blue .arrow {
    background: none;

    @include breakpoint($break-tablet) {
      background: url('/img/assets/demo/arrow.svg') no-repeat right center;
    }
  }

  .section-block-row-three {
    @include container;
    @include break;

    .section-block {
      @include container;
      margin-top: 0;
      margin-bottom: 1rem;
      text-overflow: clip;
      margin-right: span(2 of 50);

      @include breakpoint($break-tablet) {
        width: span(16 of 50);
        float: left;
      }

      &:first-of-type {
        @include breakpoint($break-tablet) {
          width: span(16 of 50);
        }
      }

      &:last-of-type {
        display: none;

        @include breakpoint($break-tablet) {
          height: 14rem;
          vertical-align: middle;
          margin-right: 0;
          width: span(13 of 50);
          display: inherit;
        }

        .robot {
          margin-top: 3rem;
          float: right;
          width: 8rem;
          height: 8rem;
          // position: relative;
          // right: -6rem;
          margin-right: -8rem;
        }
      }
    }

    form input[type="text"], form input[type="email"] {

      color: #d9dade;
      font-size: 0.9rem;
      vertical-align: middle;
      border: 1px solid #4574e0;
      padding: 6px 8px;
      color: #8c97b2;
      line-height: 1rem;
      height: 40px;
      width: 100%;
    }

    span.required {
      content:" *";
      width: 1em;
      height: 40px;
      position: relative;
      left: -1rem;
      // border-color: red !important;
    }

    input[type=checkbox] {
    	display: none;
    }

    .checkbox-custom {
      opacity: 0;
      position: absolute;
    }

    .checkbox-custom, .checkbox-custom-label {
      display: inline-block;
      vertical-align: middle;
      margin: 5px 5px 5px 0;
      cursor: pointer;
    }

    .checkbox-custom-label{
        position: relative;
    }

    .checkbox-custom + .checkbox-custom-label:before {
      color: #111111;
      content: '';
      background: #5988e0;
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      padding: 0 2px;
      margin-right: 10px;
      text-align: center;
    }

    .checkbox-custom:checked + .checkbox-custom-label:before {
      color: #FFFFFF;
      content:'\2713';
      // background: rebeccapurple;
      // box-shadow: inset 0px 0px 0px 4px #fff;
    }

    .checkbox-custom:focus + .checkbox-custom-label {
      // outline: 1px solid #ddd; /* focus style */
    }

    input[type=submit] {
    	float: right;
      color: #FFF;
      font-size: 1rem;
      vertical-align: middle;
      border: none;
      padding: 6px 8px;
      background-color: #f29313;
      line-height: 1rem;
      height: 40px;
      width: 45%;
      text-transform: uppercase;
    }

    input[type=submit]:hover {
      background-color: $lighter-orange;
    }

  }

  .section-block-copy {
  }

  .section.third {
    @include container;
    @include break;

    .section-block {
      @include container;
      width: 100%;
      max-width: 400px;
      padding: 2em;
      margin: 1.5rem auto;
      background-color: #5988e0;
      color: white;
      text-align: center;

      @include breakpoint($break-tablet) {
        width: span(30 of 50);
        max-width: 400px;
        margin: 1.5rem auto;
      }

      h2 {
        margin-top: 0;
      }

      .smiley {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }

      .top {
        font-size: 1.5em;
      }

      .top small {
        font-size: 1rem;
      }

      .social {
        border-top: 1px solid #7a9fe5;

        a, svg {
          display: inline-block;
        }

        a {
          // position: relative; // IE8
          height: 48px; // IE8
          height: 2.2rem;
          width: 48px; // IE8
          width: 2.2rem;
        }

        svg {
          height: 100%;
          width: 100%;
          color: #fff;
          fill: #fff;
        }
      }
    }
  }


}
