.clear {
  clear: both;
}

body.developer {
  header .container, footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }

  a.link {
    @include linkUnderlines(white, $base-font-color);
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 50px 0;
    text-align: center;

    .button.button-main {
      background-color: #f29312;
      border: 2px solid #f29312;
    }

    .button:hover {
      background-color: $lighter-orange;
      border-color: $lighter-orange;
    }

    .button.button-demo {
      margin-left: 10px;
      background: none;
      border: 2px solid #FFFFFF;
    }

    .button.button-demo:hover {
      color: $dark-gray;
      border-color: $dark-gray;
    }

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button {
      display: block;
      padding: 0;
      width: 100%;
      line-height: 58px;
      height: 60px;

      @include breakpoint($break-tablet) {
        white-space: nowrap;
        display: inline-block;
        min-width: 230px;
        max-width: 300px;
        display: inline-block;
        height: auto;
      }
    }
  }
}

body.developer .header-block {
  @include span(4);
  background-size: cover;
  background-image: $gradient;
  color: white;
  position: relative;

  @include breakpoint($break-tablet) {
    background-image: $gradient;
    background: url('/img/assets/developer/individual_bg.jpg') no-repeat top center fixed;
    background-color: #4574e0;
  }

  @include breakpoint($max-width) {
    background-image: $gradient;
    background: url('/img/assets/developer/individual_bg.jpg') no-repeat top center fixed;
    background-color: #4574e0;
  }

  h1 {
    margin-top: 2 * $base-line-height;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    animation-delay: .4s;

    @include breakpoint($break-tablet) {
      margin-top: 3 * $base-line-height;
      font-size: 60px;
      font-weight: 400;
      line-height: 64px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    animation-delay: .8s;
    margin-left: 1rem;
    margin-right: 1rem;

    @include breakpoint($break-tablet) {
      line-height: 30px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.developer-body {
  @include container;
  @include break;

  margin: 0;
  padding: 0;

  .section {
    @include container;
    @include break;

    padding: 3rem 1rem 2rem 1rem;
    vertical-align: middle;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      width: span(12 of 16);
      margin: 0 span(2 of 16);
      float: inherit;
      max-width: $max-width;
      padding: 3rem 0;
    }

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }

    &.top {
      padding-top: 3rem;
      padding-bottom: 3rem;
      text-align: center;

      h4 {
        margin-top: 3rem;
        font-size: 32px;
        font-weight: 400;
      }

      p {
        font-size: 26px;
        line-height: 2rem;
        
        a {
          color: #55f;
          text-decoration: underline;

          &:hover {
            color: #aaf;
          }
        }
      }

      @include breakpoint($break-tablet) {
        h4 {
          font-size: 28px;
          font-weight: 400;
        }

        p {
          font-size: 20px;
        }

        .section-block-copy {
          //min-height: 324px;
        }
      }

      @include breakpoint($max-width) {
        h4 {
          font-size: 32px;
          font-weight: 400;
        }

        p {
          font-size: 22px;
        }

        .section-block-copy {
          //min-height: 252px;
        }
      }

      @include breakpoint(1300px) {
        h4 {
          font-size: 32px;
          font-weight: 400;
        }

        p {
          font-size: 22px;
        }

        .section-block-copy {
          //min-height: 216px;
        }
      }

      .button.button-top {
        background: $blue;
        border: 2px solid #FFFFFF;
        min-width: 210px;
        max-width: 230px;
      }

      .button.button-top:hover {
        border-color: $dark-gray;
      }

      .button {
        display: block;
        padding: 0;
        width: 100%;
        line-height: 58px;
        height: 60px;

        @include breakpoint($break-tablet) {
          white-space: nowrap;
          display: inline-block;
          min-width: 230px;
          max-width: 300px;
          display: inline-block;
          height: auto;
        }
      }
    }

    &.testimonial {

      .bubble-container {
        @include container;
        @include break;
        width: 100%;
        text-align: center;
        vertical-align: middle;
      }

      .bubble {
        @include container;
        margin-top: span(1 of 12);
        position: relative;
        width: span(12 of 12);
        min-height: 160px;
        vertical-align: middle;
        padding: 0px;
        background: #e1e6f2;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }

      .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 0;
        border-color: #e1e6f2 transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -15px;
        bottom: -15px;
        left: 50%;
      }

      .vertical {
        /* Internet Explorer 10 */
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;

        /* Firefox */
        display: -moz-box;
        -moz-box-pack: center;
        -moz-box-align: center;

        /* Safari, Opera, and Chrome */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        /* W3C */
        display: box;
        box-pack: center;
        box-align: center;
      }

      .bubble-section.quote {

        @include breakpoint($break-tablet) {
          padding-top: 2rem;
        }

        .section-header {
          text-align: center;
        }

        .section-block {
          width:100%;
          margin: 0;
          color: #999ca2;
          font-size: 1.3rem;
          line-height: 2rem;
          display: flex;
          padding-left: 1rem;
          padding-top: 1rem;

          @include breakpoint($break-tablet) {
            text-align: center;
            font-size: 1.6rem;
            line-height: 2rem;
          }

          .section-block-copy {
            padding-bottom: 1rem;

            @include breakpoint($break-tablet) {
              float: left;
              padding: 0 span(1 of 32);
              padding-bottom: 1rem;
              width: span(28 of 32);
              vertical-align: middle;
            }
          }

          .left-quote, .right-quote {
            display: none;

            @include breakpoint($break-tablet) {
              width: span(1 of 32);
              display: block;
              line-height: 100%;
              font-size: 4rem;
              font-weight: 400;
              color: #000;
              text-align: center;
              display: flex;
              align-items: center;
            }
          }

          .left-quote {
            @include breakpoint($break-tablet) {
              float: left;
            }
          }

          .right-quote {
            @include breakpoint($break-tablet) {
              float: right;
              text-align: right;
            }
          }
        }

        .teacher {

          .link {
            text-align: left;
            font-weight: 400;
          }

          margin-top: 30px;

          @include breakpoint($break-tablet) {
            margin: 30px auto;
            width: 360px;
            min-height: 150px;
          }

          .profile {
            display: block;
            width: 100px;
            height: 100px;
            float: left;
            margin-left: 25px;
            margin-right: 5px;
            margin-top: 10px;
            padding-right: 10px;

            .profile-img {
              padding-top: 0;
              text-align: center;
              margin-left: 0;
            }
          }

          .copy {
            width: 220px;
            float: left;
            margin-top: 20px;
          }

          h4 {
            text-align: left;
            margin-top: 0;
          }

          p {
            text-align: left;
          }

          svg {
            display: inline-block;
            width: 70px;
            padding-top: 8px;
            text-align: center;
            align-items: center;
            margin-left: 10px;
          }
        }
      }
    }

    &.ide, &.features {
      padding-top: 0;
      padding-bottom: 1rem;

      svg {
        float: left;
      }

      h3 {
        display: inline-block;
        float: left;
        font-size: 2rem;
        line-height: 2rem;
        padding-left: 100px;
        min-height: 3rem;
      }
    }

    &.ide {
      margin-top: 2rem;
      clear: both;
      text-align: center;

      h3.chrome-store {
        float: none;
        background: url('/img/assets/developer/chrome_web_store.png') no-repeat 10px top;
      }

      span {
        display: block;
        width: 50px;
        height: 0;
      }

      .stars {
        h3.ide {
          float: none;
          background: url('/img/assets/developer/codio_ide.svg') no-repeat 10px top;
          padding-left: 70px;
        }

        p {
          display: block;
        }

        width: auto;
        margin: 1rem auto;
        padding: 0 20px;

        display: inline-block;
        border-color: #e1e6f2;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #d1d6f2;
      }
    }

    &.features {

      h3 {
        min-height: 5rem;
        vertical-align: middle;
      }

      h3.terminal-access {
        background: url('/img/assets/developer/terminal_access.svg') no-repeat left top;
        background-size: 80px 80px;
      }

      h3.curriculum {
        background: url('/img/assets/developer/curriculum.svg') no-repeat left top;
        background-size: 80px 80px;
      }

      h3.affordable {
        background: url('/img/assets/developer/affordable.svg') no-repeat left top;
        background-size: 80px 80px;
      }

      h3.code {
        background: url('/img/assets/developer/code.svg') no-repeat left top;
        background-size: 80px 80px;
      }

      .section-block-copy {
        clear: both;
        a {
          color: #55f;
          text-decoration: underline;

          &:hover {
            color: #aaf;
          }
        }

      }

      .section-block-row {
        @include container;
        @include break;

        .section-block {
          margin-bottom: 3rem;

          @include breakpoint($break-tablet) {
            width: span(13 of 32);
          }
        }
      }

      .section-block {
        @include container;
        @include breakpoint($break-tablet) {
          float: left;
        }

        &:first-of-type {
          @include breakpoint($break-tablet) {
            margin-left: span(2 of 32);
          }
        }
        &:last-of-type {
          @include breakpoint($break-tablet) {
            margin-left: span(3 of 32);
          }
        }
      }
    }

    &.bottom {
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;

      h2 {
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase; 
      }
    }

  }

  .grey {
    @include span(4);
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #e1e6f2;
    text-align: center;

    .developer-img {
      @include container;
      @include break;
      margin-left: auto;
      margin-right: auto;
    }

    .developer-content-img {
      @include container(4 of 4);

      margin: -2rem auto;

      @include breakpoint($break-tablet) {
        display: block;
        width: span(10 of 16);
        max-width: 650px;
        height: 100%;
      }
    }
  }

  .blue {
    background-color: #4574e0;
    background-image: url('/img/assets/university/bg_action.svg');
  }

  .section-header {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint($break-tablet) {
      margin-left: span(2 of 32);
    }
  }

  .section-body {
    @include container;
  }

  .section-copy {
  }

  .section-block-row {
    @include container;
    @include break;

    .section-block {
      margin-bottom: 3rem;

      //h2 {
      //  font-size: 32px;
      //  font-weight: 400;
      //}

      //p {
      //  font-weight: 22px;
      //}

      @include breakpoint($break-tablet) {
        width: span(14 of 32);
      }
    }
  }

  .section-block {
    @include container;
    @include breakpoint($break-tablet) {
      float: left;
    }

    &:first-of-type {
      @include breakpoint($break-tablet) {
        margin-left: span(2 of 32);
        margin-right: span(1 of 32);
      }
    }
    &:last-of-type {
      @include breakpoint($break-tablet) {
        margin-right: span(1 of 32);
      }
    }
  }

  .section-block-header {
    font-size: 21px;
    font-weight: 400;
    margin-top: 0;
  }

  .section-block-copy {
  }
}
