body.docs .content {
  margin: -65px auto 0 auto;
  max-width: 100%;
}

body.docs .header-block {
  @include span(4);
  background-size: cover;
  position: relative;
  background-color: $dark-gray;


  h2 {
    font-weight: 300;
    font-size: 2.369rem;
    color: white;
    text-align: center;
    margin-left: gutter();
    margin-right: gutter();
    padding-top: 150px;
    padding-bottom: 3rem;

    @include breakpoint($break-tablet) {
    }

    em {
      font-weight: 400;
    }
  }
}

.search-container {
  @include container;
  @include break;

  padding: 0 0 5rem 0;

  .st-search-input {
    width: span(8 of 16);
    margin: 0 span(4 of 16);
    height: 3rem;
    font-size: $base-font-size;
    line-height: $base-line-height;
    border-radius: 25px;
    border: 1px solid $light-gray;
    padding-left: 70px;
    box-shadow: none;
    color: $dark-gray;
    font-family: $base-font-family;
    background: url('/img/assets/docs-navigation/search.svg') no-repeat left center;
    background-color: white;
    background-size: 24px;
    background-position: 25px;
    font-weight: 400;

    &::placeholder {
      font-family: $base-font-family;
      color: $light-gray;
      font-weight: 300;
    }
  }
}

body.docs .overview-section {
  @include container;
  @include break;

  padding: 3rem 0;

  & > h2 {
    text-align: center;
  }

  @include breakpoint($break-tablet) {
    @include container(10 of 16);
    margin: 0 span(3 of 16);
  }

  .docs-header-navigation {
    border-bottom: none;
  }
}

.docs-content {
  @include container;
  padding-top: 2 * $base-line-height;


  @include breakpoint($break-tablet) {
    max-width: $max-width;
  }

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
  }

  aside {
    display: none;
    position: absolute;

    &.affix-top {
      margin-top: 0;
      position: absolute;
    }

    &.affix {
      top: 3 * $base-line-height;
      position: fixed;
    }

    @include breakpoint($break-tablet) {
      display: block;
      @include span(3 of 16);
    }
    .item {
      margin-left: - $base-line-height / 2;
      padding: .2rem $base-line-height / 2;
      margin-bottom: $base-line-height / 2;
    }

    .item.active {
      background: $light-blue;
      border-radius: 2px;

      .item-header a,
      .item-description {
        color: white;
      }

      .item-description {
        font-weight: 400;
      }
    }

    .item-header {
      line-height: 19px;

      a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: $base-font-color;
        transition: color .2s ease-in-out;

        &:hover {
          color: $light-blue;
        }
      }
    }

    .item-description {
      color: $base-font-color;
      font-size: 14px;
      font-weight: 300;
      text-transform: none;
      margin-bottom: 0;
    }
  }

  article {
    @include span(4);

    @include breakpoint($break-tablet) {
      @include span(8 of 16);
      margin-left: span(5 of 16);
    }

    img {
      float: right;
      margin: $base-line-height 0;

      background-image: url('/img/assets/docs-image-frame.png');
      padding: 96px 0 0 76px;
      border-radius: 2px;
      max-height: 700px;
      width: span(8 of 8);

      @include breakpoint($break-tablet) {
        margin-top: 2 * $base-line-height;
        margin-bottom: 2 * $base-line-height;
        margin-right: - span(3 of 8);
        width: span(11 of 8);
        max-width: none;
      }
    }

    b {
      font-weight: 500;
    }

    ul, ol {
      list-style: initial;
      padding-left: 20px;
      margin-bottom: $base-line-height;
    }
  }
}