body.docs .content {
  margin: -65px auto 0 auto;
  max-width: 100%;
}

body.docs .header-block {
  @include span(4);
  background-size: cover;
  position: relative;
  background-color: $dark-gray;


  h2 {
    font-weight: 300;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-left: gutter();
    margin-right: gutter();
    padding-top: 150px;
    padding-bottom: 3rem;

    @include breakpoint($break-tablet) {
      font-size: 2.369rem;
    }

    em {
      font-weight: 400;
    }
  }
}

.search-container {
  @include container;
  @include break;

  padding: 0 0 5rem 0;

  .st-search-input {
    width: span(14 of 16);
    margin: 0 span(1 of 16);

    height: 3rem;
    font-size: $base-font-size;
    line-height: $base-line-height;
    border-radius: 25px;
    border: 1px solid $light-gray;
    padding-left: 70px;
    box-shadow: none;
    color: $dark-gray;
    font-family: $base-font-family;
    background: url('/img/assets/docs-navigation/search.svg') no-repeat left center;
    background-color: white;
    background-size: 24px;
    background-position: 25px;
    font-weight: 400;

    @include breakpoint($break-tablet) {
        width: span(8 of 16);
        margin: 0 span(4 of 16);
    }

    &::placeholder {
      font-family: $base-font-family;
      color: $light-gray;
      font-weight: 300;
    }
  }
}

body.docs .overview-section {
  @include container;
  @include break;

  padding: 3rem 0;

  .docs-header-navigation-container > h2 {
    text-align: center;
  }

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    margin: 0 span(1 of 16);
    max-width: $max-width;
  }

  @include breakpoint($max-width) {
    margin: 0 auto;
  }

  .docs-header-navigation {
    border-bottom: none;
  }
}

.docs-content {
  @include container;
  padding-top: 6 * $base-line-height;

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    margin: 0 span(1 of 16);
    max-width: $max-width;
  }

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.search-results {
  @include container;
  @include break;
  margin: gutter();

  @include breakpoint($break-tablet) {
    @include container(12 of 16);
    margin: 0 span(2 of 16);
  }

  h4 a {
    color: $dark-gray;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $blue;
    }
  }

  em {
    border: 1px solid $lighter-gray;
    border-radius: 2px;
    padding: 0 .3em;
    background: $very-light-blue;
    font-weight: 400
  }

  .st-page {
    .st-prev {

    }
    .st-next {
      float: right;
    }
  }
}

.docs-body {
  @include span(4);
  overflow-wrap: break-word;

  @include breakpoint($break-tablet) {
    @include span(8 of 16);
    margin-left: span(5 of 16);
  }

  img {
    float: right;
    margin: $base-line-height 0;

    background-image: url('/img/assets/docs-image-frame.png');
    padding: 96px 0 0 76px;
    border-radius: 2px;
    max-height: 700px;
    width: span(8 of 8);
    object-fit: cover;
    object-position: top;

    @include breakpoint($break-tablet) {
      margin-top: 2 * $base-line-height;
      margin-bottom: 2 * $base-line-height;
      margin-right: - span(3 of 8);
      width: span(11 of 8);
      max-width: none;
    }

    &.simple {
      background: none;
      padding: 0;
      width: auto;
      margin: 1.5rem auto;
      float: none;
      text-align: center;
      display: inherit;
      border: 1px solid $light-gray;
      @include breakpoint($break-tablet) {
        max-width: 137.5%;
      }
    }
  }

  ul, ol {
    list-style: disc outside none;
    padding-left: 20px;
    margin-bottom: $base-line-height;
  }

  hr {
    position: relative;
    margin: 1rem 0;
    border-color: $medium-gray;
  }

  h2 {
    font-size: 1.777rem;
  }

  h3 {
    font-size: 1.333rem;
  }

  h4 {
    font-size: 1rem;
  }

  a {
    @include linkUnderlines(white, $base-font-color);
  }
}

body.docs .index-header-block {
  @include span(4);
  position: relative;

  h2 {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-left: gutter();
    margin-right: gutter();
    padding-top: 150px;
    padding-bottom: 2rem;

    @include breakpoint($break-tablet) {
      font-size: 2.369rem;
    }

    em {
      font-weight: 400;
    }
  }
}

body.docs .page-header-block {
  @include span(4);
  position: relative;
  .search-container {
    padding: 9rem 0 0 0;;
  }
}

.search-container {
  @include container;
  @include break;

  padding: 0 0 3rem 0;

  .st-search-input {
    width: span(14 of 16);
    margin: 0 span(1 of 16);

    height: 3rem;
    font-size: $base-font-size;
    line-height: $base-line-height;
    border-radius: 25px;
    border: 1px solid $light-gray;
    padding-left: 70px;
    box-shadow: none;
    color: $dark-gray;
    font-family: $base-font-family;
    background: url('/img/assets/docs-navigation/search.svg') no-repeat left center;
    background-color: white;
    background-size: 24px;
    background-position: 25px;
    font-weight: 400;

    @include breakpoint($break-tablet) {
        width: span(8 of 16);
        margin: 0 span(4 of 16);
    }

    &::placeholder {
      font-family: $base-font-family;
      color: $light-gray;
      font-weight: 300;
    }
  }
}

body.docs .section {
  @include container;
  @include break;

  width: span(12 of 16);
  margin: 0 span(2 of 16);
  float: inherit;
  max-width: $max-width;

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

body.docs .section-block-row-three {
  @include container;
  @include break;

  .section-block {
    @include container;
    // border: 1px solid red;
    margin-top: 0;
    margin-bottom: 1rem;
    text-overflow: clip;
    margin-right: span(1 of 50);
    font-size: 16px;

    h3 {
      font-size: 1rem;
    }

    ul {
      list-style: inherit;
      a:hover {
        color: $light-blue;
      }
    }

    li {
      margin-left: 1.75rem;
    }

    @include breakpoint($break-tablet) {
      width: span(16 of 50);
      float: left;
    }

    &:last-of-type {
      @include breakpoint($break-tablet) {
        margin-right: 0;
      }
    }
  }
}

body.docs .section.buttons .section-block-row-three {
  @include container;
  @include break;
  border-bottom: 1px solid black;

  @include breakpoint($break-tablet) {
    margin-bottom: 3rem;
  }

  .section-block {
    @include container;
    margin-top: 0;
    margin-bottom: 1rem;

    @include breakpoint($break-tablet) {
      width: span(12 of 50);
      text-align: center;
      margin-bottom: -1px;
      border-left: 1px solid #a8b2c4;
      border-top: 1px solid #a8b2c4;
      border-right: 1px solid #a8b2c4;
      border-bottom: 1px solid black;

      &:first-of-type {
        margin-left: span(6 of 50);
        margin-right: span(1 of 50);
      }

      &:last-of-type {
        margin-left: span(1 of 50);
      }
    }

    a {
      display: block;
      padding: 0.5rem 0;
    }
  }

  .section-block.selected {
    @include breakpoint($break-tablet) {
      border: 1px solid black;
      border-bottom: 1px solid #FFF;
    }
  }
}

body.docs .docs-content .section.buttons .section-block-row-three {
  margin-bottom: 1rem;
}

body.docs .review {
  background-color: red;
}

body.docs .crumbs {
  margin: 0 gutter();
  font-size: 90%;

  @include breakpoint($max-width) {
    margin: 0 0 2rem 0;
  }
}

body.docs .link-collapse {
  margin-left: 12px;
  margin-right: 6px;
  //font-family: "Glyphicons Halflings";
  font-size: 1.25rem;
  color: $light-blue;
}

body.docs .link-collapse.collapsed:before {
  //content: "\e080";
  content: "\25B8";
}

body.docs .link-collapse:before {
  //content: "\e114";
  content: "\25BE";
}

body.docs .bullet-collapse {
  li.item-collapse {
    list-style: none;
    margin-left: 0;
    margin-right: 1.75rem;
  }
}

body.docs ul.items-list {
  padding-left: 20px;

  li {
    margin-left: 1.75rem;
    list-style: disc outside none;
  }
}