body.x404 {
  .content {
    margin: 0 auto 0 auto;
    max-width: 100%;
  }
}

.error {
  @include break;
  width: 100%;
  height: 645px;
  background: #8283ed;
  text-align: center;
  padding-top: 65px;

  @include breakpoint($break-tablet) {
    height: 720px;
    padding-top: 105px;
  }

  .error-container {
    @include container;
    @include break;
    text-align: center;
    width: 500px;
    height: 549px;

    @include breakpoint($break-tablet) {
      width: 500px;
      height: 569px;
      padding-top: 20px;
    }
  }

  .illustration {
    @include break;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('/img/assets/404_illustration.svg');
    background-size: cover;
  }

  .text-block {
    @include break;
    padding: 0 10px;

    h2 {
      color: #ff857c;
      font-size: 70px;
    }

    p {
      color: #fff;
      font-weight: 400;
      line-height: 23px;
      font-size: 16px;
    }

    @include breakpoint($break-tablet) {
      h2 {
        font-size: 70px;
      }

      p {
        font-size: 16px;
      }
    }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #ddd;
      }
    }
  }
}
