.vertical {
  display: flex;
}

body {
  position: relative;
}

body.index {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
}

body.index .carousel-block {
  position: relative;
  display: block;
  padding: 0;
  line-height: 0;

  .carousel-inner {
    display: flex;
    height: 100%;

    .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    img {
      height: auto;
      width: 100%;
      margin: 0 auto;
      vertical-align: middle;
    }

    .header-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 65px;
      height: 60%;
      color: #fff;

      .heading {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50%;
        font-family: $proxima-extra-bold;
        font-size: 4vw;
        padding-bottom: 2.5%;
      }

      .sub-heading {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 2.5%;
        height: 50%;
        font-family: $proxima-light;
        font-size: 2vw;
      }

      @include breakpoint($break-tablet) {
        sub-heading {
          padding-top: 1%;
          padding-bottom: 5%;
        }
      }
    }

    .header-button {
      display: flex;
      height: 40%;
      justify-content: center;
      align-items: center;
    }

    .button-large {
      padding: 15px 35px;
      font-size: 1.2vw;
    }

    .information {
      position: absolute;
      font-size: 2vw;
      color: #FFFFFF;
      bottom: 4.5vw;
      right: 8.2vw;
    }

    .information-border {
      position: absolute;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      border-color: #FFFFFF;
      bottom: 3vw;
      right: 7vw;
    }

    .tooltip-header {
      font-size: 18px;
      font-weight: 600;
      padding: 10px 10px 15px 10px;
    }

    .tooltip-text {
      font-size: 15px;
      font-weight: 100;
      padding: 10px;
      line-height: 1rem;
      font-style: italic;
    }

    .information-border span {
      background-color: #f2f2f2;
      color: $blue;
      opacity: 0;
      padding: 10px;
      position: absolute;
      visibility: hidden;
      width: 22vw;
      right: 3vw;
      bottom: 3vw;
      z-index: 10;
      text-align: left;
    }

    .information-border:hover span {
      opacity: 1;
      visibility: visible;
    }

    .slot-1, .slot-2, .slot-3, .slot-4 {
      width: 100%;
      height: 52vw;
      text-align: center;
      background-size: cover;
    }

    .slot-1 {
      background-image: url('/img/assets/index/carousel/codio-homepage-dv-carousel1.jpg');
    }

    .slot-2 {
      background-image: url('/img/assets/index/carousel/codio-homepage-drone-carousel2.jpg');
    }

    .slot-3 {
      background-image: url('/img/assets/index/carousel/codio-homepage-robot-carousel3.jpg');
    }
  }
}

body.index .features-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $blue;
  padding: 40px;
  color: #FFFFFF;

  .block {
    display: flex;
    flex-direction: column;
    text-align: center;

    .icon {
      padding: 10px;
      width: 10vw;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .text{
      font-family: $proxima-light;
      font-size: 36px;
      padding: 10px;
      margin: 30px 0;

      span {
        font-family: $proxima-bold;
      }
    }

    .numbers {
      font-family: $proxima-bold;
      font-size: 110px;
      padding: 10px;
    }
  }
}

body.index .info-block {
  background-color: $base-background-color;
  display: flex;
  flex-direction: column;
  padding: 150px 60px;
  color: #243249;
  text-align: center;
  line-height: 2rem;

  .title {
    font-family: $proxima-extra-bold;
    font-size: 3rem;
    padding-bottom: 40px;
  }

  .description {
    font-family: $proxima-bold;
    font-size: 1.4rem;
    padding: 10px 10px 20px 10px;
  }

  .two-text {
    font-family: $proxima-light;
    padding: 10px 0;
    font-size: 22px;
    line-height: 1.3rem;

    display: flex;
    justify-content: center;
    align-content: center;

    .two-text-left, .two-text-right {
      flex: 1 1 50%;
      padding: 10px 80px;
      text-align: center;
    }

    .two-text-line {
      border-left: 1px solid black;
    }

    span {
      font-family: $proxima-bold;
    }
  }

  .image-text {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: $proxima-light;
    line-height: 2em;

    .image-block, .text-block {
      flex: 1 1 50%;
      padding: 0 20px;
    }

    .image-block {
      img {
        width: 100%;
        height: auto;
      }
    }

    .text-block {
      font-size: 28px;
      text-align: left;

      .info {
        font-family: $proxima-bold;
        padding-bottom: 15px;
      }

      p {
        padding-bottom: 15px;
        margin: 0;
      }

      span {
        font-family: $proxima-extra-bold;
      }
    }
  }

  .img-block {
    background-color: #e6e6e6;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .image {
      width: 100%;
      height: auto;
    }

    .check-list {
      font-family: $proxima-light;
      font-size: 26px;
      padding: 20px;
      margin-top: 40px;
      text-align: left;

      .check-list-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }

      .check-list-list-item {
        padding-left: 2em;
        padding-bottom: 12px;
        text-indent: -2em;
      }

      .check-list-list-item:before {
        content: '\25B6';
        padding-right: 1em;
      }
    }
  }

  .schedule-demo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    padding-bottom: 0;

    .button-large {
      height: auto;
      padding: 10px 35px;
      font-size: 18px;
    }

    .button-main:hover {
      background-color: $base-background-color;
      color: $orange;
    }

    .case-study-btn {
      background-color: $base-background-color;
      border-color: $blue;
      color: $blue;

      &:hover {
        background-color: $blue;
        color: $base-background-color;
      }
    }
  }
}

body.index {
  .testimonial-gordon-fraser, .testimonial-mateen-rizki,
  .testimonial-mateen-rizki-black, .testimonial-eitan-grinspun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $blue;
    padding: 50px 0;

    .quote-left, .quote-right {
      width: 30px;
      height: auto;
    }

    .quote-left {
      align-self: flex-start;
    }

    .quote-author-avatar {
      min-width: 200px;
      height: 200px;
      color: red;
      background-color: green;
      background: url(/img/assets/index/gordon-fraser.png) center center no-repeat;
      background-size: cover;
      margin: 0 30px;
    }

    .quote-right {
      align-self: flex-end;
    }

    .quote-inner-info {
      width: 60%;
      margin: 0 30px 0 0;
      color: #FFFFFF;

      .quote-topic {
        font-size: 30px;
        font-family: $proxima-bold;
      }

      .quote-text {
        margin-top: 30px;
        font-size: 26px;
        font-family: "Proxima Nova Light Italic";
        line-height: 1.8rem;
      }

      .quote-author {
        margin-top: 30px;
        font-size: 30px;
        display: flex;

        .quote-author-info {
          flex: 1 1 auto;
          line-height: 1.2em;

          .quote-author-name {
            font-family: $proxima-bold;
          }

          .quote-author-occupation {
            font-family: $proxima-light;
          }
        }
      }
    }
  }

  .testimonial-mateen-rizki, .testimonial-mateen-rizki-black {
    .quote-author-avatar {
      background: url(/img/assets/index/mateen-rizki.png) center center no-repeat;
      background-size: cover;
    }
  }

  .testimonial-mateen-rizki-black, .testimonial-eitan-grinspun {
    background-color: #243249;
  }

  .testimonial-eitan-grinspun {
    .quote-author-avatar {
      background: url(/img/assets/index/eitan-grinspun.png) center center no-repeat;
      background-size: cover;
    }
  }
}


