body.index {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }
}

body.index .header-block {
  @include span(4);
  background-size: cover;
  background-color: $dark-gray;
  height: 100vh;
  max-height: 800px;
  color: white;
  position: relative;

  @include breakpoint($break-tablet) {
    background: url('/img/assets/index/atf.png') no-repeat center center fixed;
    background-color: $dark-gray;
  }

  h1 {
    margin-top: 4 * $base-line-height;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    animation-delay: .4s;

    @include breakpoint($break-tablet) {
      margin-top: 8 * $base-line-height;
    }
  }

  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    animation-delay: .8s;
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 90px auto 0 auto;
    text-align: center;

    .button:first-child {
      margin-right: 15px;
    }
  }

  .scrollto {
    .arrows {
      width: 60px;
      height: 72px;
      position: absolute;
      bottom: 10%;
      left: 50%;
      margin-left: -30px;
    }

    .arrows path {
      stroke: white;
      fill: transparent;
      stroke-width: 1px;
      animation: arrow 3s infinite;
    }

    @keyframes arrow {
      0% {opacity: .4}
      40% {opacity: 1}
      80% {opacity: .4}
      100% {opacity: .4}
    }

    .arrows path.a3 {
      animation-delay:0s;
    }
  }
}

.index-content {
  @include container;
  @include break;
  @include span(4);
  padding-top: 3 * $base-line-height;

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    width: span(14 of 16);
    margin: 0 span(1 of 16);
    float: inherit;
    max-width: $max-width;
  }

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
  }

  .index-section {
    @include container;
    @include break;

    padding: 3 * $base-line-height 0;
    vertical-align: middle;

    h2 {
      font-size: 39px;
    }
  }

  .index-section-left {
    @include container;

    @include breakpoint($break-tablet) {
      @include span(8 of 16);
    }
  }
  .index-section-right {
    @include container;

    @include breakpoint($break-tablet) {
      @include span(6 of 16);
      margin: 0 span(2 of 16);
    }
  }

  .index-section-curriculum {
    @include breakpoint($break-tablet) {
      height: 45rem;

      .index-section-left {
        padding-top: 9rem;
      }
    }
  }

  .index-section-curriculum-img {
    @include container;
    height: 400px;
    background: url('/img/assets/index/placeholder.png') no-repeat top left;
    background-size: contain;

    @include breakpoint($break-tablet) {
      background-size: inherit;
      width: span(6 of 16);
      height: 600px;
      position: absolute;
      right: 0;
      margin: 0;
    }
  }


  .index-section-projects-top {
    @include container(4 of 4);

    @include breakpoint($break-tablet) {
      width: span(10 of 16);
      margin: 0 span(3 of 16);
    }

    h2 {
      margin-bottom: 2rem;

      @include breakpoint($break-tablet) {
        text-align: center;
      }
    }
  }

  .index-section-projects-bottom {
    @include container;
    margin-top: 3rem;

    @include breakpoint($break-tablet) {

      @include container(12 of 16);
      margin-left: span(2 of 16);
      margin-right: span(2 of 16);
    }
  }

  .index-section-projects-img {

    @include container;
    display: none;
    text-align: center;

    figcaption {
      display: none;
      font-size: $base-font-size;
      font-weight: 500;
      margin-top: 2rem;
    }

    &:first-child {
      display: inline-block;
      width: span(4 of 4);
    }

    @include breakpoint($break-tablet) {
      display: inline-block;
      width: span(3 of 12);
      margin: 0 span(.667 of 12);

      img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      figcaption {
        display: block;
      }

      &:first-child {
        margin-left: 0;
        width: span(3 of 12);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .index-section-assessments {
    @include container;

    @include breakpoint($break-tablet) {
      height: 25rem;
    }
  }

  .index-section-assessments-img {
    @include breakpoint($break-tablet) {
      width: span(6 of 16);
      height: 276px;
      background: url('/img/assets/index/assessments.png') no-repeat top left;
      position: absolute;
      right: 0;
      margin: 0;
    }
  }

  .index-section-content {
    h2 {
      text-align: center;
    }
  }
  .index-section-content-copy {
    @include container(4 of 4);

    @include breakpoint($break-tablet) {
      width: span(12 of 16);
      margin: 0 span(2 of 16);
    }
  }

  .index-section-content-img {
    @include container(4 of 4);

    margin: 2rem 0;

    @include breakpoint($break-tablet) {
      display: block;
      width: span(14 of 16);
      max-width: 855px;
      margin: 2rem span(1 of 16);
    }

    @include breakpoint($max-width) {
      margin: 2rem auto;
    }
  }

  .index-section-partners {
    text-align: center;
    padding: 4 * $base-line-height 0;

    h2 {
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      color: $light-gray;
    }

    @include breakpoint($break-tablet) {
      width: span(16 of 16);
    }
  }

  .index-section-partners-img {
    @include container;
    margin-top: 2 * $base-line-height;

    img {
      display: block;
      width: auto;
      margin: 4rem auto;


      @include breakpoint($break-tablet) {
        margin: 0;
        margin-left: 10%;
        display: initial;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .index-section-get-started {
    text-align: center;

    h2 {
      font-weight: 300;
    }

    h3 {
      font-size: 22px;
      font-weight: 300;
      margin: 1rem 0;
    }

    .action-buttons {
      margin: 4rem 0;

      .button:first-child {
        margin-right: 2rem;
        padding: 5px 33px;
      }

      .button {
        width: 125px;
        padding: 5px 10px;
      }
    }

    @include breakpoint($break-tablet) {
      width: span(16 of 16);
    }
  }
}