.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

body {
  position: relative;
}

body.index {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
}

body.index .section-scroll {
  padding: 0;
  position: relative;
  height: 100%;

  .block-rectangle {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100%/2);
    display: block;
    margin-top: 65px;
    margin-bottom: 1rem;
    background-color: #1c94c4;

    .box {

    }
  }

  .square-block {
    width: 100%;
    height: auto;

    .square {
      position: relative;
      width: calc(100% / 2 - 0.5rem);
      height: 0;
      padding-bottom: calc(100% / 2);
      display: inline-block;
      background-color: #3D942F;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }

    .square-item {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .content-wrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;

    .content-item {
      position: relative;
      height: 100%;

      .caption {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        display: inline-block;
        text-align: left;

        h2 {
          font-size: 1.4rem;
        }

        .author {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }

      .post-date {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1rem;
        text-transform: uppercase;
      }

      .title-wrap {
        position: absolute;
        display: block;
        bottom: 0;

        .post-title {
          font-size: 1.4rem;
          font-weight: 300;
          padding-bottom: 15px;
        }

        .post-recents-topic {
          display: block;

          .topic-link {
            display: inline-block;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .navbar {
    z-index: 10;
  }
  
  .scrollspy-dotted {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
    li {
      display: block;
      margin: 0 6px;
      margin-top: 10px;
    }
    
    li a span {
      display: block;
      background-color: rgba(255, 255, 255, 1);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #000;
    }
    
    li.active span {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid $orange;
    }
    
    li a:hover {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  
  .block {
    width: 100%;
    height: 700px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position-x: center;
    
    @include breakpoint($break-tablet) {
      height: 46vw;
    }
    
    .title-text,
    .toolbox {
      text-align: center;
      padding-top: 0;
      margin: 0 auto;
      width: 95%;
      color: #fff;
      text-shadow: rgba(0, 0, 0, .7) 0 0 5px;
      
      h2 {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.5rem;
        padding: 0 2rem 2rem 2rem;

        @include breakpoint(525px) {
          font-size: 2.5rem;
        }

        @include breakpoint($break-tablet) {
          font-size: 4vw;
          padding-bottom: 1rem;
        }
      }
      
      h4 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem;
        margin: 0 1rem;
        padding: 0 2rem 2rem 2rem;
        margin: 0 auto;

        @include breakpoint(450px) {
          font-size: 1.7rem;
        }

        @include breakpoint($break-tablet) {
          margin-top: 1rem;
          padding-top: 0;
          padding-bottom: 2.5%;
          font-size: 2vw;
          font-weight: 400;
        }
      }
      
      .button {
        text-shadow: none;
      }

      .desktop {
        display: none;
      }
      .mobile {
        display: inline;
      }
     
      @include breakpoint($break-tablet) {
        padding-top: 0;

        .desktop {
          display: inline;
        }
        .mobile {
          display: none;
        }
      }
    }
    
    .content {
      height: 100%;
    }

    .logo-img {
      display: block;
      position: absolute;
      bottom: 30px;
      left: 0;
      margin: auto;
      width: 100%;
      
      img {
        width: auto;
        height: 50px;
      }

      @include breakpoint(450px) {
        img {
          height: 70px;
        }
      }

      @include breakpoint($break-tablet) {
        img {
          height: 4vw;
        }
      }
    }
    
    .toolbox {
      padding-top: 20px;
      width: 91%;
      
      .box, .box-mobile {
        @include span(4 of 5);
        text-align: center;
        padding: 0;

        span {
          display: inline-block;
        }
        
        .header {
          font-size: 1.4rem;
          font-weight: 600;
          padding-bottom: 1rem;

        @include breakpoint(450px) {
          font-size: 1.5rem;
          padding: 0;
        }

          @include breakpoint($break-tablet) {
            font-size: 14px;
            padding-bottom: 0;
          }

          @include breakpoint(1100px) {
            font-size: 15px;
          }
        }
        
        .dot-line {
          overflow: hidden;
          text-align: center;
          margin-bottom: .6rem;
          display: none;

          &:before, &:after {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 3px;
            background-color: $orange;
            position: relative;
          }

          &:before {
            margin-left: -100%;
          }

          &:after {
            margin-right: -100%;
          }

          .dot {
            display: inline-block;
            border: 5px solid $orange;
            border-radius: 50%;
          }

          @include breakpoint($break-tablet) {
            display: block;
          }
        }
        
        &:first-child {
          .dot-line:before {
            display: none;
          }
        }

        &:last-child {
          .dot-line:after {
            display: none;
          }
        }

        .body {
          text-shadow: none;
          font-size: 14px;
          color: #000;
          background-color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;
          margin: 0 .5rem;
          
          .scope-item {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            margin: .5rem auto;
            
            .scope-img {
              width: 100%;
              height: 50px;
              margin-bottom: 1rem;
              vertical-align: bottom;
              
              svg {
                vertical-align: bottom;
                height: 100%;
                width: auto;
              }

              @include breakpoint($break-tablet) {
                height: 30px;
              }

              @include breakpoint($max-width) {
                height: 45px;
              }
            }
            
            .scope-txt {
              font-size: 1.2rem;
              padding: 0.5rem;
              line-height: 2rem;
              border-bottom: 1px solid $lighter-gray;

              @include breakpoint(450px) {
                font-size: 1.4rem;
                padding: 1rem;
              }

              @include breakpoint($break-tablet) {
                font-size: 14px;
                line-height: 1rem;
                padding: 0 .5rem;
              }

              @include breakpoint(1025px) {
                min-height: 199px;
              }

              @include breakpoint($max-width) {
                font-size: 16px;
                line-height: 1.2rem;
                min-height: 211px
              }
            }
            
            .scope-button {
              vertical-align: bottom;
              margin-top: .5rem;
              
              a {
                color: $blue;
                font-size: 1.6rem;
                font-weight: 500;
                
                &:hover {
                  color: $light-blue;
                }

                @include breakpoint($break-tablet) {
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
          }
        }

        @include breakpoint($break-tablet) {
          @include gallery(2 of 12);
          padding: 0;
    
          span {
            display: none;
          }
        }

        @include breakpoint(1025px) {
          @include gallery(2 of 12);
          span {
            display: inline-block;
          }
          padding: 0;
        }
      }

      .box {
        display: none;
        @include breakpoint($break-tablet) {
          display: inline;
        }
      }

      .box-mobile {
        margin: 0 auto;
        float: none;
        @include breakpoint($break-tablet) {
          margin: 0;
          float: left;
        }
      }

      @include breakpoint(1025px) {
        width: 94%;
      }
    }

    .toolbox-header {
      margin: 0 auto;
      color: #fff;
      text-shadow: rgba(0, 0, 0, .7) 0 0 5px;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2em;
      padding: 0 2rem;

      @include breakpoint(450px) {
        font-size: 2.2rem;
        padding: 0;
      }

      @include breakpoint($break-tablet) {
        font-size: 3.3vw;
      }
    }

    .toolbox-content {
      width: 100%;
    }
  }

  #block1 {
    background-image: url('/img/assets/index/blocks/future-proof-your-students-mob.jpg');
    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/index/blocks/future-proof-your-students.jpg');
    }
  }
  #block2 {
    background-image: url('/img/assets/index/blocks/sharpen-your-tool-box-mob.jpg');
    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/index/blocks/sharpen-your-tool-box.jpg');
    }
  }
  #block3 {
    background-image: url('/img/assets/index/blocks/insanely-convenient-mob.jpg');
    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/index/blocks/insanely-convenient.jpg');
    }
  }
  #block4 {
    background-image: url('/img/assets/index/blocks/new-concept-with-codio-mob.jpg');
    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/index/blocks/new-concept-with-codio-mob.jpg');
    }
  }
  #block5 {
    background-image: url('/img/assets/index/blocks/engage-your-community-mob.jpg');
    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/index/blocks/engage-your-community.jpg');
    }
  }
  #block6 {
    background-image: url('/img/assets/index/blocks/transform-course-delivery-mob.jpg');
    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/index/blocks/transform-course-delivery.jpg');
    }
  }
  #block7 {
    background-image: url('/img/assets/index/blocks/grab-their-imagination-mob.jpg');
    @include breakpoint($break-tablet) {
      background-image: url('/img/assets/index/blocks/grab-their-imagination.jpg');
    }
  }

  .block-ready-started {
    height: 180px;
    background-color: $blue;

    h2 {
      font-size: 1.8rem;
      margin-top: 0;
      color: #fff;
      padding: 20px 0;
    }

    @include breakpoint($break-tablet) {
      h2 {
        font-size: 2.2rem;
      }
    }
  }
}