.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

body {
  position: relative;
}

body.index {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
}

body.index .section-scroll {
  padding: 0;
  position: relative;
  height: 100%;

  .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &:before {
      display: table;
      content: "";
    }
    &:after {
      clear: both;
    }
  }

  .row [class*="span"] {
    display: block;
    float: left;
    min-height: 28px;

    &:first-child {
      margin-left: 0;
    }
  }

  .row .span12 {
    width: 100%;
  }

  .cell-wrapper {
    display: block;
  }

  .featured-posts {
    .item {
      overflow: hidden;

      .post-image {
        padding: 20px;
        background-size: cover !important;
        background-position: top center !important;
        width: 100%;
        position: relative;
        background-color: #00aced;
      }

      &:first-child {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/sheffield-university.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }
          @include breakpoint(1024px) {
            height: 50vw;
          }
        }
      }

      &:first-child+.item {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;
          padding-left: 15px;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/wright-state-university.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }
        }
      }

      &:first-child+.item+.item {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;;
          padding-top: 15px;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/codio-video-3.2.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }
        }
      }

      &:first-child+.item+.item+.item {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;
          padding-left: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/coventry-university-w.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }

          @include breakpoint(1024px) {
            background: url('/img/assets/index/coventry-university.jpg') no-repeat;
          }
        }
      }

      &:first-child+.item+.item, &:first-child+.item+.item+.item {
        @include breakpoint (1024px) {
          width: 25%;
          padding-left: 15px;
          padding-top: 15px;
          float: left;

          .post-image {
            height: calc(25vw - 15px);
            background-color: #ff2632;
          }
        }
      }
    }

    .item-wrapper {
      position: relative;
      z-index: 2;
      display: block;
      height: 100%;
      color: #ffffff;
    }

    .author-data {
      word-wrap: break-word;

      a.author-link {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        right: auto;
        top: 5px;
        left: 0;
        text-transform: uppercase;
        display: inline-block;
        max-width: 70%;
        text-align: left;
      }
    }

    .post-date {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .title-wrap {
      position: absolute;
      bottom: 0;
      display: block;

      a {
        color: #ffffff;
      }

      .post-title {
        display: block;

        h2 {
          display: block;
          font-size: 26px;
          font-weight: 600;
          padding-bottom: 10px;
          margin-bottom: 0;
        }
      }

      .post-recents-topic {
        display: block;

        .topic-link {
          display: inline-block;
          font-size: 12px;
          font-weight: 600;
          text-transform: capitalize;
          padding: 2px 12px;
        }
      }
    }
  }

  .header-block {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    background-size: cover !important;
    background-position: top center !important;
    background: url('/img/assets/index/cloud-infrastructure.jpg') no-repeat;

    @include breakpoint($break-tablet) {
      height: 44vw;
    }

    .vertical {
      height: 85%;
    }

    .quote {
      font-size: 1.9rem;
      font-weight: 400;
      color: #fff;
      line-height: 2rem;
      padding: 1rem;
      margin-top: 65px;

      @include breakpoint(450px) {
        font-size: 2.2rem;
        padding-bottom: 0.7rem;
      }

      @include breakpoint($break-tablet) {
        font-size: 3.8vw;
        padding-bottom: 0.7rem;
      }

      @include breakpoint($max-width) {
        padding-bottom: 1rem;
      }
    }

    .text {
      font-size: 1.4rem;
      font-weight: 300;
      color: #fff;
      line-height: 1.9rem;
      padding: 1rem 1rem 2rem 1rem;

      br {
        display: none;

        @include breakpoint($break-tablet) {
          display: inline;
        }
      }

      @include breakpoint(450px) {
        font-size: 1.6rem;
      }

      @include breakpoint($break-tablet) {
        margin: 0 1rem;
        line-height: 1.6rem;
        padding-bottom: 1rem;
      }

      @include breakpoint($max-width) {
        line-height: 1.8rem;
        max-width: $max-width;
        margin: 0 2rem;
        padding-bottom: 2rem;
      }
    }

    .button-block {
      display: block;
      height: 15%;
    }
  }
}