.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

body {
  position: relative;
}

body.index {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
}

body.index .section-scroll {
  padding: 0;
  position: relative;
  height: 100%;
  
  .navbar {
    z-index: 10;
  }
  
  .scrollspy-dotted {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
    li {
      display: block;
      margin: 0 6px;
      margin-top: 10px;
    }
    
    li a span {
      display: block;
      background-color: rgba(255, 255, 255, 1);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #000;
    }
    
    li.active span {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid $orange;
    }
    
    li a:hover {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  
  .block {
    width: 100%;
    height: 46vw;
    position: relative;
    text-align: center;
    background-size: cover;
    
    .title-text,
    .toolbox {
      text-align: center;
      margin: 0 auto;
      padding-top: 8%;
      width: 95%;
      color: #fff;
      text-shadow: rgba(0, 0, 0, .7) 0 0 5px;
      
      h2 {
        font-size: 4vw;
        font-weight: 600;
      }
      
      h4 {
        margin-top: 1rem;
        padding-top: 0;
        padding-bottom: 2.5%;
        font-size: 2vw;
        font-weight: 400;
      }
      
      .button {
        text-shadow: none;
      }
     
      @include breakpoint($break-tablet) {
        padding-top: 15%;
        h3 {
          padding-top: 1%;
          padding-bottom: 5%;
        }
      }
    }
    
    .logo-img {
      display: block;
      position: absolute;
      bottom: 30px;
      margin: auto;
      width: 100%;
      
      img {
        width: auto;
        height: 4vw;
      }
    }
    
    .toolbox {
      padding-top: 40px;
      width: 91%;
      
      .box {
        @include gallery(2 of 12);
        text-align: center;
        padding: 0;

        span {
          display: none;
        }
        
        .header {
          font-size: 14px;
          font-weight: 600;

          @include breakpoint(1100px) {
            font-size: 15px;
          }
        }
        
        .dot-line {
          overflow: hidden;
          text-align: center;
          margin-bottom: .6rem;

          &:before, &:after {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 3px;
            background-color: $orange;
            position: relative;
          }

          &:before {
            margin-left: -100%;
          }

          &:after {
            margin-right: -100%;
          }

          .dot {
            display: inline-block;
            border: 5px solid $orange;
            border-radius: 50%;
          }
        }
        
        &:first-child {
          .dot-line:before {
            display: none;
          }
        }

        &:last-child {
          .dot-line:after {
            display: none;
          }
        }

        .body {
          text-shadow: none;
          font-size: 14px;
          color: #000;
          background-color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;
          margin: 0 .5rem;
          
          .scope-item {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            margin: .5rem auto;
            
            .scope-img {
              width: 100%;
              height: 25px;
              margin-bottom: 1rem;
              vertical-align: bottom;
              
              svg {
                vertical-align: bottom;
                height: 100%;
                width: auto;
              }

              @include breakpoint($break-tablet) {
                height: 30px;
              }

              @include breakpoint($max-width) {
                height: 45px;
              }
            }
            
            .scope-txt {
              font-size: 14px;
              padding: 0 .5rem;
              line-height: 1rem;
              border-bottom: 1px solid $lighter-gray;

              @include breakpoint(1025px) {
                min-height: 182px;
              }

              @include breakpoint($max-width) {
                font-size: 16px;
                line-height: 1.2rem;
                min-height: 211px
              }
            }
            
            .scope-button {
              vertical-align: bottom;
              margin-top: .5rem;
              
              a {
                color: $blue;
                font-size: 12px;
                
                &:hover {
                  color: $light-blue;
                }

                @include breakpoint($break-tablet) {
                  font-size: 14px;
                }
              }
            }
          }
        }

        @include breakpoint(1025px) {
          @include gallery(2 of 12);
          span {
            display: inline-block;
          }
          padding: 0;
        }
      }

      @include breakpoint(1025px) {
        width: 94%;
        padding-top: 5px;
      }
    }
  }

  #block2 {
    h2 {
      margin-top: 0;
      color: #fff;
      text-shadow: rgba(0, 0, 0, .7) 0 0 5px;
      padding-top: 30px;
      font-size: 4vw;
      font-weight: 600;
    }

    @include breakpoint($break-tablet) {
      padding-top: 50px;
    }
  }

  #block1 {
    background-image: url('/img/assets/index/blocks/future-proof-your-students.jpg');
  }
  #block2 {
    background-image: url('/img/assets/index/blocks/sharpen-your-tool-box.jpg');
  }
  #block3 {
    background-image: url('/img/assets/index/blocks/insanely-convenient.jpg');
  }
  #block4 {
    background-image: url('/img/assets/index/blocks/new-concept-with-codio.jpg');
  }
  #block5 {
    background-image: url('/img/assets/index/blocks/engage-your-community.jpg');
  }
  #block6 {
    background-image: url('/img/assets/index/blocks/transform-course-delivery.jpg');
  }
  #block7 {
    background-image: url('/img/assets/index/blocks/grab-their-imagination.jpg');
  }

  .block-ready-started {
    height: 180px;
    background-color: $blue;

    h2 {
      margin-top: 0;
      color: #fff;
      padding: 20px 0;
    }
  }
}