.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

body {
  position: relative;
}

body.index {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
}

body.index .section-scroll {
  padding: 0;
  position: relative;
  height: 100%;

  .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &:before {
      display: table;
      content: "";
    }
    &:after {
      clear: both;
    }
  }

  .row [class*="span"] {
    display: block;
    float: left;
    min-height: 28px;

    &:first-child {
      margin-left: 0;
    }
  }

  .row .span12 {
    width: 100%;
  }

  .cell-wrapper {
    display: block;
  }

  .featured-posts {
    .item {
      overflow: hidden;

      .post-image {
        padding: 20px;
        background-size: cover !important;
        background-position: top center !important;
        width: 100%;
        position: relative;
        background-color: #00aced;
      }

      &:first-child {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/sheffield-university.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }
          @include breakpoint(1024px) {
            height: 50vw;
          }
        }
      }

      &:first-child+.item {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;
          padding-left: 15px;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/wright-state-university.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }
        }
      }

      &:first-child+.item+.item {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;;
          padding-top: 15px;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/codio-video-3.2.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }
        }
      }

      &:first-child+.item+.item+.item {
        display: block;
        width: 100%;
        float: none;
        padding: 0 0 15px;

        @include breakpoint($break-tablet) {
          width: 50%;
          float: left;
          padding: 0;
          padding-left: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
        }

        .post-image {
          height: 300px;
          background: url('/img/assets/index/coventry-university-w.jpg') no-repeat;

          @include breakpoint($break-tablet) {
            height: 25vw;
          }

          @include breakpoint(1024px) {
            background: url('/img/assets/index/coventry-university.jpg') no-repeat;
          }
        }
      }

      &:first-child+.item+.item, &:first-child+.item+.item+.item {
        @include breakpoint (1024px) {
          width: 25%;
          padding-left: 15px;
          padding-top: 15px;
          float: left;

          .post-image {
            height: calc(25vw - 15px);
            background-color: #ff2632;
          }
        }
      }
    }

    .item-wrapper {
      position: relative;
      z-index: 2;
      display: block;
      height: 100%;
      color: #ffffff;
    }

    .author-data {
      word-wrap: break-word;

      a.author-link {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        right: auto;
        top: 5px;
        left: 0;
        text-transform: uppercase;
        display: inline-block;
        max-width: 70%;
        text-align: left;
      }
    }

    .post-date {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .title-wrap {
      position: absolute;
      bottom: 0;
      display: block;

      a {
        color: #ffffff;
      }

      .post-title {
        display: block;

        h2 {
          display: block;
          font-size: 26px;
          font-weight: 600;
          padding-bottom: 10px;
          margin-bottom: 0;
        }
      }

      .post-recents-topic {
        display: block;

        .topic-link {
          display: inline-block;
          font-size: 12px;
          font-weight: 600;
          text-transform: capitalize;
          padding: 2px 12px;
        }
      }
    }
  }

  .block-rectangle {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 65px;
    margin-bottom: 15px;
    background-size: cover !important;
    background-position: top center !important;
    background: url('/img/assets/index/cloud-infrastructure.jpg') no-repeat;
    color: $light-gray;
    font-size: 16px;

    @include breakpoint (640px) {
      height: 800px;
    }
  }

  .content-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2rem 0;

    @include breakpoint(1050px) {
      padding: 2rem 3rem;
    }

    .top-block {
      width: 100%;

      .top-row {
        display: block;
        font-weight: 600;
        text-align: center;

        @include breakpoint($break-tablet) {
          text-align: left;
          &:nth-child(5) {
            display: none;
          }
        }

        .number {
          display: none;
          border-right: 1px solid $light-gray;
          min-width: 25px;
          text-align: left;

          @include breakpoint($break-tablet) {
            display: inline-block;
            margin-left: 1rem;
          }
          @include breakpoint(1050px) {
            margin-left: 0;
          }
        }

        .text {
          font-weight: 400;
          margin: auto;
          text-align: center;
          display: inline-block;

          @include breakpoint ($break-tablet) {
            padding-left: 15px;
            text-align: left;
          }

          .desktop {
            display: none;
            @include breakpoint(1110px) {
              display: inline-block;
            }
          }

          .tablet {
            display: inline-block;
            @include breakpoint(1110px) {
              display: none;
            }
          }
        }

        &:nth-child(2), &:nth-child(3), &:nth-child(5) {
          .text {
            color: #ffffff;
            font-size: 21px;

            @include breakpoint(880px) {
              font-size: 23px;
            }
            @include breakpoint(1100px) {
              font-size: 27px;
            }
          }

          padding: 1rem;
          &:nth-child(2) {
            padding-bottom: 20px;
          }

          &:nth-child(3) {
            padding-top: 0;
          }

          @include breakpoint(420px) {
            padding: 2rem;
          }

          @include breakpoint($break-tablet) {
            padding: 0;
            &:nth-child(2) {
              padding-bottom: 0;
            }
          }
        }

        &:nth-child(5) {
          .text {
            font-size: 26px;
            line-height: 28px;
            font-weight: 400;
          }

          @include breakpoint($break-tablet) {
            .text {
              font-size: 35px;
              line-height: 36px;
              font-weight: 600;
            }
          }
        }

        &:nth-child(2), &:nth-child(4) {
          .number {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }

        &:nth-child(1), &:nth-child(3) {
          .number {
            padding-top: 8px;
            padding-bottom: 22px;
          }
        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          display: none;

          @include breakpoint($break-tablet) {
              display: block;
          }
        }
      }
    }

    .boxes {
      margin: 0;
      padding: 0;

      @include breakpoint(1050px) {
        height: 400px;
        margin-left: 24px;
        padding-left: 20px;
        border-left: 1px solid $light-gray;
      }

      .box {
        float: none;
        display: block;
        width: 85%;
        height: auto;
        background-color: #ffffff;
        border-radius: 5px;
        padding-bottom: 15px;

        &:first-child {
          margin: auto;
          @include breakpoint(640px) {
            margin-left: 15px;
          }
        }
        &:last-child {
          margin: auto;
          @include breakpoint(640px) {
            margin-left: 16px;
            margin-right: 15px;
          }
        }

        @include breakpoint(420px) {
          padding-bottom: 0;
          height: 410px;
        }

        @include breakpoint(640px) {
          float: left;
          width: calc(50vw - 32px);
          height: 430px;
        }

        @include breakpoint(1050px) {
          width: 370px;
          height: 400px;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-left: 25px;
          }
        }

        .box-content {
          text-align: center;

          .box-image {
            width: 100%;
            height: 50px;
            margin: 1rem 0;
            padding-top: 15px;

            @include breakpoint(420px) {
              height: 70px;
              padding: 0;
            }

            img {
              height: 100%;
              width: auto;
            }
          }

          .box-header {
            color: #0b97c4;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2rem;
            padding: 0.5rem;

            @include breakpoint(420px) {
              font-size: 1.4rem;
              line-height: 1.6rem;
            }
          }

          .box-text {
            color: #97a3aa;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.4rem;
            padding: 0.5rem 1rem;
            min-height: 0;

            @include breakpoint(420px) {
              font-size: 16px;
              line-height: 1.6rem;
              min-height: 215px;
            }

            @include breakpoint(750px) {
              min-height: 180px;
            }
          }

          .box-button {
            vertical-align: bottom;

            .button {
              text-transform: none;
            }
          }
        }
      }
    }
  }
}