body.about_mission .content {
  margin: 0 auto 0 auto;
  max-width: 100%;
}

body.about_mission .header-block {
  position: relative;
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position-x: center;
  background-image: url('/img/assets/university/exemplary-support-mob.jpg');

  @include breakpoint($break-tablet) {
    background-image: url('/img/assets/university/exemplary-support.jpg');
    height: 34vw;
  }

  .header-container {
    display: block;
    padding: 0 1rem;

    @include breakpoint($break-tablet) {
      padding: 0;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 1.4rem;
    color: white;

    em {
      font-weight: 400;
    }

    @include breakpoint(960px) {
      font-size: 1.7rem;
    }

    @include breakpoint(1125px) {
      font-size: 2rem;
    }
  }
}

.mission-section {
  @include container;
  @include break;

  margin: gutter();
  padding: 5rem 0;

  .mission-header {
    text-align: center;

    h2 {
      margin-bottom: 4rem;
    }
  }

  @include breakpoint($break-tablet) {
    @include container(10 of 16);
    margin: 0 span(3 of 16);
  }

  @include breakpoint($max-width) {
    @include container(10 of 16);
    max-width: 50rem;
  }
}