body.pricing {
  header .container, footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto 0 auto;
    max-width: 100%;
  }
}

body.pricing .header-block {
  @include span(4);
  padding-top: 8rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid black;
  background-size: cover;
  position: relative;

  .pricing-header-container {
    @include container(4 of 4);

    text-align: center;

    @include breakpoint($break-tablet) {
      @include container(10 of 16);
    }

    h1 {
      color: black;
      font-size: 46px;
      font-weight: 500;
      margin: 2rem 0;
    }

    h2 {
      color: black;
      font-size: 28px;
      font-weight: 400;
    }
  }
}

body.pricing .pricing-tabs {
  @include container;
  @include break;
  @include span(4);

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-tabs {
  @include container;
  @include break;

  border-color: $light-gray;
  color: #eee;
  text-align: center;
  vertical-align: middle;
}

.nav-tabs > li {
  @include container;
  @include break;

  float: none;
  display: inline-block;

  font-size: 20px;

  margin-bottom: -8px;
  height: 78px;

  @include breakpoint($break-tablet) {
    width: 24%;
    font-size: 19px;
  }

  @include breakpoint($max-width) {
    width: 17%;
  }
}

.nav-tabs > li a {
  border: 1px solid $light-gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 10px;
  width: 100%;
}

.nav-tabs>li>a, .nav-tabs>li>a>div {
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
}

.nav-tabs>li>a span {
  display: table-cell;
  vertical-align: middle;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #000;
  font-weight: 400;
  border: 1px solid $dark-gray;
  border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
  background: none;
  border: 1px solid $light-gray;
  font-weight: 400;
  color: #000;
} 

.pricing-tab-content {
  @include container(4 of 4);
  padding-top: 2rem;
  padding-bottom: 2rem;

  .tab-pane {
    border-top-color: transparent;
  }

  @include breakpoint($max-width) {
    max-width: $max-width;
  }

  .currency-block {
    margin-bottom: 2rem;
    text-align: center;
  }

  .pricing-content-col {
    @include span(4 of 4);
    margin-top: 1rem;

    @include breakpoint($break-tablet) {
      @include span(6 of 16);
    }
  }

  .pricing-content-col-left {
    text-align: left;

    @include breakpoint($break-tablet) {
      margin-left: span(1.5 of 16);
      margin-right: span(.5 of 16);
    }

    .first-letter-uppercase {
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  .pricing-content-col-right {
    background-color: $lighter-gray;

    @include breakpoint($break-tablet) {
      margin-left: span(.5 of 16);
      margin-right: span(1.5 of 16);
    }

    .panel-heading {
      cursor: pointer;
      background-color: white;

      .panel-title {
        font-size: 20px;
        font-weight: 500;

        a {
          display: inline-block;
          width: 95%;
        }

        i {
          width: 5%;
          position: inherit;
        }
      }
    }

    .panel-collapse {
      .panel-body {
        a {
          color: #00f;
          text-decoration: underline;

          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
            color: #00b;
          }

          &:active,
          &:focus {
            outline: none;
          }
        }
      }
    }

    .glyphicon-toggle {
      position: relative;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      font-size: 30px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .glyphicon-toggle-plus {
      &:before {
        content: "+";
      }
    }

    .glyphicon-toggle-minus {
      &:before {
        content: "-";
      }
    }
  }
}

.display-price {
  @include container;
  @include break;

  .currency {
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: transparent;
    list-style: none;
  }

  .currency-option {
    position: relative;
    float: left;
    min-height: 30px;
  }

  .currency-input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
  }

  .currency-label {
    background: $light-gray;
    cursor: pointer;
    color: white;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    display: inline-block
  }

  .currency-label-uk, .currency-label-us {
    line-height: 0.7rem;
    vertical-align: middle;
    display: inline-block;
    color: $light-gray;
    height: 30px;
    font-size: 20px;
    font-weight: 200;
  }

  .currency-label-uk {
    color: $dark-gray;
  }

  .currency-input:checked + .currency-label {
    color: white;
    background-color: $dark-gray;
    font-weight: 500;
  }
}

.price-count-block {
  color: $orange;
  margin-top: 25px;

  .currency-type {
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    top: -20px;
  }

  .amount {
    font-size: 3.2rem;
    min-width: 3rem;
    text-align: right;
    display: inline-block;
  }

  .range-block {
    width: 100px;
    display: inline-block;
  }

  .currency-after {
    display: inline-block;
  }

  .divider {
    font-size: 1.6rem;
    position: relative;
    top: 15px;
  }

  .range {
    font-size: 1.6rem;
    position: relative;
    width: 82px;
    top: 15px;
  }

  .zero {
    font-size: 1.6rem;
    display: inline-block;
    position: relative;
    top: -20px;
    left: -102px;
  }
}

.count {
  @include container;
  padding-top: 1rem;
  font-size: 1.2rem;

  @include breakpoint($break-tablet) {
    text-align: left;
    padding-top: 2rem;
    margin-top: -.5rem;
  }

  .count-block {
    display: inline-block;
    width: 50%;
    text-align: left;
  }

  .number {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .currency {
    width: 50%;
    text-align: right;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: transparent;
    list-style: none;
  }

  .currency-option {
    position: relative;
    float: left;
    min-height: 30px;
  }

  .currency-input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
  }

  .currency-label {
    background: $light-gray;
    cursor: pointer;
    color: white;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    display: inline-block
  }

  .currency-label-uk, .currency-label-us {
    line-height: 0.7rem;
    vertical-align: middle;
    display: inline-block;
    color: $light-gray;
    height: 30px;
    font-size: 20px;
    font-weight: 200;
  }

  .currency-label-uk {
    color: $dark-gray;
  }

  .currency-input:checked + .currency-label {
    color: white;
    background-color: $dark-gray;
    font-weight: 500;
  }
}

.dropdown {
  margin-top: 1rem;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);

  .dropdown-menu {
    width: 100%;
    list-style: none;

    .menu-item {
      padding-top: 0.2rem;
      font-size: 1rem;
      font-weight: 300;
    }
  }

  .btn-default {
    background-color: white;
    width: 100%;
    border-color: $lighter-gray;
    border-radius: 0em;
    -moz-border-radius: 0em;
    -webkit-border-radius: 0em;
    text-align: left;
    font-size: 18px;

    .dropdown-header {
      display: inline-block;
      width: 95%;
      color: black;
      padding: 0;
      font-size: 18px;
    }

    .caret {
      border-top-color: #77f;
      border-top-width: 10px;
      border-right-width: 10px;
      border-left-width: 10px;
    }
  }
}

.subtext {
  font-size: 1.2rem;
}

.features-list {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 300;

  .list {
    padding-left: 1rem;
    list-style-type: disc;
  }
}

.action-buttons {
  animation-delay: 1.2s;
  margin-top: 2rem;
  width: 100%;
  white-space: nowrap;

  .button-dark {
    background-color: $dark-gray;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $dark-gray;
    }
  }

  .button-white {
    background-color: #fff;
    color: $dark-gray;
    border-color: $dark-gray;

    &:hover {
      background-color: $dark-gray;
      color: #fff;
    }
  }

  .learn-more-link {
    float: right;
    width: 50%;
    text-align: right;
    text-decoration: underline;
  }
}

.information-block {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 300;

  a {
    text-decoration: underline;
  }
}

.payment-cards {
  margin-top: 2rem;

  img {
    width: 50px;
    height: 33px;
    border: none;
    border-color: white;
  }

  .payment-card-1 {
  }

  .payment-card-2 {
  }

  .payment-card-3 {
  }

  .payment-card-4 {    
  }

  .vat-block {
    font-size: 0.8rem;
    display: inline-block;
  }
}

.chat-block {
  margin-top: 2rem;
  width: 100%;

  .chat-img {
    width: 50px;
    height: 50px;
    background-color: $orange;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    img {
      width: 25px;
      height: 25px;
      margin-top: 12px;
    }
  }

  .chat-text {
    vertical-align: middle;
    margin-left: 0.5rem;
    display: inline-block;
  }
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  border-bottom: none;
  padding: 5px 15px 0 15px;

  button.close {
    color: black;
    font-weight: 600;
    font-size: 32px;
    text-shadow: none;
    opacity: 1;
  }
}

.table {
  .title {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
  }

  td {
    font-size: 22px;
    font-weight: 200;
  }

  .light-gray-bg {
    background-color: $lighter-gray;
  }

  .gray-bg {
    background-color: $light-gray;
    text-align: left;
  }
}

.table > thead > tr > th {
  vertical-align: middle;
}
