body.pricing .content {
  margin: 65px auto 0 auto;
  max-width: 100%;

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.pricing-header {
  padding-bottom: 5rem;
  border-bottom: 1px solid black;

  .subheader-block {
    @include span(4);

    background: $lighter-gray;
    background-size: cover;
    margin: 0 auto 5rem auto;
    text-align: center;

    @include breakpoint($break-tablet) {
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    span {
      display: none;

      @include breakpoint($break-tablet)
      {
        display: block;
      }
    }

    .link-button-bar {
      background: $lighter-gray;
      margin: 0 auto 0px auto;
      text-align: center;

      .button-container {
        @include container;
        @include break;

        float: none;
        margin: 0 auto;
      }

      .button {
        display: inline-block;
        color: $dark-gray;
        border: none;
        width: 20%;
        max-width: 150px;
        height: auto;
        padding: 0;
      }

      .button-large {
        padding: 0 auto;
      }

      .button:hover {
        color: white;
        background-color: $light-gray;
      }
    }
  }
}

.pricing-header-container {
  @include container(4 of 4);

  text-align: center;

  @include breakpoint($break-tablet) {
    @include container(10 of 16);
  }

  h1 {
    color: black;
    font-size: 46px;
    font-weight: 500;
    margin: 2rem 0;
  }

  h2 {
    color: black;
    font-size: 28px;
    font-weight: 400;
  }
}


.pricing-tabs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-tabs {
  @include container;
  @include break;

  border-color: $light-gray;
  color: #eee;
  text-align: center;
  vertical-align: middle;
}

.nav-tabs > li {
  @include container;
  @include break;

  float: none;
  display: inline-block;
  //*display: inline;
  //zoom: 1;

  font-size: 20px;

  margin-bottom: -8px;
  height: 78px;

  @include breakpoint($break-tablet) {
    width: 24%;
    font-size: 19px;
  }

  @include breakpoint($max-width) {
    width: 17%;
  }
}

.nav-tabs > li a {
  border: 1px solid $light-gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 10px;
  width: 100%;
}

.nav-tabs>li>a, .nav-tabs>li>a>div {
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
}

.nav-tabs>li>a span {
  display: table-cell;
  vertical-align: middle;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #000;
  font-weight: 400;
  border: 1px solid $dark-gray;
  border-bottom-color: transparent;
}

.nav-tabs > li > a:hover{
  background: none;
  border: 1px solid $light-gray;
  font-weight: 400;
  color: #000;
} 

.pricing-tab-content {
  .tab-pane {
    border-top-color: transparent;
  }
}

.pricing-tab-content {
  @include container(4 of 4);
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint($max-width) {
    max-width: $max-width;
  }

  .currency-block {
    margin-bottom: 2rem;
    text-align: center;
  }

  .pricing-content-col {
    @include span(4 of 4);
    margin-top: 1rem;

    @include breakpoint($break-tablet) {
      @include span(6 of 16);
    }
  }
  .pricing-content-col-left {
    @include breakpoint($break-tablet) {
      margin-left: span(1.5 of 16);
      margin-right: span(.5 of 16);
    }
  }

  .pricing-content-col-right {
    background-color: $lighter-gray;
    
    @include breakpoint($break-tablet) {
      margin-left: span(.5 of 16);
      margin-right: span(1.5 of 16);
    }
  }
}



.pricing-slider {
  @include container(4 of 4);
  text-align: center;

  padding-top: 5rem;
  padding-bottom: 5rem;

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    margin: 0 span(1 of 16);
  }

  @include breakpoint($max-width) {
    margin: 0 auto;
    max-width: $max-width;
  }

  .action-buttons {
    @include container;
    @include break;

    padding-top: 3rem;

    .button:first-child {
      margin-right: .5rem;
    }

    .button:last-child {
      margin-left: .5rem;
    }
  }
}

.pricing-faq {
  @include container(4 of 4);
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include breakpoint($max-width) {
    max-width: $max-width;
  }
}

.pricing-faq-header {
  text-align: center;

  h2 {
    font-weight: 300;
  }
}



.pricing-faq-entry {
  @include container;

  @include breakpoint($break-tablet) {

  }

  a {
    @include linkUnderlines(white, $base-font-color);
  }
}
