body.school {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }
}

body.school .grey {
  @include span(4);
  background-color: #e1e6f2;

  .school-img {
    @include container;
    @include break;
    margin-left: auto;
    margin-right: auto;
  }

  .school-section-content-img {
    @include container(4 of 4);
    text-align: center;

    margin: -1.2rem auto;

    @include breakpoint($break-tablet) {
      display: block;
      width: span(10 of 16);
      max-width: 855px;
    }
  }
}

body.school .blue {
  @include span(4);
  background-color: #4574e0;
  background-image: url('/img/assets/university/bg_action.svg');

  padding: span(1 of 12);

  .school-img {
    @include container;
    @include break;
    //@include span(4);
    //padding-top: 1 * $base-line-height;

    @include breakpoint($break-tablet) {
      @include container(14 of 16);
      width: span(14 of 16);
      margin: 0 span(1 of 16);
      max-width: $max-width;
    }

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    animation-delay: .4s;
    margin-top: $base-line-height;

    @include breakpoint($break-tablet) {
      font-size: 32px;
    }

    span {
      display: none;

      @include breakpoint($break-tablet) {
        display: inline;
      }
    }
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 39px;
    color: white;
    animation-delay: .8s;

    @include breakpoint($break-tablet) {
      line-height: 25px;
    }
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 45px auto 0 auto;
    text-align: center;

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button:first-child {
      @include breakpoint($break-tablet) {
        margin-right: 15px;
      }
      @include breakpoint(max-width $break-tablet) {
        margin-bottom: 10px;
      }
    }

    @include breakpoint(max-width $break-tablet) {
      .button {
        white-space: nowrap;
        display: inline-block;
        min-width: 200px;
        height: auto;
      }
    }
  }
}


body.school .header-block {
  @include span(4);
  background-size: cover;
  background-color: $dark_gray;
  //max-height: 1000px;
  color: white;
  position: relative;
  padding: 5rem 1rem 0 1rem;

  @include breakpoint(max-width $break-tablet) {
    background: url('/img/assets/school/Schools_page_background_image.jpg') no-repeat top center fixed;
    //height: 615px;
  }

  @include breakpoint($break-tablet) {
    background: url('/img/assets/school/Schools_page_background_image.jpg') no-repeat top center fixed;
    background-color: $dark-gray;
    //height: 500px;
  }

  @include breakpoint($max-width) {
    background: url('/img/assets/school/Schools_page_background_image.jpg') no-repeat top center fixed;
    background-color: $dark-gray;
    //height: 500px;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    animation-delay: .4s;
    margin-top: $base-line-height;
    margin-bottom: 2 * $base-line-height;

    @include breakpoint($break-tablet) {
      font-size: 42px;
    }

    span {
      display: none;

      @include breakpoint($break-tablet) {
        display: inline;
      }
    }
  }

  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    animation-delay: .8s;

    @include breakpoint($break-tablet) {
      line-height: 25px;
    }
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 45px auto 0 auto;
    text-align: center;

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button:first-child {
      @include breakpoint($break-tablet) {
        margin-right: 15px;
      }
      @include breakpoint(max-width $break-tablet) {
        margin-bottom: 10px;
      }
    }

    @include breakpoint(max-width $break-tablet) {
      .button {
        white-space: nowrap;
        display: inline-block;
        min-width: 200px;
        height: auto;
      }
    }
  }

  .video-link {
    display: block;
    margin: 4rem auto 0;
    text-align: center;
    color: #FFFFFF;

    @include breakpoint(max-width $break-tablet) {
      margin-top: 6rem;
    }
  }

  .border-wrapper {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 54px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-left: 3px;
  }

  .icon {
    fill: white;
  }

  .school-section-block-row {
    @include container;
    @include break;

    width: span(14 of 16);

    @include breakpoint($break-tablet) {
      width: span(13 of 16);
    }

    @include breakpoint($max-width) {
      width: span(11 of 16);
    }
    
    .section-block {
      margin-bottom: 1.5rem;
    }
  }

  .section-block {
    @include container;
    @include breakpoint($break-tablet) {
      float: left;
      width: span(12 of 32);
    }

    width: span(14 of 16);

    &:first-of-type {
      width: 100%;
      @include breakpoint($break-tablet) {
        margin-left: span(1 of 32);
        margin-right: span(2 of 32);
        width: 55%;
      }
    }

    &:last-of-type {
      width: 100%;
      @include breakpoint($break-tablet) {
        margin-right: span(1 of 32);
        width: 32%;
      }
    }
  }

  .h_iframe {
    position: relative;
    
    .ratio {
      display: block;
      width: 100%;
      background: $dark-gray;
      opacity: 0;
      height: auto;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  //.h_iframe .ratio {display:block;width:100%;height:auto;}
  //.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
}

.school-content {
  @include container;
  @include break;
  @include span(4);
  padding-top: 1rem;

  @include breakpoint($break-tablet) {
    @include container(14 of 16);
    width: span(14 of 16);
    margin: 0 span(1 of 16);
    float: inherit;
    max-width: $max-width;
  }

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
  }

  .school-section {
    @include container;
    @include break;

    padding: 1 * $base-line-height 0;
    vertical-align: middle;

    h2 {
      font-size: 39px;
      padding-bottom: 1.2rem;
    }
  }

  .carousel-control.left {
    background-image: none;
    width: 5%;
  }

  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: none;
    width: 5%;
  }

  .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: 1px solid #00f;
    border-radius: 50%;
    background-color: #fff;
    //box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
  }
  
  .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    border: none;
    background-color: #fa9915;
  }

  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    //width: 25px;
    //height: 35px;
    font-size: 25px;
    color: #00f;
  }

  .logos-container {
    @include container;
    width: span(8 of 10);

    margin-top: 2 * $base-line-height;
    margin-bottom: 2 * $base-line-height;
    vertical-align: middle;

    .logo-img {
      display: inline-block;
      position: relative;

      width: 18%;
      height: 100px;
      margin-left: 7%;

      padding: 1px;
      //margin-bottom: 2rem;
      //border: 2px solid #021a40;
      
      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .bubble-container {
    @include container;
    @include break;
    width: 90%;
    text-align: center;
    vertical-align: middle;
  }

  .bubble {
    @include container;
    margin-top: span(1 of 12);
    position: relative;
    width: span(12 of 12);
    min-height: 180px;
    vertical-align: middle;
    padding: 0px;
    background: #e1e6f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #e1e6f2 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -15px;
    left: 50%;
  }

  .vertical {
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
  }

  .section.quote {

    @include breakpoint($break-tablet) {
      padding-top: 2rem;
    }

    .section-header {
      text-align: center;
    }

    .section-block {
      width:100%;
      margin: 0;
      color: #999ca2;
      font-size: 1.3rem;
      line-height: 2rem;
      display: flex;
      padding-left: 1rem;
      padding-top: 1rem;

      @include breakpoint($break-tablet) {
        text-align: center;
        font-size: 1.3rem;
        line-height: 2rem;
      }

      .section-block-copy {
        padding-bottom: 1rem;

        @include breakpoint($break-tablet) {
          float: left;
          padding: 0 span(1 of 32);
          padding-bottom: 1rem;
          width: span(28 of 32);
          vertical-align: middle;
        }
      }

      .left-quote, .right-quote {
        display: none;

        @include breakpoint($break-tablet) {
          width: span(1 of 32);
          display: block;
          line-height: 100%;
          font-size: 4rem;
          font-weight: 400;
          color: #000;
          text-align: center;
          display: flex;
          align-items: center;
        }
      }

      .left-quote {
        @include breakpoint($break-tablet) {
          float: left;
        }
      }

      .right-quote {
        @include breakpoint($break-tablet) {
          float: right;
          text-align: right;
        }
      }
    }

    .teacher {

      .link {
        text-align: left;
        font-weight: 400;
      }

      margin-top: 50px;

      @include breakpoint($break-tablet) {
        margin: 50px auto;
        width: 400px;
        min-height: 150px;
      }

      .profile {
        display: block;
        border-radius:50%;
        border: 2px solid;
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 25px;
        margin-top: 10px;
        padding-right: 10px;
      }

      .copy {
        width: 260px;
        float: left;
        margin-top: 10px;
      }

      h4 {
        text-align: left;
        margin-top: 0;
      }

      p {
        text-align: left;
      }

      svg {
        display: inline-block;
        width: 70px;
        padding-top: 8px;
        text-align: center;
        align-items: center;
        margin-left: 10px;
      }

      .profile-img {
        padding-top: 8px;
        text-align: center;
        margin-left: 10px;
      }

    }
  }

  .school-section.confidence {
    padding: 0;
  }

  .school-section-left {
    @include container;

    @include breakpoint($break-tablet) {
      @include span(8 of 16);
    }
  }

  .school-section-right {
    @include container;

    @include breakpoint($break-tablet) {
      @include span(6 of 16);
      margin: 0 span(2 of 16);
    }
  }

  .school-section-content {
    h2, p {
      text-align: center;
    }
  }
  
  .school-section-content-copy {
    @include container(4 of 4);

    @include breakpoint($break-tablet) {
      width: span(12 of 16);
      margin: 0 span(2 of 16);
    }
    
    p {
      text-align: center;
    }
  }

  .school-section-content-img {
    @include container(4 of 4);

    margin: 2rem 0;

    @include breakpoint($break-tablet) {
      display: block;
      width: span(14 of 16);
      max-width: 855px;
      margin: 2rem span(1 of 16);
    }

    @include breakpoint($max-width) {
      margin: 2rem auto;
    }
  }

  .school-section-block-row {
    @include container;
    @include break;

    .section-block {
      //margin-top: 3rem;
      margin-bottom: 3rem;
      //overflow: hidden;
      //text-overflow: clip;
      //margin-right: span(3 of 50);

      @include breakpoint($break-tablet) {
        //width: span(10 of 50);
        width: span(13 of 32);
      }
    }
  }

  .section-block {
    @include container;
    @include breakpoint($break-tablet) {
      float: left;
    }

    &:first-of-type {
      @include breakpoint($break-tablet) {
        //margin-left: span(10 of 50);
        //width: span(9 of 50);
        margin-left: span(1 of 32);
        margin-right: span(3 of 32);
      }
    }

    &:last-of-type {
      @include breakpoint($break-tablet) {
        //width: span(12 of 50);
        margin-right: span(1 of 32);
      }
    }
  }
  
  .section-block-header {
    font-size: 29px;
    font-weight: 400;
    margin-top: 0;
  }

  .section-block-copy {
    p {
      font-size: 16px;
      text-align: left;
    }

    a {
      color: #00f;
      text-decoration: underline;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: #00b;
      }

      &:active,
      &:focus {
        outline: none;
      }
}

  }

  .blue {
    background-color: #4574e0;
    background-image: url('/img/assets/university/bg_action.svg');
  }
}
