body.school {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
}

body.school {
  .header-block {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-image: url('/img/assets/school/header_mod.jpg');

    @include breakpoint($break-tablet) {
      height: 38vw;
      background-image: url('/img/assets/school/header.jpg');
    }

    .header-content {
      display: block;
    }

    .title {
      font-size: 2.5rem;
      font-weight: 600;
      color: #fff;
      line-height: 2rem;
      padding-bottom: 2rem;

      @include breakpoint($break-tablet) {
        font-weight: 600;
        font-size: 4vw;
        padding-bottom: 1rem;
      }

      @include breakpoint($max-width) {
        padding-bottom: 2rem;
      }
    }

    .text {
      font-size: 1.4rem;
      font-weight: 400;
      color: #fff;
      line-height: 1.9rem;
      margin: 0 2rem;
      padding-bottom: 2rem;

      @include breakpoint($break-tablet) {
        font-size: 1.6vw;
        margin: 0 1rem;
        line-height: 1.6rem;
        padding-bottom: 1rem;
      }

      @include breakpoint($max-width) {
        line-height: 1.8rem;
        max-width: $max-width;
        margin: 0 2rem;
        padding-bottom: 2rem;
      }
    }
  }

  .content-body {
    @include container;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;
    padding: 80px 0 0 0;

    .advantage-block {
      @include container;
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 2rem;

      .item {
        display: block;
        padding: 0;
        padding-bottom: 50px;
        text-align: center;

        @include breakpoint($break-tablet) {
          @include gallery(1 of 2);
          text-align: left;
          padding: 0 50px 50px 50px;
        }

        .title {
          font-size: 28px;
          font-weight: 500;
          color: $light-blue;
          padding-bottom: 1rem;

          @include breakpoint($break-tablet) {
            font-size: 1.2rem;
            line-height: 1.5rem;
            min-height: 75px;
          }

          @include breakpoint($max-width) {
            font-size: 1.4rem;
          }
        }

        .text {
          font-weight: 300;
          font-size: 22px;

          @include breakpoint($break-tablet) {
            font-size: .9rem;
          }

          @include breakpoint($max-width) {
            font-size: 1rem;
          }
        }

        a {
          color: #1188ef;
        }

        a:hover {
          color: $blue;
        }
      }
    }
  }

  .bottom-block {
    max-width: 100%;
    height: 32vw;

    .left-part, .right-part {
      width: 100%;
      float: left;
      height: 52vw;
      vertical-align: top;

      @include breakpoint($break-tablet) {
        height: 32vw;
        width: 50%;
        display: inline-block;
      }
    }

    .left-part {
      .brendon-shank-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url('/img/assets/school/brendon-shank.jpg');
      }
    }

    .right-part {
      text-align: center;
      background-color: $lighter-gray;
      height: auto;

      @include breakpoint($break-tablet) {
        text-align: left;
      }

      .title {
        font-size: 1.1rem;
        font-weight: 500;
        color: $light-blue;
        text-transform: uppercase;
        padding: 1rem 1rem 1rem 2rem;

        @include breakpoint($break-tablet) {
          padding-top: 3vw;
          font-size: 1.2vw;
        }
      }

      img {
        height: 6rem;
        padding-left: 0;

        @include breakpoint($break-tablet) {
          padding-left: 1rem;
          height: 8vw;
        }
      }

      .quote {
        font-size: 1.5rem;
        font-weight: 300;
        color: #000;
        line-height: 1.5rem;
        padding: 1rem 2rem;
        
        @include breakpoint($break-tablet) {
          font-size: 1.6vw;
          padding: 2vw 6rem 1vw 2rem;
        }
      }

      .author {
        font-size: 1.2rem;
        font-weight: 400;
        color: #000;
        line-height: 1rem;
        padding: 1rem 0 1rem 2rem;

        @include breakpoint($break-tablet) {
          font-size: 1.1vw;
        }
      }
    }
  }

  .ready-started-block {
    max-width: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    height: 220px;
    background-color: $blue;

    h2 {
      margin-top: 0;
      color: #fff;
      padding: 40px 0 20px 0;
    }
  }
}
