
body.features .content {
  margin: 0 auto 0 auto;
  max-width: 100%;
}

.specs-body {
  @include span(4);
  @include break;
  position: relative;

  @include breakpoint($break-tablet) {
    @include nobreak;
    @include span(10 of 16);
    margin-left: span(5 of 16);
    padding-top: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: $light-blue;

    @include breakpoint($break-tablet) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1rem;

    @include breakpoint($break-tablet) {
      font-size: 1.5rem;
    }

    a {
      color: $base-font-color;
    }
  }

  ul {
    list-style: disc outside none;
  }

  ol {
    list-style: decimal;
  }

  ul, ol {
    padding-left: 20px;
    margin-bottom: $base-line-height;
  }

  .specs-toc {
    list-style: none;
    padding-left: 0;
  }

  a:not(.specs-toc-head) {
    @include linkUnderlines(white, $base-font-color);
  }

  hr {
    position: relative;
    border-color: $base-font-color;
  }

  caption, th, td {
    text-align: center;
    font-weight: lighter;
  }

  .leftPad {
    margin-left: 40px;
  }
}

body.features .header-block {
  width: 100%;
  height: 25vw;
  position: relative;
  text-align: center;
  background-size: cover;
  background-image: url('/img/assets/index/blocks/sharpen-your-tool-box.jpg');

  .title {
    height: 100%;
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    line-height: 2rem;

    @include breakpoint($break-tablet) {
      line-height: 4rem;
    }
  }
}

body.features .ready-started-block {
  max-width: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  height: 220px;
  background-color: $blue;

  h2 {
    margin-top: 0;
    color: #fff;
    padding: 40px 0 20px 0;
  }
}

.specs-content {
  @include container;
  padding: 0 2rem;
  min-height: 600px;

  @include breakpoint($max-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}
