$gradient: linear-gradient(to right bottom, #1570bf 50%, #59c0fe 100%);

body.university {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }
}

body.university .header-block {
  @include span(4);
  background-size: cover;
  background-image: $gradient;
  height: 100vh;
  max-height: 750px;
  color: white;
  position: relative;

  @include breakpoint($break-tablet) {
    background-image: $gradient;
    background: url('/img/assets/university/atf.jpg') no-repeat top center fixed;
  }

  @include breakpoint($max-width) {
    background-image: $gradient;
    background: url('/img/assets/university/atf-large.jpg') no-repeat top center fixed;
  }

  h1 {
    margin-top: 4 * $base-line-height;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    animation-delay: .4s;

    @include breakpoint($break-tablet) {
      margin-top: 8 * $base-line-height;
    }
  }

  h2 {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    animation-delay: .8s;
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 90px auto 0 auto;
    text-align: center;

    .button:first-child {
      margin-right: 15px;
    }
  }
}

.university-body {
  @include container;
  @include break;

  margin: 0;
  padding: 0;
  padding-top: 3 * $base-line-height;

  .section {
    @include container;
    @include break;

    padding-top: 3 * $base-line-height;
    padding-bottom: 3 * $base-line-height;
    vertical-align: middle;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      width: span(12 of 16);
      margin: 0 span(2 of 16);
      float: inherit;
      max-width: $max-width;
    }

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .blue {
    background: $gradient;
    color: white;

    @include breakpoint($break-tablet) {
      margin: 0;
      width: 100%;
      max-width: 100%
    }
  }

  .section-header {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 2rem;

    @include breakpoint($break-tablet) {
      text-align: center;
    }
  }

  .section-body {
    @include container;
  }

  .section-copy {
  }

  .section-block-row {
    @include container;
    @include break;
  }

  .section-block-column {
    .section-block {
      @include breakpoint($break-tablet) {
        @include break;
        margin-bottom: 2rem;
      }

      &:first-of-type {
        @include breakpoint($break-tablet) {
          margin-right: 0;
        }
      }
      &:last-of-type {
        @include breakpoint($break-tablet) {
          margin-left: 0;
        }
      }

    }
  }

  .section-block {
    @include container;
    @include breakpoint($break-tablet) {
      width: span(7 of 16);
      float: left;
    }

    &:first-of-type {
      @include breakpoint($break-tablet) {
        margin-right: span(1 of 16);
      }
    }
    &:last-of-type {
      @include breakpoint($break-tablet) {
        margin-left: span(1 of 16);
      }
    }
  }

  .section-block-header {
    font-size: 21px;
    font-weight: 400;
  }

  .section-block-copy {
  }

  svg.icon {
    fill: $university-blue;
    padding: 13px;
    width: 54px;
    height: 54px;
  }

  svg.icon.white {
    fill: white;
  }

  .border-wrapper {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 54px;
    height: 54px;
    margin-left: -81px;
    margin-bottom: -81px;
  }
}