$gradient: linear-gradient(to right bottom, #1570bf 50%, #59c0fe 100%);

.clear {
  clear: both;
}

body.university {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }
}

body.university .header-block {
  @include span(4);
  background-size: cover;
  background-image: $gradient;
  color: white;
  position: relative;
  height: 465px;

  @include breakpoint($break-tablet) {
    background-image: $gradient;
    background: url('/img/assets/university/atf.jpg') no-repeat top center fixed;
    height: 500px;
  }

  @include breakpoint($max-width) {
    background-image: $gradient;
    background: url('/img/assets/university/atf-large.jpg') no-repeat top center fixed;
  }

  h1 {
    margin-top: 2.25 * $base-line-height;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    animation-delay: .4s;

    @include breakpoint($break-tablet) {
      margin-top: 2.5 * $base-line-height;
      font-size: 56px;
      line-height: 64px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    text-align: center;
    font-weight: 200;
    font-size: 27px;
    animation-delay: .8s;
    margin-left: 1rem;
    margin-right: 1rem;

    @include breakpoint($break-tablet) {
      line-height: 25px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 50px auto 0 auto;
    text-align: center;

    .button-demo {
      background: none;
      border: 2px solid #FFFFFF;
    }

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button:first-child {
      @include breakpoint($break-tablet) {
        margin-right: 25px;
      }
      @include breakpoint(max-width $break-tablet) {
        margin-bottom: 10px;
      }
    }

    @include breakpoint($break-tablet) {
      .button {
        white-space: nowrap;
        display: inline-block;
        min-width: 230px;
        height: auto;
      }
    }
  }
}

.university-body {
  @include container;
  @include break;

  margin: 0;
  padding: 0;

  .section {
    @include container;
    @include break;

    padding: 4rem 1rem;
    vertical-align: middle;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      width: span(12 of 16);
      margin: 0 span(2 of 16);
      float: inherit;
      max-width: $max-width;
      padding: 8rem 1rem;
    }

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }

    &.top {
      padding-top: 3rem;
      padding-bottom: 0;
    }
  }

  .blue {
    background: $gradient;
    color: white;
    overflow: hidden;

    @include breakpoint($break-tablet) {
      margin: 0;
      width: 100%;
      max-width: 100%
    }
  }

  .section-header {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 2rem;

    @include breakpoint($break-tablet) {
      text-align: center;
    }
  }

  .section-body {
    @include container;
  }

  .section-copy {
  }

  .section-block-row-three {
    @include container;
    @include break;

    .section-block {
      @include container;
      margin-top: 0;
      margin-bottom: 3rem;
      overflow: hidden;
      text-overflow: clip;
      margin-right: span(1 of 50);

      @include breakpoint($break-tablet) {
        width: span(12 of 50);
        float: left;
      }

      &:first-of-type {
        @include breakpoint($break-tablet) {
          margin-left: span(8 of 50);
          margin-right: span(1 of 50);
          width: span(11 of 50);
        }
      }

      &:last-of-type {
        margin-left: 0;
        @include breakpoint($break-tablet) {
          width: span(12 of 50);
        }
      }

      .section-block-header {
        margin: 0;
      }

    }
  }

  .section-block-row {
    @include container;
    @include break;

    .section-block {
      margin-top: 3rem;
      margin-bottom: 3rem;

      @include breakpoint($break-tablet) {
        width: span(7 of 16);
      }
    }
  }

  .section-block-column {
    @include container;

    @include breakpoint($break-tablet) {
      width: span(7 of 16);
      margin-left: 0;
      float: left;
    }

    .section-block {
      margin-bottom: 3rem;

      @include breakpoint($break-tablet) {
        @include break;
      }

      &:first-of-type {
        @include breakpoint($break-tablet) {
          margin-right: 0;
        }
      }
      &:last-of-type {
        @include breakpoint($break-tablet) {
          margin-left: 0;
        }

        margin-bottom: 0;
      }

    }
  }

  .section-block {
    @include container;
    @include breakpoint($break-tablet) {
      float: left;
    }

    &:first-of-type {
      @include breakpoint($break-tablet) {
        margin-right: span(1 of 16);
      }
    }
    &:last-of-type {
      @include breakpoint($break-tablet) {
        margin-left: span(1 of 16);
      }
    }
  }

  .section-block-header {
    font-size: 21px;
    font-weight: 400;
  }

  .section-block-copy {
  }

  svg.icon {
    fill: $university-blue;
    padding: 13px;
    width: 54px;
    height: 54px;
  }

  svg.icon.white {
    fill: white;
  }

  .border-wrapper {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 54px;
    height: 54px;
    margin-left: -81px;
    margin-bottom: -81px;
  }

  .border-wrapper.headline {
    margin: 0 auto;
    border-color: $university-blue;
    width: 64px;
    height: 64px;

    svg.icon {
      width: 64px;
      height: 64px;
      padding: 15px;
    }
  }

  .center-image {
    margin: 3rem auto;
    display: block;
  }

  .right-image {
    display: block;
    margin: 3rem auto 0;

    @include breakpoint($break-tablet) {
      float: right;
      margin-right: -60%;
      margin-top: 0;
    }

    @include breakpoint(1100px) {
      margin-right: -30%;
    }

    @include breakpoint(1550px) {
      margin-right: -10%;
    }
  }
}
