$gradient: linear-gradient(to right bottom, #1570bf 50%, #59c0fe 100%);

.clear {
  clear: both;
}

body.university {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }

  a {
    @include linkUnderlines(white, $base-font-color);
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 50px 0;
    text-align: center;

    .button.button-main {
      background-color: #f29312;
      border: 2px solid #f29312;
    }

    .button:hover {
      background-color: $lighter-orange;
      border-color: $lighter-orange;
    }

    .button.button-demo {
      background: none;
      border: 2px solid #FFFFFF;
    }

    .button.button-demo:hover {
      color: $dark-gray;
      border-color: $dark-gray;
    }

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button {
      display: block;
      padding: 0;
      width: 100%;
      line-height: 58px;
      height: 60px;

      @include breakpoint($break-tablet) {
        white-space: nowrap;
        display: inline-block;
        min-width: 230px;
        max-width: 250px;
        display: inline-block;
        height: auto;
      }

      &:first-child {
        margin-bottom: 15px;

        @include breakpoint($break-tablet) {
          margin-right: 30px;
          margin-bottom: 0;
        }
      }
    }
  }
}

body.university .header-block {
  @include span(4);
  background-size: cover;
  background-image: $gradient;
  color: white;
  position: relative;

  @include breakpoint($break-tablet) {
    background-image: $gradient;
    background: url('/img/assets/university/atf.jpg') no-repeat top center fixed;
    background-color: #4574e0;
  }

  @include breakpoint($max-width) {
    background-image: $gradient;
    background: url('/img/assets/university/atf-large.jpg') no-repeat top center fixed;
    background-color: #4574e0;
  }

  h1 {
    margin-top: 2 * $base-line-height;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    animation-delay: .4s;

    @include breakpoint($break-tablet) {
      margin-top: 2.5 * $base-line-height;
      font-size: 56px;
      line-height: 64px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    text-align: center;
    font-weight: 200;
    font-size: 27px;
    animation-delay: .8s;
    margin-left: 1rem;
    margin-right: 1rem;

    @include breakpoint($break-tablet) {
      line-height: 25px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.university-body {
  @include container;
  @include break;

  margin: 0;
  padding: 0;

  .section {
    @include container;
    @include break;

    padding: 3rem 1rem 2rem 1rem;
    vertical-align: middle;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      width: span(12 of 16);
      margin: 0 span(2 of 16);
      float: inherit;
      max-width: $max-width;
      padding: 3rem 1rem;
    }

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }

    &.top {
      padding-top: 3rem;
      padding-bottom: 0;
    }

    &.first {
      max-width: none;
      text-align: center;

      svg {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-height: 416px;
        max-width: 800px;

        @include breakpoint($break-tablet) {
          min-height: 400px;
        }
      }
    }

    &.second {

      .section-header {
        text-align: center;
      }

      .section-block {
        width:100%;
        margin: 0;
        color: #999ca2;
        text-align: center;

        .left-quote, .right-quote {
          display: none;

          @include breakpoint($break-tablet) {
            display: block;
          }
        }

        @include breakpoint($break-tablet) {
          font-size: 2rem;
          line-height: 2rem;

          .left-quote, .right-quote {
            height: 10rem;
            width: span(2 of 32);
          }

          .left-quote, .right-quote {
            line-height: 10rem;
            font-size: 4rem;
            font-weight: 400;
            color: #000;
            text-align: center;
          }

          .left-quote {
            float: left;
          }

          .right-quote {
            float: right;
          }

          .section-block-copy {
            float: left;
            width: span(28 of 32);
            height: 4rem;
            vertical-align: middle;
          }
        }
      }
    }

    &.third {
      padding-top: 0;
      padding-bottom: 1rem;

      svg {
        float: left;
      }

      h3 {
        display: inline-block;
        float: left;
        font-size: 2rem;
        line-height: 2rem;
        padding-left: 100px;
        min-height: 3rem;
      }

      h3.savings {
        background: url('/img/assets/university/savings.svg') no-repeat 10px top;
      }

      h3.savings span {
        @include breakpoint($break-tablet) {
          display: block;
        }
      }

      h3.productivity {
        background: url('/img/assets/university/productivity.svg') no-repeat 10px top;
      }

      h3.lms {
        background: url('/img/assets/university/lms.svg') no-repeat left top;
      }

      h3.creation {
        background: url('/img/assets/university/creation.svg') no-repeat 20px 5px;
      }

      .section-block-copy {
        clear: both;
      }

      .section-block-row {
        @include container;
        @include break;

        .section-block {
          margin-bottom: 3rem;

          @include breakpoint($break-tablet) {
            width: span(13 of 32);
          }
        }
      }

      .section-block {
        @include container;
        @include breakpoint($break-tablet) {
          float: left;
        }

        &:first-of-type {
          @include breakpoint($break-tablet) {
            margin-left: span(2 of 32);
          }
        }
        &:last-of-type {
          @include breakpoint($break-tablet) {
            margin-left: span(3 of 32);
          }
        }
      }
    }

    &.fourth {
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;

      h2 {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }

  .grey {
    background-color: #e1e6f2;
  }

  .blue {
    background-color: #4574e0;
    background-image: url('/img/assets/university/bg_action.svg');
  }

  .section-header {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint($break-tablet) {
      margin-left: span(2 of 32);
    }
  }

  .section-body {
    @include container;
  }

  .section-copy {
  }

  .section-block-row {
    @include container;
    @include break;

    .section-block {
      margin-bottom: 3rem;

      @include breakpoint($break-tablet) {
        width: span(14 of 32);
      }
    }
  }

  .section-block {
    @include container;
    @include breakpoint($break-tablet) {
      float: left;
    }

    &:first-of-type {
      @include breakpoint($break-tablet) {
        margin-left: span(2 of 32);
        margin-right: span(1 of 32);
      }
    }
    &:last-of-type {
      @include breakpoint($break-tablet) {
        margin-right: span(1 of 32);
      }
    }
  }

  .section-block-header {
    font-size: 21px;
    font-weight: 400;
    margin-top: 0;
  }

  .section-block-copy {
  }
}
