section {
  position: relative;

  &:nth-child(odd) {
    @include even-section;
  }

  .container > div {
    padding: 0;
    margin-left: 300px;
    width: $ipad-landscape - 300;

    @include apply-to(more-than, desktop) {
      margin-left: 350px;
      width: $desktop - 350;
    }

    h2 {
      font: 34px gotham_medium;
      color: $red;
      margin: 0;
    }

    h3 {
      color: #8F8F99;
      font: 26px gotham_thin;
      margin: 8px 0 24px;
      text-transform: initial;
    }

    p {
      font: 17px gotham_light;
      line-height: 1.7em;
      margin: 1em 0 0 0;

      strong {
        font-family: gotham_medium;
        color: #444;
      }
    }

    li {
      font: 17px gotham_light;
      line-height: 1.7em;
      margin: 0px -6px 0px -15px;       
    }

    .coming-soon {
      font: 14px gotham_light;
      font-style: italic;
      text-transform: uppercase;
      color: #BEA3A1;
    }
  }

  &#nodeschool {
    .container > div {
      @include screenie;
      background: transparent image-url('home/screens/nodeschool.png') no-repeat -20px center;
      background-size: 30%;
      background-position: 0px 136px;


      @include apply-to(less-than, desktop) {
        background-position: 0px 200px;
        background-size: 33%;
      }

      > div {
        background-size: 11px;
      }
    }
  }

  &#grunt {
   .container > div {
      @include screenie;
      background: transparent image-url('/home/screens/create-project-wp.png') no-repeat -20px center;
      background-size: 45%;

      @include apply-to(less-than, desktop) {
        background-position: -142px center;
        background-size: 68%;
      }

      > div {
        background: transparent image-url('/home/screens/shadow-y.png') no-repeat 0 center;
        background-size: 11px;
        padding: 130px 0 130px 429px;
        width: 421px;

        @include apply-to(less-than, desktop) {
          padding: 130px 0 130px 355px;        
          width: 320px;
          background-size: 12px;
        }
      }
    }
  }  

 

}