section {
  position: relative;

  &:nth-child(odd) {
    @include even-section;
  }

  .container > div {
    padding: 0;
    margin-left: 300px;
    width: $ipad-landscape - 300;

    @include apply-to(more-than, desktop) {
      margin-left: 350px;
      width: $desktop - 350;
    }

    h2 {
      font: 34px gotham_medium;
      color: $red;
      margin: 0;
    }

    h3 {
      color: #8F8F99;
      font: 26px gotham_thin;
      margin: 8px 0 24px;
      text-transform: none;
    }

    p {
      font: 17px gotham_light;
      line-height: 1.4em;
      margin: 1em 0 0 0;

      strong {
        font-family: gotham_medium;
        color: #444;
      }
    }

    ol, ul {
      li {
        font: 17px gotham_light;
        line-height: 1.2em;
        margin: 0px -6px 0px -15px;  
        color: $black;
        a {
          color: $red;
        } 
      }
    }

    .coming-soon {
      font: 14px gotham_light;
      font-style: italic;
      text-transform: uppercase;
      color: #BEA3A1;
    }
  }

  &#nodeschool {
    .container > div {
      @include screenie;
      background: transparent image-url('home/screens/nodeschool.png') no-repeat -0px center;
      background-size: 27%;
      background-position: 22px 185px;
      margin-left: 78px;

      @include apply-to(less-than, desktop) {
        background-position: 0px 260px;
        background-size: 27%;
      }

      > div {
        background-size: 11px;
        padding-left: 413px;
        width: 639px;      
        @include apply-to(less-than, desktop) {
          padding-left: 301px;
          width: 612px;  
        }        
      }
    }
  }

  &#grunt {
    .container > div {
      @include screenie;
      background: transparent image-url('home/screens/grunt-logo.png') no-repeat -0px center;
      background-size: 13%;
      background-position: 87px 165px;
      margin-left: 78px;

      @include apply-to(less-than, desktop) {
        background-position: 40px 180px;
        background-size: 15%;
      }

      > div {
        background-size: 11px;
        padding-left: 413px;
        width: 639px;      
        @include apply-to(less-than, desktop) {
          padding-left: 301px;
          width: 612px;  
        }        
      }
    }
  }  

  &#grunt-watch {
    .container > div {
      @include screenie;
      background: transparent image-url('home/screens/grunt-watch.png') no-repeat -0px center;
      background-size: 17%;
      background-position: 87px 165px;
      margin-left: 78px;

      @include apply-to(less-than, desktop) {
        background-position: 40px 180px;
        background-size: 20%;
      }

      > div {
        background-size: 11px;
        padding-left: 413px;
        width: 639px;      
        @include apply-to(less-than, desktop) {
          padding-left: 301px;
          width: 612px;  
        }        
      }
    }
  }    

 

}