<div class="section buttons">
  <div class="section-block-row-three">
    <div class="section-block get-started">
      <a href="/docs/started">Get Started</a>
    </div>
    <div class="section-block documentation">
      <a href="/docs">Documentation</a>
    </div>
    <div class="section-block settings">
      <a href="/docs/acount">Settings</a>
    </div>
  </div>
</div>