<div class="search-container">
  <form id="search-input">
    <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
  </form>
  <div class="overview-section">
    <div class="search-results" id="st-results-container">
    </div>
  </div>
</div>
<div class="section buttons">
  <div class="section-block-row-three">
    <div class="section-block get-started">
      <a href="/docs/started">Get Started</a>
    </div>
    <div class="section-block documentation">
      <a href="/docs">Documentation</a>
    </div>
    <div class="section-block settings">
      <a href="/docs/settings">Settings</a>
    </div>
  </div>
</div>