<section id="sf-classes">
  <div class="container">
    <div>
      <div>
        <h2>Classes, Triggers &amp; Pages</h2>
        <p>Codio is currently focused purely on the coding experience, which is what Force.com developers spend most of their time doing.</p>
        <p>Pushing and pulling all code or individual files is incredibly fast and easy. Previewing is also great for productivity.</p>

        <div class="links">
          <% link_to '/docs/deployment' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>