<section id="sf-connect">
  <div class="container">
    <div>
      <div>
        <h2>Easy Connections</h2>
        <h3>Development, Pre-release, Sandboxes</h3>
        <p>Connect to your SalesForce account with ease then simply pull your code into Codio and start coding.</p>
        <p>You can then pull and push all your code or single files. And our Git integration may come in very handy, too.</p>

        <div class="links">
          <% link_to 'docs/salesforce/sf-create' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>