<section id="sf-other">
  <div class="container">
    <div>
      <div>
        <h2>Even more Coding Awesomeness!</h2>
        <p>If you also code in other languages, then you'll be more than pleasantly surprised at what Codio can do.</p>
        <p>It's fantastic for front and back end development with some really rich features. And we're developing Codio super aggressively, so more gets added each and every week.</p>
        <div class="links">
          <% link_to '/docs/deployment' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>