<section id="sf-overview">
  <div class="container">
    <div>
      <div>
        <h2>Force.com Coding</h2>
        <p>Codio's SalesForce features currently address the thing most Force.com developers spend most of their time on - allowing you to write code for your Classes, Triggers and Pages. We make this really easy and really fast.</p>
        <p>And if you code in other languages like HTML5, CSS, Javascript, PHP, Node and Ruby then you will find even more juicy features.</p>
        <div class="links">
          <% link_to '/docs/salesforce' do %>
            <i class="icon-file"></i> Read the docs
          <% end %>
          <a href="//player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>