<section id="productivity">
  <div class="container">
    <div>
      <div>
        <h2>Productivity</h2>
        <h3>You'll be amazed how fast you can code in a browser</h3>
        <p><strong>Syntax highlighting</strong>, code completion, custom keyboard shortcuts, <strong>code folding</strong>, themes, code linting, <strong>code beautification</strong> and much more.</p>
        <p>If you want a truly modern coding experience and the ability to code from any PC with a browser, you're going to love Codio.</p>
        <div class="links">
          <% link_to '/docs/emmet/' do %>
            <i class="icon-file"></i> Emmet
          <% end %>
          <% link_to '/docs/settings-prefs' do %>
            <i class="icon-file"></i> Preferences
          <% end %>
          <% link_to '/docs/ide-beautify' do %>
            <i class="icon-file"></i> Code Beautification
          <% end %></br>
      </div>
    </div>
  </div>
</section>
