---
title: Technical Specifications
description:
---

<section class="content-body">
  <aside class="specs-side-navigation">
    <ul class="nav nav-pills">
      <li class="active item">
        <div class="">
          <a href="#infrastructure" data-toggle="pill"><span>Infrastructure</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#ide" data-toggle="pill"><span>Online IDE</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#grading" data-toggle="pill"><span>Grading & Auto-Grading</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#lms" data-toggle="pill"><span>LMS</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#curriculum" data-toggle="pill"><span>Curriculum Authoring</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#templating" data-toggle="pill"><span>Templating</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a target="_blank" href="/img/assets/features/university_technical_specifications.pdf"><span>University Technical Specifications</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a target="_blank" href="/img/assets/features/school_technical_specifications.pdf"><span>School Technical Specifications</span></a>
        </div>
      </li>
    </ul>
  </aside>

  <div class="specs-body tab-content">
    <div id="infrastructure" class="tab-pane fade in active">
      <h2>Infrastructure</h2>
      <hr/>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Unlimited Ubuntu servers</h3>
          <p>A full working Ubuntu server that starts in a couple of seconds. Each user can have any number of servers.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Sudo privileges</h3>
          <p>You can install any programming language, database or component just like you can on a regular machine.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>512KB thru 2GB RAM</h3>
          <p>Our default memory allocation is fine for 99% of use cases. However, if you need more for memory hungry applications,
            you've got it.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Storage</h3>
          <p>Each project can have up to 5GB of storage space with more available on request.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>GUI Applications</h3>
          <p>Teaching GUI based application development works perfectly with the Virtual Desktop.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Scaling</h3>
          <p>The Codio infrastructure serves every student in every state and country, so we are constantly
            dealing with very large numbers of users and adding more every day.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Always On Boxes</h3>
          <p>Codio servers automatically shut down when they are not in use and start on demand in a
            couple of seconds. If you don't want your server to shut down when not in use, you can use
            our optional Always On Box allocation.</p>
        </div>
      </div>
    </div>
    <div id="ide" class="tab-pane fade">
      <h2>Online IDE</h2>
      <hr/>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Any modern browser</h3>
          <p>Runs on all modern browsers such as Chrome, Firefox, IE, Edge, Safari and more.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Multiple code panels</h3>
          <p>Like most powerful IDEs, you can create and destroy panels for code editing, terminal
            access and web page previews.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Command line access</h3>
          <p>Terminal window providing access to the command line with sudo level privileges.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Debugger</h3>
          <p>Full visual debugger with support for Java, C, C++ and NodeJS. Other languages can be added on request.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Virtual Desktop</h3>
          <p>Create GUI based applications.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>File tree</h3>
          <p>The file tree is fully functional and supports drag and drop, uploading and downloading of files.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Manual grading</h3>
          <p>Access manual grading features, including grading rubric and grading moderation within the IDE while reviewing student code.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Remote deployment targets</h3>
          <p>Configure remote deployment targets and deploy your code via FTP, SFTP, SSH or rsync.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>SSH In</h3>
          <p>SSH into your Box from your local PC.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>SSH Out</h3>
          <p>Configure remote SSH servers for easy access from the command line.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Search and Replace</h3>
          <p>Full search and replace functionality including regex support.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Code beautifier</h3>
          <p>Automatically format and indent your code (some languages only).</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Command bar</h3>
          <p>Access any IDE feature by typing in a search string rather than locating through menus.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Share access</h3>
          <p>Give read/write/admin access to your server to other users.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Fork projects</h3>
          <p>Fork another user's project, including the server stack, into your own account.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Server restart</h3>
          <p>Reboot the server, which takes only 10 seconds from within the IDE.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Export code</h3>
          <p>Download a single file or the entire project to your local PC.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Upload files</h3>
          <p>Files can be uploaded from your desktop directly into the file tree.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>QR code</h3>
          <p>For web applications, generate a QR code so students can try their project out on a
            smartphone without typing in long URLs.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Git</h3>
          <p>Git is preinstalled on every Codio server. We also offer some menu shortcuts for simple
            operations as well as displaying the current branch name in the file tree. Your user SSH
            public key can also be uploaded to your Git remote using a menu.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Syntax highlighting</h3>
          <p>Supported for almost every language. Additional languages easily added.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Code complete</h3>
          <p>Language dependent</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Intellisense</h3>
          <p>Javascript has full intellisense but limited support currently for other languages.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Emmet</h3>
          <p>Powerful support for HTML, CSS and Javascript keyboard shortcuts.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Themes</h3>
          <p>We offer a number of light and dark themes to suit your preferences.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Install software shortcuts</h3>
          <p>A dialog driven approach to installing commonly used components with a single click without
            having to install yourself from the command line. We take requests for additional items.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Custom menus</h3>
          <p>To prevent students from having to use the command line, add commands to a dropdown menu.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Custom settings</h3>
          <p>A list of over 70 settings that customize the code editing experience.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Codio support</h3>
          <p>Contact Codio support directly from within the IDE. You can also track all support
            conversations, current and past.</p>
        </div>
      </div>
    </div>
    <div id="grading" class="tab-pane fade">
      <h2>Grading & Auto-Grading</h2>
      <hr/>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Standard auto graded code tests</h3>
          <p>Dialog driven, this approach lets you create tests based on argument and stdin inputs to match
            expected output. You can create several tests cases for each assessment to ensure full code
            coverage. Caters for at least 80% of cases.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Advanced auto graded code tests</h3>
          <p>This gives you complete control over how your tests execute. Use any language to script the
            tests and use any framework or library such as JUnit to help.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Multiple choice questions</h3>
          <p>Single and multiple response MCQs. Supports negative points for incorrect answers.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Fill in the blank</h3>
          <p>An autograded assessment type that requires students to complete words or phrases in a
            sentence by entering text or selecting from a dropdown list.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Free text answer</h3>
          <p>A manually graded assessment type that requires a student to enter a free text answer to a
            question. Grading is done from the teacher dashboard.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Manual grading</h3>
          <p>Allows a teacher to review a project assignment and assign a manual grade. See below for
            additional related features.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Grading rubric</h3>
          <p>A user definable two dimensional matrix with grading criteria on the side and scores across
            the top. Weighting can be applied to both axes. This can be displayed during the manual grading
            process as a reference or can be clicked in to automatically calculate the grade.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Grading moderation</h3>
          <p>Secondary faculty members can review the grading and assign a parallel grade. These grades can be reviewed to ensure grading consistency.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Grade -> LMS gradebook transfer</h3>
          <p>If a class is LMS enabled, grades (auto graded and manual) can be transferred back to the
            LMS gradebook for the matching unit.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Releasing grades</h3>
          <p>By default, grades are not shown to students or passed to an LMS platform. Releasing grades
            ensures that all grades are shown only when the teacher is ready.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>End of coding assignment auto grading</h3>
          <p>Run an auto grading script when the student has completed the assignment unit. It can also
            be triggered manually by the teacher to process an entire class.</p>
        </div>
      </div>
    </div>
    <div id="lms" class="tab-pane fade">
      <h2>LMS</h2>
      <hr/>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Class management</h3>
          <p>Create classes of students and assign content and projects.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>LMS integration</h3>
          <p>Although Codio is a superb LMS for coding in its own right, we appreciate the need to
            integrate with LMS platforms. Our LTI integration gives your LMS full control and covers
            account creation, single sign on, LMS unit mapping and grade passthrough.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Adding students</h3>
          <p>You can add students to your class using either an invitation URL or using your LMS. No need
            to deal with complex exports and imports.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Adding content</h3>
          <p>You can assign any server, project or piece of tutorial content to your class with just a
            couple of clicks. Each student will instantly have their own cloned copy to work with exactly
            as you configured it.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Teaching assistants</h3>
          <p>You can add any number of teaching assistants to a class so they can help reviewing student
            code, grading and other tasks.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Class dashboard</h3>
          <p>Our dashboard allows you to monitor all aspects of student progress. You can see time spent,
            unit scores and scores for individual assessments.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>CSV export</h3>
          <p>You are able to export all class data to a CSV file.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Instant access to student code</h3>
          <p>This is one of Codio’s most beloved features. With a single click, you can instantly access
            any student’s code. You have full access to the project, so you can review, compile, run and
            grade the students work. It spells an end to emailing or painful aggregation of student code.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Plagiarism detection</h3>
          <p>Our plagiarism detection capability was specially developed at Princeton University to ensure
            the best possible results for student programming assignments. Detection is launched across all
            students with a single click. No need to painstakingly aggregate code to upload it for processing.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Pin unit</h3>
          <p>Allows you to pin a unit of teaching content to the top of the student dashboard for easy location.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Controlled assessments</h3>
          <p>Specify a start and end date and time for a teaching unit. The unit will not be accessible
            outside these times. Auto grading scripts can be automatically triggered upon completion.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Grading rubric mapping</h3>
          <p>Map a grading rubric to a teaching unit to support manual grading.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Gigabox assignment</h3>
          <p>Specify that a Gigabox (larger memory allocation) should be used for a given unit.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Release grades</h3>
          <p>Allows a teacher to release grades to the students and to an LMS platform.</p>
        </div>
      </div>
    </div>
    <div id="curriculum" class="tab-pane fade">
      <h2>Curriculum Authoring</h2>
      <hr/>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Codio Guides</h3>
          <p>A content and curriculum authoring tool that controls the IDE as a student navigates through
            the content.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Assessment creation</h3>
          <p>All assessment types are authored in Guides. See above section for a complete list of assessment types.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Curriculum course management</h3>
          <p>A course is comprised of teaching assignment units that are organized into a simple hierarchy.
            Course materials can be assigned to a class.</p>
        </div>
      </div>
    </div>
    <div id="templating" class="tab-pane fade">
      <h2>Templating</h2>
      <hr/>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Stacks</h3>
          <p>A template library that allows a snapshot to be taken of an underlying server configuration
            for any project. The snapshot can then be applied to new projects or replace the stack on an
            existing one.</p>
        </div>
      </div>
      <div class="row">
        <div class="line"><div class="dot"></div></div>
        <div class="text">
          <h3>Starter Packs</h3>
          <p>A combination of a Stack (see above) and code. Most often used as a way of providing
            students instant access to a working project as a suitable starting point for the remainder
            of a coding exercise.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Start Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
</section>
