---
title: Technical Specifications
description:
---

<section class="content-body">
  <aside class="specs-side-navigation">
    <ul class="nav nav-pills">
      <li class="active item">
        <div class="">
          <a href="#infrastructure" data-toggle="pill"><span>Infrastructure</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#ide" data-toggle="pill"><span>Online IDE</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#grading" data-toggle="pill"><span>Grading & Auto-Grading</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#lms" data-toggle="pill"><span>LMS</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#curriculum" data-toggle="pill"><span>Curriculum Authoring</span></a>
        </div>
      </li>
      <li class="item">
        <div class="">
          <a href="#templating" data-toggle="pill"><span>Templating</span></a>
        </div>
      </li>
    </ul>
  </aside>

  <div class="specs-body tab-content">
    <div id="infrastructure" class="tab-pane fade in active">
      <h2>Infrastructure</h2>
      <hr/>
      <h3>Unlimited Ubuntu servers</h3>
      <p>A full working Ubuntu servers that starts in a couple of seconds. Each user can have any number of servers.</p>
      <h3>Sudo privileges</h3>
      <p>You can install any programming language, database or component just like you can on a regual machine.</p>
      <h3>512KB thru 2GB RAM</h3>
      <p>Our default memory allocation is fine for 99% of use cases. However, if you need more of memory hungry applications,
        you've got it.</p>
      <h3>Storage</h3>
      <p>Each project can have up to 5GB of storage space with more available on request.</p>
      <h3>GUI Applications</h3>
      <p>Teaching GUI based application development works perfectly with the Virtual Desktop.</p>
      <h3>Scaling</h3>
      <p>The Codio infrastructure serves every student in every state and country, so we are constantly
        dealing with very large numbers of users already and more and more every day.</p>
      <h3>Always On Boxes</h3>
      <p>Codio servers automatically shut down when they are not in use and start on demand in a
        couple of seconds. If you don't want your server to shut down when not in use, you can use
        our optional Always On Box allocation.</p>
    </div>
    <div id="ide" class="tab-pane fade">
      <h2>Online IDE</h2>
      <hr/>
      <h3>Any modern browser</h3>
      <p>Runs on all modern browsers including Chrome, Firefox, IE, Edge, Safari etc.</p>
      <h3>Multiple code panels</h3>
      <p>Like most powerful IDEs, you can create and destroy panels for code editing, terminal
        access and web page previews.</p>
      <h3>Command line access</h3>
      <p>Terminal window providing access to the command line with sudo level privileges.</p>
      <h3>Debugger</h3>
      <p>Full visual debugger with support for Java, C, C++ and NodeJS. Other languages can be added on request.</p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
      <h3></h3>
      <p></p>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Start Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
</section>
