---
title: "Project templates"
---
<% @pricingType = "university" %>
<% @signupUrl = "/p/free-education-trial" %>

<section class="features-body">

  <section class='section top'>
    <h1>
      Project templates
    </h1>
    <p>
      Codio works with a series of templates, or Codio
      stacks. You can use our pre-configured stacks or
      create your own. This template approach makes
      Codio easy to use, configure and adapt.
    </p>
    <p>
      Codio's templates deliver fully preconfigured servers in less than 5 seconds, no matter how complex the configuration.
    </p>
    <div class="action-buttons animated fadeInUp">
      <%= link_to 'Free 30 day trial', '/p/free-education-trial', class: 'button button-xlarge button-main' %>
    </div>
  </section>

  <div class="grey">
    <div class="section showcase">
      <div class="section-body">
        <%= inline_svg "assets/features/templates.svg", class: "" %>
      </div>
    </div>
  </div>

  <div class="section full-width section-center">
    <div class="section-block">
      <h3 class="section-block-header">
        Understanding stacks
      </h3>
      <div class="section-block-copy">
        <p>
          Stacks are simply Codio boxes that have the base software
          components installed and are fully configured. You simply take a
          snapshot of the box contents to save it as a stack. With one click,
          it's ready for your students to use.
        </p>
        <p>
          Codio comes with a number of stacks pre-loaded. You can create
          your own stacks, from scratch or by adapting an existing stack, to
          suit the specific needs of your courses.
        </p>
      </div>
    </div>
  </div>

  <div class="grey-top">
    <div class="section full-width section-center">
      <div class="section-block">
        <h3 class="section-block-header">
          Starter packs
        </h3>
        <div class="section-block-copy">
          Starter packs help your students get started in seconds. They are
          fully templated projects with source code, pre-installed languages,
          databases and any other components. So you can instantly create
          projects which are ready to edit, compile and run.
        </div>
      </div>
    </div>
  </div>
  <div class="grey-top">
    <div class="section quote">
      <div class="section-block">
        <div class="left-quote">
          &ldquo;
        </div>
        <div class="section-block-copy">
          Coding in the cloud is great because it enables young people
          to take the work they learn in school and continue it at home
          or anywhere around the world.
        </div>
        <div class="right-quote">
          &rdquo;
        </div>
      </div>
      <div class="teacher">
        <div class="profile man-young-white">
          <%= inline_svg "assets/features/quotes/man-young-white.svg", class: "" %>
        </div>
        <div class="copy">
          <h4>Mark Martin</h4>
          <p>
            Urban Teacher TV<br />
            Blogger and Computing Teacher<br />
            London, UK
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= partial "features-call-to-action" %>
</section>
