<section id="access">
	<div class="container">
		<div>
	    <div>
				<h2>Accessing Student Code</h2>
				<p>Codio lets teachers access any student's code with a button click. Even better, you can run their code, front-end or back-end, exactly the way they do.</p>
        <p>And when it's time to Grade an assignment, Codio let's you jump right in, review then record the grade.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %></p>
        <iframe src="https://player.vimeo.com/video/95781101?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
		</div>
	</div>
</section>