<section id="annotations">
	<div class="container">
		<div>
	    <div>
				<h2>Annotations</h2>
				<p>Annotations is a fantastic way of adding instructional content to your Assignments, or any Codio project for that matter.</p>
        <p>Take a look at this video to show you how it works.</p>
			<div class="links-big">
				<%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>
			</div>
		</div>
	</div>
