<section id="annotations">
	<div class="container">
		<div>
	    <div>
				<h2>Annotations &amp; Tutorials</h2>
				<p>Annotations is a fantastic way of adding instructional content to your Assignments, or any Codio project for that matter.</p>
   			<p class="links-big">
          <%= link_to '<i class="icon-thumbs-up"></i> Tutorials Video', '/features' %>
          <%= link_to '<i class="icon-thumbs-up"></i> Annotations Video', '/features' %>
        </p>
        <iframe src="https://player.vimeo.com/video/95781101?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
		</div>
	</div>
</section>