<section id="classes">
	<div class="container">
		<div>
	    <div>
				<h2>Classes</h2>
				<p>You can create classes from Students within your Organization. You can then hand out coding Assignments to a class and jump from the Class list right into a Student's code.</p>
      </div>
			<div class="links-big">
				<%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>
			</div>
		</div>
	</div>
</section>