<section id="classes">
	<div class="container">
		<div>
	    <div>
				<h2>Classes</h2>
				<p>You can create classes from Students within your Organization. You can then hand out coding Assignments to a class and jump from the Class list right into a Student's code.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %></p>
      </div>
      <div>
        <iframe src="https://player.vimeo.com/video/96415785?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
		</div>
	</div>
</section>