<section id="cloning">
	<div class="container">
		<div>
	    <div>
				<h2>Clonable Boxes</h2>
				<p>A really powerful feature for teachers teaching back-end code is 'Clonable Boxes'. You can install and configure databases, web servers and many other components using Codio Box Parts. You can then get them all fully set up with your projecy, so when you're ready for a student to use them, the actual back-end is cloned and fully configured for your students, so they won't have to spend hours setting them up (unless you want them to).</p>
        
        
        <p class="links-big">
          
          <%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>

        </p>
      </div>
		</div>
	</div>
</section>