<section id="courses">
	<div class="container">
		<div>
	    <div>
				<h2>Courses</h2>
				<p>You can create a coding Course with Codio. Within a Course you add any number of Assignments, each of which is a regular Codio project. These can even be private to an Organization or made public to support Codio's crowdsourcing initiative.</p>
        <p>Your Assignments can contain regular code as well as using Codio's Markdown and Annotations features for providing clear instructions to students.</p>
   			<p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %></p>
      </div>
		</div>
	</div>
</section>