<div id="crowdsourcing">
  <div>
    <h2>Crowd & Open Source Teaching</h2>
    <p>The Codio platform with its education features offers a Crowd/Open sourced approach to teaching coding.</p>
    <p>Teachers can find and use courses created by others. We promote a standard Creative Commons license so you can not only use but also modify them.</p>
  </div>
</div>