<section id="edu-ide">
	<div class="container">
		<div>     
	    <div>
				<h2>Codio IDE</h2>
				<p>The Codio IDE is full-featured yet incredibly easy to use for students.</p>
        <p>Not only can you and your students access everything from any browser, but you have the web's best IDE at your fingertips</p>
        <p class="button-blue"><%= link_to '> IDE Features', '/features' %></p>
      </div>
      <div>
        <%= image_tag 'home/screens/edu-ide.png' %>
      </div>

		</div>
	</div>
</section>