<section id="frontback">
  <div class="container">
    <div>
      <div>
        <h2>Teachers</h2>
        <p>An easy-to-use professional grade web-based Integrated Development Environment (IDE) for teaching students to code. We've also got great teacher/student administration support and features for classes, courses, assignments and student code access.</p>
        <p><strong>If you would like to join our beta program, please email <%= link_to 'fmay@codio.com', 'mailto:fmay@codio.com?subject=Codio%20Education%20Beta&body=Please%20add%20me%20to%20the%20Codio%20Education%20beta.' %>.</strong></p>
      </div>

      <div>
        <%= image_tag 'crowdsourced.png' %>
      </div>
      
   

      <div>
        <h2>Students</h2>
        <p>A wonderful web-based Integrated Development Environment (IDE)  that you can use for coding at school, home or your grandma's. It's great for newbies and great for pros, too. No set up required on PCs or Macs.</p>
      </div>

    </div>
  </div>
</section>