<section id="frontback-edu">
  <div class="container">
    <div>
      <div>
        <h2>Teachers</h2>
        <p>A full-powered Web IDE plus a back-end server for each and every code project. Powerful admin features let you manage coding courses and classes of students, with instant access to student code.</p>
      </div>

      <div>
        <h2>Students</h2>
        <p>A wonderful web-based Integrated Development Environment (IDE) that students can use at school, home or grandma's. Being web-based, there's nothing to install, it can run anywhere and it's very friendly.</p>
      </div>

      <div>        
          <%= link_to('> Get Started Now', "#get-started", :class=>"button-red") %>
      </div>

    </div>
  </div>
</section>