<section id="frontback">
  <div class="container">
    <div>
      <div>
        <h2>Teachers</h2>
        <p>An easy-to-use professional grade web-based Integrated Development Environment (IDE) for teaching students to code. We've also got great teacher/student administration support and features for classes, courses, assignments and student code access.</p>
      </div>

      <div>
        <h2>Students</h2>
        <p>A wonderful web-based Integrated Development Environment (IDE)  that you can use for coding at school, home or your grandma's. It's great for newbies and great for pros, too. No set up required on PCs or Macs.</p>
      </div>

      <div>
        <p class="button-red">
          <%= link_to("> Get Started Now", "#get-started") %>
        </p>
      </div>


    </div>
  </div>
</section>