<section id="frontback">
  <div class="container">
    <div>
      <div>
        <h2>Teachers</h2>
        <p>A Professional grade Web IDE that's still really easy for students. We've also got great teacher/student administration support and features for classes, courses, assignments and student code access.</p>
        <p><strong>If you would like to join our beta program, please email <%= link_to 'fmay@codio.com', 'mailto:fmay@codio.com?subject=Codio%20Education%20Beta&body=Please%20add%20me%20to%20the%20Codio%20Education%20beta.' %>.</strong></p>
      </div>

      <div>
        <%= image_tag 'crowdsourced.png' %>
      </div>
      
   

      <div>
        <h2>Students</h2>
        <p>A wonderful Web IDE that you can use without any setup on any PC or Mac, from school, home or your grandma's. It's great for Newbies and great for Pros, too.</p>
      </div>

    </div>
  </div>
</section>