<section id="frontback">
  <div class="container">
    <div>
      <div>
        <h2>Teachers</h2>
        <p>A Professional grade Web IDE that's still really easy for students. We've also got great teacher/student administration support and features for classes, courses, assignments and student code access.</p>
      </div>

      <div>
        <%= link_to(image_tag('home/white-paper.png'), "/white-paper") %>
        <%= link_to(image_tag('home/beta-signup.png'), "/edubeta") %>
      </div>

      <div>
        <h2>Students</h2>
        <p>A wonderful Web IDE that you can use without any setup on any PC or Mac, from school, home or your grandma's. It's great for Newbies and great for Pros, too.</p>
      </div>
    </div>
  </div>
</section>