<a name='get-started'></a>
<section id="get-started">
	<div class="container">
		<div>    
      <div>
        <%= image_tag 'home/screens/power-button.png' %>
      </div>       
	    <div>
				<h2>Get Started</h2>
				<p>Getting started is simple. Just follow these steps and you'll be well on your way.</p>

          <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Sign up to Codio', '/p/signup' %></p>
          <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Read the Education docs', '/docs/education' %></p>

        <p>If you want to create classes, then you will need a paid Organization account. If you would like a trial, please email support@codio.com.</p>

      </div>
		</div>
	</div>
</section>