<a name='get-started'></a>
<section id="get-started">
	<div class="container">
		<div>         
	    <div>
				<h2>What are you waiting for?</h2>
				<h2>Get started now!</h2>
        
        <p class="button-red"><%= link_to '> Sign up', '/p/signup' %></p>
        <p class="button-blue"><%= link_to '> Read the Docs', '/docs/education' %></p>

        <p>If you want to create classes, then you will need a paid Organization account.</p>        
        <p>If you would like an Education trial, please <a href="mailto:support@codio.com?subject=Codio Education Trial&body=Please send me information about a Codio Education Trial.">support@codio.com</a></p>

      </div>
		</div>
	</div>
</section>