<section id="guides">
	<div class="container">
		<div>
	    <div>
				<h2>Codio Guides</h2>
				<p>Codio guides let you create rich tutorial and instructional content for your students.</p>
        <p>Author your content in simple markdown so students can navigate step by step in the Guide window, while coding away in another window.</p>
   			<p class="links-big">
          <%= link_to '<i class="icon-thumbs-up"></i> Codio Guides in the docs', '/docs/education/teachers/guides/' %><br>
        </p>
      </div>
      <div>
        <%= image_tag 'home/screens/guides.png' %>
      </div>   
		</div>
	</div>
</section>