<section id="guides">
	<div class="container">
		<div>
	    <div>
				<h2>Guides</h2>
				<p>Codio guides let you create rich tutorial and instructional content for your students.</p>
        <p>Author your content in simple markdown so students can navigate step by step in the Guide window, while coding away in another window.</p>
   	
          <%= link_to '> Documentation', '/docs/education/teachers/guides/', :class=>"button-blue" %>
        
      </div>
      <div>
				<iframe src="https://player.vimeo.com/video/105219223?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>   
		</div>
	</div>
</section>