<header>
  <div class="container">

    <h1>
      <span>a</span>
      <span>PARADISE</span>
      <span>for</span>
      <span id="header-teachers">TEACHERS</span>
      <span id="header-teaching">TEACHING</span>
      <span>TO CODE</span>
    </h1>

    <div>
      <p>A web based, integrated<br>software development environment<br>for <strong>Teachers</strong> and <strong>Students</strong></p>
    </div>
 
  </div>
</header>