<header>
  <div class="container">

    <div id="tagline">
      <h1>
        <span>PARADISE</span>
        <span>FOR TEACHERS</span>
        <span>TEACHING CODING</span>
      </h1>

      <div>
        <p>A glorious coding platform for <strong>Teachers</strong> and <strong>Students</strong></p>
      </div>
    </div>

    <div id="screen">
      <a href="#overview" class="icon-play-circle" id="video"></a>
    </div>
 
  </div>
</header>