<header>
  <div class="container">

    <h1>
      <span>a</span>
      <span>PARADISE</span>
      <span>for</span>
      <span id="header-teachers"><strong></strong>TEACHERS<strong></strong></span>
      <span id="header-teaching">TEACHING</span>
      <span>to code</span>
    </h1>

    <div>
      <p>A web based, integrated<br>software development environment<br>for <strong>TEACHERS</strong> and <strong>STUDENTS</strong></p>
    </div>
    
  </div>
</header>