<header>
  <div class="container">

    
    <div class="clearfix">
      <div>
        <%= image_tag 'home/screens/education-logo-white.png' %>
      </div>
      <div>
        A web based coding platform<br>for <strong>TEACHERS</strong> and <strong>STUDENTS</strong>
      </div>
    </div>
    
  </div>
</header>