<section id="instantaccess">
	<div class="container">
		<div>     
	    <div>
				<h2>Instant access from any browser</h2>
				<p>Getting all your students' PCs and Macs set up correctly ready for the first line of code can be a nightmare and can take hours or weeks.</p>
        <p>Codio's Web IDE completely eradicates setup woes so you can teach on day one.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> IDE Features Overview', '/features' %></p>
      </div>
      <div>
        <iframe src="https://player.vimeo.com/video/96823794?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>        
      </div> 
		</div>
	</div>
</section>