<section id="linksection">
  <div class="container">
    <div>
      
      <div>
        <span class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Watch the Overview Video', '/features' %></span>
        <span class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Read the Documentation', '/features' %></span>
      </div>
      <div>
        <span class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Signup for Codio', '/features' %><//span>
        <span class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Pricing', '/features' %><//span>
      </div>

    </div>
  </div>
</section>