<section id="lingos">
	<div class="container">
		<div>
	    <div>
				<h2>Programming Languages</h2>
				<p>There is almost no limit to the languages you can teach.</p>
        <p>On the front-end we have everything you need for HTML, CSS and Javascript. Coffeescript, Stylus, Jade etc. are also fully supported.</p>
        <p>On the back-end we have out-of-the-box support for NodeJS, Ruby, PHP, Java, C, C++, through to more exotic languages such as Go, Haskell, Ocaml, Scala and many more.</p>
        <p>Databases and many other server-side components are also available and, thanks to Codio Boxparts, we can also add out-of-the-box support for pretty well anything else.</p>
        
        
        <p class="links-big">
          
          <%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>

        </p>
      </div>
		</div>
	</div>
</section>