<section id="lingos">
	<div class="container">
		<div>
	    <div>
				<h2>Languages &amp; Databases</h2>
				<p>HTML, CSS, Coffeescript and more at the front-end and out-of-the-box support for NodeJS, Ruby, PHP, Java, C, C++, through to more exotic languages such as Go, Haskell, Ocaml, Scala and many more using Codio Box Parts.</p>
        <p>Databases and many other server-side components are also available and, thanks to Codio Boxparts, we can also add out-of-the-box support for pretty well anything else.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %></p>
      </div>
      <iframe src="https://player.vimeo.com/video/96835100?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</section>