<section id="organizations">
	<div class="container">
		<div>
	    <div>
				<h2>Organizations</h2>
				<p>Codio lets you manage an entire department or organization. Once a Student or Teacher is signed up to Codio, you can add them into the organization.</p>
        <p>Codio has predefined Teacher and Student groups within an Organization, but you are free to create addtional groups.</p>
      </div>
			<div class="links-big">
				<%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>
			</div>
		</div>
	</div>
</section>