<section id="os-content">
	<div class="container">
		<div>    
      <div>
        <%= image_tag 'crowdsourced.png' %>
      </div>      
	    <div>
				<h2>Open Sourced Teaching Content</h2>
				<p>Thanks to Codio's 'Public Courses' you can create and consume teaching content that can be used by anyone in the world.</p>
        <p>If you find a course that you like you can either use it directly or fork the modules into your own account and modify it further.</p>
        <p class="button-blue"><%= link_to '> Documentation', '/docs/education/teachers/courses/course-public/' %></p>
      </div>
		</div>
	</div>
</section>