<section id="os-content">
	<div class="container">
		<div>    
      <div>
        <%= image_tag 'crowdsourced.png' %>
      </div>      
	    <div>
				<h2>Open Sourced Teaching Content</h2>
				<p>'Public Courses' is a feature that promotes an Open Source approach to teaching coding globally.</p>
        <p>Create your own courses but you can also copy public courses into your own account and use or modify freely.</p>
        <%= link_to '> Documentation', '/docs/education/teachers/courses/course-public/', :class=>"button-blue" %>
      </div>
		</div>
	</div>
</section>