<section id="pricing">
	<div class="container">
		<div>
	    <div>
				<h2>Pricing</h2>
				<p>Codio Education is free while in Beta, so sign up for a free organization account.</p>
        <p>You can get started for free and see how easy Codio is to use for regular projects. Once you're familiar with Codio upi can simply move on to our education features and request a free trial or our class management features.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Codio pricing page', '/pricing' %></p>
      </div>
		</div>
	</div>
</section>