<section id="boxes">
	<div class="container">
		<div>
	    <div>
				<h2>No More Stack Hell</h2>
				<p>You've got a class of 20 students, each with a differently configured PC, Mac or even Linux box. You might also have classroom PCs, which are often wiped clean regularly. You can spend days or weeks getting students set up before they can write their first line of code.</p>
        <p>Next, you have to think about installing IDEs, databases, choosing servers .... the list goes on.</p>
        <p>That's Stack Hell. With Codio, all these problems disappear. Codio is a professional grade Web IDE that can be used by any teacher and any student, wherever they are, whenever they like.</p>
			<div class="links-big">
				<%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %>
			</div>
		</div>
	</div>
</section>