<section id="boxes">
	<div class="container">
		<div>
	    <div>
				<h2>Stack Hell to Stack Heaven</h2>
				<p>Stack Hell is when a teacher has to spend days or weeks setting up and configuring all their students' PCs and Macs before they can write a single line of code.</p>
        <p>Stack Heaven is the way Codio instantly eradicates all this and even helps you out with databases, web servers, programming languages etc.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %></p>
      </div>
		</div>
	</div>
</section>