<section id="boxes">
	<div class="container">
		<div>
	    <div>
				<h2>No More Stack Hell</h2>
				<p>Most teachers know you can spend days or weeks getting students set up before they can write their first line of code. Students come with PCs, Macs and even Linux boxes, each of which has a different OS and other oddities. Codio takes you from Stack Hell to Stack Heaven.</p>
        <p>With IDE choice out the way you'll also be delighted to discover that Codio also helps you out with databases, web servers, programming languages and any other system components you might need.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Features Overview', '/features' %></p>
      </div>
		</div>
	</div>
</section>