<section id="starting">
	<div class="container">
		<div>
	    <div>
				<h2>Getting Started</h2>
				<p>If you're ready to get started, just sign up for a Codio account and you're ready to go. It's completely free!</p>
        <p>Once you're signed up, head to our documentation section where you'll find what you need to get you going.</p>
        <p class="links-big"><%= link_to '<i class="icon-thumbs-up"></i> Codio Education Documentation', '/education' %></p>
      </div>
		</div>
	</div>
</section>