<section id="videos">
	<div class="container">

		<div>
			<div>
        <h3>Videos</h3>

        <ul>
          <li class="active">
            <span>Quick overview</span>
            <a href="#85953159" id="nodejs-select">NodeJS</a>
          </li>          
          <li>
            <span>Courses and Modules</span>
            <a href="#85953159" id="nodejs-select">NodeJS</a>
          </li>
          <li>
            <span>Classes and student code access</span>
            <a href="#85998845" id="ruby-select">Ruby</a>
          </li>
          <li>
            <span>What the student sees</span>
            <a href="#86028855" id="php-select">PHP</a>
          </li>
        </ul>
      </div>
      <div>

				<iframe src="https://player.vimeo.com/video/85953159?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


      </div>
		</div>
	</div>
</section>
