<section id="videos">
	<div class="container">

		<div>
			<div>
        <h3>Quick Start</h3>
        <h4>Watch this video for an overview of Codio's Education features.</h4>
        <p><%= link_to("> Get Started Now", "#get-started") %></p>
      </div>
      <div>
				<iframe src="https://player.vimeo.com/video/102932292?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
		</div>
	</div>
</section>
