// Fonts
$brandon: 'brandon-grotesque', sans-serif;
$source-code: 'source-code-pro', 'Menlo', 'Courier', monospace;

// Typography
$base-font-family: $brandon;
$heading-font-family: $base-font-family;
$mono-font-family: $source-code;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #5988e1;
$dark-gray: #212c3f;
$medium-gray: #29374e;
$light-gray: #a8b2c4;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
