---
title: Our Mission
description: Codio's mission is to support computer science educators by providing the technology platform needed for the classroom. We support activity-based, blended learning and flipped classroom styles of teaching.
fixed: true
---

<div class="header-block vertical">
  <div class="header-container">
    <h2>
      We are the Cloud Infrastructure and LMS for Computer Science<br/>
      and STEM education
    </h2>
  </div>
</div>

<div class="mission-section">

  <div class="mission-header">
    <%= image_tag 'assets/mission/flag.svg', alt: 'Our Mission' %>

    <h2>Our Mission</h2>
  </div>

  <p>
    Globally, education systems are embracing Computer Science as
    "the 4<sup>th</sup> science" &mdash; recognising the vital role it plays in 21<sup>st</sup>
    century life and employment.  The skills gap is already severe and widely
    acknowledged, and on a broader scale, governments are intervening to safeguard
    the future employment prospects of their labour forces and the competitiveness of
    their economies, for investment and job creation, in a global marketplace.
  </p>
  <p>
    We believe that the theory and practice of Computer science needn't be mutually
    exclusive &mdash; that new technology can enhance and improve the teaching of core
    computational thinking skills and their practical creative expression in programming.
  </p>
  <p>
    Created originally to take the pain out of teaching computer programming, Codio's
    mission is to deliver a teaching and learning experience that stimulates this creative
    potential in every student, developing the next generation of creators and not just
    consumers.
  </p>
  <p>
    That's why we empower teachers and students with the technology and learning resources
    needed to succeed.
  </p>
  <p>
    By embracing the ideas that students and teachers are individuals, teaching styles
    differ and students advance at their own pace, Codio enables teachers and lecturers
    to support and coach students to better outcomes, and self-learners to master skills
    at their own pace.
  </p>
  <p>
    We plan to apply the Codio technology and learning experience to other subjects in the future.
  </p>
</div>
