// Homepage content
// =================================================================================================

section#content {
  padding: 0 25px;
  font-family: 'museo_sans_rounded_300regular';

  // The tracking dots (disabled for now)
  // .track {
  //   display: none;
  //   position: relative;

  //   &:first-child {
  //     left: 476px;
  //     top: -50px;
  //   }

  //   div {
  //     width: 10px;
  //     height: 10px;
  //     padding: 0;
  //     margin: 0;
  //     background-image: -moz-radial-gradient(center center, circle cover, #bbb, transparent 5px);
  //     background-image: -webkit-radial-gradient(center center, circle cover, #bbb, transparent 5px);
  //     background-image: -o-radial-gradient(center center, circle cover, #bbb, transparent 5px);
  //     background-image: -ms-radial-gradient(center center, circle cover, #bbb, transparent 5px);
  //     background-image: radial-gradient(center center, circle cover, #bbb, transparent 5px);
  //     background-size: 10px 10px;

  //     &:nth-child(2) {
  //       left: 8px;
  //     }
  //     &:nth-child(3) {
  //       left: 16px;
  //     }
  //   }
  // }

  .feature {
    font-size: 16px;
    line-height: 1.5em;
    margin: 5px 0 20px;
    @include apply-to(more-than, ipad-portrait) {
      margin: 50px 0 60px;
    }
    @include apply-to(more-than, ipad-landscape) {
      font-size: 18px;
      line-height: 1.6em;
    }

    h2 {
      font: 28px gotham_mediumregular;
      text-transform: uppercase;
      margin-bottom: 10px;
      @include apply-to(more-than, ipad-landscape) {
        font-size: 42px;
        margin-bottom: 20px;
      }
    }
    p {
      margin: 0;
    }

    div {
      @include apply-to(more-than, ipad-portrait) {
        float: left;
        width: 50%;
        img {
          max-width: 90%;
        }
      }
    }

    // Features Current
    &:nth-child(1) {
      div:first-child {
        display: none;
        @include apply-to(more-than, ipad-portrait) {
          display: block;
        }
      }

      strong {
        line-height: 1em;
        font-size: 30px;
        color: $blue;
        display: block;

        @include apply-to(more-than, ipad-landscape) {
          font-size: 60px;
        }
      }
    }

    // Features coming soon
    &:nth-child(2) {
      div:last-child {
        display: none;

        @include apply-to(more-than, ipad-portrait) {
          display: block;
          text-align: right;
          margin-top: 20px;
        }
      }
    }

    // Benefits
    &:nth-child(3) {
      div:first-child {
        display: none;

        @include apply-to(more-than, ipad-portrait) {
          display: block;
          img {
            max-width: 85%;
          }
        }
      }

      div:last-child {
        margin-top: 20px;
      }
    }

    // Examples
    &:nth-child(4) {
      div:last-child {
        display: none;

        @include apply-to(more-than, ipad-portrait) {
          display: block;
          text-align: right;
          img {
            max-width: 80%;
          }
        }
      }
    }

    // Feature 5 - You’d be crazy to go Native!
    &:nth-child(5) {
      div:first-child {
        float: left;
        @include apply-to(more-than, ipad-portrait) {
          float: right;
          width: 45%;
        }
      }
      div:last-child {
        float: left;
        margin-top: 40px;

        article {
          display: table;
          border: 1px solid #CCC;
          border-radius: 6px;
          padding: 10px;
          font-size: 14px;

          @include apply-to(more-than, ipad-portrait) {
            margin-right: 60px;
            padding: 30px;
          }

          h2 {
            font-size: 18px;
            margin: 0 0 16px;
            color: #666;
          }
          h3 {
            margin: 10px 0 12px;
            line-height: 1.2em;
            font-size: 18px;

            @include apply-to(more-than, ipad-landscape) {
              font-size: 22px;
            }
          }
          p {
            line-height: 1.4em;
            a {
              font-size: 13px;
            }
          }
        }

        @include apply-to(more-than, ipad-portrait) {
          margin-top: 30px;
          float: right;
          width: 55%;
        }
        @include apply-to(more-than, ipad-landscape) {
          margin-top: 40px;
        }
      }
    }

  }
}