@import 'lib/carousel';

header {
  background: #666 image-url('bgcloth.png') repeat;
  padding: 10px 0 20px;

  @include apply-to(more-than, ipad-portrait) {
    padding: 50px 0;
  }

  section {
    height: 425px;
    @include apply-to(more-than, iphone-landscape) {
      height: 640px;
    }
    @include apply-to(more-than, ipad-portrait) {
      height: 314px;
    }
    @include apply-to(more-than, ipad-landscape) {
      height: 340px;
    }

    > div {
      text-align: center;

      @include apply-to(more-than, ipad-portrait) {
        float: left;
      }

      p {
        color: #F8F7EF;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.7em;
        font: {
          family: 'gotham_thinregular';
          size: 14px;
        }

        @include apply-to(more-than, ipad-landscape) {
          font-size: 18px;
        }
      }

      &:first-child {

        // Flourish
        > div:nth-child(3) {
          display: none;

          @include apply-to(more-than, ipad-portrait) {
            display: block;
          }
        }

        // All lines
        div:first-child p {
          display: block;
          margin: 0;
          line-height: 1.05em;
          font: {
            family: 'gotham_mediumregular';
            size: 38px;
          }

          @include apply-to(more-than, iphone-landscape) {
            font-size: 52px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 64px;
          }
        }
      }

      // Illustration
      &:last-child {
        margin: 20px 0 0 0;

        @include apply-to(more-than, ipad-landscape) {
          margin: 0;
        }
        @include apply-to(more-than, ipad-portrait) {
          width: 36%;
        }

        img {
          max-width: 78%;
          @include apply-to(more-than, iphone-landscape) {
            max-width: 70%;
          }
          @include apply-to(more-than, ipad-portrait) {
            max-width: 80%;
          }
          @include apply-to(more-than, ipad-landscape) {
            max-width: 90%;
          }
        }
      }
    }
  }
}

// Slide1
// -------------------------------------------------------------------------------------------------
section#slide1 {
  > div {

    &:first-child {
      @include apply-to(more-than, ipad-portrait) {
        width: 56%;
      }
      @include apply-to(more-than, ipad-landscape) {
        margin-top: 10px;
        width: 60%;
        padding-right: 38px;
      }

      // Qualifing text
      div:nth-child(2) p {
        width: 320px;
        text-align: center;
        margin: 20px auto;

        @include apply-to(more-than, iphone-landscape) {
          font-size: 16px;
          margin: 14px auto;
        }
        @include apply-to(more-than, ipad-landscape) {
          width: 450px;
          margin: 25px auto;
        }
      }

      // Strapline
      div:first-child {
        img {
          margin: 0 auto;
        }


        // Line 1
        p:first-child {
          margin-bottom: 3px;
          font-size: 12px;
          line-height: 1.8em;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 12px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 24px;
          }
        }

        // Line 2
        p:nth-child(2) {
          font-size: 12px;
          line-height: 1.2em;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 12px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 44px;
          }
        }      

        // Line 3
        p:nth-child(3) {
          font-size: 12px;
          line-height: 1.2em;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 12px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 44px;
          }
        }

        // Line 4
        p:nth-child(4) {
          font-size: 12px;
          line-height: 1.2em;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 12px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 44px;
          }
        }        

        // Line 5
        p:last-child {
          font-size: 12px;
          line-height: 2.0em;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 12px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
