@import 'lib/carousel';

header {
  background: #666 image-url('bgcloth.png') repeat;
  padding: 10px 0 20px;

  @include apply-to(more-than, ipad-portrait) {
    padding: 50px 0;
  }

  section {
    height: 485px;
    @include apply-to(more-than, iphone-landscape) {
      height: 640px;
    }
    @include apply-to(more-than, ipad-portrait) {
      height: 314px;
    }
    @include apply-to(more-than, ipad-landscape) {
      height: 430px;
    }

    > div {
      text-align: center;

      @include apply-to(more-than, ipad-portrait) {
        float: left;
      }

      p {
        color: #F8F7EF;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.7em;
        font: {
          family: 'gotham_thinregular';
          size: 14px;
        }

        @include apply-to(more-than, ipad-landscape) {
          font-size: 18px;
        }
      }

      &:first-child {

        // Flourish
        > div:nth-child(3) {
          display: none;

          @include apply-to(more-than, ipad-portrait) {
            display: block;
          }
        }

        // All lines
        div:first-child p {
          display: block;
          margin: 0;
          line-height: 1.05em;
          font: {
            family: 'gotham_mediumregular';
            size: 38px;
          }

          @include apply-to(more-than, iphone-landscape) {
            font-size: 52px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 64px;
          }
        }
      }

      // Illustration
      &:last-child {
        margin: 20px 0 0 0;

        @include apply-to(more-than, ipad-landscape) {
          margin: 0;
        }
        @include apply-to(more-than, ipad-portrait) {
          width: 44%;
        }

        img {
          max-width: 78%;
          @include apply-to(more-than, iphone-landscape) {
            max-width: 70%;
          }
          @include apply-to(more-than, ipad-portrait) {
            max-width: 80%;
          }
          @include apply-to(more-than, ipad-landscape) {
            max-width: 100%;
          }
        }
      }
    }
  }
}

// Slide1
// -------------------------------------------------------------------------------------------------
section#slide1 {
  > div {

    &:first-child {
      @include apply-to(more-than, ipad-portrait) {
        width: 56%;
      }
      @include apply-to(more-than, ipad-landscape) {
        margin-top: 50px;
        width: 52%;
        padding-right: 38px;
      }

      // Qualifing text
      div:nth-child(2) p {
        width: 320px;
        text-align: center;
        margin: 20px auto;

        @include apply-to(more-than, iphone-landscape) {
          font-size: 16px;
          margin: 14px auto;
        }
        @include apply-to(more-than, ipad-landscape) {
          width: 450px;
          margin: 25px auto;
        }
      }

      // Strapline
      div:first-child {
        img {
          margin: 0 auto;
        }

        // Line 1
        p:first-child {
          margin-bottom: 3px;
          font-size: 24px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 34px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 54px;
          }
        }

        // Line 3
        p:nth-child(3) {
          font-size: 40px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 54px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 66px;
          }
        }

        // Line 4
        p:last-child {
          font-size: 24px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 30px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 40px;
          }
        }
      }
    }
  }
}

// Slide2
// -------------------------------------------------------------------------------------------------
section#slide2 {
  > div {

    &:first-child {
      @include apply-to(more-than, ipad-portrait) {
        width: 56%;
      }
      @include apply-to(more-than, ipad-landscape) {
        margin-top: 25px;
        width: 52%;
        padding-right: 38px;
      }

      // Qualifing text
      div:nth-child(2) p {
        width: 320px;
        text-align: center;
        margin: 20px auto;
        @include apply-to(more-than, iphone-landscape) {
          font-size: 16px;
          margin: 14px auto;
        }
        @include apply-to(more-than, ipad-landscape) {
          width: 450px;
          margin: 25px auto;
        }
      }

      // Strapline
      div:first-child {
        img {
          margin: 0 auto;
        }

        // Line 1
        p:first-child {
          font-size: 24px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 34px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 44px;
          }
        }

        p:nth-child(2) {
          line-height: 0.8em;
          font-size: 94px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 132px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 166px;
          }
        }

        // Line 3
        p:last-child {
          font-size: 26px;
          margin-top: 5px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 38px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 46px;
          }
        }
      }
    }
  }
}

// Slide3
// -------------------------------------------------------------------------------------------------
section#slide3 {
  > div {

    &:first-child {
      @include apply-to(more-than, ipad-portrait) {
        width: 52%;
      }
      @include apply-to(more-than, ipad-landscape) {
        margin: 25px 0;
        width: 52%;
        padding-right: 38px;
      }

      // Qualifing text
      div:nth-child(2) p {
        width: 320px;
        text-align: center;
        margin: 20px auto;
        @include apply-to(more-than, iphone-landscape) {
          font-size: 16px;
          margin: 14px auto;
        }
        @include apply-to(more-than, ipad-landscape) {
          width: 450px;
          margin: 25px auto;
        }
      }

      // Strapline
      div:first-child {
        img {
          margin: 0 auto;
        }

        // Line 1
        p:first-child {
          font-size: 22px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 34px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 44px;
          }
        }

        // Line 2
        p:nth-child(2) {
          font-size: 44px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 64px;
          }
          @include apply-to(more-than, ipad-portrait) {
            font-size: 54px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 72px;
          }
        }

        // Line 3
        p:nth-child(3) {
          font-size: 22px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 34px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 44px;
          }
        }

        // Line 4
        p:last-child {
          font-size: 42px;

          @include apply-to(more-than, iphone-landscape) {
            font-size: 62px;
          }
          @include apply-to(more-than, ipad-portrait) {
            font-size: 50px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 68px;
          }
        }
      }
    }

    &:last-child {
      img {
        max-width: 90%;

        @include apply-to(more-than, iphone-landscape) {
          max-width: 80%;
        }
        @include apply-to(more-than, ipad-portrait) {
          max-width: 100%;
        }
      }

      @include apply-to(more-than, ipad-portrait) {
        width: 366px;
        margin: 0;
      }
      @include apply-to(more-than, ipad-landscape) {
        width: 430px;
      }
    }
  }
}