---
title: Codio Blog
pageable: true
per_page: 10
layout: layout-new
---

<main>
  <%= partial "blog-header" %>

  <div class="overview">
    <div class="container">
      <%= partial "blog-sidebar" %>
    </div>
    <article>

      <%= partial "blog-articles-preview", :locals => locals %>
      <%= partial "blog-paginate", :locals => locals %>

    </article>
  </div>
</main>
