---
title: Codio Blog - Categories
pageable: true
per_page: 10
layout: layout-new
---
<main>
  <%= partial "blog-header", :locals => { :current_tag => tagname } %>

  <div class="overview">
    <div class="container">
      <%= partial "blog-sidebar", :locals => { :current_tag => tagname } %>
    </div>
    <article>

      <%= partial "blog-articles-preview", :locals => locals %>
      <%= partial "blog-paginate", :locals => locals %>

    </article>
  </div>
</main>
