&.docs main.docs-page {
  .header {
    padding-bottom: 23px;

    @include media($tablet) {
      padding-top: 60px;
    }

    @include media($notebook) {
      padding-top: 95px;
    }

    @include media($desktop) {
      padding-top: 125px;
    }

    > div {
      @include outer-container();

      > div {
        &:nth-child(1) {
          @include span-columns(2);
          text-align: center;

          @include media($tablet) {
            @include span-columns(3);
          }

          #docs-menu-toggle {
            background-image: url("../img/new/uni/hamburger.png");
            width: 44px;
            height: 34px;
            margin-left: 10px;
            cursor: pointer;

            @include media($tablet) {
              display: none;
            }
          }

          a {
            text-align: center;
            color: #fff;
            text-decoration: none;
            background-color: #307ae2;
            width: 90%;
            display: inline-block;
            font-size: 18px;
            padding: 10px 0;
            display: none;

            @include media($tablet) {
              display: inline-block;
            }

            @include media($desktop) {
              font-size: 20px;
              padding: 14px 0;
              margin-top: -7px;
            }

            &:hover {
              background-color: lighten(#307ae2, 10%);
            }
          }
        }

        &:nth-child(2) {
          @include span-columns(9);
          margin-top: 8px;

          @include media($tablet) {
            @include span-columns(6);
          }

          @include media($notebook) {
            margin-top: 0;
          }
        }

        &:nth-child(3) {
          @include span-columns(1);

          @include media($tablet) {
            @include span-columns(3);
          }

          form {
            display: none;
            top: 0;

            @include media($tablet) {
              display: block;
            }
          }
        }
      }
    }
  }

  .content {
    > div {
      @include outer-container();

      aside {
        display: none;
        margin-top: 20px;

        @include media($tablet) {
          display: block;
          @include span-columns(3);
        }

        h2 {
          margin: 20px auto;
          text-align: center;
          display: none;

          @include media($tablet) {
            display: block;
          }
        }

        h5 {
          font-size: 16px;
          font-weight: 600;
          position: relative;

          @include media($tablet) {
            font-size: 14px;
          }

          @include media($notebook) {
            font-size: 16px;
          }

          &::before {
            content: "";
            position: absolute;
            left: -15px;
            top: 1px;
            @include triangle(12px, #aaa, right);
          }

          &.active a {
            color: #4378DD;
          }

          &.active::before {
            @include triangle(12px, #aaa, down);
            top: 5px;
            left: -18px;
          }
        }

        ul a {
          color: #000;
          text-decoration: none;
          @include transition(color .1s linear);

          &:hover {
            text-decoration: none;
            color: #4378DD;
          }
        }

        > ul > li > ul {
          margin-left: 20px;
          @include transition(all .3s linear);

          > li {
            padding: 7px 0;

            > ul {
              display: none;

              &.active {
                display: inherit;
                margin-top: 10px;
              }

              > li {
                margin: 8px 0;
                font-size: 14px;

                a {
                  color: #666;
                }

                &.active a {
                  color: #4378DD;
                }
              }
            }
          }
        }

        &.open {
          display: block;

          > ul > li > ul {
            background: #ecf1f5;
            padding: 0 10px 20px 30px;
            margin: 0;

            @include media($tablet) {
              background: transparent;
              padding: 0;
              margin-left: 20px;
            }
          }
        }
      }

      article {
        padding: 50px 20px;
        line-height: 26px;

        @include media($tablet) {
          @include span-columns(9);
        }

        a {
          color: #4378DD;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        h3 {
          margin-bottom: 26px;
        }

        h2 {
          margin: 60px 0 35px;
          text-align: center;
          color: #3A7CDF;
          font-size: 24px;
          position: relative;

          &:before {
            content: "";
            display: block;
            border-top: solid 1px #ddd;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: 1;
          }

          span {
            background: #fff;
            padding: 0 20px;
            position: relative;
            z-index: 5;
          }

          a {
            color: inherit;

            &:hover {
              text-decoration: none;

              &:before {
                content: '#';
                position: relative;
                left: -24px;
                width: 0;
                display: inline-block;
                color: #aaa;
              }
            }
          }
        }

        p {
          margin-bottom: 35px;
          color: #666;

          quote {
            display: block;
            border-left: 2px solid #C7C6C5;
            padding-left: 30px;
            font-weight: normal;
          }
        }

        ul {
          list-style: initial;
          padding: 0 26px 26px;
        }

        ol {
          list-style: decimal;
          padding: 0 26px 26px;
        }

        img {
          margin: 15px 0;
          max-width: 100%;
          border: 1px solid #ddd;
          padding: 3px;
          box-shadow: 0 0px 15px #ccc;
        }

        #disqus_thread {
          margin: 0;
          padding: 2*26px 0;
          border-top: 1px solid #ECECEC;
        }
      }
    }
  }
}