$gradient: linear-gradient(to right bottom, #1570bf 50%, #59c0fe 100%);

.clear {
	clear: both;
}

body.features_curriculum .header-block {
  @include span(4);
  background-size: cover;
  background-image: $gradient;
  color: white;
  position: relative;

  @include breakpoint($break-tablet) {
    background-image: $gradient;
    background: url('/img/assets/features/curriculum/curriculum_bg_image.png') no-repeat top center fixed;
    background-color: #4574e0;
    background-size: contain;
  }

  h1 {
    margin-top: 2.5 * $base-line-height;
    font-size: 8px;
    font-weight: 300;
    text-align: center;
    animation-delay: .4s;

    @include breakpoint($break-tablet) {
      margin-top: 3.5 * $base-line-height;
      font-size: 56px;
      line-height: 64px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    text-align: center;
    font-weight: 200;
    font-size: 27px;
    animation-delay: .8s;
    margin-left: 1rem;
    margin-right: 1rem;

    @include breakpoint($break-tablet) {
      line-height: 25px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 50px 0;
    margin-bottom: 100px;
    text-align: center;

    .button.button-main {
      background-color: #f29312;
      border: 2px solid #f29312;
    }

    .button:hover {
      background-color: $lighter-orange;
      border-color: $lighter-orange;
    }

    .button.button-demo {
      background: none;
      border: 2px solid #FFFFFF;
    }

    .button.button-demo:hover {
      color: $dark-gray;
      border-color: $dark-gray;
    }

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button {
      display: block;
      padding: 0;
      width: 100%;
      line-height: 58px;
      height: 60px;

      @include breakpoint($break-tablet) {
        white-space: nowrap;
        display: inline-block;
        min-width: 230px;
        max-width: 250px;
        display: inline-block;
        height: auto;
      }

      &:first-child {
        margin-bottom: 15px;

        @include breakpoint($break-tablet) {
          margin-right: 30px;
          margin-bottom: 0;
        }
      }
    }
  }
}

body.features_curriculum .curriculum-body {
  .section.top {
    h1 {
      margin-top: 0;
    }

    p {
      font-size: 26px;
      line-height: 1.5 * $base-line-height;
    }
  }
  .section.showcase {
    padding: 0;
  }

  .grey {
    @include span(4);

    .curriculum-img {
      @include container;
      @include break;
      margin-left: auto;
      margin-right: auto;
    }

    .curriculum-content-img {
      @include container(4 of 4);
      text-align: center;

      margin: -2rem auto;

      @include breakpoint($break-tablet) {
        display: block;
        width: span(10 of 16);
        max-width: 650px;
      }
    }
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 0px 0;
    margin-bottom: 40px;
    text-align: center;

    .button.button-main {
      background-color: #f29312;
      border: 2px solid #f29312;
    }

    .button:hover {
      background-color: $lighter-orange;
      border-color: $lighter-orange;
    }

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button {
      display: block;
      padding: 0;
      width: 100%;
      line-height: 58px;
      height: 60px;

      @include breakpoint($break-tablet) {
        white-space: nowrap;
        display: inline-block;
        min-width: 230px;
        max-width: 250px;
        display: inline-block;
        height: auto;
      }

      &:first-child {
        margin-bottom: 15px;

        @include breakpoint($break-tablet) {
          margin-bottom: 0;
        }
      }
    }
  }

  .curriculum-faq {
    @include container(4 of 4);
    padding-top: 1rem;
    padding-bottom: 2rem;

    @include breakpoint($max-width) {
      max-width: $max-width;
    }
  }

  .curriculum-faq-header {
    text-align: center;

    h2 {
      font-weight: 300;
    }
  }

  .curriculum-faq-col {
    @include span(4 of 4);
    margin-top: 3rem;

    @include breakpoint($break-tablet) {
      @include span(6 of 16);
    }
  }

  .curriculum-faq-col-left {
    @include breakpoint($break-tablet) {
      margin-left: span(1.5 of 16);
      margin-right: span(.5 of 16);
    }
  }

  .curriculum-faq-col-right {
    @include breakpoint($break-tablet) {
      margin-left: span(.5 of 16);
      margin-right: span(1.5 of 16);
    }
  }

  .curriculum-faq-entry {
    @include container;

    @include breakpoint($break-tablet) {

    }

    a {
      @include linkUnderlines(white, $base-font-color);
    }
  }



  .bubble-container {
    @include container;
    @include break;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .bubble {
    @include container;
    margin-top: span(1 of 12);
    position: relative;
    width: span(12 of 12);
    min-height: 180px;
    vertical-align: middle;
    padding: 0px;
    background: #e1e6f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #e1e6f2 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -15px;
    left: 50%;
  }

  .vertical {
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
  }

  .bubble-section.quote {

    @include breakpoint($break-tablet) {
      padding-top: 2rem;
    }

    .section-header {
      text-align: center;
    }

    .section-block {
      width:100%;
      margin: 0;
      color: #999ca2;
      font-size: 1.3rem;
      line-height: 2rem;
      display: flex;
      padding-left: 1rem;
      padding-top: 1rem;

      @include breakpoint($break-tablet) {
        text-align: center;
        font-size: 1.3rem;
        line-height: 2rem;
      }

      .section-block-copy {
        padding-bottom: 1rem;

        @include breakpoint($break-tablet) {
          float: left;
          padding: 0 span(1 of 32);
          padding-bottom: 1rem;
          width: span(28 of 32);
          vertical-align: middle;
        }
      }

      .left-quote, .right-quote {
        display: none;

        @include breakpoint($break-tablet) {
          width: span(1 of 32);
          display: block;
          line-height: 100%;
          font-size: 4rem;
          font-weight: 400;
          color: #000;
          text-align: center;
          display: flex;
          align-items: center;
        }
      }

      .left-quote {
        @include breakpoint($break-tablet) {
          float: left;
        }
      }

      .right-quote {
        @include breakpoint($break-tablet) {
          float: right;
          text-align: right;
        }
      }
    }

    .teacher {

      .link {
        text-align: left;
        font-weight: 400;
      }

      margin-top: 20px;

      @include breakpoint($break-tablet) {
        margin: 30px auto;
        width: 440px;
        min-height: 150px;
      }

      .profile {
        display: block;
        border-radius:50%;
        border: 2px solid;
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 25px;
        margin-top: 10px;
        padding-right: 10px;
      }

      .copy {
        width: 300px;
        float: left;
        margin-top: 10px;
      }

      h4 {
        text-align: left;
        margin-top: 0;
      }

      p {
        text-align: left;
      }

      svg {
        display: inline-block;
        width: 70px;
        padding-top: 8px;
        text-align: center;
        align-items: center;
        margin-left: 10px;
      }

      .profile-img {
        padding-top: 8px;
        text-align: center;
        margin-left: 10px;
      }

    }
  }
}