body.features_grading {
	.content-body {
		.features-block {
			.features-row {
        height: 700px;
        @include breakpoint($break-tablet) {
				  min-height: 448px;
        }
			}

      .line-mobile {
        .bottom {
          height: 695px !important;
        }
      }
		}
	}
}
