body.features_ide {
  .content {
    margin: 0 auto;
    max-width: 100%;
  }

	.header-block {
		width: 100%;
  	height: 36vw;
  	position: relative;
  	text-align: center;
  	background-size: cover;
  	background-image: url('/img/assets/index/blocks/sharpen-your-tool-box.jpg');

  	.title {
  		height: 100%;
  		font-size: 4vw;
      font-weight: 500;
      color: #fff;
      line-height: 2rem;

      @include breakpoint($break-tablet) {
      	line-height: 3rem;
      }
  	}
	}
}

body.features_ide .content-body {
	@include container;
	text-align: center;
	max-width: $max-width;
	margin: 1rem auto;
	padding: 50px 0;

	.video-block {
		margin: 1rem auto;

		.header {
			padding: 2rem 0;
			color: $light-blue;
			font-size: 22px;
			font-weight: 500;

			@include breakpoint($max-width) {
				font-size: 30px;
			}
		}

		.text {
			padding-bottom: 2rem 1rem;
			font-size: 14px;

			@include breakpoint($max-width) {
				font-size: 18px;
			}
		}
		
		.video {
			width: span(2 of 3);
			text-align: center;
			margin: 0 auto;
			padding: 1rem 0 4rem 0;

			.h_iframe {
				position: relative;

				.ratio {
					display: block;
					width: 100%;
					background: $dark-gray;
					opacity: 0;
					height: auto;
				}
		
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}

      @include breakpoint($break-tablet) {
        width: span(1 of 2);
      }
		}
	}

	.logos-block {
		margin: 4rem auto;
		padding: 2rem 1rem;
		background-color: $lighter-gray;

		.logos {
			padding: 2rem 0;
			text-align: center;
      vertical-align: middle;

			.logo {
        position: relative;
				width: 100%;
				height: 70px;
				display: block;

				img {
					max-width: 100%;
          max-height: 100%;
          vertical-align: middle;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
				}

				@include breakpoint($break-tablet) {
					height: 100px;
					width: 18%;
          display: inline-block;
				}
			}
		}

		.testimonial {
      padding: 2rem;
      text-align: center;
      font-weight: 400;

      .text {
        font-size: 18px;

        @include breakpoint($break-tablet) {
          font-size: 24px;
        }
      }
      
      .author {
        font-size: 16px;
        padding-top: 1rem;

        @include breakpoint($break-tablet) {
          font-size: 20px;
        }
      }

      @include breakpoint($break-tablet) {
        padding: 2rem 4rem;
      }
		}

    @include breakpoint($break-tablet) {
		  padding: 2rem 4rem;
    }
	}

  .features-block {
    @include container;
 		margin: 4rem auto;
		padding: 2rem;

    .features-row {
      @include span(13 of 13);
      padding: 0;
      min-height: 500px;
      height: 100%;

      &:first-child {
        .top {
          opacity: 0;
        }
      }

      &:last-child {
        .bottom {
          opacity: 0;
        }
      }
    }

    .left-part {
      @include span(6 of 13);
      padding-left: 2rem;
      animation-duration: 1.5s;
      animation-delay: 0.1s;
    }

    .middle-part {
      @include span(1 of 13);
    }

    .right-part {
      @include span(6 of 13);
      padding-right: 2rem;
      animation-duration: 1.5s;
      animation-delay: 0.1s;
    }

    .description {
      text-align: left;
      padding-top: 2rem;

      .header {
        padding-bottom: 1rem;
        color: $light-blue;
        font-size: 30px;
        font-weight: 500;
      }

      .text {
        font-size: 16px;

        ul {
          list-style: disc;
          padding: 2rem 0 0 1rem;
        }
      }
    }

    .screen {
			height: auto;
			display: block;

			img {
				max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        margin: auto;
			}

			@include breakpoint($break-tablet) {
        position: relative;
        display: inline-block;
			}
    }

    .vertical-dot-line {
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
      width: 12px;

      .top, .bottom, .first, .last {
        content: " ";
        display: block;
        width: 2px;
        background-color: $orange;
        position: relative;
        margin: 0 auto;
      }

      .top, .first {
        height: 50px;
      }

      .bottom, .last {
        height: 440px;
      }

      .dot {
        display: block;
        border: 6px solid $orange;
        border-radius: 50%;
      }
    }
  }
}

body.features_ide .ready-started-block {
  max-width: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  height: 220px;
  background-color: $blue;

  h2 {
    margin-top: 0;
    color: #fff;
    padding: 40px 0 20px 0;
  }
}
