$gradient: linear-gradient(to right bottom, #1570bf 50%, #59c0fe 100%);

.clear {
  clear: both;
}

body.features_ide {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: -65px auto 0 auto;
    max-width: 100%;
  }

  a.link {
    @include linkUnderlines(white, $base-font-color);
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 50px 0;
    text-align: center;

    .button.button-main {
      background: none;
      border: 2px solid $blue;
      color: $blue;
    }

    .button:hover {
      color: $dark-gray;
      border-color: $dark-gray;
    }

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button {
      display: block;
      padding: 0;
      width: 100%;
      line-height: 58px;
      height: 60px;

      @include breakpoint($break-tablet) {
        white-space: nowrap;
        display: inline-block;
        min-width: 230px;
        max-width: 250px;
        display: inline-block;
          height: auto;
      }
    }
  }

  .grey-top {
    border-top: 1px solid #cfd2d7;
  }
}

.ide-body {
  @include container;
  @include break;

  margin: 0;
  padding: 0;

  .section {
    @include container;
    @include break;

    vertical-align: middle;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      width: span(12 of 16);
      margin: 0 span(2 of 16);
      float: inherit;
      max-width: $max-width;
      padding: 1rem;
    }

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }

    &.top {
      padding-top: 3rem;
      text-align: center;

      h1 {
        margin: 4rem 0 2rem;

        @include breakpoint($break-tablet) {
          margin: 7rem 0 2rem;
        }
      }

      p {
        color: #7b7e87;

        @include breakpoint($break-tablet) {
          font-size: 22px;
        }
      }
    }

    &.first {
      max-width: none;
      text-align: center;

      @include breakpoint($break-tablet) {
        padding-bottom: 2rem;
      }

      svg {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-height: 416px;
        max-width: 800px;

        @include breakpoint($break-tablet) {
          min-height: 400px;
        }
      }
    }

    &.fourth {

      @include breakpoint($break-tablet) {
        padding-bottom: 3rem;
      }


      .section-header {
        text-align: center;
      }

      .section-block {
        width:100%;
        margin: 0;
        color: #999ca2;
        font-size: 1.5rem;
        line-height: 2rem;

        .left-quote, .right-quote {
          display: none;

          @include breakpoint($break-tablet) {
            display: block;
          }
        }

        @include breakpoint($break-tablet) {
          text-align: center;
          font-size: 2rem;
          line-height: 2rem;

          .left-quote, .right-quote {
            height: 10rem;
            width: span(2 of 32);
          }

          .left-quote, .right-quote {
            line-height: 14rem;
            font-size: 4rem;
            font-weight: 400;
            color: #000;
            text-align: center;
          }

          .left-quote {
            float: left;
          }

          .right-quote {
            float: right;
          }

          .section-block-copy {
            float: left;
            width: span(28 of 32);
            height: 14rem;
            vertical-align: middle;
          }

        }
      }

      .teacher {
        @include breakpoint($break-tablet) {
          margin: 0 auto;
          width: 200px;
        }
      }
    }

    &.second {
      padding-bottom: 0;

      h3 {
        font-size: 2rem;
        line-height: 2rem;
      }

      .section-block-copy {
        clear: both;
      }

      .section-block-row {
        @include container;
        @include break;

        .section-block {
          margin-bottom: 3rem;

          @include breakpoint($break-tablet) {
            width: span(13 of 32);
          }
        }
      }

      .section-block {
        @include container;
        @include breakpoint($break-tablet) {
          float: left;
        }

        &:first-of-type {
          @include breakpoint($break-tablet) {
            margin-left: span(2 of 32);
          }
        }
        &:last-of-type {
          @include breakpoint($break-tablet) {
            margin-left: span(3 of 32);
          }
        }
      }
    }


    &.third {

      h3 {
        font-size: 2rem;
        line-height: 2rem;
      }

      .section-block-copy {
        clear: both;
      }
    }

    &.fifth {
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;

      h3 {
        font-weight: 300;
        text-transform: uppercase;
      }

      .learn-buttons {
        animation-delay: 1.2s;
        margin: 30px 0;
        text-align: center;

        .button:hover {
          color: $dark-gray;
        }

        @include breakpoint(max-width $break-tablet) {
          margin-top: 30px;
        }

        .button {
          display: block;
          padding: 0;
          width: 100%;
          line-height: 40px;
          height: 40px;

          @include breakpoint($break-tablet) {
            white-space: nowrap;
            display: inline-block;
            min-width: 150px;
            max-width: 200px;
            display: inline-block;
            height: auto;
          }

          &:first-child {
            margin-bottom: 15px;

            @include breakpoint($break-tablet) {
              margin-right: 30px;
              margin-bottom: 0;
            }
          }
        }
      }

    }
  }

  .grey {
    background-color: #e1e6f2;
  }

  .blue {
    background-color: #4574e0;
  }

  .section-header {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint($break-tablet) {
      margin-left: span(2 of 32);
    }
  }

  .section-body {
    @include container;
  }

  .section-copy {
  }

  .section-block-row {
    @include container;
    @include break;

    .section-block {
      margin-bottom: 3rem;

      @include breakpoint($break-tablet) {
        width: span(14 of 32);
      }
    }
  }

  .section-block {
    @include container;
    @include breakpoint($break-tablet) {
      float: left;
    }

    &:first-of-type {
      @include breakpoint($break-tablet) {
        margin-left: span(2 of 32);
        margin-right: span(1 of 32);
      }
    }
    &:last-of-type {
      @include breakpoint($break-tablet) {
        margin-right: span(1 of 32);
      }
    }
  }

  .section-block-header {
    font-size: 21px;
    font-weight: 400;
    margin-top: 0;
  }

  .section-block-copy {
  }
}
