
.clear {
  clear: both;
}

body.features {
  header .container,
  footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    margin: 0 auto 0 auto;
    max-width: $max-width;
  }
}

body.features_index .content {
  margin: 0 auto 0 auto;
  max-width: $max-width;
}

body.features_index {
  .action-button {
    text-align: center;
    margin-top: 2rem;

    .button {
      display: block;

      @include breakpoint($break-tablet) {
        display: inline-block;
        min-width: 160px;
        min-height: 38px;
      }
    }

    .button:hover {
      color: $dark-gray;
      background-color: $active-background-color;
      border-color: #000;
    }

    .blue-button {
      background-color: $light-blue;
      border-color: $light-blue;
    }
  }
}

body.features_index .header-block {
  @include span(4);
  position: relative;
  padding: 1rem;
  text-align: center;

  @include breakpoint($break-tablet) {
    padding: 0 1rem 2rem 0;
  }

  h1 {
    margin-top: 2 * $base-line-height;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    animation-delay: .4s;
    @include breakpoint($break-tablet) {
      margin: 2rem auto 2rem auto;
      font-size: 56px;
      line-height: 4rem;
    }
  }

  h2 {
    text-align: center;
    font-weight: 200;
    font-size: 27px;
    animation-delay: .8s;
    margin-left: 1rem;
    margin-right: 1rem;
    @include breakpoint($break-tablet) {
      margin: 0 2rem 2rem 2rem; 
    }
  }

  .benefits {
    width: 100%;
  }

  .column-benefit {
    text-align: left;
    float: left;
    width: 100%;
    margin-top: 0.5rem;
    padding: 5px;

    @include breakpoint($break-tablet) {
      text-align: center;
      width: 50%;
      min-height: 291px;
    }

    @include breakpoint($max-width) {
      width: 25%;
      min-height: 312px;
    }

    a {
      color: #00f;
      text-decoration: underline;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: #00b;
      }

      &:active,
      &:focus {
        outline: none;
      }
    }

    .ide, .templates, .management, .curriculum {
      @include breakpoint($break-tablet) {
        width: 90px;
        height: 90px;
        margin: 0 auto;
      }
    }

    .ide {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/ide.svg') no-repeat center center;
      }
    }

    .templates {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/templates.svg') no-repeat center center;
      }
    }

    .management {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/management.svg') no-repeat center center;
      }
    }

    .curriculum {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/curriculum.png') no-repeat center center;
      }
    }

    .title {
      font-size: 1rem;
      font-weight: 400;
      margin: 1rem 0;
    }

    .text {
      line-height: 0.9*$base-line-height;
      font-size: 1rem;
    }
  }

  .action-button {
    .blue-button {
      margin-right: 1rem;
    }
  }
}

body.features_index .features-body {
  @include span(4);

  .block-quote {
    margin: 2rem 0;

    .action-button {
      margin-top: 1rem;
    }

    .text-part {
      display: inline-block;
      vertical-align: top;

      @include breakpoint($break-tablet) {
        width: 45%;
      }

      .action-button {
        text-align: left;
      }

      .title {
        font-size: 2rem;
      }

      .info {
        font-size: 1rem;
        line-height: 0.9*$base-line-height;
        margin-bottom: 0;
      }

      .quote-title {
        font-size: 1rem;
      }

      .quote-text {
        display: inline-block;
        max-width: 80%;
        font-size: 0.8rem;
        line-height: 0.9*$base-line-height;
        vertical-align: top;
      }

      .speech-green, .speech-purple {
        margin-right: 1rem;
        display: inline-block;
        position: relative;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 4px #888;
        -moz-box-shadow: 2px 2px 4px #888;
        box-shadow: 2px 2px 4px #888;
        vertical-align: top;

        &:before {
          content: ' ';
          position: absolute;
          width: 1;
          height: 1;
          left: 0px;
          top: 45px;
          border: 7px solid;
        }
      }

      .speech-green{
        background-color: #508b1a;
        &:before {
          border-color: #508b1a transparent transparent #508b1a;
        }
      }

      .speech-purple{
        background-color: #551a8b;
        &:before {
          border-color: #551a8b transparent transparent #551a8b;
        }
      }
    }

    .image-part {
      display: inline-block;
      vertical-align: top;
      
      svg {
        margin-top: 1.414rem;
        width: 100%;
        height: auto;
      }

      @include breakpoint($break-tablet) {  
        width: 55%;
      }
    }
  }

  .block-center {
    margin: 2rem 0;
    text-align: center;
    background-color: $lighter-gray;

    .title {
      padding: 1rem 0;
      font-size: 2rem;
      font-weight: 500;
    }

    .description {
      font-size: 1rem;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    .image-center {
      width: 80%;
      height: auto;
    }

    .action-button {
      padding-bottom: 2rem;
    }
  }
}

body.features_index {
  .learn-more {
    background-color: $blue;
    height: auto;
    text-align: center;

    @include breakpoint($break-tablet) {
      white-space: nowrap;
      min-width: 175px;
      max-width: 225px;
    }
  }

  .section-block-row {
    h3 {
      background: none;

      @include breakpoint($break-tablet) {
        display: inline-block;
        float: left;
        font-size: 2rem;
        line-height: 2rem;
        padding-left: 110px;
        min-height: 90px;
      }
    }

    h3.savings span {
      @include breakpoint($break-tablet) {
        display: block;
      }
    }

    h3.infrastructure {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/infrastructure.svg') no-repeat left top;
      }
    }

    h3.ide {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/ide.svg') no-repeat left top;
      }
    }

    h3.templates {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/templates.svg') no-repeat left top;
      }
    }

    h3.management {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/management.svg') no-repeat left top;
      }
    }

    h3.authoring {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/authoring.svg') no-repeat left top;
      }
    }

    h3.curriculum {
      @include breakpoint($break-tablet) {
        background: url('/img/assets/features/index/curriculum.png') no-repeat left top;
      }
    }

  }

}
