$gradient: linear-gradient(to right bottom, #1570bf 50%, #59c0fe 100%);

nav ul li:last-child a,
nav ul li.highspot a {
  color: white;
  background-color: #fa9915;
  border-color: #fa9915;
}

nav ul li:last-child a:hover,
nav ul li.highspot a:hover {
  border-color: #fff;
}

body.features {
  @include break;

  margin: 0;
  padding: 0;

  header .container, footer .container {
    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .content {
    margin: 0 auto 0 auto;
    max-width: 100%;
  }

  a.link {
    @include linkUnderlines(white, $base-font-color);
  }

  .grey-top {
    border-top: 1px solid #cfd2d7;
  }

  .grey {
    background-color: #e1e6f2;
  }

  .blue {
    background-color: #4574e0;
  }

  .action-buttons {
    animation-delay: 1.2s;
    margin: 50px 0;
    text-align: center;

    .button.button-main {
      background: $blue;
      color: #fff;
      border: 2px solid $blue;
    }

    .button:hover {
      background-color: #fff;
      color: $blue;
    }

    @include breakpoint(max-width $break-tablet) {
      margin-top: 30px;
    }

    .button {
      display: inline-block;
      height: auto;
      white-space: nowrap;

      @include breakpoint($break-tablet) {
        min-width: 230px;
        max-width: 280px;
      }
    }
  }

  .section-block-row {
    @include container;
    @include break;

    .section-block {
      margin-bottom: 3rem;

      @include breakpoint($break-tablet) {
        width: span(13 of 32);
      }

      @include container;
      @include breakpoint($break-tablet) {
        float: left;
      }

      &:first-of-type {
        @include breakpoint($break-tablet) {
          margin-left: span(2 of 32);
        }
      }
      &:last-of-type {
        @include breakpoint($break-tablet) {
          margin-left: span(3 of 32);
        }
      }

      h3 {
        font-size: 2rem;
        line-height: 2rem;
      }

      .section-block-copy {
        clear: both;
      }
    }
  }

  .section {
    @include container;
    @include break;

    padding: 1rem;
    vertical-align: middle;

    @include breakpoint($break-tablet) {
      @include container(12 of 16);
      width: span(12 of 16);
      margin: 0 span(2 of 16);
      float: inherit;
      max-width: $max-width;
      padding: 3rem 1rem;
    }

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section.top {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;

    h1 {
      margin: 4rem 0 2rem;

      @include breakpoint($break-tablet) {
        margin: 7rem 0 2rem;
      }
    }

    p {
      @include breakpoint($break-tablet) {
        font-size: 22px;
      }
    }
  }

  .section.full-width {
    .section-header {
      width: 100%;
      font-size: 2rem;
      line-height: 2rem;
    }

    .section-block {
      @include breakpoint($break-tablet) {
        width: span(30 of 32);
        padding-left: span(2 of 32);
        margin: 0;
      }
    }

    .section-block-copy {
      width: 100%;
      clear: both;
    }
  }

  .section.section-center {
    text-align: center;

    h3 {
      font-size: 32px;
    }

    @include breakpoint($break-tablet) {
      font-size: 22px;
    }
  }

  .section.showcase {
    text-align: center;

    svg {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-height: 416px;
      max-width: 800px;

      @include breakpoint($break-tablet) {
        min-height: 400px;
      }
    }

    img {
      margin: 0 auto;
    }
  }

  .section.quote {

    @include breakpoint($break-tablet) {
      padding-top: 2rem;
    }

    .section-header {
      text-align: center;
    }

    .section-block {
      width:100%;
      margin: 0;
      color: #999ca2;
      font-size: 1.5rem;
      line-height: 2rem;
      display: flex;

      @include breakpoint($break-tablet) {
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
      }

      .section-block-copy {
        padding-bottom: 2rem;

        @include breakpoint($break-tablet) {
          float: left;
          padding: 0 span(1 of 32);
          padding-bottom: 2rem;
          width: span(28 of 32);
          vertical-align: middle;
        }
      }

      .left-quote, .right-quote {
        display: none;

        @include breakpoint($break-tablet) {
          width: span(1 of 32);
          display: block;
          line-height: 100%;
          font-size: 4rem;
          font-weight: 400;
          color: #000;
          text-align: center;
          display: flex;
          align-items: center;
        }
      }

      .left-quote {
        @include breakpoint($break-tablet) {
          float: left;
        }
      }

      .right-quote {
        @include breakpoint($break-tablet) {
          float: right;
          text-align: right;
        }
      }
    }

    .teacher {

      @include breakpoint($break-tablet) {
        margin: 0 auto;
        width: 320px;
        min-height: 150px;
      }

      .profile {
        display: block;
        border-radius:50%;
        border: 2px solid;
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 25px;
      }

      .copy {
        width: 190px;
        float: left;
      }

      h4 {
        margin-top: 0;
      }


      svg {
        display: inline-block;
        width: 70px;
        padding-top: 8px;
        text-align: center;
        align-items: center;
        margin-left: 10px;
      }

    }
  }

  .section.footer {
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;

    h3 {
      font-weight: 300;
      text-transform: uppercase;
    }

    .learn-buttons {
      animation-delay: 1.2s;
      margin: 30px 0;
      text-align: center;

      .button:hover {
        color: $dark-gray;
      }

      @include breakpoint(max-width $break-tablet) {
        margin-top: 30px;
      }

      .button {
        display: inline-block;
        height: auto;
        min-width: 150px;
        max-width: 200px;
        white-space: nowrap;

        &:first-child {
          margin-bottom: 15px;

          @include breakpoint($break-tablet) {
            margin-right: 30px;
            margin-bottom: 0;
          }
        }
      }

      .button:hover {
        background-color: #fff;
        border-color: #fff;
      }
    }
  }
}

body.features {
  .header-block {
    margin-top: 65px;
    width: 100%;
    height: 340px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-image: url('/img/assets/index/blocks/sharpen-your-tool-box-mob.jpg');
    
    .title {
      font-size: 2.5rem;
      font-weight: 600;
      color: #fff;
      line-height: 2.4rem;

      @include breakpoint($break-tablet) {
        font-size: 4vw;
        line-height: 4rem;
      }
    }

    @include breakpoint($break-tablet) {
      display: none;
    }
  }
}

body.features .content-body {
  @include container;
  text-align: center;
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem 0;

  @include breakpoint($break-tablet) {
    padding: 140px 0 40px 0;
  }

  .video-block {
    margin: 1rem auto;

    .header {
      padding: 1rem 2rem;
      color: $light-blue;
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: 500;

      @include breakpoint($break-tablet) {
        font-size: 26px;
        padding: 2rem 4rem;
        line-height: 2rem;
      }

      @include breakpoint($max-width) {
        font-size: 30px;
        padding: 2rem 6rem;
      }
    }

    .text {
      padding: 1rem 1rem 2rem 1rem;
      font-size: 1.2rem;
      max-width: 700px;
      margin: 0 auto;

      @include breakpoint($break-tablet) {
        font-size: 16px;
        max-width: 800px;
      }

      @include breakpoint($max-width) {
        font-size: 18px;
        max-width: 900px;
      }
    }
    
    .video {
      width: span(2 of 3);
      text-align: center;
      margin: 0 auto;
      padding: 1rem 0 4rem 0;

      .h_iframe {
        position: relative;

        .ratio {
          display: block;
          width: 100%;
          background: $dark-gray;
          opacity: 0;
          height: auto;
        }
    
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      @include breakpoint($break-tablet) {
        width: span(1 of 2);
      }
    }
  }

  .logos-block {
    margin: 4rem auto;
    padding: 2rem 1rem;
    background-color: $lighter-gray;

    .logos {
      padding: 2rem 0;
      text-align: center;
      vertical-align: middle;

      .logo {
        position: relative;
        width: 30%;
        height: 70px;
        display: inline-block;

        img {
          max-width: 100%;
          max-height: 100%;
          vertical-align: middle;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      
        &:first-child {
            display: none;
        }

        &:last-child {
            display: none;
        }

        @include breakpoint($break-tablet) {
          height: 100px;
          width: 18%;
          display: inline-block;

          &:first-child {
              display: inline-block;
          }

          &:last-child {
              display: inline-block;
          }
        }
      }
    }

    .testimonial {
      padding: 2rem;
      text-align: center;
      font-weight: 400;

      .text {
        font-size: 1.4rem;

        @include breakpoint($break-tablet) {
          font-size: 24px;
        }
      }
      
      .author {
        font-size: 1.1rem;
        padding-top: 1rem;

        @include breakpoint($break-tablet) {
          font-size: 20px;
        }
      }

      @include breakpoint($break-tablet) {
        padding: 2rem 4rem;
      }
    }

    @include breakpoint($break-tablet) {
      padding: 2rem 4rem;
    }
  }

  .features-block {
    @include container;
    margin: 4rem auto 0 auto;
    padding: 2rem 2rem 0 2rem;

    #text {
      order: 3;
    }
    #img {
      order: 2;
    }

    .row {
      width: 100%;
      margin: 0;

      &:nth-child(1) {
        .top {
          opacity: 0;
        }
        .dot {
          -webkit-transition: border-width 0.01s;
          -moz-transition: border-width 0.01s;
          transition: border-width 0.01s;
          transition-delay: 0.02s;
        }
        .bottom {
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          transition: height 0.5s;
          transition-delay: 0.03s;
        }
      }

      &:nth-child(2) {
        .top {
          -webkit-transition: height 0.02s;
          -moz-transition: height 0.02s;
          transition: height 0.02s;
          transition-delay: 0.53s;
        }
        .dot {
          -webkit-transition: border-width 0.01s;
          -moz-transition: border-width 0.01s;
          transition: border-width 0.01s;
          transition-delay: 0.55s;
        }
        .bottom {
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          transition: height 0.5s;
          transition-delay: 0.56s;
        }
      }

      &:nth-child(3) {
        .top {
          -webkit-transition: height 0.02s;
          -moz-transition: height 0.02s;
          transition: height 0.02s;
          transition-delay: 1.06s;
        }
        .dot {
          -webkit-transition: border-width 0.01s;
          -moz-transition: border-width 0.01s;
          transition: border-width 0.01s;
          transition-delay: 1.08s;
        }
        .bottom {
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          transition: height 0.5s;
          transition-delay: 1.09s;
        }
      }

      &:nth-child(4) {
        .top {
          -webkit-transition: height 0.02s;
          -moz-transition: height 0.02s;
          transition: height 0.02s;
          transition-delay: 1.59s;
        }
        .dot {
          -webkit-transition: border-width 0.01s;
          -moz-transition: border-width 0.01s;
          transition: border-width 0.01s;
          transition-delay: 1.61s;
        }
        .bottom {
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          transition: height 0.5s;
          transition-delay: 1.62s;
        }
      }

      &:nth-child(5) {
        .top {
          -webkit-transition: height 0.02s;
          -moz-transition: height 0.02s;
          transition: height 0.02s;
          transition-delay: 2.12s;
        }
        .dot {
          -webkit-transition: border-width 0.01s;
          -moz-transition: border-width 0.01s;
          transition: border-width 0.01s;
          transition-delay: 2.14s;
        }
        .bottom {
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          transition: height 0.5s;
          transition-delay: 2.15s;
        }
      }

      &:nth-child(6) {
        .top {
          -webkit-transition: height 0.02s;
          -moz-transition: height 0.02s;
          transition: height 0.02s;
          transition-delay: 2.65s;
        }
        .dot {
          -webkit-transition: border-width 0.01s;
          -moz-transition: border-width 0.01s;
          transition: border-width 0.01s;
          transition-delay: 2.67s;
        }
        .bottom {
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          transition: height 0.5s;
          transition-delay: 2.68s;
        }
      }

      &:nth-child(7) {
        .top {
          -webkit-transition: height 0.02s;
          -moz-transition: height 0.02s;
          transition: height 0.02s;
          transition-delay: 3.18s;
        }
        .dot {
          -webkit-transition: border-width 0.01s;
          -moz-transition: border-width 0.01s;
          transition: border-width 0.01s;
          transition-delay: 3.2s;
        }
        .bottom {
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          transition: height 0.5s;
          transition-delay: 3.21s;
        }
      }

      &:last-child {
        .bottom {
          opacity: 0;
        }
      }
    }

    .features-row {
      width: auto;
      display: flex;
      flex-flow: column;
      height: 660px;

      @include breakpoint($break-tablet) {
        @include span(13 of 13);
        padding: 0;
        display: block;
        height: 420px;
      }
    }

    .line-mobile {
      @include span(1 of 13);
      display: inline-block;
      height: 660px;
      width: 12px;
      padding-right: 2rem;
        
      @include breakpoint($break-tablet) {
        display: none; 
      }

      .top, .bottom {
        overflow: hidden;
        content: " ";
        display: block;
        width: 2px;
        background-color: $orange;
        position: relative;
        margin: 0 auto;
      }

      .top {
        height: 50px;
      }

      .dot {
        display: block;
        border: 6px solid $orange;
        border-radius: 50%;
        margin: 0 auto;
        margin-left: -5px;
      }

      .bottom {
        height: 654px !important;
      }
    }

    .left-part {
      width: auto;
      animation-duration: 0.01s;
      animation-delay: 0.01s;

      @include breakpoint($break-tablet) {
        @include span(6 of 13);
        padding-left: 2rem;
        animation-duration: 1.5s;
        animation-delay: 0.1s;
      }
    }

    .middle-part {
      display: none;
      @include breakpoint($break-tablet) {
        @include span(1 of 13);
        display: inline-block; 
      }
    }

    .right-part {
      width: auto;
      animation-duration: 0.01s;
      animation-delay: 0.01s;

      @include breakpoint($break-tablet) {
        @include span(6 of 13);
        padding-right: 2rem;
        animation-duration: 1.5s;
        animation-delay: 0.1s;
      }
    }

    .description {
      text-align: left;
      padding-top: 2rem;

      .header {
        padding-bottom: 1rem;
        color: $light-blue;
        font-size: 30px;
        font-weight: 500;
      }

      .text {
        font-size: 1rem;

        @include breakpoint($break-tablet) {
          font-size: 16px;
        }

        ul {
          list-style: disc;
          padding: 2rem 0 0 1rem;
        }
      }
    }

    .screen {
      height: auto;
      display: block;

      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        margin: auto;
      }

      @include breakpoint($break-tablet) {
        position: relative;
        display: inline-block;
      }
    }

    .vertical-dot-line {
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
      width: 12px;

      .top, .bottom {
        overflow: hidden;
        content: " ";
        display: block;
        width: 2px;
        background-color: $orange;
        position: relative;
        margin: 0 auto;
        transition-timing-function: linear;
      }

      .top {
        height: 0px;
      }

      .dot {
        display: block;
        border: 0px solid $orange;
        border-radius: 50%;
        transition-timing-function: linear;
      }

      .bottom {
        height: 0px;
      }
    }

    @include breakpoint($break-tablet) {
      margin: 4rem auto 0 auto;
      padding: 2rem 2rem 0 2rem;
      
      #featuresRow {
        display: block;
        flex-flow: column;
      }
      #text {
        order: 2;
      }
      #img {
        order: 3;
      }
    }
  }
}

body.features .ready-started-block {
  max-width: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  height: 220px;
  background-color: $blue;

  h2 {
    margin-top: 0;
    color: #fff;
    padding: 40px 0 20px 0;
  }
}
