body.features_technicalspecifications {
	.content-body {
    padding-top: 60px;
    min-height: 600px;

    @include breakpoint($max-width) {
      margin-left: auto;
      margin-right: auto;
      max-width: $max-width;
    }

    .specs-side-navigation {
      @include container;
      display: block;
      margin: 1rem gutter() 2rem gutter();
      text-align: left;

      font-family: $heading-font-family;

      @include breakpoint($break-tablet) {
        @include span(8 of 32);
        position: fixed;
        max-width: 320px;
      }

      @include breakpoint($max-width) {
        padding-left: 0;
        margin-left: 0;
      }

      .nav-pills > li {
        float: none;
      }

      .item {
        font-size: 1.1rem;
        padding: .2rem .6rem;
        margin-top: $base-line-height / 2;

        &:hover {
          font-weight: 700;
        }
      }

      .nav-pills > li.active {
        a {
          color: $light-blue;
        }
        font-weight: 700;
        border-radius: 4px 0 0 4px;
      }
    }

    .specs-body {
      @include span(4);
      @include break;
      position: relative;
      text-align: left;

      @include breakpoint($break-tablet) {
        @include nobreak;
        @include span(10 of 16);
        margin-left: span(5 of 16);
        padding-top: 1rem;
      }

      h2 {
        font-size: 1.8rem;
        font-weight: 500;
        color: $light-blue;

        @include breakpoint($break-tablet) {
          font-size: 2rem;
        }
      }

      h3 {
        font-size: 1.2rem;

        @include breakpoint($break-tablet) {
          font-size: 1.3rem;
        }
      }

      p {
        font-size: .9rem;
        font-weight: 300;
        line-height: 1.3rem;

        @include breakpoint($break-tablet) {
          font-size: 1rem;
        }
      }
    }

  }
}