<section id="lp-codepen" class="landing-page-section">
  <div class="container">
    <div class="clearfix">

      <%= image_tag 'landing-pages/cp-basic.png', :width => 400 %>

      <div>
        <h2>Do you love Codepen, JS-Fiddle &amp; JS-BIN?</h2>
        <p>We think they're fantastic, too. But what about bigger projects and tutorials that need to show more complexity?</p>
        <p>Codio lets you configure a Web IDE with <a href="#panels">any panel/file configuration</a> you want. You can then publish this to your blog, use our Embed buttons or simply share a link to it.</p>
        <p>And if code tutorials are your thing, check out <a href="#annotate">Codio Annotations</a>!
        <p> <% link_to '/docs/cp-fiddle' do %>
            <i class="icon-file"></i> FIND OUT MORE...
          <% end %></p>
     
      </div>

    </div>
  </div>
</section>