<section id="lp-codepen" class="landing-page-section">
  <div class="container">
    <div>
      <div>

        <h2>Love Codepen, JS-Fiddle, JS-BIN?</h2>
        <p class="intro">We think they're fantastic too! But what about bigger projects and tutorials that may need to show more complexity? Or perhaps you have more files to show?</p>
        <p>Choose <a href="#panels">any panel/file configuration</a> you want, then share the project by linking to it or even embedding into any web page.</p>
        <p>And if code tutorials are your thing, check out <a href="#annotate">Codio Annotations</a>!

        <div class="links">
          <% link_to 'https://codio.com/codio-templates/Coffeescript-Example' do %>
            <i class="icon-check"></i> Try it now...
          <% end %>
          <% link_to '/docs/cp-fiddle' do %>
            <i class="icon-file"></i> Find out more...
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>