<section id="lp-github" class="landing-page-section">
  <div class="container">
    <div>

      <h2>Github Repos straight in your IDE!</h2>

      <div class="clearfix">
        <div><%= image_tag 'landing-pages/octocat.png', :width => 250 %></div>

        <div>
          <p class="intro">Ever been looking at a Github repo and wished you could explore and edit it instantly in an IDE?</p>
          <p>Or as a repo owner, want to show people demos or your complete code with a single click?</p>
          <p>With Codio you can <strong>view</strong>, <strong>explore</strong> even <strong>run</strong> any project in a browser, <strong>all without installing a thing!</strong></p>

          <div class="links">
            <a href="/p/signup"><i class="icon-check"></i> Try it now...</a>
            <% link_to '/docs/git-viewing' do %>
              <i class="icon-file"></i> Read all about it...
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>