<section id="lp-github" class="landing-page-section">
  <div class="container">
    <div class="clearfix">

      <%= image_tag 'landing-pages/git-to-ide.png', :width => 300 %>

      <div>
        <h2>Github Repos straight to a Web IDE</h2>
        <p>Ever been looking at a Github repo and wished you could explore it instantly in an IDE?</p>
        <p>Or as a repo owner, want to show people demos or your complete code with a single click?</p>
        <p>With Codio you can <strong>view</strong>, <strong>explore</strong> even <strong>run</strong> any project in a browser <strong>without installing a thing!</strong></p>
        <p> <% link_to '/docs/git-viewing' do %>
            <i class="icon-file"></i> Read all about it ...
          <% end %></p>
     
      </div>

    </div>
  </div>
</section>