<section id="lp-parse" class="landing-page-section">

  <div class="container">
    <div>
      <div>

        <h2>A Web IDE for Parse.com</h2>
        <p class="intro">We've added support for Parse.com so you can build your Javascript front-end or Cloud Code back-end in the awesome Codio Web IDE.</p>
        <p>Building and deploying your code couldn't be easier. Just hop into a browser on any computer. There's absolutely nothing to install.</p>
        <div class="links">
          <% link_to '/blog/2013/09/parse-integration/' do %>
            <i class="icon-file"></i> Find out more...
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>