<section id="lp-salesforce" class="landing-page-section">

  <div class="container">
    <div>
      <div>
        <h2>A pure Web IDE for SalesForce.com</h2>
        <p class="intro">We thought Codio would be awesome for SalesForce development. So we added some support for it. </p>
        <p>Currently, it lets you edit your classes, triggers and pages but it's ready to do a lot more. It's also got Git integration, Google Docs style collaboration and lots of other superb developer features.</p>
        <p>If you'd like to help shape the growth of Force.com functionality, take a peek!</p>

        <div class="links">
          <% link_to '/docs/salesforce' do %>
            <i class="icon-file"></i> Find out more...
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>