<section id="lp-salesforce" class="landing-page-section">
  <div class="container">
    <div class="clearfix">

      <%= image_tag 'landing-pages/sf-ide.png', :width => 300 %>

      <div>
        <h2>A great Web IDE for SalesForce.com</h2>
        <p>We thought Codio would be awesome for SalesForce development. So we added some support for it.</p>
        <p>If you'd like to help shape the growth of Force.com functionality, <% link_to '/docs/salesforce' do %> click here to find out more.<% end %> </p>
     
      </div>

    </div>
  </div>
</section>