<section id="tweet-github" class="landing-page-section">
  <div class="container">
    <div class="clearfix">

      <%= image_tag 'landing-pages/octocat.png', :width => 200 %>

      <div>
        <h2>Open &amp; Edit any GitHub repo</h2>
        <p class="bold">How often do you find yourself looking at a Github project, and wishing you could edit and play with that code in your IDE or code editor?</p>
        <p>Well worry no more! Simply create a new Codio project and clone your Github repo. You then have it all in a full-featured IDE, ready to edit and run.</p>
      </div>

    </div>
  </div>
</section>