---
title: Platform usage | Legal Stuff | Codio
description: Codio's terms and conditions that govern platform usage and licences for the platform.
layout: layout
---

<div class="header-block">
  <h2>Legal Information</h2>
</div>

<div class="overview-section">
  <div class="legal-header-navigation-container">
    <%= partial "legal-header-navigation" %>
  </div>
</div>
