<footer>
  <section>
    <div class="container clearfix">
      <ul>
        <li>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/product/enterprise">Enterprise</a></li>
            <li><a href="/product/testimonials">Testimonials</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/developers">Support</a></li>
            <li><a href="/services">Services</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/legal/faqs">FAQ's</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/company">About us</a></li>
            <li><a href="/company/contact-us">Contact us</a></li>
            <li><a href="/legal">Legal</a></li>
          </ul>
        </li>
      </ul>

      <ul id="social-icons">
        <li><a href="http://twitter.com/appcrafty"><span></span>Twitter</a></li>
        <li><a href="https://www.facebook.com/ApplicationCraft"><span></span>Facebook</a></li>
        <li><a href="https://plus.google.com/b/114193155177577005539/?prsrc=3"><span></span>Google+</a></li>
        <li><a href="http://www.youtube.com/user/appcrafty"><span></span>Youtube</a></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container clearfix">
      <div>
        <a href="https://github.com/ApplicationCraft/crafted-site" target="_blank">This site is open source... Fork it!</a>
      </div>

      Copyright &copy; <%= Date.today.year %> Application Craft Ltd. All rights reserved.
      Read our <a href="/legal/privacy">Privacy policy</a>.
    </div>
  </section>
</footer>

<div id="old-browser">
  <div id="old-browser-inner">
    <%= image_tag 'logo.png', :width => 309, :height => 23 %>
    <h1>Your browser is very old and will not work correctly with ApplicationCraft.</h1>
    <p>Please upgrade Internet Explorer or use a modern browser, and <a href="http://browsehappy.com/" target="_blank">Browse Happy!</a></p>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<!-- <script src="/js/vendor/protofluid.min.js"></script> -->
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<%= javascript_include_tag 'main' %>
<%= yield_content :foot %>

<% if !current_page.app.development? && !current_page.path.start_with?('developers/documentation') %>
  <script>
    var _gaq=[['_setAccount','UA-11680203-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
<% end %>
