<section id="price-banner" class="clearfix">
  <div class="container">
    <div>only <span>$14</span> per month</div>
    <div class="nofade"><a href="/get-started">
      <p>Try it for Free!</p>
      <p><span>&#x2605;</span> <span class="trial-period">14</span> day free trial <span>&#x2605;</span></p>
    </a></div>

    <div class="clearfix">

      <div class="video-thumb">
        <span>
          <a class="fancybox fancybox.iframe" href="http://www.youtube.com/v/XcGx6F7Wql0?autoplay=1&amp;hd=1&amp;fs=1&amp;showsearch=0&amp;rel=0&amp;">
            <img src="//i1.ytimg.com/vi/XcGx6F7Wql0/default.jpg">
          </a>
        </span>
        <span>1:28</span>
      </div>

      <a href="http://www.youtube.com/v/XcGx6F7Wql0?autoplay=1&hd=1&fs=1&showsearch=0&rel=0&" class="fancybox fancybox.iframe">
        Watch the intro video...
      </a>

    </div>
  </div>
</section>