---
title: Building the Perfect Browser Based IDE
class_name: about
---

<header>
  <div class="container">
    <div class="clearfix">
      <div>
        <div>
          <p>We're on a</p>
          <p>mission</p>
        </div>
      </div>

    </div>
  </div>
</header>


<section id="tryit">
  <div class="container">
    <h3>
      Our mission
    </h3>
    <p>We are pursuing two parallel goals with the Codio platform. One is to provide a completely free platform that serves the needs of education, whether schools, universities or any organization interested in teaching people to learn how to code.</p>
    <p>We are also building a platform that aims to be the very best web based IDE focused on front-end web development. As well as delivering an IDE that will evolve into a unique way of building everything from web sites to applications, libraries and frameworks, we are going to be adding plugins that cover more and more of the development lifecycle.</p>
    <p>We will be releasing a range of exciting plugins such as </p>
    <ul>
      <li>Web based documentation, user-guides and manuals</li>
      <li>Wikis for managing your development projects</li>
      <li>Bug tracking and issues management</li>
      <li>Prezi style presentations</li>
      <li>Diagramming</p>
      <li>and more to be announced later this year</li>
    </ul>
    <h3>
      About the founder
    </h3>
    <p>We'll soon have our complete team page ready, but before we do, here are a few words about Codio's founder, Freddy May.</p>    
  </div>
</section>

