---
title: About Codio
subtitle: For web development, teaching and learning
submenu:
  -
    text: About Us
    url: '#about'
    active: true
  -
    text: Education
    url: '#education'
---

<section id="about">
  <h2><small>An IDE for front-end web development and for teaching to code</small></h2>
  <p>Codio was conceived from the dream of building the perfect IDE for front-end web development. An IDE developers would love to use every single day. One that is rich with features, fast and efficient, allowing developers to develop without leaving the browser.</p>

  <p>We want to deliver an IDE that will evolve into a unique way of building everything from websites to applications, libraries and frameworks. And, we are going to be adding exciting plugins that cover more and more of the development lifecycle, such as:</p>

  <ul>
    <li>Web-based documentation, user-guides and manuals</li>
    <li>Wikis for managing your development projects</li>
    <li>Bug tracking and issues management</li>
    <li>Prezi style presentations for great looking project overviews (based on impress.js)
    <li>Diagramming</li>
  </ul>

  <p>The Codio IDE is a great start but over the course of 2013 we are going to turn it into a feature complete IDE that is a pleasure to work with not just for coding, but for more and more of the development lifecycle.</p>

  <p>Our <a href="/#roadmap">roadmap</a> page also gives you a taster of some of the things we are working on.</p>
</section>

<hr>

<section id="education">
  <h2>Education <small>A Post-Curriculum approach to teaching coding in schools</small></h2>

  <p>There is a serious skills shortage developing in the western world at the moment (<%= link_to 'see these stats from Code.org', 'http://www.code.org/stats' %>) and the way that schools are teaching programming is seriously exacerbating the problem. We have already written a mini-manifesto on this in our blog post <%= link_to 'A Post-curriculum Approach To Teaching Programming', '/blog/2013/04/post-curriculum/' %> blog post.</p>

  <p>While we were building the Codio IDE we suddenly realized that we had in our hands something that could make a real difference in the way that coding is taught at any level. Being web-based IDE it is perfect for teaching and for learning. No applications to install, modern, fun. And with some innovation aimed specifically at Education, which we have already started work on, we are able to open up a collaborative, open source approach to teaching people to code. We see this crowd-teaching approach as being the best way to avoid  rigid curricula, that will get more and more out of date by the day. By being fully open and collaborative, an modern and organic way of teaching can evolve that is dynamic, modern and also fun.</p>

  <p>Anybody - individuals learning from home or students in every school, college or university in the world - can use it free of charge, empowering students and the web community to work together to inspire, teach and enable the next generation of web developers.</p>
</section>


<% content_for :foot do %>
  <%= javascript_include_tag 'vendor/scrollspy' %>
<% end %>