---
title: About Codio
subtitle: For web development, teaching and learning
submenu:
  -
    text: About Us
    url: '#about'
    active: true
  -
    text: Education
    url: '#education'
  -
    text: Team
    url: '#team'
---

<section id="about">
  <h2>About Codio<small>An IDE for front-end web development and for teaching to code</small></h2>
  <p>Codio was conceived from the dream of building the perfect IDE for front-end web development. An IDE developers would love to use every single day. One that is rich with features, fast and efficient, allowing developers to develop without leaving the browser.</p>

  <p>We want to deliver an IDE that will evolve into a unique way of building everything from websites to applications, libraries and frameworks. And, we are going to be adding exciting plugins that cover more and more of the development lifecycle, such as:</p>

  <ul>
    <li>Web-based documentation, user-guides and manuals</li>
    <li>Wikis for managing your development projects</li>
    <li>Bug tracking and issues management</li>
    <li>Prezi style presentations for great looking project overviews (based on impress.js)
    <li>Diagramming</li>
  </ul>

  <p>The Codio IDE is a great start but over the course of 2013 we are going to turn it into a feature complete IDE that is a pleasure to work with not just for coding, but for more and more of the development lifecycle.</p>

  <p>Our <a href="/#roadmap">roadmap</a> page also gives you a taster of some of the things we are working on.</p>
</section>

<hr>

<section id="education">
  <h2>Education <small>A Post-Curriculum approach to teaching coding in schools</small></h2>

  <p>There is a serious skills shortage developing in the western world at the moment (<%= link_to 'see these stats from Code.org', 'http://www.code.org/stats' %>) and the way that schools are teaching programming is seriously exacerbating the problem. We have already written a mini-manifesto on this in our <%= link_to 'A Post-curriculum Approach To Teaching Programming', '/blog/2013/04/post-curriculum/' %> blog post.</p>

  <p>While we were building the Codio IDE we suddenly realized that we had in our hands something that could make a real difference in the way that coding is taught at any level. Being a web-based IDE it is perfect for teaching and for learning. No applications to install, modern, fun. And with some innovation aimed specifically at education, which we have already started work on, we are able to open up a collaborative, open source approach to teaching people to code. We see this crowd-teaching approach as being the best way to avoid  rigid curricula, that will get more and more out of date by the day. By being fully open and collaborative, an modern and organic way of teaching can evolve that is dynamic, modern and also fun.</p>

  <p>Anybody - individuals learning from home or students in every school, college or university in the world - can use it free of charge, empowering students and the web community to work together to inspire, teach and enable the next generation of web developers.</p>

  <p>Visit our <%= link_to 'Education page', '/education' %> for details on what we are doing</p>
</section>

<hr>

<section id="team">
  <h2>The Codio Team <small>We are a bunch of 12 guys and gals and we love developing for developers</small></h2>

  <p>It's hard enough writing software for folks in general, but writing software for developers is like cooking a 5 course meal for Joel Robuchon, Gordon Ramsay and Thomas Keller. But it's also very satisfying putting together an ambitious product for your peers.</p>
  <h3>Freddy May - CEO</h4>
  <p>Freddy has founded one US based software company (PerfectForms) and three in the UK (Formic, Application Craft and most recently, Codio). As well as loving everything to do with building software platforms, Freddy is a passionate (and extremely amateur) pianist, is to be found riding his road bike in the hills around Stratford and loves to ski as far off the beaten track as possible. He's also on a bit of a mission to do something about the way that coding is taught, in schools and everywhere else for that matter. </p>
  <h3>Joel Moss - CTO</h4>
  <p>An Internet veteran of some 14 years, Joel started building sites and writing code even before the dot-com boom (and bust). What started as a hobby quickly turned into a full blown online business, which soon turned into a successful web hosting company which was subsequently acquired. Joel has always been a very active Ruby and front-end guy and has written code for several very well known companies, loves open source software, and anything shiny and new.</p>
  <h3>Max Kraev - Head of Engineering</h4>
  <p>Max started coding when he was a young lad. He was pretty terrible at computer games, so he started writing his own so he could be sure to win. Max has a degree in systems security and has done postgraduate work in cryptography and wireless security.</p>
</section>

<% content_for :foot do %>
  <%= javascript_include_tag 'vendor/scrollspy' %>
<% end %>