---
title: Codio Books
layout: layout
fixed: true
transparent: false
description: Codio Books
---

<section class="carousel-block">
  <div id="bookCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#bookCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#bookCarousel" data-slide-to="1"></li>
      <li data-target="#bookCarousel" data-slide-to="2"></li>
    </ol>
    <div class="scrollto carousel-inner" role="listbox">
      <div class="item active slot-1">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Performance Computer Science Programs</div>
            <div class="sub-heading">Save time. Reduce costs. Boost engagement. Gain better learning insights.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
      </div>
      <div class="item slot-2">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Performance Computer Science Programs</div>
            <div class="sub-heading">Save time. Reduce costs. Boost engagement. Gain better learning insights.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
      </div>
      <div class="item slot-3">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Performance Computer Science Programs</div>
            <div class="sub-heading">Save time. Reduce costs. Boost engagement. Gain better learning insights.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

