---
title: Teaching code | Universities and Colleges | Codio
description: Codio is designed for teaching computer science. Cloud based, it works on any device.
fixed: true
transparent: false
---

<section class="header-block">
  <div class="header-text">
    <div class="heading">Is your bootcamp powered by Codio?</div>
    <div class="sub-heading">
      Courses run on Codio allow instructors more time to focus on student outcomes.
    </div>
  </div>
</section>

<section class="info-block">
  <div class="text">
    <b>Built originally for professional developers and used extensively by web and application development teams -</b><br/>
    Codio's platform combines real world tools with the education wrappers that make running a bootcamp
    simpler for instructors and students.
  </div>
  <%= link_to 'Explore', '', class: 'button button-rounded button-rounded-border' %>
</section>
