---
title: "Book a Demo"
fixed: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/p/free-education-trial" %>

<section class='header-block'>
  <h1>Book a demo</h1>
</section>

<section class="demo-body">

  <div class="section first">
    <div class="section-block">
      <div class="section-block-copy">
        Find out how Codio can help you revolutionise the way you teach coding,
        and the way you manage the teaching process. A Codio expert will take
        you through Codio's key benefits and pricing structure - online or in
        person.
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="arrow">
      <div class="section second">
        <div class="section-block-row-three">
          <form id="demo-form" class="" action="<%= tiny_host %>/demo" method="post">

            <div class="section-block">
              <p>
                <input type="text" id="name" name="name" placeholder="Your name *" value="" required>
              </p>
              <p>
                <input type="text" id="company" name="company" placeholder="University or college name *" value="" required>
              </p>
              <p>
                <input type="text" id="datetime" name="datetime" placeholder="Suggest a contact date and time" value="">
              </p>
            </div>
            <div class="section-block">
              <p>
                <input type="email" id="email" name="email" placeholder="Email *" value="" required>
              </p>
              <p>
                <input type="text" id="phone" name="phone" placeholder="Telephone (Optional)" value="">
              </p>
              <div class="form-inset">
                <small>Please contact me</small>
                <p>
                  <span>
                    <input class="checkbox-custom" type="checkbox" id="byEmail" name="byEmail" value="yes" checked>
                    <label class="checkbox-custom-label" class="checkbox-custom-label" for="byEmail">by email</label
                  </span>
                  <span>
                    <input class="checkbox-custom" type="checkbox" id="byPhone" name="byPhone" value="yes" >
                    <label class="checkbox-custom-label" for="byPhone">by phone</label>
                  </span>
                </p>
              </div>
              <p>
                <input class="button" type="submit" value="Send">
              </p>
            </div>

            <div class="section-block">
              <%= inline_svg "assets/demo/robot.svg", class: "robot" %>
            </div>
          </form>

        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div class="section third" style="display:none">
    <div class="section-block">
      <h2>
        <%= inline_svg "assets/demo/smiley.svg", class: "smiley" %>
        Thanks
      </h2>
      <div class="">
        <div class="top">
          <p>
            We'll be in touch soon to arrange your demo.
          </p>
          <p>
            <small>
              In the meantime, why not sign up for a free 30 day trial or learn
              more about our Technology?
            </small>
          </p>
        </div>
        <div class="social">
          <h3>Follow us</h3>
          <a target="_blank" href="https://www.facebook.com/CodioHQ" class="icon-10 facebook" title="Facebook"><svg viewBox="0 0 512 512"><path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/></svg><!--[if lt IE 9]><em>Facebook</em><![endif]--></a>
          <a target="_blank" href="https://twitter.com/CodioHQ" class="icon-26 twitter" title="Twitter"><svg viewBox="0 0 512 512"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/></svg><!--[if lt IE 9]><em>Twitter</em><![endif]--></a>
          <a target="_blank" href="https://www.linkedin.com/company/codio" class="icon-17 linkedin" title="LinkedIn"><svg viewBox="0 0 512 512"><path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"/></svg><!--[if lt IE 9]><em>LinkedIn</em><![endif]--></a>
        </div>
      </div>
    </div>
  </div>

</section>
