---
title: "Book a demo | Teaching code | Codio"
description: "Book a Codio demo. Find out how it can revolutionise the way you tech code."
fixed: false
is_demo_page: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/p/free-education-trial" %>

<section class='header-block'>
  <h1>Request a demo</h1>
  A Codio expert will take you through the key benefits, how to use Codio in your school and pricing options for your institution.
</section>

<section class="demo-content">
  <div class="collapse-region">
    <a href="#book-now-id" data-toggle="collapse" class="button button-large button-collapse">Book Now</a>

    <div id="book-now-id" class="book-panel collapse">
      <h4>Are you a...</h4>
      <div class="action-buttons">
        <div class="dropdown">
          <a href="" class="button button-large button-dark" data-toggle="dropdown">
            School Teacher
            <span class="carret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" class="">North America</a></li>
            <li class="divider"></li>
            <li><a href="https://attendee.gotowebinar.com/rt/3941926581006800900?splash=false" class="">Europe and Asia</a></li>
            <li class="divider"></li>
            <li><a href="#" class="">CSTA and CAS</a></li>
          </ul>
        </div>
        <p>or</p>
        <%= link_to 'University Lecturer', 'https://app.hubspot.com/meetings/jbilec-sullivan/university-demo', class: 'button button-large button-dark' %>
      </div>
    </div>
  </div>
</section>

<section class="video-content">
  <h2>Latest videos</h2>
  <div class="video-player">
    <div class="section-block h_iframe">
      <%= image_tag 'assets/school/placeholdit.png', class: "ratio" %>
      <iframe src="https://player.vimeo.com/video/177558343?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
      <h4 class="title">Video title</h4>
      <p class="description"></p>
    </div>
    <div class="section-block video-list">
      <ul>
      </ul>
    </div>
  </div>
</section>