---
title: "Book a Demo"
fixed: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/p/free-education-trial" %>

<section class='header-block'>
  <h1>Book a demo</h1>
</section>

<section class="demo-body">

  <div class="section first">
    <div class="section-block">
      <div class="section-block-copy">
        Codio's editor lets you create your own course content that is tightly bound to the IDE.
        Tutorial pages can control the IDE, open files, command lines or previews.
        Students can interact with and modify live code, creating a uniquely different learning experience.
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="section second">

      <div class="section-block-row-three">
        <form class="" action="index.html" method="post">

          <div class="section-block">
            <p>
              <input type="text" id="name" name="name" placeholder="Your name" value="">
            </p>
            <p>
              <input type="text" id="company" name="company" placeholder="University or college name" value="">
            </p>
            <div class="date-time">
              <p>
                Choose Date and Time
              </p>
              <p>
                data and time picker
              </p>
            </div>
          </div>
          <div class="section-block">
            <p>
              <input type="text" id="email" name="email" placeholder="Email" value="">
            </p>
            <p>
              <input type="text" id="phone" name="phone" placeholder="Telephone" value="">
            </p>
            <small>Please contact me</small>
            <p>
              <span>
                <input class="checkbox-custom" type="checkbox" id="byPhone" name="byPhone" value="yes" >
                <label class="checkbox-custom-label" for="byPhone">by phone</label>
              </span>
              <span>
                <input class="checkbox-custom" type="checkbox" id="byEmail" name="byEmail" value="yes">
                <label class="checkbox-custom-label" class="checkbox-custom-label" for="byEmail">by email</label
              </span>
            </p>
            <p>
              <input class="button" type="submit" value="Send">
            </p>
          </div>

          <div class="section-block">
            image
          </div>

        </form>

      </div>

    </div>
  </div>

</section>
