---
title: "Book a demo | Teaching code | Codio"
description: "Book a Codio demo. Find out how it can revolutionise the way you tech code."
fixed: false
is_demo_page: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/p/free-education-trial" %>

<section class='header-block'>
  <h1>Request a demo</h1>
  A Codio expert will take you through the key benefits, how to use Codio in your school and pricing options for your institution.
</section>

<section class="demo-content">
  <div class="collapse-region">
    <a href="#book-now-id" data-toggle="collapse" class="button button-large button-collapse">Book Now</a>

    <div id="book-now-id" class="book-panel collapse">
      <h4>Are you a...</h4>
      <div class="action-buttons">
        <a href="#school-teacher-collapse" data-toggle="collapse" class="button button-large button-dark button-collapse">School Teacher</a>
        <div id="school-teacher-collapse"></div>
        <p>or</p>
        <%= link_to 'University Lecturer', 'https://attendee.gotowebinar.com/rt/3941926581006800900?splash=false', class: 'button button-large button-dark' %>
      </div>
    </div>
  </div>
</section>

<section class="video-content">
  <h2>Latest videos</h2>
  <div>
    <div class="section-block h_iframe">
      <%= image_tag 'assets/school/placeholdit.png', class: "ratio" %>
      <iframe src="https://player.vimeo.com/video/177558343?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
      <h4 style="display:block">Video title</h4>
    </div>
    <div class="section-block video-list">
      <ul>
        <li>
          <div class="video-list-item">
            <a href="#" class="thumb">
              <img src="https://i.vimeocdn.com/video/575112684.webp?mw=150&mh=80">
            </a>
            <div class="video-list-item-desc">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
          </div>
        </li>
        <li>
          <div class="video-list-item">
            <a href="#" class="thumb">
              <img src="https://i.vimeocdn.com/video/575112684.webp?mw=150&mh=80">
            </a>
            <div class="video-list-item-desc">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
          </div>
        </li>
        <li>
          <div class="video-list-item">
            <a href="#" class="thumb">
              <img src="https://i.vimeocdn.com/video/575112684.webp?mw=150&mh=80">
            </a>
            <div class="video-list-item-desc">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
          </div>
        </li>
        <li>
          <div class="video-list-item">
            <a href="#" class="thumb">
              <img src="https://i.vimeocdn.com/video/575112684.webp?mw=150&mh=80">
            </a>
            <div class="video-list-item-desc">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
          </div>
        </li>
        <li>
          <div class="video-list-item">
            <a href="#" class="thumb">
              <img src="https://i.vimeocdn.com/video/575112684.webp?mw=150&mh=80">
            </a>
            <div class="video-list-item-desc">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>