---
title: "Book a demo | Teaching code | Codio"
description: "Book a Codio demo. Find out how it can revolutionise the way you tech code."
fixed: false
is_demo_page: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class='header-block'>
  <h1>Request a demo</h1>
  A Codio education specialist will take you through the key benefits, pricing options and how to get the most out of Codio for your institution.
</section>

<section class="demo-content">
  <div class="collapse-region">
    <a href="#book-now-id" data-toggle="collapse" class="button-collapse button button-large">Book Now</a>
    <div id="book-now-id" class="collapse book-panel">
      <br/>
      <h4>Are you a...</h4>
      <div class="action-buttons">
        <div class="dropdown">
          <a href="" class="button button-large button-dark" data-toggle="dropdown">
            School Teacher
            <span class="carret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://attendee.gotowebinar.com/rt/701433821333789698" class="">North America</a></li>
            <li class="divider"></li>
            <li><a href="https://attendee.gotowebinar.com/rt/3941926581006800900?splash=false" class="">Europe and Asia</a></li>
            <li class="divider"></li>
            <li><a href="https://attendee.gotowebinar.com/rt/701433821333789698" class="">CSTA</a></li>
            <li class="divider"></li>
            <li><a href="https://attendee.gotowebinar.com/rt/1909014245387843332" class="">CAS</a></li>
          </ul>
        </div>
        <p>or</p>
        <%= link_to 'University Lecturer', 'https://app.hubspot.com/meetings/jbilec-sullivan/university-demo', class: 'button button-large button-dark' %>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</section>

<section class="video-content">
  <h2>Latest videos</h2>
  <div class="video-player">
    <div class="section-block h_iframe">
      <%= image_tag 'assets/school/placeholdit.png', alt: 'video', class: "ratio" %>
      <iframe id="vm-player" src="https://player.vimeo.com/video/177558343?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
    <div class="section-block">
      <div class="info-title">Scroll to view all videos</div>
      <div class="video-list">
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <h4 class="title">Video title</h4>
  <p class="description">Description</p>
</section>