---
title: "Book a demo | Teaching code | Codio"
description: "Book a Codio demo. Find out how it can revolutionise the way you tech code."
fixed: false
is_demo_page: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class='header-block'>
  <h1>Start Trial</h1>
  We offer onboarding session with every trial. A Codio specialist will take you through the key benefits, pricing options and how to get the most out of Codio for your institution.
</section>

<section class="demo-content">
  <div class="action-buttons">
    <%= link_to 'Contact Us', 'mailto:help@codio.com', class: 'button button-large button-action' %>
    <%= link_to 'Start Trial', '/start-edu-trial', class: 'button button-large button-main' %>
  </div>
</section>

<section class="video-content">
  <h2>Latest videos</h2>
  <div class="video-player">
    <div class="section-block h_iframe">
      <%= image_tag 'assets/school/placeholdit.png', alt: 'Online IDE', class: "ratio" %>
      <iframe id="vm-player" src="https://player.vimeo.com/video/177558343?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
    <div class="section-block">
      <div class="info-title">Scroll to view all videos</div>
      <div class="video-list">
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <h4 class="title">Video title</h4>
  <p class="description">Description</p>
</section>