---
title: "Download Desktop App | Codio"
description: "The desktop app is to allow a local code workspace to synchronize with a Codio box"
fixed: true
transparent: false
---
<section class="content-body">
  <div class="title">Download Desktop App</div>
  <div class="description">
    The desktop app is to allow a local code workspace to synchronize with a Codio box.
    Units/Projects from the <a href="/docs/dashboard/student/myclassroom">Classroom dashboard</a>
    and <a href="/docs/dashboard/student/myfirstproject">My Projects</a> area can be connected.
    A Codio account is required.<br/>
    To download the desktop app to install to your local machine select the appropriate OS (Tablet/Mobile devices are not supported).<br/>
    For more information, <a href="/docs/dashboard/desktopapp">click here</a><br/>
    Please note that you may receive warnings from any AntiVirus applications you may be running on your machine. You can ignore these (or temporarily disable the apps) while the installation completes.<br/>
  </div>
  <div class="download-block">
    <div class="item">
      <div class="os">Mac OS X</div>
      <%= link_to 'Download', 'https://dw6zcrrn88i.cloudfront.net/Codio.dmg', class: 'button button-main button-rounded', target: '_blank', alt: 'MacOS Desktop App' %>
    </div>
    <div class="item">
      <div class="os">Windows</div>
      <%= link_to 'Download', 'https://dw6zcrrn88i.cloudfront.net/Codio.exe', class: 'button button-main button-rounded', target: '_blank', alt: 'Windows Desktop App' %>
    </div>
    <div class="item">
      <div class="os">Linux</div>
      <%= link_to 'Download', 'https://dw6zcrrn88i.cloudfront.net/Codio-x86_64.AppImage', class: 'button button-main button-rounded', target: '_blank', alt: 'Linux Desktop App' %>
    </div>
  </div>
</section>