---
title: Education using the World's Most Powerful Browser-Based IDE
class_name: home education
---

<h1>A global solution to teaching coding</h1>

<h2>Overview</h2>
<p>Codio is leading a global intitiative to teach coding based on the following</p>
<ul>
  <li>Open Source Content : content is king and given its importance, it is essential that it not be controlled by governments or corporations</li>
  <li> Self Organized Learning : Sugata Mitra, winner of the TED Prize 2013 and member of this campaign's prize judging panel, has shown how formal teaching can be replaced with Self Organized Learning. Not only does this approach relieve the pressure on teachers and the education system in general but it especially promotes fun and enojoyment in the learning process.</li>
  <li>Technology : technology is essential and fortunately, all the technologies required to support this initiative already exist.</li>
</ul>

<h2>Call for Content</h2>
<p>We are calling on teachers and education minded developers all over the world to create course materials in any subject areas and at any skill levels, but especially at kids of 12 and older. </p>
<p>Possible subject matter areas could be </p>
<ul>
  <li>Front end web development : HTML5, CSS and Javascript are now absolutely fundamental technologies that we believe every aspiring developer should know about</li>
  <li>Back end languages : there are more of these than you can shake a stick at, Java, C, NodeJS and Python being just a few</li>
  <li>Source Control Management : it is almost impossible to imagine modern coders not making Git an integral part of the development workflow.</li>
  <li>Utility Frameworks : there are some open source libraries and frameworks that are industry standards. JQuery, Angular, Handlebars, Google Closure, RequireJS to name a few.</li>
</ul>
<p>Content is important, but the way the content is presented is especially important and needs to promote</p>
<ul>
  <li>Enjoyment : learning to code should be fun</li>
  <li>Engagement : however, fun can result in a lack of engagement and engagement is critical to the actual learning process</li>
  <li>SOLE (Self Organized Learning) : very few teachers know how to teach coding. The content should assume that students will work either alone or, ideally, in groups of 3 or 4 both in the classroom and outside it.</li>
</ul>
<p>We are trying to discover incredibly creative approaches and so we want to keep our guidelines to a minimum and allow your imgaination to take over.</p>

<h2>Prizes</h2>
<p>The purpose of Codio's Kickstarter campaign is to raise a prize fund that is awarded to content authors based on the combination of a) content scope and b) ability to engage students as described in the above section.</p>
<p>The entries will be judged by an independent panel (more on the judges in the section below). We will award the following prizes</p>
<ul>
  <li>Winner $25'000 - awarded to the author producing a complete beginner level course that demonstrartes exceptional innovation and ability to engage novice coders in the 12+ age category. The content will be promoted as a template which future content authors can refer to when looking for inspiration.</li>
  <li>Runners Up $10'000 (2 prizes) - the next closest exceptional contributions in the above category.</li>
  <li>Special Complete Course Prizes (minimum 4 prizes) $5'000 - we will award at least 4 prizes in this catgeory (depending on the overall size of the fund raised by this campaign) to authors of content that can be seen as a complete course with multiple modules.</li>
  <li>Course and Module Prizes (unlmited) $1'000 - the number of prizes awarded in this category will depend on the overall size of the fund raised by the campaign. Awards are for smaller courses or modules that nevertheless offer significant value to the teaching/learning community.</li>
</ul>

<p>A course is defined as being a collection of modules that cover a significant subject area aimed at  Beginner, Intermediate of Advanced levels. Examples course titles might be "An introduction to Javascript", ", "Intermediate level Javascript", "Learning and mastering Git", "Building a data driven web site", "Working with NodeJS".</p>

<h2>Prize Judging Process</h2>
<p>We will assemble a small, independent prize judging committe that will assess the entries. Codio will only have one member and one vote.</p>
<p>Entries will be judged on the principles mentioned in the Call for Content section above. We will also take feedback from teachers and students heavily into consideration.</p>
<p>The judging process will take place over a period of several weeks and will conclude 3 months after the close of the Kickstarter campaign.</p>

<h2>SOLE - Self Organized Learning Environments</h2>
<p>One of the major challenges faced in getting coding taught in schools is that very few teachers have been trained in the subject. We believe that one solution is SOLE, which encourages the following</p>
<ul>
  <li>Students organize themselves into groups of 3 or 4</li>
  <li>Groups do not have to stay fised and students can look at what other groups are doing and even move to other groups</li>
  <li>The teacher sets a challenge, which might be based on a course module, and then let the students get on a solve it themselves. Help can can from the module content, research on the internet, other students or the teacher</li>
  <li>The teacher can then ensure that groups meet the challenges and that all students are learning and contributing to the group.</li>
  
<p>In the long term, it is the teacher's responsibility to mentor and encourage the students and to ensure that individuals are contributing and learning properly. If, for example, a student is not contributing then both the group and the teacher can exert necessary pressure. </p>  
</ul>


<% content_for :foot do %>
  <%= javascript_include_tag 'education' %>
<% end %>