---
title: Education using the World's Most Powerful Browser-Based IDE
class_name: home education
---

<h1>A global solution to teaching coding</h1>

<h2>Overview</h2>
<p>Codio is leading a global intitiative to teach coding based on the following</p>
<ul>
  <li>Open Source Content : content is king and given its importance, it is essential that it not be controlled by governments or corporations</li>
  <li> Self Organized Learning : Sugata Mitra, winner of the TED Prize 2013 and member of this campaign's prize judging panel, has shown how formal teaching can be replaced with Self Organized Learning. Not only does this approach relieve the pressure on teachers and the education system in general but it especially promotes fun and enojoyment in the learning process.</li>
  <li>Technology : technology is essential and fortunately, all the technologies required to support this initiative already exist.</li>
</ul>

<h2>Call for Content</h2>
<p>We are calling on teachers and education minded developers all over the world to create course materials in any subject areas and at any skill levels, but especially at kids of 12 and older. </p>
<p>Possible subject matter areas could be </p>
<ul>
  <li>Front end web development : HTML5, CSS and Javascript are now absolutely fundamental technologies that we believe every aspiring developer should know about</li>
  <li>Back end languages : there are more of these than you can shake a stick at, Java, C, NodeJS and Python being just a few</li>
  <li>Source Control Management : it is almost impossible to imagine modern coders not making Git an integral part of the development workflow.</li>
  <li>Utility Frameworks : there are some open source libraries and frameworks that are industry standards. JQuery, Angular, Handlebars, Google Closure, RequireJS to name a few.</li>
</ul>
<p>Content is important, but the way the content is presented is especially important and needs to promote</p>
<ul>
  <li>Enjoyment : learning to code should be fun</li>
  <li>Engagement : however, fun can result in a lack of engagement and engagement is critical to the actual learning process</li>
  <li>SOLE (Self Organized Learning) : very few teachers know how to teach coding. The content should assume that students will work either alone or, ideally, in groups of 3 or 4 both in the classroom and outside it.</li>
</ul>
<p>We are trying to discover incredibly creative approaches and so we want to keep our guidelines to a minimum and allow your imgaination to take over.</p>

<% content_for :foot do %>
  <%= javascript_include_tag 'education' %>
<% end %>