---
title: Features
class_name: features
---

<div class="container">

  <header>
    <div>
      <h2>Codio Education Beta Signup</h2>
      <p>Please complete the form below and we'll get you set up with an Education Organizational Account.</p>
    </div>
    <div>
      <h1>Teaching the world to code</h1>
    </div>
  </header>
<iframe height="520" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://codio.wufoo.com/embed/m3c5x701kcpyad/"><a href="https://codio.wufoo.com/forms/m3c5x701kcpyad/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>

</div>
