---
title: Features
class_name: dataforms
---

<div class="container">

  <header>
    <div>
      <h2>Codio Education Beta Signup</h2>
      <p>Please complete the form below and we'll get you set up with an Education Organizational Account.</p>
    </div>
    <div>
      <h1>Teaching the world to code</h1>
    </div>
  </header>

<div id="wufoo-m3c5x701kcpyad">
Fill out my <a href="https://codio.wufoo.com/forms/m3c5x701kcpyad">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
<script type="text/javascript">var m3c5x701kcpyad;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'codio',
'formHash':'m3c5x701kcpyad',
'autoResize':true,
'height':'520',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { m3c5x701kcpyad = new WufooForm();m3c5x701kcpyad.initialize(options);m3c5x701kcpyad.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>  

</div>
