---
title: Features
class_name: features
---

<div class="container">

<header>
	<h1>Codio Features</h1>
	<p>Codio is packed with productivity features. Take a look below at a small selection</p>
</header>

<div class="feature">
	<h2>Command Bar</h2>
	<p class="docs">Documentation</p>
	<p>The Command Bar lets you access almost every Codio command with a single keyboard shortcut. You simply type the command you want to run and it autocompletes the list for you. It's a great place to look up keyboard shortcuts without having to explore the menu or documentation.</p>
	<p>The example below shows how a user toggles the line wrapping (which can also be done with a dedicated keyboard shortcut).</p>
	<img src="/img/animations/command-bar.gif">
</div>

<div class="feature">
	<h2>Quick Open</h2>
	<p class="docs">Documentation</p>
	<p>Quick Open is a great way of opening files without the need to access the file tree. You can start typing the name of a file and as you type, the list will narrow down. You can then select the file you want using the mouse or use the keyboard.</p>
	<img src="/img/animations/quick-open.gif">
</div>

<div class="feature">
	<h2>Panels &amp; Tabs</h2>
	<p class="docs">Documentation</p>
	<p>You can create any panel configuration you want for both code editing and also other features (such as SSH, Bower, Deployment etc.).</p>
	<p>This gives you complete control over the layout of your project. Whenever you leave you project, the panel configuration is saved and reloaded when you come back to it.</p>
	<p>You can open multiple tabs within a panel. You can drag tabs from one panel to another and you can switch tabs using the keyboard using `Alt+Shift+&gt;` and `Alt+Shift+&lt;`</p>
	<img src="/img/animations/panels.gif">
</div>

<div class="feature">
	<h2>Abbreviations / Snippets</h2>
	<p class="docs">Documentation</p>
	<p>There are a very wide range of shortcuts available for HTML, CSS and Javascript. You simply enter the abbreviation in the Code Editor and then press the Tab key to expand the abbreviation. Take a look at the example below.</p>
	<img src="/img/animations/abbreviations.gif">
</div>

</div>