---
title: Back End Features
class_name: features
---

<div class="container">

  <header>
    <div>
      <h2>Just a few highlights of Codio's Back End features...</h2>
    </div>
    <div>
      <h1>More features than hairs on Chuck Norris chest!</h1>
    </div>
  </header>


  <section class="first">
    <h2>Every project gets a Box<small><a href="/docs/boxes"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>It couldn't be easier. Each Codio project gets a Box, out of the box. Nothing to configure. No delays and no hibernation. Our base Box is fast and free to use for all public projects.</p>
      <p>It comes preconfigured with Node (with full NVM support) and Ruby (with full RVM support).
    </article>

    <span>
      <canvas id="terminal_target" class="terminal_target" width="854" height="479">
        <div id="terminal_fallback" class="terminal_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/terminal_thumb.png", :width => 854, :height => 479 %>
  </section>

  <section>
    <h2>Nodetastic</h2>
    <article>
      <p>Clone your Node project (or create a brand new one), run `npm install` and you're ready to start coding within the Codio IDE. Even better, our integrated Node debugger will be out soon.</p>
      <p>Codio comes with nvm installed, so you can run any node version you like.</p>
    </article>
  </section>

  <section>
    <h2>Rubylicious</h2>
    <article>
      <p>Ruby is also ready to run and, as with Node projects. Clone your project into Codio and you're ready to run and our rbenv support means any project will work just fine.</p>
    </article>
  </section>

  <section>
    <h2>Run Commands<small><a href="/docs/boxes/run"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>You can configure your own shell commands so they run with a click within Codio. Saves you the hassle of having to enter common commands in the Terminal window.</p>
      <p>All keyboard shortcuts can be overriden in the Settings screen. Take a look at the animation below.</p>
    </article>
    <span>
      <canvas id="termrun_target" class="termrun_target" width="854" height="479">
        <div id="termrun_fallback" class="termrun_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/termrun_thumb.png", :width => 854, :height => 479 %>
  </section>  

  <section>
    <h2>Node Debugger</h2>
    <article>
      <p>From March, we'll be be releasing a Node debugger that will include breakpoint, stepping and variable &amp; call-stack inspection.</p>
    </article>
  </section>

  <section>
    <h2>Bigger Boxes</h2>
    <article>
      <p>Currently, there we offer a single box size. Before long, however, we will be offering a choice of box sizes.</p>
    </article>
  </section>

  <section class="last">
    <h2>Always-On Boxes</h2>
    <article>
      <p>We will soon be offering Boxes that run whether your project is open in the Codio IDE or not, so you can leave server side applications running all the time.</p>
    </article>
  </section>


</div>


<%= javascript_include_tag 'animations-be' %>