---
title: Features
class_name: features
---

<div class="container">

  <header>
    <div>
      <h2>Just a few highlights of Codio's IDE features...</h2>
    </div>
    <div>
      <h1>More features than hairs on Chuck Norris chest!</h1>
    </div>
  </header>

  <div class="feature-list">
    <h3>IDE Features</h3>
    <ul>
      <li><a href="#" class="active">Abbreviations</a></li>
      <li><a href="#">Snippets</a></li>
      <li><a href="#">AutoComplete</a></li>
      <li><a href="#">Panels &amp; Tabs</a></li>
      <li><a href="#">Command Bar</a></li>
      <li><a href="#">Quick Open</a></li>
      <li><a href="#">Keyboard Shortcuts</a></li>
      <li><a href="#">Beautification</a></li>
      <li><a href="#">Linting</a></li>
      <li><a href="#">Bower</a></li>
      <li><a href="#">File Templates</a></li>
      <li><a href="#">Importing</a></li>
      <li><a href="#">SSH</a></li>
      <li><a href="#">Deployment</a></li>
    </ul>
  </div>

  <div class="feature-list">
    <h3>Box Features</h3>
    <ul class="feature-list">
      <li><a href="#">Boxes</a></li>
      <li><a href="#">Speed</a></li>
      <li><a href="#">Terminal</a></li>
      <li><a href="#">Box Parts</a></li>
    </ul>
  </div>

  <section id="feature-video">
    <div>
      <iframe src="//player.vimeo.com/video/85626827?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </section>

<!-- STILL TO DO ------------------ -->
<!-- TERN                           -->
<!--                                -->

<!--   <header>
    <div>
      <h2>And some other cool features...</h2>
    </div>
    <div>
      <h1>More features than hairs on Chuck Norris chest!</h1>
    </div>
  </header>

  <addtnl>
    <h2>Autosave</h2>
    <article>
      <p>You don't need to worry about saving manually. Codio does it for you. You can use undo and Git/Mercurial to take care of all version control requirements.</p>
    </article>
  </addtnl>
  <addtnl>
    <h2>Syntax Highlighting</h2>
    <article>
      <p>Syntax highlighting is applied to each file automatically. You can also manually apply highlighting from a list of over 80 formats</p>
    </article>
  </addtnl>
      <addtnl>
    <h2>Forking</h2>
    <article>
      <p>You can fork any Public project from any Codio user. Private projects are only forkable by those with explicit permissions.</p>
    </article>
  </addtnl>
  <addtnl>
    <h2>README.md</h2>
    <article>
      <p>Codio has support for README.md files so anyone opening up your project will automatically see an overview (a la Github).</p>
    </article>
  </addtnl>
  <addtnl class="last">
    <h2>Drag &amp; Drop Files</h2>
    <article>
      <p>Chrome users are able to drag and drop files from their desktop right into the Codio IDE at any point you require in the File Tree..</p>
    </article>
  </addtnl> -->


</div>

<% content_for :foot do %>
  <%= javascript_include_tag 'features' %>
<% end %>