---
title: Features
class_name: features
---

<div class="container">

  <header>
    <div>
      <h2>Just a few highlights of what Codio has to offer...</h2>
    </div>
    <div>
      <h1>Codio is packed full of productivity features!</h1>
    </div>
  </header>



  <section class="first">
    <h2>Command Bar<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>The Command Bar lets you access almost every Codio command with a single keyboard shortcut. You simply type the command you want to run and it autocompletes the list for you. It's a great place to look up keyboard shortcuts without having to explore the menu or documentation.</p>
      <p>The example below shows how a user toggles the line wrapping (which can also be done with a dedicated keyboard shortcut).</p>
    </article>

    <span>
      <canvas id="command_target" class="command_target" width="854" height="479">
        <div id="command_fallback" class="command_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/command_thumb.png", :width => 854, :height => 479 %>
  </section>

  <section>
    <h2>Panels &amp; Tabs<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>You can create any panel configuration you want for both code editing and also other features (such as SSH, Bower, Deployment etc.).</p>
      <p>This gives you complete control over the layout of your project. Whenever you leave you project, the panel configuration is saved and reloaded when you come back to it.</p>
      <p>You can open multiple tabs within a panel. You can drag tabs from one panel to another and you can switch tabs using the keyboard using `Alt+Shift+&gt;` and `Alt+Shift+&lt;`</p>
    </article>
    <span>
      <canvas id="panels_target" class="panels_target" width="854" height="479">
        <div id="panels_fallback" class="panels_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/panels_thumb.png", :width => 854, :height => 479 %>
  </section>

  <section class="last">
    <h2>Quick Open<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>Quick Open is a great way of opening files without the need to access the file tree. You can start typing the name of a file and as you type, the list will narrow down. You can then select the file you want using the mouse or use the keyboard.</p>
    </article>

    <span>
      <canvas id="open_target" class="open_target" width="854" height="479">
        <div id="open_fallback" class="open_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/open_thumb.png", :width => 854, :height => 479 %>
  </section>



</div>


<%= javascript_include_tag 'animations' %>