---
title: Features
class_name: features
---

<div class="container">

  <header>
    <div>
      <h2>Just a few highlights of Codio's IDE features...</h2>
    </div>
    <div>
      <h1>More features than hairs on Chuck Norris chest!</h1>
    </div>
  </header>

  <div class="feature-list">
    <h3>Box &amp; IDE Features</h3>
    <ul>
      <li><a href="85944871" class="active">Back End Boxes</a></li>
      <li><a href="85868117" >Abbreviations</a></li>
      <li><a href="#">AutoComplete</a></li>
      <li><a href="#85906776">Panels &amp; Tabs</a></li>
      <li><a href="#85852403">Command Bar</a></li>
      <li><a href="#85852405">Quick Open</a></li>
      <li><a href="#85864550">Keyboard Shortcuts</a></li>
      <li><a href="#85868118">Beautification</a></li>
      <li><a href="#85901325">Bower</a></li>
      <li><a href="#85901326">File Templates</a></li>
      <li><a href="#85906685">Importing</a></li>
      <li><a href="#85908529">SSH</a></li>
      <li><a href="#85908528">Deployment</a></li>
    </ul>
  </div>

  <!-- 
  <div class="feature-list">
    <h3>Box Features</h3>
    <ul class="feature-list">
      <li><a href="#">Boxes</a></li>
      <li><a href="#">Speed</a></li>
      <li><a href="#">Terminal</a></li>
      <li><a href="#">Box Parts</a></li>
    </ul>
  </div>
  -->

  <section id="feature-video">
    <div>
      <iframe src="//player.vimeo.com/video/85944871?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </section>

</div>

<% content_for :foot do %>
  <%= javascript_include_tag 'features' %>
<% end %>