---
title: Codio
---

<section class="hero">
  <div class="hero-inner">
    <a class="hero-logo" href=""><img alt="Logo" src="<%= lorem.image('100x100')%>"/></a>

    <div class="hero-copy">
      <p>
        Whether you’re learning to code or a professional developer, Codio gives you
        instant access to an unlimited range of ready made coding environments
      </p>
    </div>
    <button>Sign Up</button>
  </div>
</section>

<section class="pillar-text">
  <h2>Stacks & Starter Packs</h2>
  <p>
    Put to one side the complexity of set up and configuration - with one click
    stack selection from a vast library you can move on to create and innovate
    with your development projects in an instant.
    And with starter packs, Codio takes you even further with each pack providing
    a pre-configured stack, starting point code and instructional content.

    <a href="">Learn more</a>
  </p>
</section>

<section class="pillar-text">
  <h2>IDE & Infrastructure</h2>
  <p>
    Codio is powered with leading edge infrastructure and an incredibly
    usable editing environment. Enjoy access to a powerful ubuntu server
    running docker containers with plenty of free storage and processing
    power. Subscribers can also enjoy unlimited private project space and
    larger always-on boxes.

    <a href="">Learn more</a>
  </p>
</section>

<section class="pillar-text">
  <h2>Tutorials & Classes</h2>
  <p>
    At Codio we believe developers are lifelong learners but we also believe
    in taking the pain out of teaching programming skills. Teachers and
    trainers can set up class groups in an instant, invite students in,
    assign courses and modules and demonstrate coding through sharing and
    collaborating. Tutorial content can be created and published, remain
    public or private.
    <a href="">Learn more</a>
  </p>
</section>
