---
title: Teach computing. With confidence.
layout: layout
---

<section class='header-block'>
  <div class="outer-container">
    <div class="inner-container">
      <h1 class="animated fadeInDown">
        Teach computing. With confidence.
      </h1>
      <div class="action-buttons">
        <%= link_to 'Sign up', '/p/signup', class: 'button button-large' %>
        <a href="#features" class="button button-large button-info">
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>

<main>

</main>
