---
title: Teach computing. With confidence.
layout: layout
---

<section class='header-block'>
  <h1 class="animated fadeIn">
    Teach computing. With confidence.
  </h1>
  <h2 class="animated fadeIn">
    The cloud coding & content platform for teaching computer science
  </h2>
  <div class="action-buttons animated fadeInUp">
    <%= link_to 'Start free trial', '/p/signup', class: 'button button-large button-action' %>
  </div>
  <a href="#index-content-start" class="scrollto">
    <svg class="arrows">
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
  </a>
</section>

<section class="index-content">
  <h2 id="index-content-start">Full curriculum coverage</h2>
  <p>
    From Computer systems, computational and algorithmic thinking challenges,
    courses on Python and Javascript, as well as all the project workspace you
    need &mdash; Codio empowers you to teach the full Computing curriculum with
    confidence.
  </p>
  <h2>Uniquely engaging content</h2>
  <p>
    Codio course content is made interactive with live code and preview windows
    &mdash; allowing students to test and trial what they're learning; built in
    challenges also stimulate engagement and test progress towards
    learning outcomes.
  </p>
  <h2>Integrated assessments</h2>
  <p>
    Teacher dashboards display clear and simple information about Class and
    Student progress &mdash; presenting scores for built-in auto-marked
    assessments that enable you to focus more time on teaching and supporting
    and less on administration.
  </p>
  <h2>Perfect for projects</h2>
  <p>
    Accessible anywhere, with pre-configured environments containing all
    the software and other components a student will need, each user enjoys
    a dedicated virtual server for their project work &mdash, ideal in the
    classroom or at home.
  </p>
</section>
