---
title: Codio
---

<section class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Instant Coding Environments</h1>
      <p>
        Enjoy access anywhere to unlimited coding project workspace, in a powerful
        cloud IDE with a limitless range of pre-configured stacks & coding environments

      </p>
    </div>
    <button>Sign Up</button>
  </div>
</section>

<section class="pillar-text">
  <aside>
    <img alt="placeholder" src="<%= lorem.image('300x300')%>"/>
  </aside>
  <article>
    <h2>Stacks & Starter Packs</h2>
    <p>
      Put to one side the complexity of set up and configuration - with one click
      stack selection from a vast library you can move on to create and innovate
      with your development projects in an instant.
      And with starter packs, Codio takes you even further with each pack providing
      a pre-configured stack, starting point code and instructional content.

    </p>
    <a href="">Learn more</a>

  </article>
</section>

<section class="pillar-text">
  <aside>
    <img alt="placeholder" src="<%= lorem.image('300x300')%>"/>
  </aside>
  <article>

    <h2>IDE & Infrastructure</h2>
    <p>
      Codio is powered with leading edge infrastructure and an incredibly
      usable editing environment. Enjoy access to a powerful ubuntu server
      running docker containers with plenty of free storage and processing
      power. Subscribers can also enjoy unlimited private project space and
      larger always-on boxes.
    </p>
    <a href="">Learn more</a>
  </article>
</section>

<section class="pillar-text">
  <aside>
    <img alt="placeholder" src="<%= lorem.image('300x300')%>"/>
  </aside>
  <article>

    <h2>Tutorials & Classes</h2>
    <p>
      At Codio we believe developers are lifelong learners but we also believe
      in taking the pain out of teaching programming skills. Teachers and
      trainers can set up class groups in an instant, invite students in,
      assign courses and modules and demonstrate coding through sharing and
      collaborating. Tutorial content can be created and published, remain
      public or private.
    </p>
    <a href="">Learn more</a>

  </article>
</section>
