---
title: Codio
layout: layout-new
---
<main>
  <section id="welcome">
    <div class="container">
      <h1>The cloud coding & content platform for teaching computer science</h1>
    </div>
  </section>
  <section id="platform">
    <div class="container">
      <div class="section-image">
        <div class="image"></div>
      </div>
      <div class="section-content">
        <h1>Powerful IDE & coding platform</h1>
        <p>Setting up & configuring the right environment to support the learning experience is complex and time consuming.</p>
        <p>Codio is accessible anywhere & comes with all the software, storage, & editing workspace you & your students
          need.</p><a href="/platform" class="button">More info</a>
      </div>
    </div>
  </section>
  <section id="content">
    <div class="container">
      <div class="section-image">
        <div class="image"></div>
      </div>
      <div class="section-content">
        <h1>Curriculum-based teaching content</h1>
        <p>It’s hard to find a comprehensive range of course content aligned to key stages, & mapped to the curriculum.</p>
        <p>We’ve created teaching resources mapped to the computing curriculum; you can also create & share your own
          courses.</p><a href="/teaching-content" class="button">More info</a>
      </div>
    </div>
  </section>
  <section id="support">
    <div class="container">
      <div class="section-image">
        <div class="image"></div>
      </div>
      <div class="section-content">
        <h1>Comprehensive teacher support</h1>
        <p>Setting up & organising student groups can be complex, time consuming & often detracts from the focus on teaching.</p>
        <p>Codio organises your students with bulk account creation, course content admin, progress tracking and
          feedback loops.</p><a href="/teacher-support" class="button">More info</a>
      </div>
    </div>
  </section>
  <section id="our-partners">
    <div class="container">
      <h1>Our Memberships & Partners</h1>
      <a href="http://www.ocr.org.uk/">
        <div id="ocr"></div>
      </a>
      <a href="http://www.computingatschool.org.uk/">
        <div id="focas"></div>
      </a>
      <a href="http://www.naace.co.uk/">
        <div id="naace"></div>
      </a>
    </div>
  </section>
  <section class="big-button"><a href="https://codio.com/p/signup" class="button">Get started with Codio</a></section>
  <section id="featured">
    <div class="container">
      <h1>Featured</h1>
      <div id="featured-section-1"><a href="https://youtu.be/V7XMcD-TJaQ">
        <div class="image"></div></a>
        <p>Codio-the cloud platform for teaching computer programming.</p>
        <a href="https://youtu.be/V7XMcD-TJaQ"><div class="icon"></div></a>
      </div>
      <div id="featured-section-2"><a href="/blog/2015/01/ocr-collaboration/">
        <div class="image"></div></a>
        <p>Codio & OCR Collaborate on resources to support Computing teachers.</p>
        <a href="/blog/2015/01/ocr-collaboration/"><div class="icon"></div></a>
      </div>
      <div id="featured-section-3"><a href="https://youtu.be/Is8YAFQfRGI">
        <div class="image"></div></a>
        <p>Computer science & programming with Shahneila Saeed.</p>
        <a href="https://youtu.be/Is8YAFQfRGI"><div class="icon"></div></a>
      </div>
    </div>
  </section>
  <section id="schools">
    <div class="container">
      <h1>Schools and Universities using Codio</h1>
      <div class="schools">
        <div class="coventry"></div>
        <div class="ucode"></div>
        <div class="cgs"></div>
        <div class="walter"></div>
        <div class="cbk"></div>
      </div>
    </div>
  </section>
  <section class="big-button">
    <a href="https://codio.com/p/signup" class="button">Get started with Codio</a>
  </section>
</main>
