---
title: Teach computing. With confidence.
layout: layout
---

<section class='header-block'>
  <div class="outer-container">
    <div class="inner-container">
      <h1 class="animated fadeIn">
        Teach computing. With confidence.
      </h1>
      <h2 class="animated fadeIn">
        The cloud coding & content platform for teaching computer science
      </h2>
      <div class="action-buttons animated fadeInUp">
        <%= link_to 'Start free trial', '/p/signup', class: 'button button-large button-action' %>
      </div>
      <div class="scrolldown">
        <svg class="arrows">
	  <path class="a3" d="M0 40 L30 72 L60 40"></path>
	</svg>
      </div>
    </div>
  </div>
</section>

<main>
  <h2>Great Content</h2>
</main>
