---
title: Codio
layout: index
---
<section class="pillar-text">
  <aside>
    <%= sprockets.find_asset("icons/stacks.svg").to_s %>
  </aside>
  <article>
    <h2>
      Codio’s instant coding environments are accessible in the
      classroom, at home, anywhere
    </h2>
    <p>
      through any machine and any browser; no more lost USB sticks or
      version control issues; your code is ready and accessible any time
      you sign in.  Each student enjoys a powerful code editor with
      unlimited project workspace, dedicated servers and plenty of
      storage.
    </p>
    <a href="">Learn more</a>

  </article>
</section>

<section class="pillar-text">
  <aside>
    <%= sprockets.find_asset("icons/ide.svg").to_s %>
  </aside>
  <article>

    <h2>
      Put to one side the complexity of set up and configuration.
    </h2>
    <p>
      With one click stack selection from a limitless library you can
      move on to create and innovate with your development projects in
      an instant.  And with starter packs, Codio takes you even
      further with each pack providing a pre-configured stack,
      starting point code and instructional content.
    </p>
    <a href="">Learn more</a>
  </article>
</section>

<section class="pillar-text">
  <aside>
    <%= sprockets.find_asset("icons/book.svg").to_s %>
  </aside>
  <article>

    <h2>At Codio we believe developers are lifelong learners but we
      also believe in taking the pain out of teaching programming.
    </h2>
    <p>
      Teachers and trainers can set up class groups in an instant,
      invite students in, assign courses and modules, view student
      projects and demonstrate coding through sharing and
      collaborating. Tutorial content can be created and published,
      remain public or be made private.
    </p>
    <a href="">Learn more</a>

  </article>
</section>
