---
title: Visual IDE in the Cloud
class_name: home
---
<!-- <div>
        <p>We are building</p>
        <p>the very first</p>
        <p>cloud-based IDE</p>
        <p>for web development</p>
        <p>you will want to use day in, day out</p>
      </div>
      <div>
        <p>Code, collaborate, deploy ...</p>
      </div> -->

<header>
  <div class="container">

    <div id="headline">
      <%= image_tag "home/headline.png", :width => 741, :alt => "Visual Development in the Cloud" %>
    </div>

    <div id="qualifier" class="clearfix">
      <div>
        <%= image_tag "home/wheel.png", :width => 250, :alt => "Visual Development in the Cloud" %>
      </div>
      <div>
        <p>We’re building a world first...</p>
        <p>A cloud based IDE for the web developer that is powerful, flexible and extensible. But above all, loads of fun to use.</p>
        <p>We're making the IDE exciting again, and we’re doing it in the browser.</p>
      </div>
    </div>

  </div>
</header>


<section id="nav-banner" class="clearfix">
  <div class="container">
    <ul>
      <li class="active"><a href="#current-features">Current Features</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#examples">Examples</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#future-features">Coming Soon</a></li>
    </ul>
  </div>
</section>


<section id="features">
  <div class="container">

    <ul id="current-features">
      <li>
        <ul>
          <li>
            <h4><i class="icon-cloud"></i> 100% Cloud-Based</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi corporis doloremque. Maxime totam ullam obcaecati enim inventore.</p>
          </li>
          <li>
            <h4><i class="icon-cog"></i> Any HTML5+CSS+JS Application</h4>
            <p>Web front-end, web site, mobile web app, code library - any type of web application can be built with Crafted. We will be adding HAML, SCSS, SASS etc. before too long.</p>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <h4><i class="icon-edit"></i> Beautiful Code Editor</h4>
            <p>Like many others, we are eternally grateful to the ACE project for the best web-based code editor in existence.</p>
          </li>
          <li>
            <h4><i class="icon-cloud-upload"></i> Develop AND Run</h4>
            <p>Crafted is not just an IDE. It also lets you run and deploy your applications on the Crafted platform. You can manage multiple environments such as development, staging, and production.</p>
          </li>
          <li>
            <h4><i class="icon-paste"></i> Code Completion</h4>
            <p>Yup - code completion. As you type, code suggestions appear below your code.</p>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <h4><i class="icon-cloud-download"></i> Import from Git and Zip</h4>
            <p>Import from a Git repo or a Zip file.</p>
          </li>
          <li>
            <h4><i class="icon-sitemap"></i> Fork a Project</h4>
            <p>Fork any public or anonymous project into your own user account or anonymously.</p>
          </li>
          <li>
            <h4><i class="icon-comments-alt"></i> Private / Public Projects</h4>
            <p>You can have as many public projects as you like - all for free. For those who want to protect their project we will soon be adding private projects.</p>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <h4><i class="icon-group"></i> Teams</h4>
            <p>You can group Crafted users into teams, who can then be assigned read/write/admin access. Soon, teams will be a part of the special Organization account.</p>
          </li>
          <li>
            <h4><i class="icon-refresh"></i> Collaboration</h4>
            <p>Crafted allows any number of users to collaborate in real-time projects, in a Google Docs manner. Git integration is right around the corner to complete the picture.</p>
          </li>
          <li>
            <h4><i class="icon-user"></i> Anonymous Mode</h4>
            <p>You can access the Crafted IDE without even signing up. By bookmarking the URL any project you create will be only editable by you. Others can look at your code and even fork it.</p>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="future-features">
      <li>
        <p>These are just some of the features that we are working hard to make available in Crafted.</p>
      </li>
      <li>
        <ul>
          <li>
            <h4><i class="icon-th-large"></i> Multi-Pane Code Editing</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
          <li>
            <h4><i class="icon-eye-open"></i> Instant Preview</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
          <li>
            <h4><i class="icon-desktop"></i> Server-Side Javascript</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <h4><i class="icon-star"></i> Project Starring</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
          <li>
            <h4><i class="icon-step-backward"></i> Version Control</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
          <li>
            <h4><i class="icon-picture"></i> Resource Browser</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <h4><i class="icon-cloud-upload"></i> External Deployment</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
          <li>
            <h4><i class="icon-tablet"></i> Mobile Build</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
          <li>
            <h4><i class="icon-group"></i> Team Accounts</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
          </li>
        </ul>
      </li>
    </ul>

    <hr>

  </div>
</section>


<section>
  <div class="container">

    <div><%= image_tag "home/feature3.png", :width => 330, :alt => 'Deploy as a web app and to the App Stores' %></div>
    <div>
      <h2>Benefits</h2>
      <p>Crafted has everything you need on one place. No need to set up servers for development or delpoyment. You can have your first app up and running in a couple of minutes <a href="/product">Learn more &raquo;</a></p>
    </div>
    <ul>
        <li>
          <h4>Build apps without having to sign up</h4>
          <p></p>
        </li>
        <li>
          <h4>If it's public, it's free</h4>
          <p></p>
        </li>
        <li>
          <h4>The complete stack : Coding, deployment, Git integration</h4>
          <p></p>
        </li>
        <li>
          <h4>No vendor lock-in</h4>
          <p></p>
        </li>
        <li>
          <h4>Blazingly fast</h4>
          <p></p>
        </li>
        <li>
          <h4>Any size project</h4>
          <p></p>
        </li>
    </ul>

  </div>
</section>

<section>
  <div class="container">

    <div>
      <h2>Examples</h2>
      <p>There's no better way to see Crafted in action than loading up some juicy projects and running them in the IDE. <a href="/product">Run and fork now &raquo;</a></p>
    </div>
    <div><%= image_tag "home/feature4.png", :width => 300, :alt => 'Everything is HTML5, CSS and Javascript' %></div>
    <ul>
        <li>
          <h4>ToDoMVC</h4>
          <p>A complex project demonstrating MVC frameworks</p>
        </li>
        <li>
          <h4>Web Site</h4>
          <p>A web site ...</p>
        </li>
        <li>
          <h4>Mobile Web App</h4>
          <p>This demonstrates a mobile application based on the jquerymobile+jquery framework</p>
        </li>
        <li>
          <h4>Starter Backbone App</h4>
          <p></p>
        </li>
        <li>
          <h4>Ember.js</h4>
          <p></p>
        </li>
        <li>
          <h4>HTML5 Boilerplate</h4>
          <p></p>
        </li>
        <li>
          <h4>3.JS</h4>
          <p></p>
        </li>
        <li>
          <h4>HTML5 Game</h4>
          <p></p>
        </li>
        <li>
          <h4>Codepen Demos</h4>
          <p></p>
        </li>
    </ul>

  </div>
</section>