---
title: Visual IDE in the Cloud
class_name: home
---

<header>
  <div class="container">

    <div id="public-stamp">
      <%= image_tag "home/free-public.png", :width => 224, :alt => "Visual Development in the Cloud" %>
    </div>

    <div class="clearfix">
      <div>
        <div>
          <p>We're building</p>
          <p>an amazing</p>
          <p>Web IDE</p>
          <div>
            <p class="clearfix">
              <span>You'll love to Use every day</span>
            </p>
          </div>
          <%= image_tag 'flourish.gif', :width => 174, :height => 28 %>
        </div>
        <%# image_tag "home/headline2.png", :width => 545, :alt => "Visual Development in the Cloud" %>
        <p>Crafted.io is so much more than a code editor. It covers the complete web development lifecycle; from prototype to deployment, and a hell of a lot in between.</p>
      </div>

      <div>Crafted.io</div>
    </div>

  </div>
</header>


<section id="nav-banner" class="clearfix">
  <div class="container">
    <ul>
      <li class="active"><a href="#benefits">Why it's Awesome</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#examples">Examples</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#current-features">Features</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#future-features">Coming Soon</a></li>
    </ul>
  </div>
</section>


<section id="features" class="switched-lists">
  <div class="container">

    <ul id="benefits" class="columned">
      <li>
        <ul>
          <li>
            <h3>Why is Crafted awesome?</h3>
          </li>
          <li>
            <p>Crafted has everything you need in one place to build and run HTML5+CSS+JS applications of any size. No need to set up servers for development or deployment. You'll have your first app up and running in minutes! <a href="/product">Learn more &raquo;</a></p>
          </li>
        </ul>
      </li>
      <li><p></p></li>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <h4><i class="icon-thumbs-up"></i> No sign up needed</h4>
                <p>You can use our IDE without even having to sign up. Cick here to start using it right away.</p>
              </li>
              <li>
                <h4><i class="icon-unlock"></i> Collaborate in real time</h4>
                <p>Collaboration is at the heart of what we do. Currently Google Docs style but very soon fully Git support, developer chat</p>
              </li>
              <li>
                <h4><i class="icon-road"></i> Tiny or Huge</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-eye-open"></i> If it's public, it's free</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
              </li>
              <li>
                <h4><i class="icon-tasks"></i> A complete stack</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
              </li>
              <li>
                <h4><i class="icon-fire"></i> Blazingly fast</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="current-features" class="columned">
      <li>
        <p>Just take a look at what we've already done in our endeavour to make the perfect web development IDE.</p>
      </li>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <h4><i class="icon-cog"></i> Any Web Application</h4>
                <p>Any HTML5+CSS+JS front-end, web site, mobile web app or code library works in our IDE. And we're adding HAML, SCSS, SASS etc. before too long.</p>
              </li>
              <li>
                <h4><i class="icon-edit"></i> Beautiful Code Editor</h4>
                <p>Like many others, we're eternally grateful to the ACE project for the best web-based code editor in existence.</p>
              </li>
              <li>
                <h4><i class="icon-cloud-upload"></i> Develop, Run, Host</h4>
                <p>Crafted is not just an IDE. It also lets you run and deploy your applications on the Crafted platform. Manage multiple environments such as development, staging, and production.</p>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-cloud"></i> 100% Cloud-Based &amp; Fast</h4>
                <p>Everything runs in your browser and is blazingly fast. You can access and fork projects without even needing an account.</p>
              </li>
              <li>
                <h4><i class="icon-refresh"></i> Highly Collaborative</h4>
                <p>Crafted allows any number of users to collaborate in real-time projects, a la Google Doc. Full Git integration is right around the corner to complete the picture.</p>
              </li>
              <li>
                <h4><i class="icon-sitemap"></i> Fork any Project</h4>
                <p>Fork any public or anonymous project into your own user account or without even going to the trouble of creating an account.</p>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-group"></i> Teams &amp; Organizations</h4>
                <p>You can group Crafted users into teams, who can then be assigned read/write/admin access. Soon, teams will be a part of the special Organization account.</p>
              </li>
              <li>
                <h4><i class="icon-cloud-download"></i> Import from Git and Zip</h4>
                <p>Import from a Git repo or a Zip file and your project can be run instantly within the IDE. Just press the Run button.</p>
              </li>
              <li>
                <h4><i class="icon-user"></i> Anonymous Mode</h4>
                <p>You can access the Crafted IDE without even signing up. By bookmarking the URL any project you create will be only editable by you. Others can look at your code and even fork it.</p>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-paste"></i> Code Completion</h4>
                <p>Not much to say here. As you type, code suggestions appear below your code.</p>
              </li>
              <li>
                <h4><i class="icon-comments-alt"></i> Private &amp; Public Projects</h4>
                <p>You can have as many public projects as you like - all for free. For those who want to protect their project we will soon be adding private projects.</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="future-features" class="columned">
      <li>
        <p>These are just some of the features that we are working hard to make available in Crafted.</p>
      </li>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <h4><i class="icon-th-large"></i> Multi-Pane Code Editing</h4>
                <p>You can have up to 3 panes for side-by-side editing of any of your project files.</p>
              </li>
              <li>
                <h4><i class="icon-eye-open"></i> Instant Preview</h4>
                <p>This is a great click-saving feature</p>
              </li>
              <li>
                <h4><i class="icon-desktop"></i> Server-Side Javascript</h4>
                <p>For those who want secure server-side javascript execution but with complete ease-of-use. Think of it as syncronous NodeJS. </p>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-star"></i> Project Starring</h4>
                <p>Just like you get on Github, it let's you flag other people's public projects so you can come back to them quickly and easily.</p>
              </li>
              <li>
                <h4><i class="icon-step-backward"></i> Version Control</h4>
                <p>Crafted's version control leverages your Github account. You press a button in the IDE and a version gets created.</p>
              </li>
              <li>
                <h4><i class="icon-picture"></i> Resource Browser</h4>
                <p>This let's you explore and manage your project files and is especially useful for images with multi-file upload and other cool features.</p>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-cloud-upload"></i> External Deployment</h4>
                <p>We are adding in single button press deployment to multiple Crafted.io production locations as well as FTP and SFTP. Great for Development, Staging and Production scenarios. </p>
              </li>
              <li>
                <h4><i class="icon-tablet"></i> Mobile Build</h4>
                <p>If you're familiar with Phonegap:Build, then this is our own equivalent for converting HTML5 mobile apps into Appstore ready binaries. Comes with Certificate management, too.</p>
              </li>
              <li>
                <h4><i class="icon-group"></i> Team Accounts</h4>
                <p>Create Organizations and Teams for assigning Read/Write/Admin permissions as well as single-point billing.</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="examples" class="columned">
      <li>
        <p>There's no better way to see Crafted in action than loading up some juicy projects and running them in the IDE.</p>
        <p>Once the app is loaded in the IDE, simply press the Play button to run it.<p>
      </li>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <h4><i class="icon-th-large"></i> ToDoMVC</h4>
                <p>This is the ToDoMVC project for understanding and choosing an MVC Framework. It is a large project showing several MVC frameworks in action.</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-eye-open"></i> A Web Site</h4>
                <p>This is a copy of the Crafted.io web site. We actually built ours using SCSS and YAML, which are being added to Crafted.io soon.</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-desktop"></i> Backbone.js</h4>
                <p>A simple backbone.js application. </p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-star"></i> jquerymobile</h4>
                <p>This shows an application built using jquerymobile. You can run this on the desktop or in a mobile browser.</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-step-backward"></i> Sencha Touch</h4>
                <p>Sencha Touch is an HTML5 mobile framework. This is one of their demo applications ready to play with and run.</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-picture"></i> KendoUI</h4>
                <p>And yet one more mobile HTML5 framework to show you there is some choice. </p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-star"></i> three.js</h4>
                <p>Very cool 3D graphics demo using WebGL. Make sure your browser supports WebGL though.</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-step-backward"></i> HTML5 Physics</h4>
                <p>A nice little demo of an HTML5 physics engine. http://cocos2d-javascript.org/downloads</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-picture"></i> HTML5 Boilerplate</h4>
                <p>View and edit the HTML5 Boilerplate</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-cloud-upload"></i> Pixelate</h4>
                <p>Shows a piece of text being pixelated and then exploding the pixels under gravity. http://codepen.io/Francext/pen/frFIh</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-tablet"></i> Analog Clock</h4>
                <p>by Ilia Draznin. Shows what can be achieved with just HTML and CSS. Not a crumb of javascript used here. http://codepen.io/iliadraznin/pen/JcqbE </p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
              <li>
                <h4><i class="icon-group"></i> HTML5+CSS+JS How Tos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit itaque quibusdam voluptas fugit cupiditate nam pariatur ratione!</p>
                <a href="#"><i class="icon-play"></i> run and play...</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</section>
