---
title: Legal
---

<section>
  <h2 id="toc">Terms and Conditions</h2>

  <%= lorem.words 400 %>
</section>

<section>
  <h2 id="privacy-policy">Privacy Policy</h2>

  <%= lorem.words 400 %>
</section>
