---
title: Our Mission
---

<div class="header-block">
  <h2>
    We are the cloud coding & content <em>platform</em><br/>
    for <em>teaching computer science</em><br/>
    in schools and universities
  </h2>
</div>

<div class="mission-section">
  <h2>Our Mission</h2>

  <p>
    Education systems around the world are changing &mdash; at its heart, Codio
    is embracing this change as an education technology company pioneering
    support for teachers with a disruptive and innovative approach to help
    teach the world to code.
  </p>
  <p>
    Putting the needs of teachers first, and with a relentless focus on the
    student learning experience &mdash; Codio has been built by computer scientists, and
    specialists in user engagement, following extensive consultation with teachers
    and lecturers in computer science.
  </p>
</div>
