---
title: Codio - Powerful IDE & coding platform
layout: layout-new
---

<main class="subpage">
  <section>
    <h1>Powerful IDE & coding platform</h1>
    <div class="container">
      <p>Setting up the right technology environment for teaching computer science is complex and time consuming.</p>
      <p>It’s hard enough configuring the right software at school, before worrying about student access at home.</p>
    </div>
  </section>
  <section>
    <div class="container">
      <h1>Codio’s platform tackles these problems head on, providing you with a powerful solution for teaching computer science</h1>
    </div>
  </section>
  <section>
    <div class="video">
      <a class="video-modal" href="https://vimeo.com/122905464" target="_blank">
        <span>See how <em>Codio</em> can</span>
        <span>benefit your school</span>
      </a>
    </div>
  </section>
  <section class="section-left">
    <div class="left">
      <p>You can access Codio anywhere, so students can continue class work at home on their own devices.</p>
    </div>
    <div class="right simple-image" >
      <%= image_tag "new/uni/platform/01.png" %>
    </div>
  </section>
  <section class="section-left">
    <div class="left">
      <p>
        Codio comes pre-configured with all necessary software languages and components - no more time
        wasted setting up everyone's development environment.
      </p>
    </div>
    <div class="right">
      <%= image_tag "new/uni/platform/02.png" %>
    </div>
  </section>
  <section class="section-left">
    <div class="left">
      <p>
        Codio is a professional grade coding environment. Each project gets its own dedicated server,
and students enjoy unlimited project workspace.
      </p>
    </div>
    <div class="right">
      <%= image_tag "new/uni/platform/03.png" %>
    </div>
  </section>
  <section class="section-left">
    <div class="left">
      <p>The user interface allows side-by-side display of teaching content, code editing & preview windows – allowing you to play a more facilitative, supporting and coaching role.</p>
    </div>
    <div class="right">
      <%= image_tag "new/uni/platform/04.png" %>
    </div>
  </section>
  <section class="big-button"><a href="/p/signup" class="button">Get started with Codio</a></section>
</main>
