---
title: Pricing
class_name: pricing
---

<div class="container">

  <section id="matrix">
    <div>
      <h3>FREE</h3>
      <h4>for <strong>Public</strong> &amp; <strong>Open Source</strong> Projects</h4>
      <p><a href="/p/signup">Free Sign Up</a></p>
    </div>

    <div>
      <h3>unlimited <strong>Private</strong> projects &amp; boxes</h3>
      <p>
        <a href="/p/subscribe">Sign Up to Get Started</a>
        <a href="#education">Educational discounts available. Click for more...</a>
      </p>
    </div>
  </section>
  
  <section id="orgs">
    <h2>Organization Plans &amp; Pricing</h2>
    
    <div>
      <div>
        If you work as part of one or more teams, you can create an Organization, which will allow your team members to use Codio without requiring a subscription themselves. Just <a href="/p/signup">sign up</a> or <a href="/p/login">sign in</a> in the usual way, and <a href="/home/orgs/new">create your Organization</a>. Then choose from these plans:
      </div>

      <div class="plans-list">
        <table>
          <tbody>
            <tr class="plans-item">
              <td class="name">Plan 1</td>
              <td class="count">5 Users</td>
              <td class="type">Unlimited Public &amp; Private Projects</td>
              <td class="price">$35 month</td>
            </tr>

            <tr class="plans-item">
              <td class="name">Plan 2</td>
              <td class="count">10 Users</td>
              <td class="type">Unlimited Public &amp; Private Projects</td>
              <td class="price">$70 month</td>
            </tr>

            <tr class="plans-item">
              <td class="name">Plan 3</td>
              <td class="count">20 Users</td>
              <td class="type">Unlimited Public &amp; Private Projects</td>
              <td class="price">$140 month</td>
            </tr>

            <tr class="plans-item">
              <td class="name">Plan 4</td>
              <td class="count">50 Users</td>
              <td class="type">Unlimited Public &amp; Private Projects</td>
              <td class="price">$350 month</td>
            </tr>

            <tr class="plans-item">
              <td class="name">Plan 5</td>
              <td class="count">100 Users</td>
              <td class="type">Unlimited Public &amp; Private Projects</td>
              <td class="price">$700 month</td>
            </tr>

            <tr class="plans-item">
              <td class="name">Free</td>
              <td class="count">Unlimited Users</td>
              <td class="type">Unlimited Public Projects</td>
              <td class="price">$0.00 month</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section id="faqs" class="clearfix">
    <h2>
      FAQ's
      <small>More questions? Email us <a href="mailto:help@codio.com">help@codio.com</a>.</small>
    </h2>

    <ul>
      <li>
        <h4>What do I get for free?</h4>
        <p><a href="/p/signup">Sign up</a> for FREE, and you can create <strong>one</strong> private project and an <strong>unlimited</strong> number of public projects, which are visible and forkable to everyone.</p>
      </li>

      <li>
        <h4>How many projects can I create?</h4>
        <p>There is no limit to the number of public projects you can have. If you are a paying subscriber, you can also create an <strong>unlimited</strong> number of private projects.</p>
      </li>

      <li>
        <a name="education"></a>
        <h4>Do you offer discounts for Education?</h4>
        <p>Please email all educational inquiries to <a href="mailto:support@codio.com">support@codio.com</a>.</p>
      </li>

      <li>
        <h4>Can I buy bigger Boxes?</h4>
        <p>Currently not but it is something that will be available in early Spring 2014.</p>
      </li>

      <li>
        <h4>Can I leave my Box running?</h4>
        <p>Currently not but it is also something that will be available in early Spring 2014. This will require a subscription. Currently, Boxes will shut down a) after 30 minutes of inactivity or b) within 2 minutes of you exiting your project. Don't worry, though, a Box spins up in less than one second.</p>
      </li>

      <li>
        <h4>What are the quotas and Box capacities</h4>
        <p>Each Box may currently use up to 512MB of memory and there is a soft limit of 16GB of aggregate storage across all free projects. We will be expanding our Box options soon to offer higher storage and memory configurations. We also expect you not to have multiple projects open simultaneously that generate load. Our <%= link_to 'Acceptable Usage Policy', '/legal/aup' %> explains this in more detail.</p>
      </li>

      <li>
        <h4>Can I use custom domain names?</h4>
        <p>Not yet, but we will be adding this feature before too long. If you are interested in this, please email support@codio.com</p>
      </li>

      <li>
        <h4>Can I cancel?</h4>
        <p>You can cancel month-to-month at any time with no questions asked. Your subscription will be active until the end of the current month you paid for.</p>
      </li>

      <li>
        <h4>What happens after cancellation?</h4>
        <p>After cancellation, your private projects will be disabled and you will not be able to access them. However, you will still be able to change their visibility and make them public, or even delete them.</p>
      </li>

      <li>
        <h4>Can I delete my account?</h4>
        <p>Yes, you can delete your account and all projects in your account will be irretrievably deleted.</p>
      </li>

      <li>
        <h4>Will you raise the price?</h4>
        <p>We will only raise the base price if we add something very significant that changes our cost base. We will be introducing variable pricing to cater for optional features (Always On Boxes, higher spec Boxes, Organization accounts are planned.)</p>
      </li>

      <li>
        <h4>Am I locked into Codio / can I get my code out?</h4>
        <p>Codio does not interfere with your code in any way at all. If you want to get any project out of Codio and into another IDE there are many ways to do it, including pushing to a Git repo or exporting as a ZIP file.</p>
      </li>

      <li>
        <h4>Can I see the Terms &amp; Conditions, Acceptable Usage Policy, Refund Policy, etc.?</h4>
        <p>All of our <%= link_to 'legal stuff', '/legal' %> can be found here.</p>
      </li>
    </ul>
  </section>


</div>
