---
title: Pricing (TBA)
class_name: pricing
---

<div class="container">

  <section>
    <h2>PRICING <small class="coming-soon"></small></h2>
    <p>Codio is currently in public beta, during which all features are available for free. We will shortly be leaving beta at which point there will be a small monthly fee for creating private projects.</p>
  </section>

  <section id="opensource">
    <div>
      <h2>Open Source<span> - Free</span></h2>
      <p>Codio is and always will be <strong>free</strong> for any project whose source is publicly available.</p>
    </div>

    <div><%= image_tag 'home/oss.png', :width => 106, :height => 128 %></div>

    <div>
      <h2>Students<span> - Free</span></h2>
      <p>Codio is perfect for teaching and learning to code. <a href="/p/signup" data-no-turbolink="1">Create a project</a> and you're ready to run your code.</p>
    </div>
  </section>

</div>
