---
title: Pricing
---

<section class="intro">
  <h1>Take your students learning experience to the next level.</h1>

  <p>
    All Codio subscriptions come with unlimited private projects
    & we reward schools and universities with better value
    whole institution or user group licences.
  </p>
</section>

<section class="tabs">

  <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked"/>
  <label for="tab-1" class="tab-label-1">Education</label>

  <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2"/>
  <label for="tab-2" class="tab-label-2">Professional</label>

  <div class="clear-shadow"></div>
  <div class="content">

    <div class="content-1">
      <%= partial "pricing-education" %>
    </div>

    <div class="content-2">
      <%= partial "pricing-professional" %>
    </div>
  </div>
</section>
