---
title: Pricing
class_name: pricing
---

<div class="container">

  <section id="matrix">
    <div>
      <h3>FREE</h3>
      <h4>for <strong>Public</strong> &amp; <strong>Open Source</strong> Projects</h4>
      <p><a href="/p/signup">Free Sign Up</a></p>
    </div>

    <div>
      <h3>unlimited <strong>Private</strong> projects &amp; boxes</h3>
      <p><a href="/p/subscribe">Sign Up to Get Started</a></p>
      <p>After signing in, just create a private project to start a new Subscription, or open the <code>Codio > Subscription</code> menu item.</p>
    </div>
  </section>

  <section id="faqs" class="clearfix">
    <h2>
      FAQ's
      <small>More questions? Email us <a href="mailto:help@codio.com">help@codio.com</a>.</small>
    </h2>

    <ul>
      <li>
        <h4>What do I get for free?</h4>
        <p><a href="/p/signup">Sign up</a> for FREE, and you can create an <strong>unlimited</strong> number of public projects, which are visible and forkable to everyone.</p>
      </li>

      <li>
        <h4>How many projects can I create?</h4>
        <p>There is no limit to the number of public projects you can have. If you are a paying subscriber, you can also create an <strong>unlimited</strong> number of private projects.</p>
      </li>

      <li>
        <h4>What are the quotas and Box capacities</h4>
        <p>Each Box may use up to 512MB of memory currently and there is a soft limit of 16GB of aggregate storage across all free projects. We will be expanding our Box options soon to offer Always On Boxes as well as higher storage and memory configurations. We also expect you not to have multiple projects open simultaneously that generate load. Our <%= link_to 'Acceptable Usage Policy', '/legal/aup' %> explains this in more detail.</p>
      </li>

      <li>
        <h4>Can I used custom domain names?</h4>
        <p>Not yet, but we will be adding this feature before too long. If you are interested in this, please email support@codio.com</p>
      </li>

      <li>
        <h4>Can I cancel?</h4>
        <p>You can cancel month-to-month at any time with no questions asked. Your subscription will be active until the end of the current month you paid for.</p>
      </li>

      <li>
        <h4>What happens after cancellation?</h4>
        <p>After cancellation, your private projects will be disabled and you will not be able to access them. However, you will still be able to change their visibility and make them public, or even delete them.</p>
      </li>

      <li>
        <h4>Can I delete my account?</h4>
        <p>Yes, you can delete your account and all projects in your account will be irretrievably deleted.</p>
      </li>

      <li>
        <h4>Will you raise the price?</h4>
        <p>We will only raise the base price if we add something very significant that changes our cost base. We will be introducing variable pricing to cater for optional features (Always On Boxes, higher spec Boxes, Organization accounts are planned. Anyone who had an active subscription before we added our Boxes capability can apply for a coupon code that will maintain the $8 until 12 months from the date you subscribed.</p>
      </li>

      <li>
        <h4>Am I locked into Codio / can I get my code out?</h4>
        <p>Codio does not interfere with your code in any way at all. If you want to get any project out of Codio and into another IDE there are many ways to do it, including pushing to a Git repo or exporting as a ZIP file.</p>
      </li>

      <li>
        <h4>Can I see the Terms &amp; Conditions, Acceptable Usage Policy, Refund Policy, etc.?</h4>
        <p>All of our <%= link_to 'legal stuff', '/legal' %> can be found here.</p>
      </li>
    </ul>
  </section>


</div>
