---
title: Pricing
---

<section class="intro">
  <h1>Take your experience to the next level.</h1>

  <p>
    All Codio subscriptions come with unlimited private projects
    & we reward schools and universities with better value
    whole institution or user group licences.
  </p>
</section>

<div id="tabs">
  <ul class="tab-headers">
    <li class="active">
      <a href="#tab1">Education</a>
    </li>
    <li>
      <a href="#tab2">Professional</a>
    </li>
  </ul>

  <div id="tab1" class="tab">
    <%= partial "pricing-education" %>
  </div>

  <div id="tab2" class="tab">
    <%= partial "pricing-professional" %>
  </div>
</div>
