---
title: Pricing
class_name: pricing
---

<div class="container">

  <section id="matrix">
    <div>
      <h3>FREE</h3>
      <h4>for <strong>Public</strong> &amp; <strong>Open Source</strong> Projects</h4>
      <p><a href="/p/signup">Free Sign Up</a></p>
    </div>

    <div>
      <h3>unlimited <strong>Private</strong> projects</h3>
      <p><a href="#">COMING VERY SOON</a></p>
    </div>
  </section>

  <section id="faqs" class="clearfix">
    <h2>
      FAQ's
      <small>More questions? Email us <a href="mailto:help@codio.com">help@codio.com</a>.</small>
    </h2>

    <ul>
      <li>
        <h4>What do I get for free?</h4>
        <p><a href="/p/signup">Sign up</a> for FREE, and you can create an <strong>unlimited</strong> number of public projects, which are visible and forkable to everyone.</p>
      </li>

      <li>
        <h4>How many projects can I create?</h4>
        <p>There is no limit to the number of public projects you can have. If you are a paying subscriber, you can also create an <strong>unlimited</strong> number of private projects.</p>
      </li>

      <li>
        <h4>Can I cancel?</h4>
        <p>You can cancel month-to-month at any time with no questions asked. Your subscription will be active until the end of the current month you paid for.</p>
      </li>

      <li>
        <h4>What happens after cancellation?</h4>
        <p>After cancellation, your private projects will become public.</p>
      </li>

      <li>
        <h4>Can I delete my account?</h4>
        <p>Yes, you can delete your account and all projects in your account will be irretrievably deleted.</p>
      </li>

      <li>
        <h4>Will you raise the price?</h4>
        <p>We have absolutely no plans to raise the price. However, if we do, then the price you paid at signup is guaranteed for 12 months from your signup date.</p>
      </li>

      <li>
        <h4>Am I locked into Codio / can I get my code out?</h4>
        <p>Codio does not interfere with your code in any way at all. If you want to get any project out of Codio and into another IDE there are many ways to do it, including pushing to a Git repo or exporting as a ZIP file.</p>
      </li>

      <li>
        <h4>Can I see the Terms &amp; Conditions, Acceptable Usage Policy, Refund Policy, etc.?</h4>
        <p>All of our <a href="/legal">legal stuff</a> can be found here.</p>
      </li>
    </ul>
  </section>


</div>
