---
title: Pricing
class_name: pricing
---

<div class="container">

  <section id="matrix">
    <div>
      <h3>FREE</h3>
      <h4>for <strong>Public</strong> &amp; <strong>Open Source</strong> Projects</h4>
      <p><a href="/p/signup">Free Sign Up</a></p>
    </div>

    <div>
      <h3>unlimited <strong>Private</strong> projects &amp; boxes</h3>
      <p>
        <a href="/p/subscribe">Sign Up to Get Started</a>
        <a href="#education">Educational discounts available. Click for more...</a>
      </p>
    </div>
  </section>

  <section id="faqs" class="clearfix">
    <h2>
      FAQ's
      <small>More questions? Email us <a href="mailto:help@codio.com">help@codio.com</a>.</small>
    </h2>

    <ul>
      <li>
        <h4>What do I get for free?</h4>
        <p><a href="/p/signup">Sign up</a> for FREE, and you can create an <strong>unlimited</strong> number of public projects, which are visible and forkable to everyone.</p>
      </li>

      <li>
        <h4>How many projects can I create?</h4>
        <p>There is no limit to the number of public projects you can have. If you are a paying subscriber, you can also create an <strong>unlimited</strong> number of private projects.</p>
      </li>

      <li>
        <a name="education"></a>
        <h4>Do you offer discounts for Education?</h4>
        <p>Yes, and very generous ones. Individuals can signup for $9 per month. Signup as a class (10 or more) and it drops to $7. This discount is for teaching/learning purposes only and not for production development. You will need to provide proof that you are a student or teacher. Please email all educational inquiries to <a href="mailto:support@codio.com">support@codio.com</a> and we will issue you with a Coupon code.</p>
      </li>

      <li>
        <h4>Can I buy bigger Boxes?</h4>
        <p>Currently not but it is something that will be available in early Spring 2014.</p>
      </li>

      <li>
        <h4>Can I leave my Box running?</h4>
        <p>Currently not but it is also something that will be available in early Spring 2014. This will require a subscription. Currently, Boxes will shut down a) after 30 minutes of inactivity or b) within 2 minutes of you exiting your project. Don't worry, though, a Box spins up in less than one second.</p>
      </li>

      <li>
        <h4>What are the quotas and Box capacities</h4>
        <p>Each Box may currently use up to 512MB of memory and there is a soft limit of 16GB of aggregate storage across all free projects. We will be expanding our Box options soon to offer higher storage and memory configurations. We also expect you not to have multiple projects open simultaneously that generate load. Our <%= link_to 'Acceptable Usage Policy', '/legal/aup' %> explains this in more detail.</p>
      </li>

      <li>
        <h4>Can I use custom domain names?</h4>
        <p>Not yet, but we will be adding this feature before too long. If you are interested in this, please email support@codio.com</p>
      </li>

      <li>
        <h4>Can I cancel?</h4>
        <p>You can cancel month-to-month at any time with no questions asked. Your subscription will be active until the end of the current month you paid for.</p>
      </li>

      <li>
        <h4>What happens after cancellation?</h4>
        <p>After cancellation, your private projects will be disabled and you will not be able to access them. However, you will still be able to change their visibility and make them public, or even delete them.</p>
      </li>

      <li>
        <h4>Can I delete my account?</h4>
        <p>Yes, you can delete your account and all projects in your account will be irretrievably deleted.</p>
      </li>

      <li>
        <h4>Will you raise the price?</h4>
        <p>We will only raise the base price if we add something very significant that changes our cost base. We will be introducing variable pricing to cater for optional features (Always On Boxes, higher spec Boxes, Organization accounts are planned. Anyone who had an active subscription before we added our Boxes capability can apply for a coupon code that will maintain the $8 until 12 months from the date you subscribed.</p>
      </li>

      <li>
        <h4>Am I locked into Codio / can I get my code out?</h4>
        <p>Codio does not interfere with your code in any way at all. If you want to get any project out of Codio and into another IDE there are many ways to do it, including pushing to a Git repo or exporting as a ZIP file.</p>
      </li>

      <li>
        <h4>Can I see the Terms &amp; Conditions, Acceptable Usage Policy, Refund Policy, etc.?</h4>
        <p>All of our <%= link_to 'legal stuff', '/legal' %> can be found here.</p>
      </li>
    </ul>
  </section>


</div>
