---
title: Teaching code | schools | Codio
description: Codio is the learning platform computer science teachers use in the classroom. Being cloud-based, students code from anywhere.
layout: layout
fixed: true
---

<section class="header-block vertical">
  <div class="header-content">
    <div class="title">Go beyond the hour of code</div>
    <div class="text">
      We are the platform partner for your CS program. A complete solution custom-built that
      is affordable, easy to adopt, free for PD and provides all the curriculum and teaching
      resources you need.
    </div>
    <%= link_to 'Free Trial', '/start-edu-trial',
      class: 'button button-rounded button-main' %>
  </div>
</section>

<section class="content-body">
  <div class="advantage-block">

    <div class="item">
      <div class="title">
        All you need is a web browser
      </div>
      <div class="text">
        Getting started is simple. Codio is easy to adopt by both teachers and students. All you
        need is a web browser, internet connection and a computer.  Students can access learning
        resources and work on projects from anywhere - at home or in the classroom.
      </div>
    </div>
    
    <div class="item">
      <div class="title">
        Curriculum mapped to National Standards
      </div>
      <div class="text">
        Over 120 course modules covering topics such as programming fundamentals, data
        & abstraction, networking as well as practical capstone projects. Courses are designed for
        middle school through to senior year of high school and mapped to either
        <a href="https://news.codio.com/new-curriculum">CSTA Standards</a> or
        the UK <a href="/docs/content/courses/currmap2016/">OCR GCSE Standards</a>.
        There’s even teacher solution notes and curriculum maps for lesson planning.
      </div>
    </div>

    <div class="item">
      <div class="title">
        A complete solution for your CS program
      </div>
      <div class="text">
        Codio combines cloud server <a href="/features/infrastructure">infrastructure</a>, an
        <a href="/features/ide">IDE</a>
        and code editor for any language, with powerful learning tools including
        <a href="/features/grading">auto-graded assessments</a>, instant access to student projects
        and dashboards to track student progress.
      </div>
    </div>
    
    <div class="item">
      <div class="title">
        Teach any language - Python, Java, C++ and more
      </div>
      <div class="text">
        You can teach any language you want and any version that you need. Codio contains a library
        of <a href="/features/templates">languages pre-installed and configured</a>. You can use any
        version of any language that you need.
      </div>
    </div>

    <div class="item">
      <div class="title">
        Save up to 20% admin time per month
      </div>
      <div class="text">
        Codio combines a unique combination of technologies in the cloud which means you and your
        students will save time. Our teachers report saving up to 20% admin time per month. No more
        hassle for IT admin support or late nights configuring the right environment.
      </div>
    </div>
    
    <div class="item">
      <div class="title">
        Free for Professional Development
      </div>
      <div class="text">
        Codio partners with teaching organizations to provide Codio free for professional
        development. Thanks to partnerships with the
        <a href="https://news.codio.com/blog/codio-provides-free-access-to-csta-community-for-teacher-professional-development/">
        Computer Science Teachers Association</a> (CSTA) and
        <a href="https://news.codio.com/blog/codio-free-cas/">Computing at School</a> (CAS), you can join
        our growing community of teachers.
      </div>
    </div>
  </div>
</section>

<section class="bottom-block">
  <div class="left-part">
    <a href="https://news.codio.com/coded-by-kids-and-codio/">
      <div class="brendon-shank-img"></div>
    </a>
  </div><!--
  --><div class="right-part">
    <div class="title">The best part? Students love it</div>
    <%= image_tag 'assets/index/logos/coded-by-kids2-logo.png', alt: 'Coded by Kids', class: '' %>
    <div class="quote">
      <a href="https://news.codio.com/coded-by-kids-and-codio/">
        “My kid coder just told me that Codio, Waffleio and Github were the three gears that make
        the internet machine work.”
      </a>
    </div>
    <div class="author">
      - Brendon Shank, Coded By Kids Teacher
    </div>
  </div>
</section>
<div class="clear"></div>
<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Start Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
</section>
