---
title: Codio - Curriculum-led teaching content
layout: layout-new
---

<main class="subpage">
  <section>
    <h1>Curriculum-led teaching content</h1>
    <div class="container">
      <p>As education systems globally transition to embrace computer science, so many teachers struggle to identify which resources are best suited to the curriculum.</p>
      <p>That’s why we’ve consulted with exam boards and subject specialist groups to create content that’s well mapped to the curriculum.</p>
    </div>
  </section>

  <section>
    <div class="video">
      <a class="video-modal" href="https://vimeo.com/122905464" target="_blank">
        <span>See how <em>Codio</em> can</span>
        <span>benefit your school</span>
      </a>
    </div>
  </section>

  <section class="section-left" id="ocr-partner">
    <div class="left">
      <p>We’ve partnered with leading UK exam board OCR to provide you with resources for the whole computing curriculum, starting initially with KS3 and the Computing GCSE (US grades 6-10).</p>
    </div>
    <div class="right">
      <%= image_tag "new/uni/teaching-content/01.png" %>
    </div>
  </section>

  <section class="section-right" id="courses">
    <div class="left">
      <%= image_tag "new/uni/teaching-content/02.png" %>
    </div>
    <div class="right">
      <p>You can access courses covering Introductions to Python, JavaScript, HTML and CSS, with courses on the non-programming aspects for the curriculum coming soon. </p>
    </div>
  </section>

  <section class="section-left" id="teaching-content">
    <div class="left">
      <p>Learning content and the code editor sit side by side so students can learn and practice coding at the same time.</p>
    </div>
    <div class="right">
      <%= image_tag "new/uni/teaching-content/03.png" %>
    </div>
  </section>

  <section class="section-right" id="guides">
    <div class="left">
      <%= image_tag "new/uni/teaching-content/04.png" %>
    </div>
    <div class="right">
      <p>We’ll continue to add new resources every month, but you can also author and share your own with our “Guides” authoring and publishing tool.</p>
    </div>
  </section>

  <section class="big-button"><a href="/p/signup" class="button">Get started with Codio</a></section>
</main>
