---
title: "Teaching code | Universities and Colleges | Codio"
description: "Codio is designed for teaching computer science. Cloud based, it works on any device."
fixed: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class="header-block vertical">
  <div class="header-content">
    <div class="quote">“ Codio has radically improved the way I teach my class ”</div>
    <div class="author">- Gordon Fraser, Sheffield University</div>
    <div class="text">
      The time saving for faculty and students is huge thanks to features like instant access
      to student code, powerful auto-graded assessments and more.
    </div>
    <%= link_to 'Free Trial', '/start-edu-trial',
      class: 'button button-rounded button-main' %>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
  <%= link_to 'Schedule A Call', '',
    class: 'button button-rounded button-main' %>
</section>
