---
title: Your CS Program | Future proof your students' career
description: Ensure your students are ready of today's digital economy. Codio is the only custom-built platform to provide you with the online IDE, resources, tools and infrastructure you need.
layout: layout
transparent: true
---

<section class="header-block vertical">
  <div class="header-content">
    <div class="title">Every student deserves the skills needed for our digital economy</div>
    <div class="text">
      Codio’s platform lets you shape your own vision for campus-wide digital skills programs with
      minimal disruption to faculty and maximum benefit for student employability
    </div>
    <%= link_to 'Schedule A Call', '',
      class: 'button button-rounded button-main' %>
  </div>
</section>

<section class="content-block">
  <div class="block">
    <div class="left-part">
    </div>
    <div class="right-part">
    </div>
  </div>

  <div id="curriculum" class="block">
    <div class="title-text">
      <h2>Future proof your students’ role in the 21st Century</h2>
      <h4>Join educators in over 2,000 leading institutions on "the most thorough
        platform for computer science education". Equipping students with the skills needed to thrive.</h4>
      <%= link_to 'Free Trial', '/start-edu-trial',
        class: 'button button-rounded button-main' %>
    </div>
  </div>

</section>