---
title: Features
class_name: dataforms
---

<div class="container">

  <header>
    <div>
      <h2>Download our Education White Paper.</h2>
      <p>We have got some pretty radical ideas about the way that coding should be taught. Whether at the schools or university level, we believe that putting content creation into the hands of the global teaching community is the way forward.</p>
      <p>Our White Paper discusses the issues faced by the global teaching community and proposes a simple way forward.</p>
    </div>
    <div>
      <h1>Teaching the world to code</h1>
    </div>
  </header>

  <div id="wufoo-z1wjxibs1jal6ij">
Fill out my <a href="https://codio.wufoo.com/forms/z1wjxibs1jal6ij">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
<script type="text/javascript">var z1wjxibs1jal6ij;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'codio',
'formHash':'z1wjxibs1jal6ij',
'autoResize':true,
'height':'563',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1wjxibs1jal6ij = new WufooForm();z1wjxibs1jal6ij.initialize(options);z1wjxibs1jal6ij.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

</div>
