---
title: Features
class_name: features
---

<div class="container">

  <header>
    <div>
      <h2>Download our Education White Paper.</h2>
      <p>We have got some pretty radical ideas about the way that coding should be taught. Whether at the schools or university level, we believe that putting content creation into the hands of the global teaching community is the way forward.</p>
      <p>Our White Paper discusses the issues faced by the global teaching community and proposes a simple way forward.</p>
    </div>
    <div>
      <h1>Teaching the world to code</h1>
    </div>
  </header>
<iframe height="563" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://codio.wufoo.com/embed/z1wjxibs1jal6ij/"><a href="https://codio.wufoo.com/forms/z1wjxibs1jal6ij/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>

</div>
