---
title: Visual IDE in the Cloud
class_name: widgets
---

<header>
  <div class="container">

    <div>
      <h1>Widgets</h1>
      <h2>We are shortly going to be offering 2 juicy widgets so you can embed your Crafted.io projects into your web page or blog. This is a great way for you to show people your code examples and demos instantly.</h2>
    </div>
  
  </div>
</header>


<section id="nav-banner" class="clearfix">
  <div class="container">
    <ul>
      <li class="active"><a href="#widget-seal">Gold Seal</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#widget-ide">Embedded IDE</a></li>
    </ul>
  </div>
</section>


<section id="widgets" class="switched-lists">
  <div class="container">

    <div id="widget-seal">    
      <h4>The Gold Seal displays an image only in your site. When someone clicks on it, an IDE window will open up with your project loaded and ready to run simply by pressing the Play button in the IDE.</h4>
      <div>
        <%= image_tag "seal.png", :width => 224, :alt => "Visual Development in the Cloud" %>   
      </div>
      <pre><code>
        <pre class="crafted-seal" width="200" c-project="Y7gT6" c-user="anon" c-mode="panels"><code></code>Click to load!<script async src="http://crafted.io/widgets/embed.js"></script></pre>
      </code></pre>
    </div>

    <div id="widget-ide" style="height:800px">
      <h4>Withs the Embedded IDE widget, you can embed the Crafted.io directly into your blog or web page. You provide the ID of your project and it will appear loaded and ready to run just by pressing Play in the IDE.</h4>
      <div>
        <%= image_tag "widget-ide.png", :width => 224, :alt => "Visual Development in the Cloud" %> 
      </div>
      <pre><code>
        <pre class="crafted-seal" width="200" c-project="Y7gT6" c-user="anon" c-mode="panels"><code></code>Click to load!<script async src="http://crafted.io/widgets/embed.js"></script></pre>
      </code></pre>      
      <iframe src="https://crafted.io/fmay/Boxes"></iframe>

  </div>
</section>
