// Columned lists
// ============================================================================

.columned {
  margin: 30px 0;
  display: none;
  list-style: none;
  padding: 0;

  h3 {
    font: 28px gotham_mediumregular;
    margin-top: 10px;
  }

  h4 {
    font: 22px museo_sans_rounded_300regular;
    margin-top: 30px;
    margin-bottom: -10px
  }

  > li {
    padding: 0px;
    vertical-align: top;
    display: inline-block;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &:first-child {
      width: 200px;
      margin: 0px 0 0 0;
      font-style: italic;
      font-size: 18px;
    }

    &:last-child {
      width: 720px;
      margin: 15px 0 0 40px;

      > ul > li > ul > li {
        display: inline-block;
        width: 212px;
        vertical-align: top;
        padding: 0 36px 15px 0;

        &:last-child {
          padding-right: 0;
        }

        h4 {
          font-family: gotham_bookregular;
          font-size: 18px;
          margin: 10px 0 0;
          color: #222;

          i {
            margin-top: 4px;
            color: darken($red, 25%);
          }
        }

        p {
          font-size: 13px;
          color: #777;
        }
      }
    }
  }
}