#education-support {
  margin: 0;
  padding: 10px 14px 14px;
  background-color: $red;
  color: #FFF;

  position: relative;
  top: -36px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &.supported {
    background-color: #EEE;
    color: #000;
  }

  div.education-supported {
    @include clearfix;
    > div {
      float: left;

      &:first-child {
        width: 260px;
      }

      &:last-child {
        @include clearfix;
        margin: 30px 0 0 25px;
        width: 360px;

        div {
          float: left;
          margin: 10px 10px 0 0;

          &:last-child {
            float: none;
          }
        }
      }
    }

    h2 {
      font: 22px gotham_mediumregular;
      margin: 10px 0;
    }

    p {
      margin: 10px 0 0;
      line-height: 1.3em;
    }
  }

  div.education-support-text {
    @include clearfix;
    margin-bottom: 6px;

    h2 {
      float: left;
      font: 22px gotham_mediumregular;
      margin: 0 0 5px;
      text-shadow: 0 1px 5px #666;
    }

    p {
      float: left;
      margin: 15px 0 5px 30px;
      font-size: 13px;
      width: 410px;
      line-height: 1.3em;
      text-shadow: 0 0px 1px #666;
    }
  }

  div.education-support-inputs input[type=text] {
    display: inline-block;
    padding: 4px 6px;
    height: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #cccccc;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    width: 175px;
    margin-right: 5px;

    &:first-child {
      width: 190px;
    }
    &:nth-child(2) {
      width: 155px;
    }

    &:focus {
      border-color: rgba(82,168,236,.8);
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
    }
  }
}