body.home footer {
  .container > div {
    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) {
      @include apply-to(more-than, desktop) {
        width: 670px;
      }
    }

    &:last-child {
      @include apply-to(more-than, desktop) {
        width: 254px;
      }
    }
  }
}


footer {
  background: #666666 image-url('bgcloth.png') repeat;
  color: #ccc;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 2px #000;
  font: 11px gotham_book;
  padding: 30px 0;
  text-align: center;
  line-height: 1.5em;
  height: 40px;

  #fork-me {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    border: 0;
    width: 140px;
    height: 140px;
    display: block;
  }

  a {
    color: $cream;

    &:hover {
      color: $linkColor;
    }
  }

  .container > div {
    text-align: left;

    &:first-child {
      float: left;
      width: 200px;
      height: 1px;
      padding-left: 20px;
      margin-top: 6px;
    }

    &:nth-child(2) {
      background: transparent image-url('footer-logo.png') no-repeat left center;
      background-size: 34px;
      padding-left: 50px;
      float: left;
      width: 430px;
      margin-top: 5px;
    }

    &:last-child {
      float: left;
      width: 250px;
      text-align: right;
      padding: 4px 30px 0 0;
    }
  }

}
