body.home footer {
  .container > div {
    &:nth-child(2) {
      @include apply-to(more-than, desktop) {
        width: 760px;
      }
    }

    &:last-child {
      @include apply-to(more-than, desktop) {
        width: 204px;
      }
    }
  }
}


footer {
  background: #666666 image-url('bgcloth.png') repeat;
  color: #ccc;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 2px #000;
  font: 11px gotham_book;
  padding: 30px 10px;
  text-align: center;
  line-height: 1.5em;
  height: 40px;

  a {
    color: $cream;

    &:hover {
      color: $linkColor;
    }
  }

  .container > div {
    text-align: left;

    &:first-child {
      float: left;
      width: 160px;
      height: 1px;
      padding-left: 20px;
    }

    &:nth-child(2) {
      float: left;
      width: 520px;
    }

    &:last-child {
      float: left;
      width: 200px;
      text-align: right;
      padding: 20px 76px 0 0;
    }
  }

}
