footer {
  color: #eeeee9;
  position: relative;
  z-index: 2;

  background-color: $red;
  font-size: 12px;
  padding: 14px 0;
  text-align: center;

  @include apply-to(more-than, iphone-landscape) {
    text-align: left;
  }

  @include apply-to(more-than, ipad-portrait) {
    padding: 24px 0;
  }

  a {
    color: $cream;
  }

  @include apply-to(more-than, ipad-landscape) {
    .container > div {
      float: right;
      margin-right: 30px;
    }
  }

}
