#highlighted-feature {
  @include clearfix;
  background-color: #fff;
  box-shadow: 0 -2px 3px #ddd;

  overflow: hidden;
  padding-top: 10px;

  .container {
    @include clearfix;
    padding: 0px 0;

    > div {
      float: left;
      margin-top: 0px;
      p {
        font-size: 19px;
      }
      ul {
        margin-top: -20px;
        margin-left: -25px;
        font-size: 16px;
        list-style-type: square;
      } 

      &:first-child {
        width: 900px;
        margin: 0 15px 0 5px;

        h2 {
          font-family: gotham_mediumregular;
          font-size: 40px;
          color: #000;
          margin-bottom: -27px;
          small {
            color: #888;
            font-style: italic;
          }
        }

        a.fancybox {
          display: block;
          padding: 10px;

          img {
            border: 1px solid #aaa;
            border-radius: 4px;
            box-shadow: 0 0px 8px #666;
          }

          i {
            position: relative;
            left: -188px;
            text-shadow: 0 1px 4px #000;
            top: 15px;
          }
        }
      }

      &:nth-child(2) {
        margin-left: 20px;
        width: 600px;
      }

      &:nth-child(3) {
        width: 300px;
      }

    }
  }
}