// Navigation bar
// =================================================================================================

nav {
  background: $white image-url('nav-top.gif') repeat-x top;
  position: relative;
  height: 90px;

  nav {

    // Logo
    > a {
      display: block;
      margin: 18px 0 0 20px;
      float: left;

      @include apply-to(more-than, desktop) {
        margin: 18px 0 0 40px;
      }
    }

    // Navigation items
    ul {
      padding: 0;
      margin: 34px 0 0 0;
      float: right;
      font: 16px gotham_light;

      // Sign in/out and try links
      &.codio-nav {
        display: none;
        margin: 30px 10px 0 0;

        @include apply-to(more-than, desktop) {
          margin: 30px 40px 0 0;
        }

        &#signedout-nav {
          text-transform: uppercase;

          li:first-child a {
            background-color: $red;
            padding: 7px 14px 6px;
            border-radius: 2px;
            color: $white;
            border-bottom: none;
            font-size: 16px;

            &:hover {
              background-color: #B75246;
            }
          }

          li:nth-child(2) {
            padding-left: 35px;
          }

          li:last-child a {
            padding-left: 0;
          }
        }

        &#signedin-nav {
          margin-top: 22px;

          li:first-child {
            font: 14px gotham_medium;
            padding: 0;

            a {
              border-bottom: none;
            }
          }

          // Gravatar
          li:last-child a {
            border: 1px solid #ddd;
            border-radius: 50%;
            background-color: #FFF;
            padding: 4px;

            img {
              border-radius: 50%;
            }
          }
        }
      }

      // Site pages
      &#site-nav {
        text-transform: uppercase;
        margin-right: 100px;
        font: 16px gotham_light;
      }

      li {
        display: inline-block;
        padding: 0 14px;

        a {
          color: #3e3e3e;
          padding-bottom: 5px;
          display: block;
          border-bottom: 2px solid #ddd;

          &:hover {
            color: $linkColor;
            border-color: $linkColor;
          }
        }
      }
    }
  }
}
