// Navigation bar
// =================================================================================================

nav {
  background: $cream image-url('nav-top.gif') repeat-x top;
  position: relative;
  height: 90px;

  nav {

    // Logo
    > a {
      display: block;
      margin: 24px 0 0 0;
      float: left;
    }

    // Navigation items
    ul {
      padding: 0;
      margin: 38px 0 0 0;
      float: right;
      font: 18px gotham_lightregular;

      // Sign in/out and try links
      &:first-child {

      }

      // Site pages
      &:last-child {
        text-transform: uppercase;
        margin-right: 100px;
        font-size: 24px;
      }

      li {
        display: inline-block;

        a {
          color: #3e3e3e;
          padding: 0 14px;
          display: block;
        }
      }
    }
  }
}
