// Central navigation banner
// ============================================================================

#nav-banner {
  background-color: $cream;
  color: #777;
  font: 14px gotham_lightregular;
  @include box-shadow(0 1px 3px #eee);
  height: 72px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  ul {
    margin: 18px 0 0 0;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      position: relative;

      a {
        font-size: 18px;
        padding: 18px 20px 15px;
      }

      i {
        margin-top: 6px;
      }

      &.active {
        font-family: gotham_mediumregular;

        a {
          background-color: #f36050;
          color: #F8F7EF;
          @include border-radius(6px);
        }

        &:before,
        &:after {
          content: '';
          display: inline-block;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 15px solid rgba(0, 0, 0, 0.15);
          position: absolute;
          top: 45px;
          left: 42%;
        }

        &:after {
          border-top: 15px solid $cream;
          top: 44px;
        }
      }

      &:nth-child(even) {
        width: 42px;
        font-size: 24px;
        color: #CCC;
        text-align: center;
      }
    }
  }
}