// Sub Navigation (aside)
// ======================

aside {
  position: absolute;
  color: #666;
  margin-top: 10px;
  top: 580px;
  z-index: 1;

  &.home {
    top: 548px;
    padding-left: 20px;
  }

  &.fixed {
    position: fixed;
    padding-top: 40px;
    top: 0;
  }

  ul {
    display: block;

    list-style: none;
    padding: 0;

    li {
      padding: 10px 0;
      display: block;

      a {
        @include transition(all 0.2s ease-in-out);
        text-transform: uppercase;
        color: #333;
        font: 18px gotham_light;
        display: block;
        padding-left: 5px;
        border-left: 1px solid transparent;

        &:hover {
          border-left: 1px solid red;
        }
      }

      &.active a {
        border-left: 1px solid red;
        font-family: gotham_medium;
      }
    }
  }
}