aside {
  float: left;
  width: 300px;
  margin: 5px 20px 50px 10px;
  font-size: 13px;

  &.affix {
    position: fixed !important;
    top: 25px;
  }

  form {
    margin: 0 0 30px;

    input {
      display: inline-block;
      vertical-align: middle;
      @include border-radius(0); // Override due to specificity
      @include border-radius(14px 0 0 14px);
      padding: 4px 9px;
      width: 180px;
      font-size: 12px;
      color: #8e8d8d;
      background-color: #fdfdfd;
      margin: 0;
      line-height: 20px;
      box-shadow: inset 2px 2px 4px #f1f1f1;
      height: 20px;
      border: 1px solid #cccccc;
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
      -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
      -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -o-transition: border linear 0.2s, box-shadow linear 0.2s;
      transition: border linear 0.2s, box-shadow linear 0.2s;


      // Focus state
      &:focus {
        border-color: rgba(82,168,236,.8);
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
      }
    }

    button {
      @include border-radius(0 14px 14px 0);
      margin-left: -4px;
      font-size: 12px;
      padding: 4px 12px 4px 9px;
    }
  }

  #search-content {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    // max-width: 700px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include border-radius(6px);
    @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
    @include background-clip(padding-box);
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: scroll;

    &:before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }
    &:after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      border-left: 6px solid transparent;
      content: '';
    }

    a, li > span {
      display: block;
      padding: 5px 20px;
      clear: both;
      font-weight: normal;
      line-height: 20px;
      color: #333;
      white-space: nowrap;
    }

    a {
      em {
        background-color: paleGoldenrod;
        font-style: normal;
      }

      small {
        display: block;
        font-size: 11px;
        color: #999;
      }
    }

    li.selected a, a:hover {
      color: #FFFFFF;
      text-decoration: none;
      background-color: #0081c2;
      background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
      background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
      background-image: -o-linear-gradient(top, #0088cc, #0077b3);
      background-image: linear-gradient(to bottom, #0088cc, #0077b3);
      background-repeat: repeat-x;
      outline: 0;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);

      em {
        background-color: inherit;
      }

      small {
        color: #f7f7f7;
      }
    }
  }

  #tree {
    overflow-x: auto;

    ol {
      @include no-list-style;

      > li > a {
        margin-left: 16px;
      }
    }

    li {
      padding: 2px 0;

      &.checked > a {
        color: $red !important;
      }

      a {
        color: #000;

        &.active {
          color: $red;
        }

        &:hover {
          color: $red;
        }
      }

      > div {

        span {
          background: image-url('docs/tree/plus.png') no-repeat 0 2px;
          cursor: pointer;
          display: block;
          text-indent: -9999px;
          float: left;
          width: 16px;
        }
      }

      ol {
        display: none;
        margin:  2px 0 6px 14px;

        li {
          > a {
            margin-left: 16px;
          }
        }
      }

      &.checked {
        opacity: 1 !important;

        > div {
          span {
            background-image: image-url('docs/tree/minus.png');
          }

          a {
            color: $red !important;
          }
        }

        > ol {
          display: inline-block;
        }
      }

      &.expanded {
        > div {
          span {
            background-image: image-url('docs/tree/minus.png');
          }
        }

        > ol {
          display: inline-block;
        }
      }
    }
  }
}