.platform .subpage {
  #access-anywhere {
    margin: 160px auto 60px;
    height: 330px;
    max-width: 1170px;
    border-top: none;
    padding-top: 0;
    @include media($tablet) {
      height: 300px;
      padding-top: 20px;
      margin-bottom: 35px;
    }

    .left {
      @include media($tablet) {
        padding: 60px 0 60px 150px;
        @include span-columns(7);
      }
    }
    .right {
      padding: 0;
      @include media($tablet) {
        @include span-columns(5);
      }

      img {
        width: 220px;
      }
    }
  }
  #preconfigured {
    margin-bottom: 0;
    @include media($tablet) {
      margin-bottom: 95px;
    }

    .left {
      background: none;
      margin-top: 135px;
      @include media($tablet) {
        background: transparent url("../img/new/uni/platform/02.png") right top no-repeat;
        background-size: 444px;
      }

      @include media($notebook) {
        background-size: 577px;
      }

      @include media($desktop) {
        background-size: 750px;
      }

      img {
        display: block;
        @include media($tablet) {
          display: none;
        }
      }
    }
    .right {
      position: relative;
      top: -380px;
      @include media($tablet) {
        top: 0;
      }
    }
  }
  #professional {
    margin-bottom: 0;
    @include media($tablet) {
      margin-bottom: 95px;
    }

    .right {
      background: none;
      margin-top: 35px;
      @include media($tablet) {
        background: transparent url("../img/new/uni/platform/03.png") left top no-repeat;
        background-size: 444px;
      }

      @include media($notebook) {
        background-size: 577px;
      }

      @include media($desktop) {
        background-size: 750px;
      }

      img {
        display: block;
        @include media($tablet) {
          display: none;
        }
      }
    }
    .left {
      position: relative;
      top: 35px;
      @include media($tablet) {
        top: 0;
      }
    }
  }
  #user-interface {
    margin-bottom: 0;
    margin-top: 110px;
    @include media($tablet) {
      margin-bottom: 95px;
    }

    .left {
      background: none;
      margin-top: 135px;
      @include media($tablet) {
        background: transparent url("../img/new/uni/platform/04.png") right top no-repeat;
        background-size: 444px;
      }

      @include media($notebook) {
        background-size: 577px;
      }

      @include media($desktop) {
        background-size: 750px;
      }

      img {
        display: block;
        @include media($tablet) {
          display: none;
        }
      }
    }
    .right {
      position: relative;
      top: -380px;
      @include media($tablet) {
        top: 0;
      }
    }
  }
}
