.teaching-content .subpage {
  section:first-child {
    @include media($notebook) {
      height: 290px;
    }

    @include media($desktop) {
      height: 370px;
    }
  }
  section:nth-child(2) {
    height: 195px;
    margin-top: 40px;
    @include media($tablet) {
      height: 210px;
    }
  }
  #ocr-partner {
    margin-bottom: 95px;
    @include media($tablet) {
      margin-bottom: 25px;
    }

    @include media($notebook) {
      margin-bottom: 90px;
    }

    .right {
      background: none;
      margin-top: 35px;
      @include media($tablet) {
        background: transparent url("../img/new/uni/teaching-content/01.png") left top no-repeat;
        background-size: 444px;
      }

      @include media($notebook) {
        background-size: 577px;
      }

      @include media($desktop) {
        background-size: 750px;
      }

      img {
        display: block;
        @include media($tablet) {
          display: none;
        }
      }
    }
    .left {
      position: relative;
      top: 35px;
      @include media($tablet) {
        top: 0;
      }
    }
  }
  #courses {
    margin-bottom: 0;
    @include media($tablet) {
      margin-bottom: 75px;
    }

    .left {
      background: none;
      margin-top: 140px;
      @include media($tablet) {
        margin-top: 135px;
        background: transparent url("../img/new/uni/teaching-content/02.png") right top no-repeat;
        background-size: 444px;
      }

      @include media($notebook) {
        background-size: 577px;
      }

      @include media($desktop) {
        background-size: 750px;
      }

      img {
        display: block;
        @include media($tablet) {
          display: none;
        }
      }
    }
    .right {
      position: relative;
      top: -420px;
      @include media($tablet) {
        top: 0;
      }
    }
  }
  #teaching-content {
    margin-bottom: 0;
    @include media($tablet) {
      margin-bottom: 25px;
      height: 332px;
    }

    @include media($notebook) {
      margin-bottom: 0;
      height: 404px;
    }

    .right {
      background: none;
      margin-top: 35px;
      @include media($tablet) {
        background: transparent url("../img/new/uni/teaching-content/03.png") left top no-repeat;
        background-size: 444px;
      }

      @include media($notebook) {
        background-size: 577px;
      }

      @include media($desktop) {
        background-size: 750px;
      }

      img {
        display: block;
        @include media($tablet) {
          display: none;
        }
      }
    }
    .left {
      position: relative;
      top: 35px;
      @include media($tablet) {
        top: 0;
      }
    }
  }
  #guides {
    margin-bottom: 0;
    margin-top: 110px;
    @include media($tablet) {
      margin-bottom: 95px;
    }

    .left {
      background: none;
      margin-top: 135px;
      @include media($tablet) {
        background: transparent url("../img/new/uni/teaching-content/04.png") right top no-repeat;
        background-size: 444px;
      }

      @include media($notebook) {
        background-size: 577px;
      }

      @include media($desktop) {
        background-size: 750px;
      }

      img {
        display: block;
        @include media($tablet) {
          display: none;
        }
      }
    }
    .right {
      position: relative;
      top: -420px;
      @include media($tablet) {
        top: 0;
      }
    }
  }
}
